%ul
  - for controller in @system_permission_meta_types do
    %li{:style => "width:95%;"}
      .full_container
        .options
          = check_box_tag "controller_ids[]", controller.id, false, :class => 'controller_select_all', :controller_id => controller.id, :style => "width:auto;vertical-align:middle;"
          %span{:class => "select_all"} Select All
        .title{:id => "show_methods", :class => "group_permission_color toggle_button", :toggle_id_name => "show_methods_container_#{controller.id}", :controller_id => controller.id}
          %h2 Controller---#{controller.name}

      %br.clear
      %div{:id => "show_methods_container_#{controller.id}", :style => "display:none"}
        %ul
          - controller.system_permission_types.each do |method|
            %li{:style => "width:95%;"}
              .full_container{:style => "float:none;margin-bottom:10px;"}
                .options
                  = check_box_tag "method_ids[]", method.id, false, :class => 'method_select_all', :method_id => method.id, :controller_id => controller.id, :style => "width:auto;vertical-align:middle;"
                  %span{:class => "select_all"} Allow Access
                .title{:class => "group_permission_color", :method_id => method.id}
                  %h2 Method--#{method.name}
               
                %br.clear





  