-form_tag(:controller => "group_permissions", :action => "create") do
  %ul
    - @system_permission_meta_meta_types.each do |i|
      %li
        .info_container
          .field_22{:id => "show_controllers", :style => "cursor:pointer;cursor:hand", :class => "group_permission_color", :main_module_id => i.id}
            = 'Module---'+ i.name
          .field_22
            = check_box :system_permission_meta_meta_type, :name, :id => i.id
            = 'Select All'
          .field_22
            = text_field_tag :group_id, params[:group_id], :value => @group_type.id
          .field_22
            = text_field_tag :module_id, params[:module_id], :value => i.id
          %br.clear
        -#%div{:id => "show_controllers_container"}
        = submit_tag 'submit'
        


    


