-form_tag('/group_permissions', :class => 'ajax_form',:style => "margin-top:15px;") do
  .full_container
    .options
      = check_box_tag "module_ids[]" , @system_permission_meta_meta_type.id, false, :class => 'module_select_all', :style => "width:auto;vertical-align:middle;"
      %span{:class => "select_all"} Select All
    .title{:id => "show_controllers",:class => "group_permission_color", :main_module_id => @system_permission_meta_meta_type.id }
      %h2 Module---#{@system_permission_meta_meta_type.name}
      
    .field_22{:style => "display:none;"}
      = text_field_tag :group_id, params[:group_id], :value => @group_type.id
    .field_22{:style => "display:none;"}
      = text_field_tag :module_id, params[:module_id], :value => @system_permission_meta_meta_type.id
    
  
  %div{:id => "show_controllers_container", :style => "display:none;"}
      
  = submit_tag 'submit'
  %br.clear
    


    


