-form_for([@organisation,website], :url => "/organisations/#{@organisation.id}/websites", :html => {:class => 'contact_form ajax_form add_website', :submit_button_id=>"submit_website_field"}) do |w|
  .form_line
    .field_20
      = w.label :contact_meta_type_id, "<span class='asterisk'>*</span>Type"
      = w.collection_select :contact_meta_type_id, Contact.website_types - @organisation.personal_website_types, :id, :name, {:include_blank => true}, {:class=>'compulsory_field'}
    .field_75
      = w.label :value, "<span class='asterisk'>*</span>Value"
      = w.text_field :value, :id => website.new_record? ? "website_value" : "website_value_edit", :class=>'compulsory_field'
  .form_line
    .field_100
      = w.label :remarks, "Remarks"
      = w.text_field :remarks
  = submit_tag 'Submit' , :id => "submit_website_field" ,:check_field => website.new_record? ? "website_value" : "website_value_edit" ,:disabled => true
  %br{:style=>"clear:both;"}