.form_line
  .field_20
    = website.label :contact_meta_type_id, "<span class='asterisk'>*</span>Type"
    -if @organisation.nil?
      -if edit == "edit"
        = website.collection_select :contact_meta_type_id, Contact.website_types - @person.personal_website_types + @website.website_type, :id, :name
      -else
        = website.collection_select :contact_meta_type_id, Contact.website_types - @person.personal_website_types, :id, :name
    -else
      -if edit == "edit"
        = website.collection_select :contact_meta_type_id, Contact.website_types - @organisation.personal_website_types + @website.website_type, :id, :name
      -else
        = website.collection_select :contact_meta_type_id, Contact.website_types - @organisation.personal_website_types, :id, :name
  .field_75
    = website.label :value, "<span class='asterisk'>*</span>Value"
    = website.text_field :value, :id => @website.new_record? ? "website_value" : "website_value_edit", :value => @website.new_record? ? "http://" : @website.value
.form_line
  .field_100
    = website.label :remarks, "Remarks"
    = website.text_field :remarks