.container
  -form_for @list_header,:url => list_header_path(@list_header), :html => {:class => 'ajax_form'} do |f|
    .form_line
      .field_25
        =f.label :name, "Name"
        =f.text_field :name, :disabled => @list_header.status == false, :name => "list_header[name]"
      .field_25
        =f.label :description, "Description"
        =f.text_field :description, :disabled => @list_header.status == false, :name => "list_header[description]"
      .field_15
        =f.label :allow_duplication, "Allow Duplication"
        =f.check_box :allow_duplication, :style => "width:30%;display:inline", :name => "list_header[allow_duplication]"
      .field_20
        = f.label :status, 'Active'
        = f.check_box :status, :name => "list_header[status]"
      .field_10{:style => "float:right"}
        = f.label :status, "&nbsp;"
        =submit_tag "Submit"

  .form_line
    .field_100
      %label Source
      %lable #{@list_header.source}

.container{:style => "width:30%;margin-right:4%;"}
  %h1 Add Person To List
  -form_for ListDetail.new, :html => {:class => "ajax_form"} do |f|
    .form_line
      .field_50
        =f.label :person_id, "Person ID"
        %input{:id => "person_id", :name => "person_id", :disabled => @list_header.status == false}
        %input{:style => "display:none", :id => "list_header_id", :name => "list_header_id", :value => @list_header.id}
      .field_40{:style => "float:right;"}
        %label &nbsp;
        =submit_tag "Add Person", :disabled => @list_header.status == false
      %br.clear

.container{:style => "width:60%"}
  -form_for @list_header, :url => "/list_headers/#{@list_header.id}/delete_details", :html => {:class => "ajax_form"} do |f|
    %table#list_edit_grid