.info_container#list_compiler
  = link_to_function (image_tag('add_icon.png', :style => "float:left;margin-right:10px;"), :id => "show_list_compiler")
  = link_to_function (image_tag('close_icon.png', :style => "float:right;margin-right:10px;"), :id => "close_list_compiler", :style => "display:none;")
  %h3 List Compiler

  #list_compiler_form{:style => "display:none;"}
    #list_left{:style => "width:32%;margin-right:2%;float:left;"}
      .info_container
        .form_line
          %label Lists
          %input{:style => "display:none", :id => "login_account_id", :value => session[:user]}
          %select#compiler_options{:multiple => true,:size => "20"}
          %br.clear

      .info_container
        #extra_form
          %h3 Extra Attributes
          .form_line
            %input{:type => "checkbox", :style => "width:50%;display:inline;", :id =>"allow_duplication"}
            %label{:style => "width:50%;display:inline;"} Allow Duplication
            %br.clear
          .form_line
            %input{:type => "radio", :name => "top", :style => "width:30%;display:inline;"}
            %label{:style => "width:30%;display:inline;"} Top
            %input{:style => "width:30%;display:inline;"}
            %br.clear
          .form_line
            %input{:type => "radio", :name => "top", :style => "width:30%;display:inline;"}
            %label{:style => "width:30%;display:inline;"} Precentage
            %input{:style => "width:30%;display:inline;"}
            %br.clear


    #list_middle{:style => "width:20%;margin-right:2%;float:left;margin-top:150px;"}
      #merge_operation
        .form_line{:style => "margin-bottom:30px;"}
          %label{:style => "display:inline;width:50%"} add to include list
          =link_to_function image_tag('go.png'), :id => "add_to_include"
          %br.clear
        .form_line
          %label{:style => "display:inline;width:50%"} add to exclude list
          =link_to_function image_tag('go.png'), :id => "add_to_exclude"
          %br.clear


    #list_right{:style => "width:44%;float:left;margin-top:20px;"}
      .info_container
        %h3 Include Lists
        #include_lists
      .info_container
        %h3 Exclude Lists
        #exclude_lists
    %br.clear
    = link_to_function "Clear", :class => "alt_option", :style => "float:right", :id => "clear_compile_list"
    = button_to_function "Compile", :style => "float:right", :id => "compile_button"
    %br.clear


.info_container#existing_list
  %h3 Existing Lists
  #show_lists
    = render :partial => "lists/saved_list", :collection => ListHeader.sortall
  %br.clear

.info_container#edit_list{:style => "display:none"}
  %h3 Edit List
  #show_list_details

#copy_form{:style => "display:none"}

#compile_result_div{:style => "display:none;"}
  %h3 Compile Results
  #compile_result