-# The options to edit or add an address
.form_line{:style => "float:none;"}
  .field_25
    = form.label :id, "<span class='asterisk'>*</span>Meta Type"
    -if @masterdoc.new_record?
      = collection_select(:master_doc_meta_meta_type, :id, MasterDocMetaMetaType.find(:all,:conditions=>["status = true"]), :id, :name, { :include_blank => true}, {:class => "find_master_doc_meta_type_field mandantory_dropdown_list",:mandantory_field1=>"master_doc_master_doc_type_id",:mandantory_field2=>"master_doc_doc_number",:submit_button_id=>"master_doc_new_subbmit"})
    -else
      = collection_select(:master_doc_meta_meta_type, :id, MasterDocMetaMetaType.find(:all,:conditions=>["status = true"]), :id, :name, { :include_blank => true, :prompt => "#{@masterdocmetametatype.name}" }, {:class => "find_master_doc_meta_type_field mandantory_dropdown_list", :master_doc_id => @masterdoc.id,:mandantory_field1=>"master_doc_master_doc_type_id_#{@masterdoc.id}",:mandantory_field2=>"master_doc_#{@masterdoc.id}_doc_number",:submit_button_id=>"master_doc_edit_submit"})
  .field_25
    = form.label :id, "<span class='asterisk'>*</span>Type"
    -if @masterdoc.new_record?
      %select.find_master_doc_type_field{:id => "master_doc_meta_type_id"}
        %option
    -else
      %select.find_master_doc_type_field{:id => "master_doc_meta_type_id_#{@masterdoc.id}", :master_doc_id => @masterdoc.id}
        %option{:value => @masterdocmetatype.id}
          = @masterdocmetatype.name
  .field_25
    = form.label :id, "<span class='asterisk'>*</span>Category"
    -if @masterdoc.new_record?
      %select#master_doc_master_doc_type_id{:name => "master_doc[master_doc_type_id]"}
        %option
    -else
      %select{:id => "master_doc_master_doc_type_id_#{@masterdoc.id}", :name => "master_doc[#{@masterdoc.id}][master_doc_type_id]"}
        %option{:value => @masterdoctype.id}
          = @masterdoctype.name
.form_line
  .field_25
    = form.label :doc_number, "<span class='asterisk'>*</span>Doc Number"
    = form.text_field :doc_number,:class => " mandantory_field",:mandantory_field1=>@masterdoc.new_record? ? "master_doc_master_doc_type_id" : "master_doc_master_doc_type_id_#{@masterdoc.id}",:mandantory_field2=>@masterdoc.new_record? ? "master_doc_doc_number":"master_doc_#{@masterdoc.id}_doc_number",:submit_button_id=>@masterdoc.new_record? ? "master_doc_new_subbmit" : "master_doc_edit_submit"
  .field_25
    = form.label :doc_reference, 'Doc Reference'
    = form.text_field :doc_reference
  .field_25
    = form.label :security_number, 'Security Number'
    = form.text_field :security_number

.form_line
  .field_25
    = form.label :short_name, 'Short Name'
    = form.text_field :short_name
  .field_70
    = form.label :long_name, 'Long Name'
    = form.text_field :long_name

.form_line
  .field_25
    = form.label :name_on_doc, 'Name on Doc'
    = form.text_field :name_on_doc
  .field_70
    = form.label :other_on_doc, 'Other on Doc'
    = form.text_field :other_on_doc

.form_line
  .field_25
    = form.label :issue_date, 'Issue Date'
    = form.text_field :issue_date, :class=>"datepick"
  .field_25
    = form.label :issue_organisation, 'Issue by Org'
    = form.text_field :issue_organisation
  .field_25
    = form.label :issue_person, 'Issue by Person'
    = form.text_field :issue_person

.form_line
  .field_25
    = form.label :issue_place, 'Issue Place'
    = form.text_field :issue_place
  .field_25
    = form.label :issue_state, 'Issue State'
    = form.text_field :issue_state
  .field_25
    = form.label :issue_country, 'Issue Country'
    = form.collection_select(:issue_country_id, Country.all, :id, :short_name)

.form_line
  .field_25
    = form.label :expiry_date, 'Expiry Date'
    = form.text_field :expiry_date, :class=>"datepick"
  .field_25
    = form.label :action_taken, 'Action'
    = form.text_field :action_taken
  .field_5
    = form.label :reminder, 'Reminder'
    = form.check_box :reminder
  -#.field_5
  -#  = form.label :reminder, '&nbsp'
  -#  %label  Reminder

.form_line
  .field_100
    = form.label :remarks, 'Remarks'
    = form.text_field :remarks