-# Displays An Address
-div_for(master_doc, :class => 'info_container') do
  .header_container
    .title
      %h3= "#{master_doc.master_doc_type.name}"
    .options
      = link_to image_tag('edit_icon.png'), edit_master_doc_path(master_doc), :class => 'get'
      = link_to image_tag('delete_icon.png'), master_doc_path(master_doc), :class => 'delete'
    %br{ :style => "clear:both;"}
  .display_container
    = format_masterdoc(master_doc)