-#MasterDocs Tab
.container
  .header_container
    .options
      = link_to_function image_tag('close_icon.png'), :class => "organisation_masterdoc_close clear_form toggle_button close_option", :field => "master_doc", :toggle_id_name => "new_master_doc",:style => "display:none"
    .title
      = link_to_function image_tag('add_icon.png'), :id=>"add_masterdoc", :class=>"toggle_button new_option", :field => "master_doc", :toggle_id_name => "new_master_doc"  if (!organisation.nil? && !organisation.new_record?)
    %h1 New MasterDoc
    %input{:id => "master_doc_mode", :mode => "show", :style => "display:none"}
    =# Initially hidden new masterdoc form
    -form_for([@organisation,@masterdoc], :url => "/organisations/#{@organisation.id}/master_docs", :html => {:style => "display:none", :class => 'ajax_form'}) do |form|
      = render :partial => '/master_docs/master_doc_form', :locals => { :form => form }
      = submit_tag 'Submit'

  #masterdocs
    =# Render the organisation's addresses
    = render :partial => '/master_docs/master_doc', :collection => organisation.master_docs