.form_line
  .field_20
    = phone.label :contact_meta_type_id, "<span class='asterisk'>*</span>Type"
    -if @organisation.nil?
      - empty = Contact.phone_types - @person.personal_phone_types + @phone.phone_type
      -if edit == "edit"
        = phone.collection_select :contact_meta_type_id, Contact.phone_types - @person.personal_phone_types + @phone.phone_type , :id, :name,{:include_blank => (true if empty.empty?)},{:class =>"mandantory_dropdown_list", :mandantory_field1=>"phone_value_edit",:mandantory_field2=>"edit_phone_contact_meta_type_id",:submit_button_id=>"submit_phone_field_edit",:id=>"edit_phone_contact_meta_type_id"}
      -else
        = phone.collection_select :contact_meta_type_id, Contact.phone_types - @person.personal_phone_types, :id, :name,{:include_blank => (true if empty.empty?)},{:class =>"mandantory_dropdown_list", :mandantory_field1=>"phone_value_edit",:mandantory_field2=>"edit_phone_contact_meta_type_id",:submit_button_id=>"submit_phone_field_edit",:id=>"edit_phone_contact_meta_type_id"}
    -else
      - empty = Contact.phone_types - @organisation.personal_phone_types + @phone.phone_type
      -if edit == "edit"
        = phone.collection_select :contact_meta_type_id, Contact.phone_types - @organisation.personal_phone_types + @phone.phone_type, :id, :name,{:include_blank => (true if empty.empty?)},{:class =>"mandantory_dropdown_list", :mandantory_field1=>"phone_value_edit",:mandantory_field2=>"edit_phone_contact_meta_type_id",:submit_button_id=>"submit_phone_field_edit",:id=>"edit_phone_contact_meta_type_id"}
      -else
        = phone.collection_select :contact_meta_type_id, Contact.phone_types - @organisation.personal_phone_types, :id, :name,{:include_blank => (true if empty.empty?)},{:class =>"mandantory_dropdown_list", :mandantory_field1=>"phone_value_edit",:mandantory_field2=>"edit_phone_contact_meta_type_id",:submit_button_id=>"submit_phone_field_edit",:id=>"edit_phone_contact_meta_type_id"}

  .field_15
    = phone.label :pre_value, "Pre Value"
    = phone.text_field :pre_value
  .field_40
    = phone.label :value, "<span class='asterisk'>*</span>Value"
    = phone.text_field :value , :class => "empty_field mandantory_field" , :id => "phone_value_edit", :mandantory_field1=>"phone_value_edit",:mandantory_field2=>"edit_phone_contact_meta_type_id",:submit_button_id=>"submit_phone_field_edit"
  .field_15
    = phone.label :post_value, "Post Value"
    = phone.text_field :post_value
-#.form_line
  .field_25
    = phone.label :monday_hours, "Monday"
    = phone.select :monday_hours, Phone::AVAILABILITY
  .field_25
    = phone.label :tuesday_hours, "Tuesday"
    = phone.select :tuesday_hours, Phone::AVAILABILITY
  .field_25
    = phone.label :wednesday_hours, "Wednesday"
    = phone.select :wednesday_hours, Phone::AVAILABILITY
  .field_25
    = phone.label :thursday_hours, "Thursday"
    = phone.select :thursday_hours, Phone::AVAILABILITY

-#.form_line
  .field_25
    = phone.label :friday_hours, "Friday"
    = phone.select :friday_hours, Phone::AVAILABILITY
  .field_25
    = phone.label :saturdayday_hours, "Saturday"
    = phone.select :saturday_hours, Phone::AVAILABILITY
  .field_25
    = phone.label :sunday_hours, "Sunday"
    = phone.select :sunday_hours, Phone::AVAILABILITY

.form_line
  .field_100
    = phone.label :remarks, "Remarks"
    = phone.text_field :remarks
