
%h2 Phone
.form_line
  .field_25
    = phone.label :contact_meta_type_id, 'Type'
    = phone.collection_select :contact_meta_type_id, Contact.phone_types, :id, :name
  .field_15
    = phone.label :pre_value, "Prefix"
    = phone.text_field :pre_value
  .field_34
    = phone.label :value, "Number"
    = phone.text_field :value, :class => "phone_value_filed empty_field"
  .field_15
    = phone.label :post_value, "Suffix"
    = phone.text_field :post_value
  %br.clear