.form_line
  .field_20
    %h3{:style=>'margin-top:10px;'} Phone
  .field_17
    = phone.label :contact_type_id, 'Type'
    = phone.collection_select :contact_type_id, ContactMetaType.find_all_by_name("Phone"), :id, :name
  .field_12
    = phone.label :pre_value, "Prefix"
    = phone.text_field :pre_value
  .field_33
    = phone.label :value, "Number"
    = phone.text_field :value
  .field_12
    = phone.label :post_value, "Suffix"
    = phone.text_field :post_value
  %br.clear