.form_line{:style => "float:none;"}
  .field_20
    = note.label :note_type_id, "<span class='asterisk'>*</span>Type"
    = note.collection_select :note_type_id, NoteType.find(:all,:conditions=>"status = true and to_be_removed = false"), :id, :name, {},{:disabled => (true if !@note.active)}
  .field_40
    = note.label :label, "<span class='asterisk'>*</span>Label"

    = note.text_field :label,:id => @note.new_record? ? "note_new_label" : "note_edit_label",:class=>"mandantory_field",:mandantory_field1=> @note.new_record? ? "note_new_label" : "note_edit_label",:submit_button_id=>@note.new_record? ? "note_new_submit" : "note_edit_submit", :disabled => ("disabled" if !@note.active)
  .field_5
    = note.label :active, 'Active'
    = note.check_box :active, :checked => (true if @note.active)
.form_line
  .field_90
    = note.label :short_description, 'Description'
    = note.text_field :short_description, :disabled => ("disabled" if !@note.active)
.form_line{:style => "height:auto;"}
  .field_100{:style => "height:auto;"}
    = note.label :body_text, 'Note'
    = note.text_area :body_text, :id=>@note.new_record? ? "edit_note_body" : "new_note_body",:disabled => ("disabled" if !@note.active),:style=>"width:500px;height:150px;"
%script{:type => "text/javascript"}
  :plain
    $(function() {
      bkLib.onDomLoaded(function() {
      new nicEditor({iconsPath : '/images/nicEditorIcons.gif', buttonList : ['bold','italic','underline','strikeThrough','subscript','superscript','removeformat','hr','upload','html','image','forecolor','bgcolor']}).panelInstance('edit_note_body');
    });
    });



