/show personal notes details
-div_for(note, :class => 'header_container toggle_options',:field => "note") do
  %div
    .title
      -#= "#{note.id} #{note.note_type.name}"
      %h2= h note.created_at.to_s(:long)
    .options{:class => 'person_notes_edit_delete person_tag', :style => "display:none;"}
      = link_to image_tag('edit_icon.png'), edit_note_path(note), :class => 'get edit_note edit_option', :note_id => note.id, :field => "note"
      = link_to image_tag('delete_icon.png'), note_path(note), :class => 'delete delete_note delete_option', :note_id => note.id, :field => "note",:error_message_field => note.note_type.name+" Note"
    %br.clear
  %div{:style => "float:right;"}
    .attr_name
      = h note.short_description
      = "(#{note.note_type.name})"
    .attr_name
      = truncate(note.body_text, 100, "...")