%script{:type => "text/javascript"}
  :plain
    $(function() {

      $('textarea.tinymce').tinymce({
          // Location of TinyMCE script
          script_url : '/javascripts/tiny_mce/tiny_mce.js',

          // General options
          theme : "advanced",
          plugins : "safari,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

          // Theme options
          theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
          theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
          theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
          theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
          theme_advanced_toolbar_location : "top",
          theme_advanced_toolbar_align : "left",
          theme_advanced_statusbar_location : "bottom",
          theme_advanced_resizing : false,

          // Example content CSS (should be your site CSS)
          content_css : "css/content.css",

          // Drop lists for link/image/media/template dialogs
          template_external_list_url : "lists/template_list.js",
          external_link_list_url : "lists/link_list.js",
          external_image_list_url : "lists/image_list.js",
          media_external_list_url : "lists/media_list.js",

          // Replace values for the template plugin
          template_replace_values : {
            username : "Some User",
            staffid : "991234"
          }
        });

    });

.form_line{:style => "float:none;"}
  .field_20
    = note.label :note_type_id, "<span class='asterisk'>*</span>Type"
    = note.collection_select :note_type_id, NoteType.find(:all,:conditions=>"status = true and to_be_removed = false"), :id, :name, {},{:disabled => (true if !@note.active)}
  .field_40
    = note.label :label, "<span class='asterisk'>*</span>Label"

    = note.text_field :label,:id => @note.new_record? ? "note_new_label" : "note_edit_label",:class=>"mandantory_field",:mandantory_field1=> @note.new_record? ? "note_new_label" : "note_edit_label",:submit_button_id=>@note.new_record? ? "note_new_submit" : "note_edit_submit", :disabled => ("disabled" if !@note.active)
  .field_5
    = note.label :active, 'Active'
    = note.check_box :active, :checked => (true if @note.active)
.form_line
  .field_90
    = note.label :short_description, 'Description'
    = note.text_field :short_description, :disabled => ("disabled" if !@note.active)
.form_line{:style =>'min-height:140px;'}
  .field_100
    = note.label :body_text, 'Note'
    = note.text_area :body_text,:rows => 6, :cols => 45, :id => "richEditor", :disabled => ("disabled" if !@note.active), :class => "tinymce mceNoEditor"