/show personal notes details
-div_for(note, :class => 'info_container') do
  .header_container
    .title
      -#= "#{note.id} #{note.note_type.name}"
      = h note.created_at.to_s(:long)
    .options
      = link_to image_tag('edit_icon.png'), edit_note_path(note), :class => 'get'
      = link_to image_tag('delete_icon.png'), note_path(note), :class => 'delete'
    %br{ :style => "clear:both;"}
    .attr_name
      = h note.short_description
      = "(#{note.note_type.name})"
    .attr_name
      = truncate(note.body_text, 100, "...")