.form_line{:style => "float:none;"}
  .field_30
    = label :role_type_id, "Role Type"
    -if @person_role.new_record?
      = collection_select :role, :role_type_id, RoleType.active_role_type, :id, :name, {:prompt => "Select one type"}, {:person_id => @person.id , :class => "find_role_field clear_select" , :person_role_id => @person_role.new_record? ? "person_role_role_id" : @person_role.id}
    -else
      = collection_select:role, :role_type_id, RoleType.active_role_type, :id, :name, {:prompt => "#{@person_role.role.role_type.name}" }, {:person_id => @person.id , :class => "find_role_field" , :person_role_id => @person_role.new_record? ? "person_role_role_id" : @person_role.id}
  .field_25{:style => "float:right;"}
    %label &nbsp;
    -if @person_role.new_record?
      %span{ :id=> "person_role_type_description" }
    -else
      %span{ :id=> "person_role_type_#{@person_role.id}_description" } #{@role_type.description}

.form_line
  .field_30
    = person_role.label :role_id, "Role"
    -if @person_role.new_record?
      %select.show_role_table{:name => "person_role[role_id]", :id => "person_role_role_id", :person_id => @person.id, :person_role_id => "person_role_role_id"}
        %options
    -else
      %select.show_role_table{:name => "person_role[#{@person_role.id}][role_id]", :id => "person_role_#{@person_role.id}_role_id", :person_id => @person.id, :person_role_id => @person_role.id}
        - @roles.each do |r|
          %option{:value => "#{r.id}", :selected => (@role.id == r.id) } #{r.name}
  .field_25{:style => "float:right;"}
    %label &nbsp;
    -if @person_role.new_record?
      %span{:id=> "person_role_description" }
    -else
      %span{:id=> "person_role_#{@person_role.id}_description" } #{@role.description}
.header_container
  %h1{:style => "margin:0;"} Role Conditions
  .form_line{:style => "height:auto !important;"}
    .field_45{:style => "height:auto !important;"}
      %label Role Conditions
      -if @person_role.new_record?
        %select{:multiple => true,:size => "15", :id => "role_condition_display", :disabled=> true, :style => "float:left;min-height:250px;margin-left:10px"}
      -else
        %select{:multiple => true,:size => "15", :id => "role_condition_#{@person_role.id}_display", :disabled=> true, :style => "float:left;min-height:250px;margin-left:5px"}
          - @role.role_conditions.each do |r|
            %option{:value => "#{r.id}" } #{r.name}
    .field_45{:style => "height:auto !important;"}
      %label Person Master Docs
      -if @person_role.new_record?
        %select{:multiple => true,:size => "15", :id => "role_masterdoc_display",:disabled=> true, :style => "float:left;min-height:250px;margin-left:10px"}
      -else
        %select{:multiple => true,:size => "15", :id => "role_masterdoc_#{@person_role.id}_display",:disabled=> true, :style => "float:left;min-height:250px;margin-left:5px"}
          - @masterdoc.each do |r|
            %option{:value => "#{r.master_doc_type.id}" } #{r.master_doc_type.name}
%br.clear

-if @person_role.new_record?
  %div#warning
-else
  %div#warning_1

.form_line
  .field_25{:style => "margin-right: 2px;"}
    = person_role.label :assigned_by, 'Assigned By'
    = person_role.text_field :assigned_by, :class=>"check_person_field", :update=>"assigner_container",:person_role_id=> @person_role.new_record? ? 0 : @person_role.id ,:id => @person_role.new_record? ? "person_role_assigned_by" : "person_role_assigned_by_#{@person_role.id}"
  .field_5
    %label &nbsp;
    = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => @person_role.new_record? ? "person_role_assigned_by" : "person_role_assigned_by_#{@person_role.id}"
  .field_25
    %label &nbsp;
    -if (!@person_role.new_record? && !@person_role.role_assigner.nil?)
      %span{:class=>"viewname", :id=>@person_role.new_record? ? "assigner_container_0" : "assigner_container_#{@person_role.id}"} #{@person_role.role_assigner.name}
    -else
      %span{:class=>"viewname", :id=>@person_role.new_record? ? "assigner_container_0" : "assigner_container_#{@person_role.id}"} &nbsp;
.form_line
  .field_25{:style => "margin-right: 2px;"}
    = person_role.label :approved_by, "Approved By"
    = person_role.text_field :approved_by, :class=>"check_person_field", :update=>"approver_container",:person_role_id=> @person_role.new_record? ? 0 : @person_role.id, :id => @person_role.new_record? ? "person_role_approved_by" : "person_role_approved_by_#{@person_role.id}"
  .field_5
    %label &nbsp;
    = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => @person_role.new_record? ? "person_role_approved_by" : "person_role_approved_by_#{@person_role.id}"
  .field_25
    %label &nbsp;
    -if (!@person_role.new_record? && !@person_role.role_approver.nil?)
      %span{:class=>"viewname", :id=>@person_role.new_record? ? "approver_container_0" : "approver_container_#{@person_role.id}"} #{@person_role.role_approver.name}
    -else
      %span{:class=>"viewname", :id=>@person_role.new_record? ? "approver_container_0" : "approver_container_#{@person_role.id}"} &nbsp;
  %br{ :style=>"clear: both;"}
.form_line
  .field_25{:style => "margin-right: 2px;"}
    = person_role.label :supervised_by, "Supervised By"
    = person_role.text_field :supervised_by, :class=>"check_person_field", :update=>"superviser_container", :person_role_id=> @person_role.new_record? ? 0 : @person_role.id, :id => @person_role.new_record? ? "person_role_supervised_by" : "person_role_supervised_by_#{@person_role.id}"
  .field_5
    %label &nbsp;
    = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => @person_role.new_record? ? "person_role_supervised_by" : "person_role_supervised_by_#{@person_role.id}"
  .field_25
    %label &nbsp;
    -if (!@person_role.new_record? && !@person_role.role_superviser.nil?)
      %span{:class=>"viewname", :id=>@person_role.new_record? ? "superviser_container_0" : "superviser_container_#{@person_role.id}"} #{@person_role.role_superviser.name}
    -else
      %span{:class=>"viewname", :id=>@person_role.new_record? ? "superviser_container_0" : "superviser_container_#{@person_role.id}"} &nbsp;
.form_line
  .field_25{:style => "margin-right: 2px;"}
    = person_role.label :managed_by, "Managed By"
    = person_role.text_field :managed_by, :class=>"check_person_field", :update=>"manager_container",:person_role_id=> @person_role.new_record? ? 0 : @person_role.id ,:id => @person_role.new_record? ? "person_role_managed_by" : "person_role_managed_by_#{@person_role.id}"
  .field_5
    %label &nbsp;
    = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => @person_role.new_record? ? "person_role_managed_by" : "person_role_managed_by_#{@person_role.id}"
  .field_25
    %label &nbsp;
    -if (!@person_role.new_record? && !@person_role.role_manager.nil?)
      %span{:class=>"viewname", :id=>@person_role.new_record? ? "manager_container_0" : "manager_container_#{@person_role.id}"} #{@person_role.role_manager.name}
    -else
      %span{:class=>"viewname", :id=>@person_role.new_record? ? "manager_container_0" : "manager_container_#{@person_role.id}"} &nbsp;
  %br{ :style=>"clear: both;"}

.form_line
  .field_25
    = person_role.label :assignment_date, "Assignment Date"
    = person_role.text_field :assignment_date, :class=> "beforestartdatepick", :end_date=>@person_role.new_record? ? "person_role_start_date" : "person_role_#{@person_role.id}_start_date", :value=>@person_role.assignment_date.to_s

  .field_25
    = person_role.label :start_date, "Start Date"
    = person_role.text_field :start_date, :class=> "role_startdatepick", :end_date=>@person_role.new_record? ? "person_role_end_date" : "person_role_#{@person_role.id}_end_date", :start_date=>@person_role.new_record? ? "person_role_assignment_date" : "person_role_#{@person_role.id}_assignment_date", :value=>@person_role.start_date.to_s

  .field_25
    = person_role.label :end_date, "End Date"
    = person_role.text_field :end_date, :class=> "role_enddatepick", :start_date=>@person_role.new_record? ? "person_role_start_date" : "person_role_#{@person_role.id}_start_date", :value=>@person_role.end_date.to_s
  %br{ :style=>"clear: both;"}

.form_line
  .field_100
    = person_role.label :remarks, "Remarks"
    = person_role.text_field :remarks
  %br{ :style=>"clear: both;"}

.field_33{:style => "display:none"}
  -if @person_role.new_record?
    = person_role.text_field :id, {:id => "show"}
  -else
    = person_role.text_field :id, {:id => "show1"} #{@person_role.id}


