-# The main person_role tab
.info_container
  .header_container
    .title
      %h3 Role Details
    .options
      = link_to_function image_tag('add_icon.png'), :id=>"add_role", :class=>" toggle_button", :toggle_id_name => "new_person_role" if (!@person.nil? && !@person.new_record?)
      = image_tag('help_icon.png')
    %br{ :style=>"clear: both;"}

  =# Initially hidden new person_role form
  -form_for([@person,@person_role], :html => {:style => "display:none", :class => 'ajax_form'}) do |person_role|
    %fieldset
      .options{:style => "float:right"}
        = link_to_function image_tag('close_icon.png'), :class => "clear_person_role_form toggle_button", :toggle_id_name => "new_person_role"
      %h3 New Role
      = render :partial => '/person_roles/person_role_form', :locals => { :person_role => person_role }
      = submit_tag 'Submit'

  #person_roles
    = render :partial => '/person_roles/person_role', :collection => person.person_roles