- for i in @login_accounts
  - status = i.login_status ? "container_active" : "container_inactive"
  - status_flag = i.login_status ? "" : "hidden"
  .user_list_each_user{:class => "#{status} toggle_options", :id => "user_list_user_#{i.id}", :field => "user_list_user", :style => "width:47%;"}
        .options{:style => "display:none;"}
          = link_to_function image_tag('edit_icon.png'), :class => '#{status_flag} edit_option edit_logo', :id => 'user_list_user_edit_button', :controller => "user_lists", :data_id => i.id, :field => "user_list_user", :title=>"Edit"
        .title
          %h3 #{i.id}--#{i.user_name}(#{i.person.name})--#{i.user_list_headers.size}-lists
