%br
-form_for @user_list, :url =>{:controller => "user_lists", :action => "create"}, :html => {:class => "ajax_form"} do |user_list|
  .form_line.float_none
    .field_30
      = user_list.label :list_header_id, "List"
      %select.show_user_list_description{:des => "user_list_list",:name => "user_list[list_header_id]"}
        - @list_headers.each do |list|
          %option{:value => "#{list.id}"}#{list.name}
    .field_25
      %label &nbsp
      %h3{:id => "user_list_list_description"}
    .field_20{:style => "display:none;"}
      %label &nbsp
      %input{:name => "user_list[user_id]", :value => "#{@login_account.id}"}
    .field_38
      %label &nbsp
      = submit_tag 'Submit', :style => 'display:inline;float:right;'
