.tab_corner
  .container_corner.profile_tab_left_corner.left
  .container_edit
    .options_left{:style => "margin-right:10px;"}
      = image_tag('edit_icon.png', :class => "edit_icon_right")
    %h3 Edit
  .container_corner.profile_tab_right_corner.left
.full_container
  .options
    = link_to_function image_tag('close_icon.png'), :class => "close_option close_logo", :field => "user_list_user", :title=>"Close"
  .full_container{:style => "margin-top:10px;"}
    %div#user_list_add_bar
      .options
        = link_to_function image_tag('close_icon.png'),:style => "display:none;", :class => "close_option close_logo add_form_close", :field => "user_list", :change_color => false, :title=>"Close"
      .title
        = link_to_function image_tag('add_icon.png', :size => "22x22"),:class => "new_option new_logo", :field => "user_list"
        &nbsp
      %h2 Assign List
    %input{:id => "user_list_mode", :mode => "show", :style => "display:none;"}

    %div#new_user_list_form{:style => "display:none;"}
      = render :partial => "/user_lists/new_user_list_form"

  %div#existing_user_list_list



