-div_for(system_news, :class => 'system_news_container') do
  
  - if system_news.description.length > 36
    .news_content{:id => "short_description_#{system_news.id}"}
      .title
        - if system_news.title.length > 24
          %h2 #{system_news.title[0,24]}...
        - else
          %h2 #{system_news.title}
      %br.clear
      %p #{system_news.short_description}
      .read_more
        = link_to_function "read more", :class => "read_more", :news_id => system_news.id

  .news_content{:id => "description_#{system_news.id}", :class => (system_news.description.length > 36) ? "hidden" : ""}
    .title
      %h2 #{system_news.title}
    .options{:class => (system_news.description.length > 36) ? "" : "hidden"}
      = link_to_function image_tag("close_icon.png"), :title=>"Close", :class => "read_more", :news_id => system_news.id
    %br.clear
    %p #{system_news.description}

  