.container.toggle_options{:id => "system_news_detail_#{system_news_detail.id}", :field => "system_news"}
  .options{:style => "float:right;display:none;"}
    = link_to image_tag("icon_holder.png"), switch_system_news_path(system_news_detail), :class => "get", :title=>"Switch"
    = link_to image_tag("edit_icon.png"), edit_system_news_path(system_news_detail), :class => "get", :title=>"Edit"
    = link_to image_tag("delete_icon.png"), system_news_path(system_news_detail), :class => "delete", :title=>"Remove", :error_message_field => "System News"
  .title
    %h2 #{system_news_detail.title}

  .news_content{:id => "short_description_detail_#{system_news_detail.id}"}
    %p #{system_news_detail.short_description}

  .news_content.hidden{:id => "description_detail_#{system_news_detail.id}"}
    %p #{system_news_detail.description}