- form_for @system_news, :url => {:controller => "system_news", :action => @system_news.new_record? ? "create" : "update"}, :html => {:class => "ajax_form"} do |f|
  .dashboard_form
    .form_line
      .field_100
        =f.label :title, "Title"
        =f.text_field :title
    .form_line
      .field_100
        = f.label :event_date, "Event Date"
        = f.text_field :event_date, :class => "datepick"
    .form_line
      .field_100
        = f.label :description, "Description"
        = f.text_area :description
    .form_line
      .field_20
        = submit_tag "Publish"
