%script{:type => "text/javascript"}
  :plain

    iphone_checkbox();

-form_for @fee_item, :url => {:controller => "fee_items", :action => 'create'}, :html => {:class=> "ajax_form",:submit_button_id =>"new_fee_item_submit"} do |f|
  .form_line{:style => "float:none;"}
    .field_20
      = f.label :name, "<span class='asterisk'>*</span>Name"
      = f.text_field :name,:class => "compulsory_field"

    .field_20
      = f.label :GL_Code, "GL_Code"
      = f.text_field :GL_Code, :class => "number_field"

    .field_20
      = f.label :amount, "Amount ($)"
      = f.text_field :amount, :class => "number_field"

    .field_20
      = f.label :description, "Description"
      = f.text_field :description

  .form_line
    .field_20
      = f.label :start_date, "Start Date"
      = f.text_field :starting_date, :class => "startdatepick",:id => "fee_item_start_date", :end_date => "fee_item_end_date", :value => "#{Date.today().to_s}"
    .field_20
      = f.label :end_date, "End Date"
      = f.text_field :ending_date, :class => "enddatepick", :id => "fee_item_end_date", :start_date=> "fee_item_start_date", :value => "#{Date.today.next_year().to_s}"
    .field_20
      = f.label :tax_item, "Tax Item"
      = f.collection_select :tax_items_id, TaxItem.active_record, :id, :name
    .field_20
      = f.label :tax_item, "Link Module"
      = f.collection_select :link_module_id, LinkModule.active_link_module_type, :id, :name
  .form_line
    .field_20
      %label Fee Item Meta Meta Type
      %select{:class => "clear_select general_drop_down_level", :drop_down_field => "new_fee_item" , :method => "GET", :url => "/fee_items/drop_down_list_l1"}
        -@fee_item_meta_meta_types.each do |i|
          %option{:value => i.id}
            = i.name
    .field_20
      %label Fee Item Meta Type
      %select{:class => "clear_select general_drop_down_level_2_3", :drop_down_field => "new_fee_item", :method => "GET", :url => "/fee_items/drop_down_list_l2"}
      %br.clear

    .field_20
      = f.label :tag_type_id, "<span class='asterisk'>*</span>Fee Item Type"
      %select{:class => "clear_select general_drop_down_level_3 compulsory_field", :drop_down_field => "new_fee_item", :name => "tag_type_id", :id => "fee_item_type"}
      %br.clear

    .field_20
      %label Frequency
      = f.collection_select :payment_frequency_id, PaymentFrequency.all, :id, :name
      %input{:class => "hidden", :name => "type", :value => @fee_item.class.to_s}
    .field_15
      = f.label :active, "Active"
      = f.check_box :active, :class => "iphone_check_box",:checked=>true
  .form_line
    .field_20{:style => "float:right;"}
      %label &nbsp
      = submit_tag "Submit",:style=>"",:id=>"new_fee_item_submit", :disabled=>true





