%script{:type => "text/javascript"}
  :plain
    tinymce_init();

- form_for :message_template, @message_template, :url => { :action => "update_message_template" }, :html => {:class => 'ajax_form', :id => "edit_message_template_form", :submit_button_id => "edit_message_template_submit"}  do |f|
  %input{:id => "id", :name => "id", :style => "display:none;", :value => @message_template.id}
  .ex_container
    .form_line
      .field_10
        = f.label :name, "Mail Category"
        = f.collection_select :template_category_id, TemplateCategory.active_template_category, :id, :name, {},{:name => "message_template[template_category_id]"}
      .field_20
        = f.label :name, "<span class='asterisk'>*</span>Name"
        = f.text_field :name, :id => "new_message_template_name", :class => 'compulsory_field'
      .field_10{:class => "hidden"}
        %label &nbsp
        %input{:id => "prefix_table_name", :value => "#{@prefix_table_value}"}
      .field_22
        %label Table Name
        %select{:class => "select_table_word clear_select general_drop_down_level", :drop_down_field => @message_template.new_record? ? "new_mail_template" : "edit_mail_template", :method => "GET", :url => "/message_templates/drop_down_list"}
          -@table_attributes.each do |i|
            %option{:value => i.name}
              = i.name

      .field_22
        %label Field Name
        %select{:class => "select_field_word drop_down_level2 general_drop_down_level_2_3", :drop_down_field => @message_template.new_record? ? "new_mail_template" : "edit_mail_template",:method => "GET", :url => "/message_templates/drop_down_list_level2_3"}
        %br.clear

      .field_10{:class => "hidden"}
        %input{:class => "data_type drop_down_level3",:name => "data_type", :drop_down_field => @message_template.new_record? ? "new_mail_template" : "edit_mail_template"}

      .field_10
        %label &nbsp
        =button_to_function 'Insert', :class => "mail_merge_insert_word" ,:style => "width:100%;"
      .field_10
        %input{:class => "hidden", :name => "type", :value => "#{@type}"}
    .form_line{:style => "height:auto;"}
      .field_100{:style => "height:auto;"}
        = f.label :body, "Body"
        = f.text_area :body, :id => "edit_message_template_body", :class => 'mceEditor'

  = submit_tag "Update", :id => "edit_message_template_submit", :disabled => false