%script{:type => "text/javascript"}
  :plain
    $(function() {
      $('.edit_message_template_required_field').keyup(function() {
          if($('#edit_message_template_name').val() == '') {
              $('#edit_message_template_submit').attr('disabled', true);
          } else {
              $('#edit_message_template_submit').removeAttr('disabled');
          }
      });

      tinyMCE.init({
          // Location of TinyMCE script
          script_url : '/javascripts/tiny_mce/tiny_mce.js',
           mode : "textareas",
          // General options
          theme : "advanced"
        });
    });



- form_for :message_template, @message_template, :url => { :action => "update_message_template" }, :html => {:class => 'ajax_form', :id => "edit_message_template_form"}  do |f|
  %input{:id => "id", :name => "id", :style => "display:none;", :value => @message_template.id}
  .full_container
    %h2 Email Template
    .form_line
      .field_60
        = f.label :name, "<span class='asterisk'>*</span>Name"
        = f.text_field :name, :id => "edit_message_template_name", :class => 'edit_message_template_required_field'
    %div
      .field_80
        = f.label :body, "Body"
        = f.text_area :body, :id => "edit_message_template_body", :class => 'mceEditor', :style => "width:90%;"
    .form_line
      .field_100{:style => "float:right;"}
        %div{:style => "display:inline;float:right;height:100%;"}
          = link_to "Remove", {:controller => "communication", :action => "destroy_message_template", :id => @message_template.id}, {:class => 'delete', :error_message_field => "email template", :style => "float:right;text-size:12px;padding-top:4px;padding-left:7px;text-decoration:underline;color:#154073;"}
        %div{:style => "display:inline;float:right;height:100%;"}
          = submit_tag "Update", :id => "edit_message_template_submit", :disabled => false

#message_template_save_form{:style => "display:none;"}