%script{:type => "text/javascript"}
  :plain
    $(function() {
      $('.new_email_required_field').keyup(function() {
          if($('#new_email_subject').val() == null || $('#message_template_id').val() == null || $('#list_header_id').val() == '') {
              $('#new_email_submit').attr('disabled', true);
          } else {
              $('#new_email_submit').removeAttr('disabled');
          }
      });
    });

- form_for :email, nil, :url => { :action => "send_email" }, :html => {:class => 'ajax_form', :id => "send_email_form",:submit_button_id=>"new_email_submit"}  do |f|
  .full_container
    %h2 Email Message
    .form_line
      .field_25
        = f.label :subject, "<span class='asterisk'>*</span>Subject"
        = f.text_field :subject, :id => "new_email_subject", :class => 'select_ban_submit'

      .field_25
        = f.label :subject, "<span class='asterisk'>*</span>List/Query"
        %select{:id => "list_header_id", :name => "list_header_id", :class => 'select_ban_submit' }
          %option{:value => "0"} --------------------List--------------------------------
          - @entity_list_headers.each do |r|
            %option{:value => "list_#{r.id}"} #{r.name}
          %option{:value => "0"} --------------------Query------------------------------
          - @entity_query_headers.each do |r|
            %option{:value => "query_#{r.id}"} #{r.name}
      .field_15
        %label <span class='asterisk'>*</span>Template Category
        = collection_select :message_template, :template_category_id, TemplateCategory.active, :id, :name, {}, {:class => "select_ajax_call clear_select", :method => "GET", :url => "/message_templates/find_templates", :update_field => "message_template_id", :type_class => "#{@entity_type}_email_template"}

      .field_15
        = f.label :subject, "<span class='asterisk'>*</span>Template"
        %select{:id => "message_template_id", :name => "message_template_id", :class => 'select_ban_submit' }
          - @message_templates.each do |r|
            %option{:value => "#{r.id}"} #{r.name}

      .field_15
        %label &nbsp
        = submit_tag "Submit", :id => "new_email_submit", :disabled => true

