-form_for @guest,:url=>{:controller =>"guests",:action=>"create"},:html=>{:class=>'ajax_form'} do |p|
  .form_line
    .field_20
      = p.label :first_name, "<span class='asterisk'>*</span>First Name"
      =p.text_field :first_name
    .field_20
      = p.label :family_name, "<span class='asterisk'>*</span>Family Name"
      = p.text_field :family_name
  .form_line
    .field_31
      %label <span class='asterisk'>*</span>New Password
      %input{:id=>"new_password",:name=>"new_password",:class=>"password_change jpassword-lefttop validate[required,length[6,30]]", :type => "password"}
    .field_31
      %label <span class='asterisk'>*</span>Repeat New Password
      %input{:id=>"retype_new_password",:name=>"retype_new_password",:class =>"validate[required,length[6,30],confirm[new_password]]", :type => "password"}
  .form_line
    .field_20
      = p.label :phone_num, "Phone Number"
      = p.text_field :phone_num
    .field_20
      = p.label :email_address, "Email Address"
      = p.text_field :email_address
  .form_line
    .field_100
      = submit_tag 'Submit',:id=>"guest_submit",:disabled => false


