-# The options to edit or add an employment
.form_line{:style => "float:none;"}
  .field_25{:style => "margin-right: 2px;"}
    =employment.label :organisation_id, "<span class='asterisk'>*</span>Organisation ID"
    =employment.text_field :organisation_id, :class=>"find_organisation_field mandantory_field", :employment_id=> @employment.new_record? ? 0 : @employment.id, :disabled=>@employment.status == false,:mandantory_field1=>@employment.new_record? ? "employment_organisation_id" : "employment_#{@employment.id}_organisation_id" ,:mandantory_field2=>@employment.new_record? ? "employment_staff_reference" : "employment_#{@employment.id}_staff_reference" ,:mandantory_field3=>@employment.new_record? ? "employment_position_name" : "employment_#{@employment.id}_position_name",:mandantory_field4=>@employment.new_record? ? "employment_commenced_date" : "employment_#{@employment.id}_commenced_date",:mandantory_field5=>@employment.new_record? ? "employment_hired_by":"employment_#{@employment.id}_hired_by",:submit_button_id=>@employment.new_record? ? "employment_new_submit" : "employment_edit_submit"
  .field_5
    %label &nbsp;
    = link_to_function image_tag("Icons/System/search.png"), :class => "organisation_lookup", :update_field => "employment_organisation_id", :title=>"Search"
  .field_60
    %label &nbsp;
    -if @employment.new_record?
      %span{:class=>"viewname", :id=>@employment.new_record? ? "organisation_name_container_0" : "organisation_name_container_#{@employment.id}"} &nbsp;
    -else
      %span{:class=>"viewname", :id=>@employment.new_record? ? "organisation_name_container_0" : "organisation_name_container_#{@employment.id}"} #{@employment.organisation.full_name}
  -#.field_33
    =employment.label :status, "Status"
    =employment.radio_button :status, true, :style => "width:10%", :checked => true
    %label{:style => "display:inline"} Active
    =employment.radio_button :status, false, :style => "width:10%"
    %label{:style => "display:inline"} Inactive

.form_line
  .field_23
    =employment.label :staff_reference, "<span class='asterisk'>*</span>Reference NO."
    =employment.text_field :staff_reference,:class=>"mandantory_field", :disabled=>@employment.status == false,:mandantory_field1=>@employment.new_record? ? "employment_organisation_id" : "employment_#{@employment.id}_organisation_id" ,:mandantory_field2=>@employment.new_record? ? "employment_staff_reference" : "employment_#{@employment.id}_staff_reference" ,:mandantory_field3=>@employment.new_record? ? "employment_position_name" : "employment_#{@employment.id}_position_name",:mandantory_field4=>@employment.new_record? ? "employment_commenced_date" : "employment_#{@employment.id}_commenced_date",:mandantory_field5=>@employment.new_record? ? "employment_hired_by":"employment_#{@employment.id}_hired_by",:submit_button_id=>@employment.new_record? ? "employment_new_submit" : "employment_edit_submit"
  .field_23
    =employment.label :department_id, "Department"
    =employment.collection_select :department_id, Department.active_department, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}
  .field_23
    =employment.label :section_id, "Section"
    =employment.collection_select :section_id, Section.active_section, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}
  .field_23
    =employment.label :cost_centre_id, "Cost Centre"
    =employment.collection_select :cost_centre_id, CostCentre.active_cost_centre, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}


.header_container
  .form_line
    .field_100 Position
  .form_line
    .field_30
      =employment.label :position_name, "<span class='asterisk'>*</span>Name"
      =employment.text_field :position_name,:class=>"mandantory_field", :disabled=>@employment.status == false,:mandantory_field1=>@employment.new_record? ? "employment_organisation_id" : "employment_#{@employment.id}_organisation_id" ,:mandantory_field2=>@employment.new_record? ? "employment_staff_reference" : "employment_#{@employment.id}_staff_reference" ,:mandantory_field3=>@employment.new_record? ? "employment_position_name" : "employment_#{@employment.id}_position_name",:mandantory_field4=>@employment.new_record? ? "employment_commenced_date" : "employment_#{@employment.id}_commenced_date",:mandantory_field5=>@employment.new_record? ? "employment_hired_by":"employment_#{@employment.id}_hired_by",:submit_button_id=>@employment.new_record? ? "employment_new_submit" : "employment_edit_submit"
    .field_30
      =employment.label :position_title_id, "Title"
      =employment.collection_select :position_title_id, PositionTitle.active_position_title, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}
    .field_33
      =employment.label :position_classification_id, "Classification"
      =employment.collection_select :position_classification_id, PositionClassification.active_position_classification, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}

  .form_line
    .field_30
      =employment.label :commenced_date, "<span class='asterisk'>*</span>Start Date"
<<<<<<< HEAD:app/views/employments/_employment_form.html.haml
      =employment.text_field :commenced_date, :class=>@employment.status==false ? "" : "startdatepick mandantory_field", :end_date=>@employment.new_record? ? "employment_term_end_date" : "employment_#{@employment.id}_term_end_date", :value=>@employment.commenced_date.to_s, :disabled=>@employment.status == false, :style => "width:80% !important;" ,:mandantory_field1=>@employment.new_record? ? "employment_organisation_id" : "employment_#{@employment.id}_organisation_id" ,:mandantory_field2=>@employment.new_record? ? "employment_staff_reference" : "employment_#{@employment.id}_staff_reference" ,:mandantory_field3=>@employment.new_record? ? "employment_position_name" : "employment_#{@employment.id}_position_name",:mandantory_field4=>@employment.new_record? ? "employment_commenced_date" : "employment_#{@employment.id}_commenced_date",:mandantory_field5=>@employment.new_record? ? "employment_hired_by":"employment_#{@employment.id}_hired_by",:submit_button_id=>@employment.new_record? ? "employment_new_submit" : "employment_edit_submit"
    .field_30
      =employment.label :term_end_date, "End Date"
      =employment.text_field :term_end_date, :class=>@employment.status==false ? "" : "enddatepick", :start_date=>@employment.new_record? ? "employment_commenced_date" : "employment_#{@employment.id}_commenced_date", :value=>@employment.term_end_date.to_s, :disabled=>@employment.status == false, :style => "width:80% !important;"
=======
      =employment.text_field :commenced_date, :class=>@employment.status==false ? "" : "startdatepick mandantory_field", :end_date=>@employment.new_record? ? "employment_term_end_date" : "employment_#{@employment.id}_term_end_date", :value=>@employment.commenced_date.to_s, :disabled=>@employment.status == false, :style => "width:78% !important;" ,:mandantory_field1=>@employment.new_record? ? "employment_organisation_id" : "employment_#{@employment.id}_organisation_id" ,:mandantory_field2=>@employment.new_record? ? "employment_staff_reference" : "employment_#{@employment.id}_staff_reference" ,:mandantory_field3=>@employment.new_record? ? "employment_position_name" : "employment_#{@employment.id}_position_name",:mandantory_field4=>@employment.new_record? ? "employment_commenced_date" : "employment_#{@employment.id}_commenced_date",:mandantory_field5=>@employment.new_record? ? "employment_hired_by":"employment_#{@employment.id}_hired_by",:submit_button_id=>@employment.new_record? ? "employment_new_submit" : "employment_edit_submit"
    .field_30
      =employment.label :term_end_date, "End Date"
      =employment.text_field :term_end_date, :class=>@employment.status==false ? "" : "enddatepick", :start_date=>@employment.new_record? ? "employment_commenced_date" : "employment_#{@employment.id}_commenced_date", :value=>@employment.term_end_date.to_s, :disabled=>@employment.status == false, :style => "width:78% !important;"
>>>>>>> 3197cd4efbfb0576dbe32a891223f59096d173e9:app/views/employments/_employment_form.html.haml
    .field_33
      =employment.label :position_type_id, "Position Type"
      =employment.collection_select :position_type_id, PositionType.active_position_type, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}

  .form_line
    .field_30
      =employment.label :award_agreement_id, "Award Agreement"
      =employment.collection_select :award_agreement_id, AwardAgreement.active_award_agreement, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}
    .field_30
      =employment.label :award_other, "Award Others"
      =employment.text_field :award_other, :disabled=>@employment.status == false
    .field_33
      =employment.label :position_status_id, "Position Status"
      =employment.collection_select :position_status_id, PositionStatus.active_position_status, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}


  .form_line    
    .field_100
      =employment.label :duties_resposibilities, "Duties and Responsibilities"
      =employment.text_field :duties_resposibilities, :disabled=>@employment.status == false

  .form_line
    .field_25{:style => "margin-right: 2px;"}
      =employment.label :hired_by, "<span class='asterisk'>*</span>Hired By"
      =employment.text_field :hired_by, :class=>"find_person_field mandantory_field", :update=>"recruiter_container", :input_field_id=>@employment.new_record? ? "employment_hired_by":"employment_#{@employment.id}_hired_by",:employment_id=> @employment.new_record? ? 0 : @employment.id, :disabled=>@employment.status == false,:mandantory_field1=>@employment.new_record? ? "employment_organisation_id" : "employment_#{@employment.id}_organisation_id" ,:mandantory_field2=>@employment.new_record? ? "employment_staff_reference" : "employment_#{@employment.id}_staff_reference" ,:mandantory_field3=>@employment.new_record? ? "employment_position_name" : "employment_#{@employment.id}_position_name",:mandantory_field4=>@employment.new_record? ? "employment_commenced_date" : "employment_#{@employment.id}_commenced_date",:mandantory_field5=>@employment.new_record? ? "employment_hired_by":"employment_#{@employment.id}_hired_by",:submit_button_id=>@employment.new_record? ? "employment_new_submit" : "employment_edit_submit"
    .field_5
      %label &nbsp;
      = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => @employment.new_record? ? "employment_hired_by" : "employment_#{@employment.id}_hired_by", :title=>"Search"
    .field_60
      %label &nbsp;
      -if (!@employment.new_record? && !@employment.emp_recruiter.nil?)
        %span{:class=>"viewname", :id=>@employment.new_record? ? "recruiter_container_0" : "recruiter_container_#{@employment.id}"} #{@employment.emp_recruiter.name}
      -else
        %span{:class=>"viewname", :id=>@employment.new_record? ? "recruiter_container_0" : "recruiter_container_#{@employment.id}"} &nbsp;
  .form_line
    .field_25{:style => "margin-right: 2px;"}
      =employment.label :report_to, "Report To"
      =employment.text_field :report_to, :class=>"find_person_field",:input_field_id=>@employment.new_record? ? "employment_report_to":"employment_#{@employment.id}_report_to", :update=>"supervisor_container", :employment_id=> @employment.new_record? ? 0 : @employment.id, :disabled=>@employment.status == false
    .field_5
      %label &nbsp;
      = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => @employment.new_record? ? "employment_report_to" : "employment_#{@employment.id}_report_to", :title=>"Search"
    .field_60
      %label &nbsp;
      -if (!@employment.new_record? && !@employment.emp_supervisor.nil?)
        %span{:class=>"viewname", :id=>@employment.new_record? ? "supervisor_container_0" : "supervisor_container_#{@employment.id}"} #{@employment.emp_supervisor.name}
      -else
        %span{:class=>"viewname", :id=>@employment.new_record? ? "supervisor_container_0" : "supervisor_container_#{@employment.id}"} &nbsp;

.header_container
  .form_line
    .field_100
      =link_to_function image_tag('/images/Icons/System/expand.png', :style=>"float:right"), :class => "toggle_button close_image", :toggle_id_name => @employment.new_record? ? "payment_div" : "payment_div_#{@employment.id}"
      = "Payment"

  %div{:style => "display:none", :id => @employment.new_record? ? "payment_div" : "payment_div_#{@employment.id}"}
    .form_line{:style => "float:none;"}
      .field_30
        =employment.label :weekly_nominal_hours, "Weekly Hours"
        =employment.text_field :weekly_nominal_hours, :class=>"calculate_field", :employment_id =>@employment.new_record? ? "0" : @employment.id, :value=>@employment.new_record? ? "0" : @employment.weekly_nominal_hours, :id=>@employment.new_record? ? "hour_0" : "hour_" + "#{@employment.id}", :disabled=>@employment.status == false
      .field_30
        =employment.label :hourly_rate, "Hourly Rate"
        =employment.text_field :hourly_rate, :class=>"calculate_field", :employment_id =>@employment.new_record? ? "0" : @employment.id, :value=>@employment.new_record? ? "0" : @employment.hourly_rate, :id=>@employment.new_record? ? "rate_0" : "rate_"+ "#{@employment.id}", :disabled=>@employment.status == false
      .field_33
        =employment.label :annual_base_salary, "Annual Base Salary"
        =employment.text_field :annual_base_salary, :disabled=>true, :value=>@employment.new_record? ? number_to_currency(0) : number_to_currency(@employment.annual_base_salary), :class=>"disabled", :id=>@employment.new_record? ? "salary_0" : "salary_"+ "#{@employment.id}"

    .form_line
      .field_45
        =employment.label :plus_package, "Package Plus"
        =employment.text_field :plus_package, :disabled=>@employment.status == false
      .field_50
        =employment.label :payment_frequency_id, "Payment Frequency"
        =employment.collection_select :payment_frequency_id, PaymentFrequency.active_payment_frequency, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}

    .form_line      
      .field_45
        =employment.label :payment_method_id, "Payment Method"
        =employment.collection_select :payment_method_id, PaymentMethod.active_payment_method, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}
      .field_50
        =employment.label :payment_day_id, "Payment Day"
        =employment.collection_select :payment_day_id, PaymentDay.active_payment_day, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}


.header_container
  .form_line
    .field_100
      =link_to_function image_tag('/images/Icons/System/expand.png', :style=>"float:right"), :class => "toggle_button close_image", :toggle_id_name => @employment.new_record? ? "suspension_div" : "suspension_div_#{@employment.id}"
      = "Suspension"

  %div{:style => "display:none", :id => @employment.new_record? ? "suspension_div" : "suspension_div_#{@employment.id}"}
    .form_line{:style => "float:none;"}
      .field_30
        =employment.label :suspension_start_date, "Start Date"
        =employment.text_field :suspension_start_date, :class=>@employment.status==false ? "" : "startdatepick", :end_date=>@employment.new_record? ? "employment_suspension_end_date" : "employment_#{@employment.id}_suspension_end_date", :value=>@employment.suspension_start_date.to_s, :disabled=>@employment.status == false
      .field_30
        =employment.label :suspension_end_date, "End Date"
        =employment.text_field :suspension_end_date, :class=>@employment.status==false ? "" : "enddatepick", :start_date=>@employment.new_record? ? "employment_suspension_start_date" : "employment_#{@employment.id}_suspension_start_date", :value=>@employment.suspension_end_date.to_s, :disabled=>@employment.status == false    
      .field_33
        =employment.label :suspension_type_id, "Suspension Type"
        =employment.collection_select :suspension_type_id, SuspensionType.active_suspension_type, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}

    .form_line
      .field_22{:style => "margin-right: 2px;"}
        =employment.label :suspended_by, "Suspended By"
        =employment.text_field :suspended_by, :class=>"find_person_field", :update=>"suspender_container", :employment_id=> @employment.new_record? ? 0 : @employment.id, :disabled=>@employment.status == false
      .field_5
        %label &nbsp;
        = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => @employment.new_record? ? "employment_suspended_by" : "employment_#{@employment.id}_suspended_by", :title=>"Search"
      .field_60
        %label &nbsp;
        -if (!@employment.new_record? && !@employment.emp_suspender.nil?)
          %span{:class=>"viewname", :id=>@employment.new_record? ? "suspender_container_0" : "suspender_container_#{@employment.id}"} #{@employment.emp_suspender.name}
        -else
          %span{:class=>"viewname", :id=>@employment.new_record? ? "suspender_container_0" : "suspender_container_#{@employment.id}"} &nbsp;

    .form_line
      .field_25
        =employment.label :suspension_reason, "Suspension Reason"
        =employment.text_field :suspension_reason, :disabled=>@employment.status == false
      .field_70
        =employment.label :suspension_remarks, "Suspension Remarks"
        =employment.text_field :suspension_remarks, :disabled=>@employment.status == false

.header_container
  .form_line
    .field_full
      =link_to_function image_tag('/images/Icons/System/expand.png', :style=>"float:right"), :class => "toggle_button close_image", :toggle_id_name => @employment.new_record? ? "termination_div" : "termination_div_#{@employment.id}"
      = "Termination"

  %div{:style => "display:none", :id => @employment.new_record? ? "termination_div" : "termination_div_#{@employment.id}"}
    .form_line{:style => "float:none;"}
      .field_30
        =employment.label :termination_notice_date, "Notice Date"
        =employment.text_field :termination_notice_date, :class=>@employment.status==false ? "" : "startdatepick", :end_date=>@employment.new_record? ? "employment_termination_date" : "employment_#{@employment.id}_termination_date", :value=>@employment.termination_notice_date.to_s, :disabled=>@employment.status == false
      .field_30
        =employment.label :termination_date, "End Date"
        =employment.text_field :termination_date, :class=>@employment.status==false ? "" : "enddatepick", :start_date=>@employment.new_record? ? "employment_termination_notice_date" : "employment_#{@employment.id}_termination_notice_date", :value=>@employment.termination_date.to_s, :disabled=>@employment.status == false
      .field_33
        =employment.label :termination_method_id, "Termination Method"
        =employment.collection_select :termination_method_id, TerminationMethod.active_termination_method, :id, :name, {:include_blank => true}, {:disabled=>@employment.status == false}
      
    .form_line
      .field_25{:style => "margin-right: 2px;"}
        =employment.label :terminated_by, "Terminated By"
        =employment.text_field :terminated_by, :class=>"find_person_field", :update=>"terminator_container", :employment_id=> @employment.new_record? ? 0 : @employment.id, :disabled=>@employment.status == false
      .field_5
        %label &nbsp;
        = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => @employment.new_record? ? "employment_terminated_by" : "employment_#{@employment.id}_terminated_by", :title=>"Search"
      .field_60
        %label &nbsp;
        -if (!@employment.new_record? && !@employment.emp_terminator.nil?)
          %span{:class=>"viewname", :id=>@employment.new_record? ? "terminator_container_0" : "terminator_container_#{@employment.id}"} #{@employment.emp_terminator.name}
        -else
          %span{:class=>"viewname", :id=>@employment.new_record? ? "terminator_container_0" : "terminator_container_#{@employment.id}"} &nbsp;

    .form_line
      .field_25
        =employment.label :termination_reason, "Termination Reason"
        =employment.text_field :termination_reason, :disabled=>@employment.status == false
      .field_70
        =employment.label :terminated_remarks, "Termination Remarks"
        =employment.text_field :termination_remarks, :disabled=>@employment.status == false


