-# The main Employment tab
.container
  .header_container
    .options
      = link_to_function image_tag('close_icon.png'), :class => "clear_employment_form person_employments_close toggle_button", :toggle_id_name => "new_employment", :style => "display:none"
    .title
      = link_to_function image_tag('add_icon.png'), :id=>"add_employment", :class=>"person_employments_toggle_button", :toggle_id_name => "new_employment" if (!@person.nil? && !@person.new_record?)     
    %h1 Employment Details
    %input{:type => "text", :id => "employment_hidden_tab" :mode => "show", :style => "display:none"}
    
    -# Initially hidden new employment form
    -form_for([@person,@employment], :html => {:style => "display:none", :class => 'ajax_form'}) do |employment|      
      = render :partial => '/employments/employment_form', :locals => { :employment => employment }
      = submit_tag 'Submit'
    
  #employments
    =# Render the person's employments
    = render :partial => '/employments/employment', :collection => person.employments
        
          
      