

- form_for :allocation_type, @allocation_type, :url => {:controller => "allocation_types", :action => "create_allocation_type" }, :html => {:class => 'ajax_form'}  do |f|
  .form_line
    .field_15
      = f.label :long_name, "<span class='asterisk'>*</span> Name", :class => "required_field"
      = f.text_field :name, :class => "new_allocation_type_required_field mandantory_field", :id => "new_allocation_type_name", :mandantory_field1=>"allocation_type_link_module_id",:mandantory_field2=>"new_allocation_type_name", :submit_button_id=>"new_allocation_type_submit"
  .form_line
    .field_30
      = f.label :description, "Description"
      = f.text_field :description
    .field_30
      = f.label :link_module_id, "<span class='asterisk'>*</span>Link Module"
      = f.collection_select(:link_module_id, LinkModule.active_link_module_type, :id, :name, {:include_blank => true},{:class=>"mandantory_dropdown_list",:mandantory_field1=>"new_allocation_type_name", :mandantory_field2=>"allocation_type_link_module_id", :submit_button_id=>"new_allocation_type_submit"})
  .form_line
    .field_63
      = f.label :remarks, "Remarks"
      = f.text_field :remarks
    
  .form_line
    
    .field_17
      = f.label :post_to_history, "Post to History"
      = f.check_box :post_to_history, :class => "checkbox_style", :style => "margin-left:18%;"
    
    .field_17
      = f.label :post_to_campaign, "Post to Campaign"
      = f.check_box :post_to_campaign,:class => "checkbox_style", :style => "margin-left:18%;"
   

    .field_17
      = f.label :send_receipt, "Send Receipt"
      = f.check_box :send_receipt,:class => "checkbox_style", :style => "margin-left:18%;"
   
        
    .field_17
      = f.label :status, "Active"
      = f.check_box :status, :class => "checkbox_style", :style => "margin-left:6%;", :checked => true

     
  .form_line
    .field_10{:style => "float:right;"}
      = submit_tag "Submit", :disabled => true, :id => "new_allocation_type_submit"
