- form_for person,:html=>{:id=>"person_names_form",:class=>"ajax_form"} do |p|
  %fieldset
    %h3 Name Details
    .form_line
      .field_20
        %label{:for=>"custom_id"} Custom ID
        %input.custom_id
      %br{:style=>"clear: both;"}
    .form_line
      .field_20
        = p.label :title_id, 'Title'
        = p.collection_select :title_id, Title.active_title, :id, :name, {:include_blank => true}
      .field_40
        = p.label :first_name, "First Name"
        = p.text_field :first_name
      .field_40
        = p.label :family_name, "Family Name"
        = p.text_field :family_name
      %br{:style=>"clear: both;"}
    .form_line
      .field_20
        = p.label :second_title_id, '2nd Title'
        = p.collection_select :second_title_id, Title.active_title, :id, :name, {:include_blank => true}
      .field_40
        = p.label :middle_name, "Middle Name"
        = p.text_field :middle_name
      .field_40
        = p.label :maiden_name, "Maiden Name"
        = p.text_field :maiden_name
      %br{:style=>"clear: both;"}
    .form_line
      .field_20
        = p.label :initials, "Initials"
        = p.text_field :initials
      .field_40
        = p.label :post_title, "Post Name"
        = p.text_field :post_title
      .field_40
        = p.label :preferred_name, "Preferred Name"
        = p.text_field :preferred_name        
      %br{:style=>"clear: both;"}
    %fieldset
      %h3 Salutations
      .form_line
        .field_60
          = p.label :primary_salutation, "Primary Salutation"
          = p.text_field :primary_salutation
      .form_line
        .field_60
          = p.label :second_salutation, "2nd Salutation"
          = p.text_field :second_salutation
    = p.submit "Submit"

