#left_content
  - form_for @person, :html=>{:multipart => true, :id=>"person_names_form"} do |p|
    .container
      = p.text_field :custom_id
      %h1 Custom ID
      %input.hidden{:id => :person_id, :value => @person.id}

    .container
      %h1 Name Details
      = render :partial => 'person_name_fields', :locals => {:p => p}
    .container
      %h1 Personal Details
      = render :partial => 'person_details_fields', :locals => {:p => p}
    .container
      %h1{:style=>"float:left"} Picture
      = render :partial => '/images/show_photo', :locals => {:entity => @person}
    = submit_tag 'Submit and Close', :style => 'float:right;'
    = submit_tag 'Submit', :style => 'float:right;', :name => 'edit'