%div.list_menu
  -form_tag(:controller => "list", :action => "show", :id => "") do
    = link_to(image_tag 'back.png')
    = link_to(image_tag 'back.png')
    %select{:id => "list_header_name", :disabled => (@list_headers.blank?), :name => "list_header_id"}
      - @list_headers.each do |r|
        %option{:value => "#{r.id}"} #{r.name}
    = link_to image_tag 'go.png'
    = link_to image_tag 'go.png'

  -#form_tag(:controller => "list", :action => "show", :id => "") do
    = link_to((image_tag 'back.png'), person_path(@p.first))
    = link_to((image_tag 'back.png'), person_path(@p[@p.index(@person)-1]))
    = select_tag 'list', :name, :id => 'select_tag'

    -if @p.index(@person) != @p.index(@p.last)
      = link_to((image_tag 'go.png'), person_path(@p[@p.index(@person)+1]))
    -else
      = link_to((image_tag 'go.png'), person_path(@p.first))
 
    = link_to((image_tag 'go.png'), person_path(@p.last))