.container
  -if person.image.nil?
    = image_tag 'Icons/System/image-missing.png', {:class => "thumb"}
  -else
    = image_tag image_path(person.image.id), {:class => "thumb"}
  %div{:style=>"width:86%;height:132px;float:right;"}
    %div{:style=>"width:100%;height:100%;float:left;"}
      .form_line
        .field_100{:style=>"height:100%;"}
          %h1 #{person.id} #{person.name}
      .form_line
        .field_20
          = label_tag :customerid,"Customer ID"
          %div.display_field_bg
            #{person.custom_id}
        .field_20{:style=>"margin-left:140px;"}
          = label_tag :employer, "Employer"
          %div.display_field_bg
            = person.employers.first.nil? ? "" : person.employers.first.full_name
        .field_20{:style=>"margin-left:20px;"}
          = label_tag :role, "Role"
          %div.display_field_bg
          = person.roles.first.nil? ? "" : person.roles.first.name
        %br.clear
      .form_line
        .field_20
          = label_tag :on_record_since, "On Record Since"
          %div.display_field_bg
            #{person.onrecord_since.to_s}
        .field_20{:style=>"margin-left:140px;"}
          = label_tag :groups, "Groups"
          %div.display_field_bg
            = person.group_types.first.nil? ? "" : person.group_types.first.name
            = person.group_types.first.nil? ? "" : person.group_types.first.type
        %br.clear