.container
  -if person.image.nil?
    = image_tag 'Icons/System/image-missing.png', {:class => "thumb"}
  -else
    = image_tag thumb_image_path(person.image.id), {:class => "thumb"}

  %table#name_card
    %tbody
      %tr
        %td.w2
        %td.w32
          = "#{person.id} - #{person.name}"
        %td.w32
          = "Date of Birth : #{person.birth_date.to_s}"
        %td.w20
          = h "<Other1>"
        %td.w25
      %tr
        %td
        %td
          = "Customer ID : #{person.custom_id}"
        %td
          Gender :
          = "#{person.gender.name}" unless person.gender.nil?
        %td
          = h "<Other2>"
        %td
      %tr
        %td
        %td
          = "On Record Since : #{person.onrecord_since.to_s}"
        %td
          Religion :
          = "#{person.religion.name}" unless person.religion.nil?
        %td
        %td.textright
          = link_to 'Go to Profile', person unless person.blank?
          or
          = link_to 'Edit', edit_person_path(person) unless person.blank?