%div.info_container

  -if person.image.nil?
    = image_tag 'no_photo.jpeg', {:class => "thumb"}
  -else
    = image_tag thumb_image_path(person.image.id), {:class => "thumb"}

  %table#name_card
    %tbody
      %tr
        %td.w30
          = "#{person.id} - #{person.name}"
        %td.w30
          = "Date of Birth : #{person.birth_date}"
        %td.w20
          = h "<Other1>"
        %td.w20
      %tr
        %td.w30
          = "Customer ID : #{person.custom_id}"
        %td.w30
          = "Gender : #{person.gender}"
        %td.w20
          = h "<Other2>"
        %td.w20
      %tr
        %td.w30
          = "On Record Since : #{person.onrecord_since}"
        %td.w30
          Religion :
          = "#{person.religion.name}" unless person.religion.nil?
        %td.w20
        %td.w20.textright
          = link_to 'Go to Profile', person unless person.blank?
          or
          = link_to 'Edit', edit_person_path(person) unless person.blank?
  %br.clear