.form_line
  .field_33
    = p.label :birth_date,"Date Of Birth"
    = p.text_field :birth_date, :class=>"datepick"
  .field_20
    = p.label :age, "Age"
    = p.text_field :age, :disabled => 'true', :id => 'age'
  %br.clear
.form_line
  .field_33
    = p.label :marital_status, 'Marital Status'
    = p.select :marital_status, Person::MARITAL_STATUS, {:include_blank => true}
  .field_20
    = p.label :gender, 'Gender'
    = p.select :gender, Person::GENDER, {:include_blank => true}
  .field_33
    = p.label :religion_id, 'Religion'
    = p.collection_select :religion_id, Religion.all, :id, :name, {:include_blank => true}
  %br.clear
.form_line
  .field_33
    = p.label :origin_country_id,'Country Of Origin'
    = p.collection_select :origin_country_id, Country.all, :id, :short_name, {:include_blank => true}
  .field_33
    = p.label :nationality_id, 'Nationality'
    = p.collection_select :nationality_id, Country.all, :id, :citizenship, {:include_blank => true}
  .field_33
    = p.label :language_id, 'Language'
    = p.collection_select :language_id, Language.all, :id, :name, {:include_blank => true}
  %br.clear
.form_line
  .field_33
    = p.label :residence_country_id,"Country Of Residence"
    = p.collection_select :nationality_id, Country.all, :id, :short_name, {:include_blank => true}
  .field_33
    = p.label :other_nationality_id,"Other Nationality"
    = p.collection_select :other_nationality_id, Country.all, :id, :citizenship, {:include_blank => true}
  .field_33
    = p.label :other_language,"Other Language"
    = p.collection_select :other_language_id, Language.all, :id, :name, {:include_blank => true}
  %br.clear
.form_line
  .field_33
    = p.label :industry_sector,"Industry Sector"
    = p.select :industry_sector, Person::INDUSTRY_SECTOR, {:include_blank => true}
  .field_63
    = p.label :interests,"Interests"
    = p.text_field :interests
  %br.clear