#tabs2
  = render :partial => 'person_menu'
  #PersonDetail
    .container
      -#.header_container
        .title
          %h1 Group Detail
        %br.clear
      #persondetail
        =render :partial => '/people/person_details',:locals => {:p => @person}
  #Address
    .container
      -#.header_container
        .title
          %h1 Address Detail
        %br{ :style=>"clear: both;"}
      #addresses
      =# Render the person's addresses
      = render :partial => '/people/person_address', :collection => @person.addresses
  #Contact
    .container
      -#.header_container
        .title
          %h1 Contact Detail

        %br{ :style=>"clear: both;"}
   
      #contacts
      =# Render the person's contacts
      -if !@person.phones.blank?
        .container
          %h1 Phone
          #contact_phone
            = render :partial => '/people/person_contact', :collection => @person.phones
      -if !@person.emails.blank?
        .container
          %h1 Email
          #contact_email
            = render :partial => '/people/person_contact', :collection => @person.emails
      -if !@person.websites.blank?
        .container
          %h1 Website
          #contact_website
            = render :partial => '/people/person_contact', :collection => @person.websites
      -if !@person.instant_messagings.blank?
        .container
          %h1 IM
          #contact_instant_messaging
            = render :partial => '/people/person_contact', :collection => @person.instant_messagings
  #Keyword
    .container
      -#.header_container
        .title
          %h1 Keyword Detail

        %br{ :style=>"clear: both;"}
      #keywords
      =# Render the person's keywords
      = render :partial => '/people/person_keyword', :collection => @person.keywords
  #MasterDocs
    .container
      -#.header_container
        .title
          %h1 MasterDoc Detail

        %br{ :style=>"clear: both;"}
      #masterdocs
      =# Render the person's masterdocs
      -#= render :partial => '/people/person_master_doc', :collection => @person.master_docs

  #Rels
    .container
      -#.header_container
        .title
          %h1 Relationship Detail

        %br{ :style=>"clear: both;"}
      #masterdocs
      =# Render the person's addresses
      = render :partial => '/people/person_relationship_container', :locals => {:type => 'Father', :relations => @person.related_people.of_type('Father')}

      = render :partial => '/people/person_relationship_container', :locals => {:type => 'Mother', :relations => @person.related_people.of_type('Mother')}

      = render :partial => '/people/person_relationship_container', :locals => {:type => 'Spouse', :relations => @person.related_people.of_type('Spouse')}

      = render :partial => '/people/person_relationship_container', :locals => {:type => 'Children', :relations => @person.source_people.of_type('Father').concat(@person.source_people.of_type('Mother'))}

      = render :partial => '/people/person_relationship_container', :locals => {:type => 'Siblings', :relations => @person.siblings}

      = render :partial => '/people/person_relationship_container', :locals => {:type => 'Next of Kin', :relations => @person.related_people.of_type('Next of Kin')}

  #Note
    .container
      -#.header_container
        .title
          %h1 Note Detail

        %br{ :style=>"clear: both;"}
      #notes_list
      =# Render the person's notes
      = render :partial => '/people/person_note', :collection => @person.sorted_notes
  #Role
    .container
      -#.header_container
        .title
          %h1 Person Role
        %br{ :style=>"clear: both;"}
      #roles
      %ul
        =render :partial => '/people/person_role', :collection => @person.person_roles, :locals => {:person => @person}
  #Employment
    .container
      -#.header_container
        .title
          %h1 Employment Detail
        %br.clear
      #employments
        =render :partial => '/people/person_employment', :collection => @person.employments, :locals => {:person => @person}
  #Group
    .container
      -#.header_container
        .title
          %h1 Group Detail
        %br.clear
      #groups
        =render :partial => '/people/person_group', :collection => @person.person_groups, :locals => {:person => @person}
  #Account
    .container
      -#.header_container
        .title
          %h1 Bank Account Detail
        %br.clear
      #groups
        =render :partial => '/people/person_account', :collection => @person.person_bank_accounts, :locals => {:person => @person}

  

