%ul
  %li
    %a{:href=>"#Contact", :title=> 'Contact'}
      = image_tag('Icons/Core/Person/tabs/contact_BW.png')
  %li
    %a{:href=>"#Address", :title=> 'Address'} 
      = image_tag('Icons/Core/Person/tabs/address_BW.png')
  %li
    %a{:href=>"#Keyword", :title=> 'Keywords'} 
      =image_tag('Icons/Core/Person/tabs/keywords_BW.png')
  %li
    %a{:href=>"#MasterDocs",:title=> 'Master Docs'}
      = image_tag('Icons/Core/Person/tabs/masterdocs_BW.png')
  %li
    %a{:href=>"#Rels", :title=> 'Relationships'} 
      = image_tag('Icons/Core/Person/tabs/p2p_BW.png')
  %li
    %a{:href=>"#Note", :title=> 'Note'} 
      = image_tag('Icons/Core/Person/tabs/notes_BW.png')
  %li
    %a{:href=>"#Role", :title => 'Role'}
      = image_tag('Icons/Core/Person/tabs/roles_BW.png')
  %li
    %a{:href=>"#Employment", :title => "Employment"}
      = image_tag('Icons/Core/Person/tabs/employment_BW.png')
  %li
    %a{:href=>"#Group", :title => 'Group'}
      = image_tag('Icons/Core/Person/tabs/groups_BW.png')
