.tab_ui{:style=>"margin-top:10px;margin-left:10px;"}
  #PersonDetail{:style => "float:left;", :title=> 'PersonDetail',  :class => "person_edit_tab active", :field => "person_detail"}
    = link_to_function image_tag('/images/Icons/Core/Person/tabs/person_detail_title.png'), :class=>"tab_switch_button page_initial hidden", :url => "/people/page_initial", :method => "GET", :render_page => "/people/person_details", :field => "person_detail_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('/images/Icons/Core/Person/tabs/person_detail_title.png'), :class=>"tab_switch_with_page_initial", :field => "person_detail_page"

  #Address{:style => "float:left;margin-left:10px;", :title=> 'Address', :class => "person_edit_tab", :field => "address"}
    = link_to_function image_tag('/images/Icons/Core/Person/tabs/address_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/addresses/page_initial", :method => "GET", :render_page => "/people/person_address", :field => "address_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('/images/Icons/Core/Person/tabs/address_BW.png'), :class=>"tab_switch_with_page_initial", :field => "address_page"

  #Contact{:style => "float:left;margin-left:10px;", :title=> 'Contact', :class => "person_edit_tab", :field => "contact"}
    = link_to_function image_tag('/images/Icons/Core/Person/tabs/contact_BW.png'),:class=>"tab_switch_button page_initial hidden", :url => "/contacts/page_initial",:method => "GET", :render_page => "/people/person_contact", :field => "contact_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('/images/Icons/Core/Person/tabs/contact_BW.png'), :class=>"tab_switch_with_page_initial", :field => "contact_page"

  #Keyword{:style => "float:left;margin-left:10px;", :title=> 'Keyword', :class => "person_edit_tab", :field => "keywords"}
    = link_to_function image_tag('Icons/Core/Person/tabs/keywords_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/keywords/page_initial", :method => "GET", :render_page => "/people/person_keyword", :field => "keywords_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('Icons/Core/Person/tabs/keywords_BW.png'), :class=>"tab_switch_with_page_initial", :field => "keywords_page"

  #MasterDoc{:style => "float:left;margin-left:10px;",:title=> 'Master Doc', :class => "person_edit_tab", :field => "masterdocs"}
    = link_to_function image_tag('Icons/Core/Person/tabs/masterdocs_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/master_docs/page_initial", :method => "GET", :render_page => "/people/person_master_doc", :field => "masterdocs_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('Icons/Core/Person/tabs/masterdocs_BW.png'), :class=>"tab_switch_with_page_initial", :field => "masterdocs_page"

  #Rels{:style => "float:left;margin-left:10px;", :title=> 'Relationship', :class => "person_edit_tab", :field => "p2p"}
    = link_to_function image_tag('Icons/Core/Person/tabs/p2p_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/relationships/page_initial", :method => "GET", :render_page => "/people/person_relationship", :field => "p2p_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('Icons/Core/Person/tabs/p2p_BW.png'), :class=>"tab_switch_with_page_initial", :field => "p2p_page"

  #Note{:style => "float:left;margin-left:10px;", :title=> 'Note', :class => "person_edit_tab", :field => "notes"}
    = link_to_function image_tag('Icons/Core/Person/tabs/notes_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/notes/page_initial", :method => "GET", :render_page => "/people/person_note", :field => "notes_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('Icons/Core/Person/tabs/notes_BW.png'), :class=>"tab_switch_with_page_initial", :field => "notes_page"

  #Role{:style => "float:left;margin-left:10px;", :title => 'Role', :class => "person_edit_tab", :field => "roles"}
    = link_to_function image_tag('Icons/Core/Person/tabs/roles_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/person_roles/page_initial", :method => "GET", :render_page => "/people/person_role", :field => "roles_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('Icons/Core/Person/tabs/roles_BW.png'), :class=>"tab_switch_with_page_initial", :field => "roles_page"

  #Employment{:style => "float:left;margin-left:10px;", :title => "Employment", :class => "person_edit_tab", :field => "employment"}
    = link_to_function image_tag('Icons/Core/Person/tabs/employment_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/employments/page_initial", :method => "GET", :render_page => "/people/person_employment", :field => "employment_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('Icons/Core/Person/tabs/employment_BW.png'), :class=>"tab_switch_with_page_initial", :field => "employment_page"

  #Group{:style => "float:left;margin-left:10px;", :title => 'Group', :class => "person_edit_tab", :field => "groups"}
    = link_to_function image_tag('Icons/Core/Person/tabs/groups_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/person_groups/page_initial", :method => "GET", :render_page => "/people/person_group", :field => "groups_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('Icons/Core/Person/tabs/groups_BW.png'), :class=>"tab_switch_with_page_initial", :field => "groups_page"

  #Account{:style => "float:left;margin-left:10px;", :title => 'Account', :class => "person_edit_tab", :field => "banking"}
    = link_to_function image_tag('Icons/Core/Person/tabs/banking_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/person_bank_accounts/page_initial", :method => "GET", :render_page => "/people/person_account", :field => "banking_page",:params1 => @person.id, :type => "Person"
    = link_to_function image_tag('Icons/Core/Person/tabs/banking_BW.png'), :class=>"tab_switch_with_page_initial", :field => "banking_page"

  #Extra{:style => "float:left;margin-left:10px;", :title => "extra fields", :class => "person_edit_tab", :field =>  "extra"}
    = link_to_function image_tag('Icons/Core/Person/tabs/keywords_BW.png'), :class => "tab_switch_button page_initial hidden", :url => "/extras/page_initial", :method => "GET", :render_page => "/extras/display_extra_only", :field => "extra_page", :params1 => @person.id, :type => "Person"
    = link_to_function image_tag('Icons/Core/Person/tabs/keywords_BW.png'), :class=> "tab_switch_with_page_initial", :field => "extra_page"

.container
  
  #person_detail_page.tab_switch_container.active
    =render :partial => '/people/person_details',:locals => {:p => @person}

  #address_page.tab_switch_container

  #contact_page.tab_switch_container

  #keywords_page.tab_switch_container

  #masterdocs_page.tab_switch_container

  #p2p_page.tab_switch_container
    
  #notes_page.tab_switch_container
   
  #roles_page.tab_switch_container
    
  #employment_page.tab_switch_container
    
  #groups_page.tab_switch_container
    
  #banking_page.tab_switch_container

  #extra_page.tab_switch_container

