-# Displays A Contact
-div_for(person_contact, :class => 'header_container toggle_options', :field => "person_contact") do
  %div
    .title
      %h2= "#{person_contact.contact_meta_type.name}"
    %div{:style => "float:right;"}
      = "#{person_contact.pre_value} #{person_contact.value} #{person_contact.post_value}".squeeze(" ").strip
      %br
      = person_contact.remarks