%div.container
  %div.toggle_div{:toggle_id_name => "receipting_details", :style => "cursor: pointer;"}
    .options
      = image_tag('Icons/System/collapse.png')
    %h1 Receipting

  %div#receipting_details.left{:style => "width:100%;"}
    .container
      .right
        -#= link_to "Transaction", :controller => "transactions", :action => "personal_transaction"
      %h2 Last Transaction
      .form_line
        .field_31
          %label Date
          .display_field_bg

        .field_31
          %label Amount
          .display_field_bg

        .field_31
          %label Status
          .display_field_bg

    .container
      %h2 YTD Total
      .form_line
        .field_31
          %label NO.Transactions
          .display_field_bg

        .field_31
          %label Amount
          .display_field_bg

        .field_31
          %label Average Transaction
          .display_field_bg
            




%div.container
  %div.toggle_div{:toggle_id_name => "membership_details", :style => "cursor: pointer;"}
    .options
      = image_tag('Icons/System/expand.png')
    %h1 Membership

  %div#membership_details.left{:style => "width:100%;display:none;"}
    %br
    %br

%div.container
  %div.toggle_div{:toggle_id_name => "fundrainsing_details", :style => "cursor: pointer;"}
    .options
      = image_tag('Icons/System/expand.png')
    %h1 Fundrainsing

  %div#fundrainsing_details.left{:style => "width:100%;display:none;"}
    %br
    %br

%div.container
  %div.toggle_div{:toggle_id_name => "case_management_details", :style => "cursor: pointer;"}
    .options
      = image_tag('Icons/System/expand.png')
    %h1 Case Management

  %div#case_management_details.left{:style => "width:100%;display:none;"}
    %br
    %br

%div.container
  %div.toggle_div{:toggle_id_name => "events_details", :style => "cursor: pointer;"}
    .options
      = image_tag('Icons/System/expand.png')
    %h1 Events

  %div#events_details.left{:style => "width:100%;display:none;"}
    %br
    %br