-first_title = @current_user.default_value.default_first_title_id
.form_line
  .field_20
    = p.label :title_id, '1st Title1'
    = p.collection_select :primary_title_id, @active_title, :id, :name, {:include_blank => true,:selected => @person.new_record? ? first_title : @person.primary_title_id }, {:class => @personal_check_field.include?("primary_title") ? "personal_check_field":""}
  .field_40
    = p.label :first_name, "First Names"
    = p.text_field :first_name, :class=> @personal_check_field.include?('first_name') ? 'personal_check_field' : ''
  .field_35
    = p.label :family_name, "<span class='asterisk'>*</span>Family Name"
    = p.text_field :family_name, :class=> @personal_check_field.include?("family_name") ? "personal_check_field mandantory_field" : "mandantory_field", :mandantory_field1=>"person_family_name",:submit_button_id=>@current_action=="new" ? "new_person_submit" : "edit_person_submit"
.form_line
  .field_20
    = p.label :second_title_id, '2nd Title'
    = p.collection_select :second_title_id, @active_title, :id, :name, {:include_blank => true},{:class=>@personal_check_field.include?("second_title") ? "personal_check_field":""}
  .field_40
    = p.label :middle_name, 'Middle Names'
    = p.text_field :middle_name, :class=>@personal_check_field.include?(":middle_name") ? "personal_check_field":""
  .field_35
    = p.label :maiden_name, 'Maiden Name'
    = p.text_field :maiden_name, :class=>@personal_check_field.include?(":maiden_name") ? "personal_check_field":""
.form_line
  .field_20
    = p.label :initials, 'Initials'
    = p.text_field :initials, :class=>@personal_check_field.include?("initials") ? "personal_check_field":""
  .field_40
    = p.label :post_title, 'Post Name'
    = p.text_field :post_title, :class=>@personal_check_field.include?("post_title") ? "personal_check_field":""
  .field_35
    = p.label :preferred_name, 'Preferred Name'
    = p.text_field :preferred_name,:class=>@personal_check_field.include?("preferred_name") ? "personal_check_field":""
.container
  %h2 Salutations
  .form_line{:style => "margin-left:5px;"}
    .field_47
      = p.label :primary_salutation, "Primary"
      = p.text_field :primary_salutation, :class=>@personal_check_field.include?("primary_salutation") ? "personal_check_field":""
    .field_47
      = p.label :second_salutation, "Secondary"
      = p.text_field :second_salutation, :class=>@personal_check_field.include?("second_salutation") ? "personal_check_field":""
    