/show personal notes details
-div_for(person_note, :class => 'header_container') do
  %div
    .title
      -#= "#{person_note.id} #{person_note.note_type.name}"
      %h2= h person_note.created_at.to_s(:long)

    %br{ :style => "clear:both;"}
  %div{:style => "float:right;"}
    .attr_name
      = h person_note.short_description
      %span{:class=>("red" if person_note.note_type.to_be_removed == true)} (#{person_note.note_type.name})
    .attr_name
      = truncate(person_note.body_text, 100, "...")