%ul
  %li
    %a{:href=>"#Contact"} 
      = image_tag('tab_icons/contacts.png', :title=> 'Contact')
  %li
    %a{:href=>"#Address", :title=> 'Address'} 
      = image_tag('tab_icons/address.png')
  %li
    %a{:href=>"#Keyword", :title=> 'Keywords'} 
      =image_tag('tab_icons/keywords.png')
  %li
    %a{:href=>"#MasterDocs",:title=> 'Master Docs'}
      = image_tag('tab_icons/masterdoc.png')
  %li
    %a{:href=>"#Rels", :title=> 'Relationships'} 
      = image_tag('tab_icons/relationshipperson.png')
  %li
    %a{:href=>"#Note", :title=> 'Note'} 
      = image_tag('tab_icons/notes.png')
  %li
    %a{:href=>"#Role", :title => 'Role'} Role
  %li
    %a{:href=>"#Employment", :title => "Employment"} Employment
  %li
    %a{:href=>"#Group", :title => 'Group'} Group
