%ul
  %li
    %a{:href=>"#Contact", :title=> 'Contact', :class => "person_edit_tab active", :field => "contact"}
      = image_tag('Icons/Core/Person/tabs/contact_title.png')
  %li
    %a{:href=>"#Address", :title=> 'Address', :class => "person_edit_tab", :field => "address"}
      = image_tag('Icons/Core/Person/tabs/address_BW.png')
  %li
    %a{:href=>"#Keyword", :title=> 'Keywords', :class => "person_edit_tab", :field => "keywords"}
      =image_tag('Icons/Core/Person/tabs/keywords_BW.png')
  %li
    %a{:href=>"#MasterDocs",:title=> 'Master Docs', :class => "person_edit_tab", :field => "masterdocs"}
      = image_tag('Icons/Core/Person/tabs/masterdocs_BW.png')
  %li
    %a{:href=>"#Rels", :title=> 'Relationships', :class => "person_edit_tab", :field => "p2p"}
      = image_tag('Icons/Core/Person/tabs/p2p_BW.png')
  %li
    %a{:href=>"#Note", :title=> 'Note', :class => "person_edit_tab", :field => "notes"}
      = image_tag('Icons/Core/Person/tabs/notes_BW.png')
  %li
    %a{:href=>"#Role", :title => 'Role', :class => "person_edit_tab", :field => "roles"}
      = image_tag('Icons/Core/Person/tabs/roles_BW.png')
  %li
    %a{:href=>"#Employment", :title => "Employment", :class => "person_edit_tab", :field => "employment"}
      = image_tag('Icons/Core/Person/tabs/employment_BW.png')
  %li
    %a{:href=>"#Group", :title => 'Group', :class => "person_edit_tab", :field => "groups"}
      = image_tag('Icons/Core/Person/tabs/groups_BW.png')
