.header
  .title
.info_container
  Name:
  %input{:type => "text", :id => "list_assistant_name",  :class => "list_assistant_search", :size => "15"}
  Phone:
  %input{:type => "text", :id => "list_assistant_phone", :class => "list_assistant_search" , :size => "5"}
  Email:
  %input{:type => "text", :id => "list_assistant_email", :class => "list_assistant_search", :size => "5"}
  %table#search_list_results.display
    %thead
      %tr
        %th System ID
        %th Name
        %th Phone
        %th Email
        %th Address
    %tbody
      - for person in people do
        %tr{:person_id => person.id, :current_operation => current_operation}
          %td= person.id
          %td= person.name
          %td
            = person.primary_phone.value unless person.primary_phone.blank?
            = "<br />#{person.secondary_phone.value}" unless person.secondary_phone.blank?
          %td
            = person.primary_email.address unless person.primary_email.blank?
            = "<br />#{person.secondary_email.address}" unless person.secondary_email.blank?
          %td= format_address(person.primary_address) unless person.primary_address.blank?

  %p.submit
    = submit_tag 'Select to Edit', :style => 'float:right;', :id => "edit_list_select"
    = submit_tag 'Select to Profile', :style => 'float:right;',:id => "show_list_select"
   
%br.clear
