.header
  .title
.info_container
  %table#search_list_results.display
    %thead
      %tr
        %th System ID
        %th Name
        %th Address
        %th Phone
        %th Email
    %tbody
      - people.each do |person|
        %tr{:person_id => person.id}
          %td= person.id
          %td= person.name
          %td= person.primary_address.first_line unless person.primary_address.blank?
          %td= person.primary_phone.value unless person.primary_phone.blank?
          %td= person.primary_email.address unless person.primary_email.blank?
