#content_container
  #header
    #page_title
      %h1 Person Profile
    #lol
      = render :partial => "people/list_menu"
      %br.clear
  #left_content
    %div#photo_info
      %div#imageshow{:style => "float:left;"}
        -if @person.image.nil?
          = image_tag 'Icons/System/image-missing.png', :class => "medium"
        -else
          = image_tag(image_path(@person.image.id), :class => "medium")


      %div#person_name{:style=>"width:360px;margin-left:130px;height:140px;"}
        - if @person.id.nil?
          %h1{:style=>'visibility:hidden'} Hidden
        -else
          %h1= h "#{@person.name}"
        .form_line{:style=>"width: 193px; margin-top: 10px;"}
          %div#customerid{:style=>"width:193px;"}
            = label_tag :customerid, "Custom ID",:style=>"font-size: 12px;"
            %div.display_field_bg{:style=>"margin-left: 4px;"}
              = @person.custom_id
        .form_line{:style=>"width:193px;margin-top:2px;"}
          %div#onrecordsince{:style=>"width:193px;"}
            = label_tag :on_record_since, "On Record Since",:style=>"font-size: 12px;"
            %div.display_field_bg{:style=>"margin-left: 4px;"}
              = @person.onrecord_since.to_s
        %br

    .container
      %h1 Primary Contacts
      -unless @primary_phone.nil?
        .container
          .left
            Phone
          .right
            = @primary_phone.complete_number

      -unless @primary_website.nil?
        .container
          .left
            Website
          .right
            = @primary_website.value

      -unless @primary_email.nil?
        .container
          .left
            Email
          .right
            = @primary_email.value

    .container
      %h1= @primary_address.nil? ? "Primary Address" : "Primary Address"
      -unless @primary_address.nil?
        .container
          = format_address(@primary_address)


    .container
      %h1 Notes
      - note1_status = @person.notes.first.blank? ? "hidden" : ""
      .container{:class => "#{note1_status}"}
        %div.left
          = @person.notes.blank? ? "No Notes": @person.notes.first.id
          = @person.notes.first.note_type.name unless @person.notes.blank?
        %div.right
          = show_date(@person.notes.first.created_at)unless @person.notes.blank?
          \-
          = @person.notes.first.label unless @person.notes.blank?
          = @person.notes.first.short_description unless @person.notes.blank?
        %br.clear
      - note2_status = @person.notes.second.blank? ? "hidden" : ""
      .container{:class => "#{note2_status}"}
        %div.left
          = @person.notes.second.blank? ? "No Notes": @person.notes.second.id
          = @person.notes.second.note_type.name unless @person.notes.second.blank?

        %div.right
          = show_date(@person.notes.second.created_at)unless @person.notes.second.blank?
          \-
          = @person.notes.second.label unless @person.notes.second.blank?
          = @person.notes.second.short_description unless @person.notes.second.blank?
        %br.clear



    .container
      %h1 Employment
      - unless @primary_employment.nil?
        .container
          = format_employment(@primary_employment)



  #right_content
    #photo_info{:style => "margin-bottom:35px;"}

    .tab_switch
      .profile_tab_right{:field =>"person_info", :style => "margin-right:10px;"}
      .container_icon{:align => 'center'}
        = link_to_function "<h1>Personal</h1>",  :id=>"personal", :class=>"show_hide_button", :show_id_name => "person_info",:hide_id_name => "business_info", :color_id => "1"
      .profile_tab_left{:field =>"person_info"}
      .profile_tab_right{:field =>"business_info", :style => "background-image:url(/images/round_right.png);"}
      .container_icon{:align => 'center', :class => "container_icon_color"}
        = link_to_function "<h1>System</h1>", :id=>"business", :class=>"show_hide_button", :show_id_name => "business_info",:hide_id_name => "person_info", :color_id => "2"
      .profile_tab_left{:field =>"business_info", :style => "background-image:url(/images/round_left.png);"}



    .container#person_info{:style=>"display:none"}
      = render :partial => 'person_info'

    .container#business_info
      = render :partial => 'person_system_info'

  %br.clear


