#edit_content_container
  #header
    #page_title
      %h1 Edit Person
    #lol
      = render :partial => "/people/list_menu"
      %br.clear
  #left_content{:class => (@person.to_be_removed||!@person.status) ?  "disabled_form" : ""}
    - form_for @person, :html=>{:multipart => true, :id=>"person_names_form"} do |p|
      .container
        = p.text_field :custom_id
        %h1 Custom ID

      .container
        %h1 Name Details
        = render :partial => 'person_name_fields', :locals => {:p => p}
        %input.hidden{:id => :person_id, :value => @person.id}
      .container
        %h1 Personal Details
        = render :partial => 'person_details_fields', :locals => {:p => p}
      .container
        %h1{:style=>"float:left"} Picture
        = render :partial => '/images/show_photo', :locals => {:entity => @person}
      //= submit_tag 'Submit and Close', :style => 'float:right;'
      //= submit_tag 'Submit', :style => 'float:right;', :name => 'edit'
      = submit_tag 'Submit',:id => "edit_person_submit", :style => 'float:right;'

  #right_content{:class => (@person.to_be_removed||!@person.status) ?  "disabled_form" : ""}
    .tab_ui{:style=>"margin-left:10px;"}
      #Contact{:style => "float:left;",:title=> 'Contact', :class => @current_action == "show" ? "person_edit_tab" : "person_edit_tab active", :field => "contact"}
        = link_to_function image_tag('/images/Icons/Core/Person/tabs/contact_title.png'),:class=>"tab_switch_button page_initial hidden", :url => "/contacts/page_initial",:method => "GET", :render_page => "/contacts/contacts_tab", :field => "contact_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('/images/Icons/Core/Person/tabs/contact_title.png'), :class=>"tab_switch_with_page_initial", :field => "contact_page"
      

      #Address{:style => "float:left;margin-left:5px;", :title=> 'Address', :class => "person_edit_tab", :field => "address"}
        = link_to_function image_tag('/images/Icons/Core/Person/tabs/address_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/addresses/page_initial", :method => "GET", :render_page => "/addresses/addresses_tab", :field => "address_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('/images/Icons/Core/Person/tabs/address_BW.png'), :class=>"tab_switch_with_page_initial", :field => "address_page"

      #Keyword{:style => "float:left;margin-left:5px;", :title=> 'Keyword', :class => "person_edit_tab", :field => "keywords"}
        = link_to_function image_tag('Icons/Core/Person/tabs/keywords_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/keywords/page_initial", :method => "GET", :render_page => "keywords/keywords_tab", :field => "keywords_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/keywords_BW.png'), :class=>"tab_switch_with_page_initial", :field => "keywords_page"

      #MasterDoc{:style => "float:left;margin-left:5px;",:title=> 'Master Doc', :class => "person_edit_tab", :field => "masterdocs"}
        = link_to_function image_tag('Icons/Core/Person/tabs/masterdocs_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/master_docs/page_initial", :method => "GET", :render_page => "/master_docs/masterdocs_tab", :field => "masterdocs_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/masterdocs_BW.png'), :class=>"tab_switch_with_page_initial", :field => "masterdocs_page"

      #Rels{:style => "float:left;margin-left:5px;", :title=> 'Relationship', :class => "person_edit_tab", :field => "p2p"}
        = link_to_function image_tag('Icons/Core/Person/tabs/p2p_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/relationships/page_initial", :method => "GET", :render_page => "/relationships/relationships_tab", :field => "p2p_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/p2p_BW.png'), :class=>"tab_switch_with_page_initial", :field => "p2p_page"

      #Note{:style => "float:left;margin-left:5px;", :title=> 'Note', :class => "person_edit_tab", :field => "notes"}
        = link_to_function image_tag('Icons/Core/Person/tabs/notes_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/notes/page_initial", :method => "GET", :render_page => "/notes/notes_tab", :field => "notes_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/notes_BW.png'), :class=>"tab_switch_with_page_initial", :field => "notes_page"

      #Role{:style => "float:left;margin-left:5px;", :title => 'Role', :class => "person_edit_tab", :field => "roles"}
        = link_to_function image_tag('Icons/Core/Person/tabs/roles_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/person_roles/page_initial", :method => "GET", :render_page => "/person_roles/person_roles_tab", :field => "roles_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/roles_BW.png'), :class=>"tab_switch_with_page_initial", :field => "roles_page"

      #Employment{:style => "float:left;margin-left:5px;", :title => "Employment", :class => "person_edit_tab", :field => "employment"}
        = link_to_function image_tag('Icons/Core/Person/tabs/employment_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/employments/page_initial", :method => "GET", :render_page => "/employments/employments_tab", :field => "employment_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/employment_BW.png'), :class=>"tab_switch_with_page_initial", :field => "employment_page"

      #Group{:style => "float:left;margin-left:5px;", :title => 'Group', :class => "person_edit_tab", :field => "groups"}
        = link_to_function image_tag('Icons/Core/Person/tabs/groups_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/person_groups/page_initial", :method => "GET", :render_page => "/person_groups/group_tab", :field => "groups_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/groups_BW.png'), :class=>"tab_switch_with_page_initial", :field => "groups_page"

      #Account{:style => "float:left;margin-left:5px;", :title => 'Account', :class => "person_edit_tab", :field => "banking"}
        = link_to_function image_tag('Icons/Core/Person/tabs/banking_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/person_bank_accounts/page_initial", :method => "GET", :render_page => "/person_bank_accounts/account_tab", :field => "banking_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/banking_BW.png'), :class=>"tab_switch_with_page_initial", :field => "banking_page"

      #Extra{:style => "float:left;margin-left:5px;", :title => "Custom Field", :class => "person_edit_tab", :field =>  "custom_field"}
        = link_to_function image_tag('Icons/Core/Person/tabs/custom_field_BW.png'), :class => "tab_switch_button page_initial hidden", :url => "/extras/page_initial", :method => "GET", :render_page => "/extras/extra_tab", :field => "custom_field_page", :params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/custom_field_BW.png'), :class=> "tab_switch_with_page_initial", :field => "custom_field_page"
        
        

    .container
      #contact_page.tab_switch_container.active
        = render :partial => "/contacts/contacts_tab", :locals => {:person => @person}
      #address_page.tab_switch_container
      #keywords_page.tab_switch_container
      #masterdocs_page.tab_switch_container
      #p2p_page.tab_switch_container
      #notes_page.tab_switch_container
      #roles_page.tab_switch_container
      #employment_page.tab_switch_container
      #groups_page.tab_switch_container
      #banking_page.tab_switch_container
      #custom_field_page.tab_switch_container

  %br.clear
    
%script{:type => "text/javascript"}
  :plain
    $(function() {
    disabled_form();
    });
    