#edit_content_container
  #header
    #page_title
      %h1 Edit Person
    #lol
      = render :partial => "/people/list_menu"
      %br.clear
  #left_content
    - form_for @person, :html=>{:multipart => true, :id=>"person_names_form"} do |p|
      .container
        = p.text_field :custom_id
        %h1 Custom ID

      .container
        %h1 Name Details
        = render :partial => 'person_name_fields', :locals => {:p => p}
        %input.hidden{:id => :person_id, :value => @person.id}
      .container
        %h1 Personal Details
        = render :partial => 'person_details_fields', :locals => {:p => p}
      .container
        %h1{:style=>"float:left"} Picture
        = render :partial => '/images/show_photo', :locals => {:entity => @person}
      //= submit_tag 'Submit and Close', :style => 'float:right;'
      //= submit_tag 'Submit', :style => 'float:right;', :name => 'edit'
      = submit_tag 'Submit',:id => "edit_person_submit", :style => 'float:right;'

  -#right_content
    #tabs
      = render :partial => 'person_menu'
      #Address
        = render :partial => "/addresses/addresses_tab",:locals =>{:person => @person}
      #Contact
        = render :partial => "/contacts/contacts_tab", :locals => {:person => @person}
      #Keyword
        = render :partial => "/keywords/keywords_tab",:locals =>{:person => @person}
      #MasterDocs
        = render :partial => "/master_docs/masterdocs_tab", :locals =>{:person => @person}
      #Rels
        = render :partial => "/relationships/relationships_tab", :locals  => {:person  => @person}
      #Note
        = render :partial => "/notes/notes_tab",:locals =>{:person => @person}
      #Role
        = render :partial => "/person_roles/person_roles_tab",:locals =>{:person => @person}
      #Employment
        = render :partial => "/employments/employments_tab",:locals =>{:person => @person}
      #Group
        = render :partial => "/person_groups/group_tab",:locals =>{:person => @person}
      #Account
        = render :partial => "/person_bank_accounts/account_tab",:locals =>{:person => @person}

  #right_content
    .tab_ui
      #Contact{:style => "float:left;",:title=> 'Contact', :class => @current_action == "show" ? "person_edit_tab" : "person_edit_tab active", :field => "contact"}
        = link_to_function image_tag('/images/Icons/Core/Org/tabs/contact_title.png'),:class=>"tab_switch_button page_initial hidden", :url => "/contacts/page_initial",:method => "GET", :render_page => "/contacts/contacts_tab", :field => "contacts_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('/images/Icons/Core/Org/tabs/contact_title.png'), :class=>"tab_switch_with_page_initial", :field => "contacts_page"
      

      #Address{:style => "float:left;margin-left:10px;", :title=> 'Address', :class => "person_edit_tab", :field => "address"}
        = link_to_function image_tag('/images/Icons/Core/Org/tabs/address_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/addresses/page_initial", :method => "GET", :render_page => "/addresses/addresses_tab", :field => "addresses_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('/images/Icons/Core/Org/tabs/address_BW.png'), :class=>"tab_switch_with_page_initial", :field => "addresses_page"

      #Keyword{:style => "float:left;margin-left:10px;", :title=> 'Keyword', :class => "person_edit_tab", :field => "keywords"}
        = link_to_function image_tag('Icons/Core/Person/tabs/keywords_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/keywords/page_initial", :method => "GET", :render_page => "keywords/keywords_tab", :field => "keywords_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/keywords_BW.png'), :class=>"tab_switch_with_page_initial", :field => "keywords_page"

      #MasterDoc{:style => "float:left;margin-left:10px;",:title=> 'Master Doc', :class => "person_edit_tab", :field => "masterdocs"}
        = link_to_function image_tag('Icons/Core/Person/tabs/masterdocs_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/master_docs/page_initial", :method => "GET", :render_page => "/master_docs/masterdocs_tab", :field => "master_docs_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/masterdocs_BW.png'), :class=>"tab_switch_with_page_initial", :field => "master_docs_page"

      #Rels{:style => "float:left;margin-left:10px;", :title=> 'Relationship', :class => "person_edit_tab", :field => "p2p"}
        = link_to_function image_tag('Icons/Core/Person/tabs/p2p_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/relationships/page_initial", :method => "GET", :render_page => "/relationships/relationships_tab", :field => "relationships_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/p2p_BW.png'), :class=>"tab_switch_with_page_initial", :field => "relationships_page"

      #Note{:style => "float:left;margin-left:10px;", :title=> 'Note', :class => "person_edit_tab", :field => "notes"}
        = link_to_function image_tag('Icons/Core/Person/tabs/notes_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/notes/page_initial", :method => "GET", :render_page => "/notes/notes_tab", :field => "notes_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/notes_BW.png'), :class=>"tab_switch_with_page_initial", :field => "notes_page"

      #Role{:style => "float:left;margin-left:10px;", :title => 'Role', :class => "person_edit_tab", :field => "roles"}
        = link_to_function image_tag('Icons/Core/Person/tabs/roles_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/person_roles/page_initial", :method => "GET", :render_page => "/person_roles/person_roles_tab", :field => "person_roles_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/roles_BW.png'), :class=>"tab_switch_with_page_initial", :field => "person_roles_page"

      #Employment{:style => "float:left;margin-left:10px;", :title => "Employment", :class => "person_edit_tab", :field => "employment"}
        = link_to_function image_tag('Icons/Core/Person/tabs/employment_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/employments/page_initial", :method => "GET", :render_page => "/employments/employments_tab", :field => "employments_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/employment_BW.png'), :class=>"tab_switch_with_page_initial", :field => "employments_page"

      #Group{:style => "float:left;margin-left:10px;", :title => 'Group', :class => "person_edit_tab", :field => "groups"}
        = link_to_function image_tag('Icons/Core/Person/tabs/groups_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/person_groups/page_initial", :method => "GET", :render_page => "/person_groups/group_tab", :field => "person_groups_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/groups_BW.png'), :class=>"tab_switch_with_page_initial", :field => "person_groups_page"

      #Account{:style => "float:left;margin-left:10px;", :title => 'Account', :class => "person_edit_tab", :field => "banking"}
        = link_to_function image_tag('Icons/Core/Person/tabs/banking_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/person_bank_accounts/page_initial", :method => "GET", :render_page => "/person_bank_accounts/account_tab", :field => "person_bank_accounts_page",:params1 => @person.id, :type => "Person"
        = link_to_function image_tag('Icons/Core/Person/tabs/banking_BW.png'), :class=>"tab_switch_with_page_initial", :field => "person_bank_accounts_page"
        
        
        
        
      
    #contacts_page.tab_switch_container.active
      = render :partial => "/contacts/contacts_tab", :locals => {:person => @person}
    #addresses_page.tab_switch_container.active
      -#= render :partial => "/addresses/addresses_tab",:locals =>{:person => @person}
    #keywords_page.tab_switch_container.active
      -#= render :partial => "/keywords/keywords_tab",:locals =>{:person => @person}
    #master_docs_page.tab_switch_container.active
      -#= render :partial => "/master_docs/masterdocs_tab",:locals =>{:person => @person}
    #relationships_page.tab_switch_container.active
      -#= render :partial => "/relationships/relationships_tab"",:locals =>{:person => @person}
    #notes_page.tab_switch_container.active
      -#= render :partial => "/notes/notes_tab",:locals =>{:person => @person}
    #person_roles_page.tab_switch_container.active
      -#= render :partial => "/person_roles/person_roles_tab",:locals =>{:person => @person}
    #employments_page.tab_switch_container.active
      -#= render :partial => "/person_roles/person_roles_tab",:locals =>{:person => @person}
    #person_groups_page.tab_switch_container.active
      -#= render :partial => "/person_groups/group_tab",:locals =>{:person => @person}
    #person_bank_accounts_page.tab_switch_container.active
      -#= render :partial => "/person_bank_accounts/account_tab",:locals =>{:person => @person}
      
  %br.clear
    

    