#header
  #page_title
    %h1 Find Person
  #lol
#left_content
  %div.container
    %h1 Find by Person
    %div
      - form_for @person, :url => {:action => 'search'}, :html => {:method => :post} do |p|
        .container
          %h2 Record Details
          .form_line
            .field_20
              = p.label :id, 'System ID'
              = p.text_field :id
            .field_20
              = p.label :custom_id, 'Custom ID'
              = p.text_field :custom_id
            .field_40
              = p.label :onrecord_since, 'Recorded on'
              = p.text_field :onrecord_since, :class=>"datepick"
        .container
          %h2 Name Details
          .form_line
            .field_20
              = p.label :primary_title_id, '1st Title'
              = p.collection_select :primary_title_id, Title.active_title, :id, :name, {:include_blank => true}
            .field_40
              = p.label :first_name, "First Names"
              = p.text_field :first_name
            .field_33
              = p.label :family_name, "Family Name"
              = p.text_field :family_name
          .form_line
            .field_20
              = p.label :second_title_id, '2nd Title'
              = p.collection_select :second_title_id, Title.active_title, :id, :name, {:include_blank => true}
            .field_40
              = p.label :middle_name, 'Middle Names'
              = p.text_field :middle_name
            .field_33
              = p.label :maiden_name, 'Maiden Name'
              = p.text_field :maiden_name
          .form_line
            .field_20
              = p.label :initials, 'Initials'
              = p.text_field :initials
            .field_40
              = p.label :post_title, 'Post Names'
              = p.text_field :post_title
            .field_33
              = p.label :preferred_name, 'Preferred Names'
              = p.text_field :preferred_name
        .container
          %h2 Personal Details
          .form_line
            .field_30
              = p.label :birth_date,"Date of Birth"
              = p.text_field :birth_date, :class=>"birthdatepick"
            .field_15
              = p.label :age,"Age"
              = p.text_field :age
            .field_30
              = p.label :gender, 'Gender'
              = p.collection_select :gender_id, Gender.active_gender, :id, :name, {:include_blank => true}
          .form_line
            .field_30
              = p.label :marital_status, 'Marital Status'
              = p.collection_select :marital_status_id, MaritalStatus.active_marital_status, :id, :name, {:include_blank => true}
            .field_33
              = p.label :religion_id, 'Religion'
              = p.collection_select :religion_id, Religion.active_religion, :id, :name, {:include_blank => true}
          .form_line
            .field_30
              = p.label :origin_country_id,'Country of Origin'
              = p.collection_select :origin_country_id, Country.all, :id, :short_name, {:include_blank => true}
            .field_33
              = p.label :nationality_id, 'Nationality'
              = p.collection_select :nationality_id, Country.all, :id, :citizenship, {:include_blank => true}
            .field_30
              = p.label :language_id, 'Language'
              = p.collection_select :language_id, Language.active_language, :id, :name, {:include_blank => true}
          .form_line
            .field_30
              = p.label :residence_country_id,"Country of Residence"
              = p.collection_select :residence_country_id, Country.all, :id, :short_name, {:include_blank => true}
            .field_33
              = p.label :other_nationality_id,"Other Nationality"
              = p.collection_select :other_nationality_id, Country.all, :id, :citizenship, {:include_blank => true}
            .field_30
              = p.label :other_language,"Other Language"
              = p.collection_select :other_language_id, Language.active_language, :id, :name, {:include_blank => true}
          .form_line
            .field_30
              = p.label :industry_sector,"Industry Sector"
              = p.collection_select :industry_sector_id, IndustrySector.active_industry_sector, :id, :name, {:include_blank => true}
            .field_66
              = p.label :interests,"Interests"
              = p.text_field :interests
        = link_to_function 'Clear', :class => "clear_find_form alt_option", :style=>"float:right",:field => "left_find_by_person"
        = submit_tag 'Find', {:id => "find_button" }
        %br.clear

          

    

#right_content{:style => "margin-top:0px;"}
  %div{:id => "accordion02"}
    %h3
      %a{:href => "#"} Find by Email
    %div.container
      -form_for Email.new, :url => {:action => 'search'}, :html => {:method => :post} do |email|
        .container
          %h2 Email
          .form_line
            .field_20
              = email.label :contact_meta_type_id, 'Type'
              = email.collection_select :contact_meta_type_id, Contact.email_types, :id, :name, {:include_blank => true }
              %input{:id => "find_email_input_change_or_not", :style => "display:none", :value => "false",:class => "find_input_change_class"}
            .field_60
              = email.label :value, "Value"
              = email.text_field :value
          %br.clear
          .field_20{:style => "margin-top: 26px;"}
            = link_to_function 'Clear', :class => "clear_find_form alt_option", :style=>"float:right", :field => "right_find_by_email"
            = submit_tag 'Find'
          %br.clear

    %h3
      %a{:href => "#"} Find by Phone
    %div.container
      -form_for Phone.new, :url => {:action => 'search'}, :html => {:method => :post} do |phone|
        .container
          %h2 Phone
          .form_line
            .field_15
              = phone.label :contact_meta_type_id, 'Type'
              = phone.collection_select :contact_meta_type_id, Contact.phone_types, :id, :name, {:include_blank => true }
              %input{:id => "find_phone_input_change_or_not", :style => "display:none", :value => "false",:class => "find_input_change_class"}
            .field_15
              = phone.label :pre_value, "Pre Value"
              = phone.text_field :pre_value
            .field_30
              = phone.label :value, "value"
              = phone.text_field :value
            .field_15
              = phone.label :post_value, "Pos value"
              = phone.text_field :post_value
          %br.clear
          .field_20{:style => "margin-top: 26px;"}
            = link_to_function 'Clear', :class => "clear_find_form alt_option", :style=>"float:right", :field => "right_find_by_phone"
            = submit_tag 'Find'
          %br.clear


    %h3
      %a{:href => "#"} Find by Address
    %div.container
      -form_for Address.new, :url => {:action => 'search'}, :html => {:method => :post} do |address|
        .container
          .form_line
            .field_20
              = address.label :address_type_id, 'Type'
              = address.collection_select :address_type_id, AddressType.active_address_type, :id, :name, {:include_blank => true}
            .field_40
              = address.label :building_name, 'Building Name'
              = address.text_field :building_name
              %input{:id => "find_address_input_change_or_not", :style => "display:none", :value => "false",:class => "find_input_change_class"}
          .form_line
            .field_20
              = address.label :suite_unit, 'Unit Number'
              = address.text_field :suite_unit
            .field_30
              = address.label :street_number, 'Street Number'
              = address.text_field :street_number
            .field_40
              = address.label :street_name, 'Street Name'
              = address.text_field :street_name
          .form_line
            .field_40
              = address.label :town, 'Suburb/Town'
              = address.text_field :town, :id => "person_addresses_attributes_0_town"
            .field_5
              %label &nbsp;
              = link_to_function image_tag 'Icons/System/postcode_check.png', :style => 'display:inline', :class => "launch_address_assistant" ,:update_field1 =>"person_addresses_attributes_0_town", :update_field2 =>"person_addresses_attributes_0_state",:update_field3 => "person_addresses_attributes_0_postal_code", :update_field4 => "person_addresses_attributes_0_country_id", :title=>"Postcode"
            .field_45
              = address.label :state, 'State/Province'
              = address.text_field :state, :id =>"person_addresses_attributes_0_state"
          .form_line
            .field_45
              = address.label :postal_code, 'Postal Code'
              = address.text_field :postal_code, :id => "person_addresses_attributes_0_postal_code"
            .field_45
              = address.label :country, 'Country'
              = address.collection_select :country_id, Country.all, :id, :short_name, {:include_blank => true}, :id => "person_addresses_attributes_0_country_id"

          %p.submit
            = link_to_function 'Clear', :class => "clear_find_form alt_option", :style=>"float:right", :field => "right_find_by_address"
            = submit_tag 'Find'
          %br.clear
    %h3
      %a{:href => "#"} Find by Keywords
    %div.container
      -form_for Keyword.new, :url => {:action => 'search'}, :html => {:method => :post} do |keyword|
        .container
          .form_line
            .field_40
              = keyword.label :name, 'Keyword'
              = keyword.collection_select :id, Keyword.all, :id, :name, {:include_blank => true}
            %br.clear
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find'
          %br.clear
%div#address_form_assistant
  %table#address_postcode
  %input{ :style => "display:none",:id => "address_postcode_input", :update_field1 => " ",:update_field2 => " " ,:update_field3 => " "}
%br.clear