<% if @master_doc_types.size > 0 %>
  <%  result = String.new %>
  <% for mdt in @master_doc_types %>
    <% result += "<option value='#{mdt.id}'>#{mdt.name}</option>" %>
  <% end %>
  <% if @masterdoc.new_record? %>
    $("#master_doc_master_doc_type_id").html('<%=escape_javascript("#{result}")%>')
     $("#master_doc_master_doc_type_id").change();
  <% else %>
    $("#master_doc_master_doc_type_id_<%=escape_javascript("#{@masterdoc.id}")%>").html('<%=escape_javascript("#{result}")%>')
     $("#master_doc_master_doc_type_id_<%=escape_javascript("#{@masterdoc.id}")%>").change();
  <% end %>
<% else %>
  <% if @masterdoc.new_record? %>
    $("#master_doc_master_doc_type_id").html('<option></option>')
    $("#master_doc_master_doc_type_id").change();
  <% else %>
    $("#master_doc_master_doc_type_id_<%=escape_javascript("#{@masterdoc.id}")%>").html('<option></option>')
    $("#master_doc_master_doc_type_id_<%=escape_javascript("#{@masterdoc.id}")%>").change();
  <% end %>
<% end -%>