- form_for @person, :html => {:multipart => true, :id => "add_person"} do |p|
  #header
    #page_title
      %h1 Add Person
    #lol
  #left_content
    .container
      = p.text_field :custom_id
      %h1 Custom ID     
    .container.add_name
      %h1 Name Details
      .form_line
        .field_20
          = p.label :title_id, 'Title'
          = p.collection_select :primary_title_id, Title.active_title, :id, :name
        .field_40
          = p.label :first_name, "First Names"
          = p.text_field :first_name
        .field_33
          = p.label :family_name, "Family Name"
          = p.text_field :family_name
        %br.clear
      .form_line
        .field_20
          = p.label :second_title_id, '2nd Title'
          = p.collection_select :second_title_id, Title.active_title, :id, :name, {:include_blank => true}
        .field_40
          = p.label :middle_name, 'Middle Names'
          = p.text_field :middle_name
        .field_33
          = p.label :maiden_name, 'Maiden Name'
          = p.text_field :maiden_name
        %br.clear
      .form_line
        .field_20
          = p.label :initials, 'Initials'
          = p.text_field :initials
        .field_40
          = p.label :post_title, 'Post Name'
          = p.text_field :post_title
        .field_33
          = p.label :preferred_name, 'Preferred Name'
          = p.text_field :preferred_name
        %br.clear
      .container
        %h2 Salutations
        .form_line
          .field_45
            = p.label :primary_salutation, "Primary"
            = p.text_field :primary_salutation
          .field_45
            = p.label :second_salutation, "Second"
            = p.text_field :second_salutation
        %br.clear

    .container
      %h3 Personal Details
      = render :partial => 'person_details_fields', :locals => {:p => p}

    .container
      %h3 Picture
      %br
      .form_line
        = label :image, :id, "Picture"
        = file_field :image, :image_file

  #right_content
    .container.address_form
      %h3 Primary Address
      - p.fields_for :addresses do |address|
        = render :partial => '/addresses/simple_address_form', :locals => { :address => address}
    .container.add_contacts
      %h3 Primary Contacts
      .container
        - p.fields_for :phones do |phone|
          = render :partial => 'phones/simple_phone_form', :locals => {:phone => phone}          
      .container
        - p.fields_for :emails do |email|
          = render :partial => 'emails/simple_email_form', :locals => {:email=> email}  
      .container
        - p.fields_for :websites do |website|
          = render :partial => 'websites/simple_website_form', :locals => {:website=> website}
    
    %p.submit
      = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
      = submit_tag "Submit and Edit", :name => 'edit'
      = submit_tag "Submit"
      
%br.clear