- form_for @person, :html => {:multipart => true, :id => "add_person"} do |p|
  #header
    #page_title
      %h1 Add Person
      %input.hidden{:id => :person_id, :value => @person.id}
    #lol
  #left_content
    .container
      = p.text_field :custom_id
      %h1 Custom ID     
    .container.add_name
      %h1 Name Details
      = render :partial => 'person_name_fields', :locals => {:p => p}
    .container
      %h1 Personal Details
      = render :partial => 'person_details_fields', :locals => {:p => p}

    .container
      %h1 Picture
      %br
      .form_line
        = label :image, :id, "Picture"
        = file_field :image, :image_file,:class=>@personal_check_field.include?("image") ? "personal_check_field":""

  #right_content
    .container.address_form
      %h1 Primary Address
      - p.fields_for :addresses do |address|
        = render :partial => '/addresses/simple_address_form', :locals => { :address => address}
    .container.add_contacts
      %h1 Primary Contacts
      .container
        - p.fields_for :phones do |phone|
          = render :partial => 'phones/simple_phone_form', :locals => {:phone => phone}          
      .container
        - p.fields_for :emails do |email|
          = render :partial => 'emails/simple_email_form', :locals => {:email=> email}  
      .container
        - p.fields_for :websites do |website|
          = render :partial => 'websites/simple_website_form', :locals => {:website=> website}
    
    %p.submit
      = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right;font-size:15px;"
      = submit_tag "Submit and Edit", :name => 'edit'
      = submit_tag "Submit"
      
%br.clear

  #personal_check_duplication
    
