#left
  .header
    .title
      = render :partial => "menu", :locals => { :person => @person }
      -#%h1 Person Profile
    %br.clear
  %div.info_container
    .form_line
      .field_20{:style => 'float:left;'}
        = label_tag 'person_id', 'System ID',:style => 'clear:both'
        - form_tag(:controller => "people", :action => "show", :id => "") do
          = text_field_tag 'person_id', @person.id, {:readonly=> false, :onblur => 'this.form.submit()'}
      .field_80{:align => 'center'}
        -form_tag(:controller => "list", :action => "show", :id => "") do
   
          = link_to image_tag 'back.png'
          = link_to image_tag 'back.png'
          = select_tag 'list', :name, :style => 'width:180px;'
          = link_to image_tag 'go.png'
          = link_to image_tag 'go.png'
      %br.clear

  %div.info_container
    %div{:style => "float:left;"}
      -if @person.image.nil?
        = image_tag 'no_photo.jpeg'
      -else
        = image_tag(thumb_image_path(@person.image.id))
    
     
    %div#idline
      
      %h3= h "#{@person.name}"
        
      .form_line
        .field_33
        
          = label_tag 'custom_id', 'Custom ID'
          = text_field_tag 'custom_id', @person.custom_id, {:readonly => true}
        
        .field_33
          = label_tag 'onrecord_since', 'On Record Since'
          = text_field_tag 'onrecord_since', @person.onrecord_since, {:readonly => true}
        %br.clear
    %div#more_name_details{:style => 'display:none'}
      .form_line
        .field_20
          = label_tag 'title', 'Title'
          = text_field_tag 'title', @person.title_name, {:readonly => true}
        .field_40
          = label_tag 'first_name', 'First Names'
          = text_field_tag 'first_name', @person.first_name, {:readonly => true}
        .field_40
          = label_tag 'family_name', 'Family Name'
          = text_field_tag 'family_name', @person.family_name, {:readonly => true}
        %br.clear
      .form_line
        .field_20
          = label_tag 'second_title', 'Second Title'
          = text_field_tag 'second_title', @person.second_title_name, {:readonly => true}
        .field_40
          = label_tag 'middle_name', 'Middle Name'
          = text_field_tag 'middle_name', @person.middle_name, {:readonly => true}
        .field_40
          = label_tag 'maiden_name', 'Maiden Name'
          = text_field_tag 'middle_name', @person.maiden_name, {:readonly => true}
        %br.clear
      .form_line
        .field_20
          = label_tag 'initials', 'Initials'
          = text_field_tag 'initials', @person.initials, {:readonly => true}
        .field_40
          = label_tag 'post_title', 'Post Name'
          = text_field_tag 'post_title', @person.post_title, {:readonly => true}
        .field_40
          = label_tag 'preferred_name', 'Preferred Name'
          = text_field_tag 'preferred_name', @person.preferred_name, {:readonly => true}
        %br.clear
    %span.details 
      = link_to_function 'more details', :class => 'toggle_more', :toggle_more_id => 'more_name_details', :alt_text => 'hide details'
  %div.info_container
    %h3 Contacts
    %div.info_container
      Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = @primary_phone.nil? ? "None assigned": @primary_phone.number
    %div.info_container
      Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = @primary_email.nil? ? "None assigned": @primary_email.value
    %div#more_contacts{:style => 'display:none'}
      - @other_phones.each do |phone|
        %div.info_container
          Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          = phone.number
      - @other_emails.each do |email|
        %div.info_container
          Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          = email.address
    %span.details
      = link_to_function 'more contacts', :class => 'toggle_more', :toggle_more_id => 'more_contacts', :alt_text => 'hide contacts'
  %div.info_container
    %p
      %h3= "#{@primary_address.address_type_name} Address" unless @primary_address.nil?
      = format_address(@primary_address) unless @primary_address.nil?
    %div#more_addresses{:style=>"display:none"}
      - @other_addresses.each do |address|
        %p
          %h3= "#{address.address_type_name} Address"
          = format_address(address)
    %span.details 
      = link_to_function 'more addresses', :class => 'toggle_more', :toggle_more_id => 'more_addresses', :alt_text => 'hide addresses'
  %div.info_container
    %h3 Notes
      
  %div.info_container
    %h3 Employment
    Organization:
    %br/
    Department:
    %br/
    Job Title:
        


#right
  
  .header
    .title
      %h1
    %br.clear
  .info_container{:align => 'center'}
    .options
      = link_to_function image_tag('business.png'), :id=>"business", :class=>"toggle_button1", :toggle_id_name1 => "business_info",:toggle_id_name2 => "person_info"
      Business &nbsp;|
      = link_to_function image_tag('person_details.png'), :id=>"personal", :class=>"toggle_button1", :toggle_id_name1 => "person_info",:toggle_id_name2 => "business_info"
      Personal
    %br{ :style=>"clear: both;"}

 
  %div.info_container#person_info{:style=>"display:none"}
     
    = render :partial => 'person_info'
    
   
        
   
  %div.page#business_info
    %div.info_container
      %h3 System Module X
      %br
      %br
      %br
      %p
    %div.info_container
      %h3 Membership
      %br
      %br
      %br
      %br
    %div.info_container
      %h3 Events
      %br
      %br
      %br
      %br
    %div.info_container
      %h3 System Module Y
      %br
      %br
      %br
      %br
    %div.info_container
      %h3 System Module Z
      %br
      %br
      %br
      %br