-# @p = Person.find(1,3,5,7,9)
-# @p = Person.all
-# @person = @p.first if (@person.nil? || @person.new_record?)
#left
  .header
    .title
      = render :partial => "menu", :locals => { :person => @person }
    %br.clear
  %div.info_container
    .form_line
      .field_20{:style => 'float:left;'}
        = label_tag 'person_id', 'System ID', :style => 'clear:both'
        - form_tag(:controller => "people", :action => "show", :id => "") do
          = text_field_tag 'person_id', @person.id, {:readonly=> false, :onblur => 'this.form.submit()',:id => 'system_id_tag'}

      = render :partial => "lists_menu", :locals => {:person => @person, :p => @p }
    %br.clear
      
  %div.info_container
    %div#imageshow{:style => "float:left;"}
      -if @person.image.nil?
        = image_tag 'no_photo.jpeg', :class => "small"
      -else
        = image_tag(image_path(@person.image.id), :class => "small")
    
     
    %div#idline
      - if @person.id.nil?
        %h3{:style=>'visibility:hidden'} Hidden
        
      -else
      
        %h3= h "#{@person.name}"
        
      .form_line
        .field_33        
          = label_tag 'custom_id', 'Custom ID'
          = text_field_tag 'custom_id', @person.custom_id, {:readonly => true}        
        .field_33
          = label_tag 'onrecord_since', 'On Record Since'
          = text_field_tag 'onrecord_since', @person.onrecord_since, {:readonly => true}
        %br.clear


    
  %div.info_container
    %h3 Contacts
    %div.info_container
      Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = @primary_phone.nil? ? "None assigned": @primary_phone.number
    %div.info_container
      Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = @primary_email.nil? ? "None assigned": @primary_email.value
   


  %div.info_container
    %h3
      = @primary_address.nil? ? "Address" : "#{@primary_address.address_type_name} Address"
    .primary_address_and_employment
      = format_address(@primary_address) unless @primary_address.nil?


  %div.info_container
    %h3 Notes
    %div.info_container
      %div{:style => "float:left;"}
        = @person.notes.blank? ? "No Notes": @person.notes.first.id
        = @person.notes.first.note_type.name unless @person.notes.blank?

      %div{:style => "float:right;"}
        = show_date(@person.notes.first.created_at)unless @person.notes.blank?
        \-
        = @person.notes.first.label unless @person.notes.blank?
        = @person.notes.first.short_description unless @person.notes.blank?
      %br.clear
    %div.info_container
      %div{:style => "float:left;"}
        = @person.notes.second.blank? ? "No Notes": @person.notes.second.id
        = @person.notes.second.note_type.name unless @person.notes.second.blank?

      %div{:style => "float:right;"}
        = show_date(@person.notes.second.created_at)unless @person.notes.second.blank?
        \-
        = @person.notes.second.label unless @person.notes.second.blank?
        = @person.notes.second.short_description unless @person.notes.second.blank?
      %br.clear
  

      
  %div.info_container
    %h3 Employment
    .primary_address_and_employment
      = format_employment(@primary_employment) unless @primary_employment.nil?
        


#right
  
  .header
    = image_tag 'help_icon.png', :class => "help_icon"
    %br.clear
  .info_container{:align => 'center'}
    .person_profile_options
      = link_to_function "#{image_tag('business.png')} Business",:style=>"font-size:17px;", :id=>"business", :class=>"toggle_button1", :toggle_id_name1 => "business_info",:toggle_id_name2 => "person_info"
      &nbsp;|
      = link_to_function "#{image_tag('person_details.png')} Personal", :style=>"font-size:17px;", :id=>"personal", :class=>"toggle_button1", :toggle_id_name1 => "person_info",:toggle_id_name2 => "business_info"
     

 
  %div.info_container#person_info{:style=>"display:none"}
     
    = render :partial => 'person_info'
    
   
        
   
  %div.page#business_info
    %div.info_container
      %h3 System Module X
      %br
      %br
      %br
      %p
    %div.info_container
      %h3 Membership
      %br
      %br
      %br
      %br
    %div.info_container
      %h3 Events
      %br
      %br
      %br
      %br
    %div.info_container
      %h3 System Module Y
      %br
      %br
      %br
      %br
    %div.info_container
      %h3 System Module Z
      %br
      %br
      %br
      %br