#content_container
  #header
    #page_title
      %h1 Person Profile
    #lol
      = render :partial => "people/list_menu"
      %br.clear
  #left_content
    %div#photo_info
      %div#imageshow{:style => "float:left;"}
        -if @person.image.nil?
          = image_tag 'Icons/System/image-missing.png', :class => "medium"
        -else
          = image_tag(image_path(@person.image.id), :class => "small")
    
     
      %div#person_name
        - if @person.id.nil?
          %h1{:style=>'visibility:hidden'} Hidden
        -else
          %h1= h "#{@person.name}"
        %br
        .form_line
          = label_tag 'custom_id', 'Custom ID'
          %span=@person.custom_id
        .form_line
          = label_tag 'onrecord_since', 'On Record Since'
          %span=@person.onrecord_since.to_s
        %br

    .container
      %h1 Primary Contacts
      .container
        .left
          Phone
        .right
          = @primary_phone.nil? ? "None assigned": @primary_phone.number
      .container
        .left
          Website
        .right
          = @primary_website.nil? ? "None assigned": @primary_website.value
      .container
        .left
          Email
        .right
          = @primary_email.nil? ? "None assigned": @primary_email.value

    .container
      %h1= @primary_address.nil? ? "Primary Address" : "Primary Address"
      = format_address(@primary_address) unless @primary_address.nil?


    .container
      %h1 Notes
      - note1_status = @person.notes.first.blank? ? "hidden" : ""
      .container{:class => "#{note1_status}"}
        %div.left
          = @person.notes.blank? ? "No Notes": @person.notes.first.id
          = @person.notes.first.note_type.name unless @person.notes.blank?
        %div.right
          = show_date(@person.notes.first.created_at)unless @person.notes.blank?
          \-
          = @person.notes.first.label unless @person.notes.blank?
          = @person.notes.first.short_description unless @person.notes.blank?
        %br.clear
      - note2_status = @person.notes.second.blank? ? "hidden" : ""
      .container{:class => "#{note2_status}"}
        %div.left
          = @person.notes.second.blank? ? "No Notes": @person.notes.second.id
          = @person.notes.second.note_type.name unless @person.notes.second.blank?

        %div.right
          = show_date(@person.notes.second.created_at)unless @person.notes.second.blank?
          \-
          = @person.notes.second.label unless @person.notes.second.blank?
          = @person.notes.second.short_description unless @person.notes.second.blank?
        %br.clear
  

      
    .container
      %h1 Employment
      = format_employment(@primary_employment) unless @primary_employment.nil?
        


  #right_content
    #photo_info
    .pppp.personright{:field =>"person_info", :style => "display:none;"}
    .container_icon{:align => 'center'}
      = link_to_function "<h1>Personal</h1>",  :id=>"personal", :class=>"show_hide_button", :show_id_name => "person_info",:hide_id_name => "business_info", :color_id => "1"
    .pppp.personleft{:field =>"person_info", :style => "display:none;"}
    .pppp.personright{:field =>"business_info"}
    .container_icon{:align => 'center', :class => "container_icon_color"}
      = link_to_function "<h1>System</h1>", :id=>"business", :class=>"show_hide_button", :show_id_name => "business_info",:hide_id_name => "person_info", :color_id => "2"
    .pppp.personleft{:field =>"business_info"}
     

 
    .container#person_info{:style=>"display:none"}
      = render :partial => 'person_info'
  
    .container#business_info
      .container
        %h2 Membership
        %span Member Since: 200411111
        %br
        %span Number of Dependents: 2
        %br
        %span Membership Status: Active

      .container
        %h2 Events
        %span Last Events:Xmas 2008 - at the Lake
        %br
        %span Number of Attended Events: 14
        %br
        %span Interested in: Family Events
      .container
        %h3 Case Management
        %span Open Cases: None
        %span Close Cases: 5
  %br.clear


