-# level
%table{:id => "show_branches_grid_#{level}", :class=>"selectable_grid",:field=>"organisation_relationship",:db_click_function=>"true", :db_click_url=>"/organisation_relationships/show_branches", :params2 => "#{level}"}

%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
    delete_from_a_grid = function(){
    delete_from_grid($("#show_branches_grid_#{level} tr.trSelected").attr('id'), "#organisation_relationship_mode", "delete", "/organisation_relationships/");
    };

    $("#show_branches_grid_#{level}").flexigrid({
    url: '/grids/show_branches_grid?id=#{@organisation.id}',
    dataType: 'json',
    colModel : [
    {
    display: 'ID',
    name : 'id',
    width : 40,
    sortable : true,
    align: 'left'
    },

    {
    display: 'Full Name',
    name : 'full_name',
    width : 100,
    sortable : true,
    align: 'left'
    },

    {
    display: 'Phone',
    name : 'primary_phone_num',
    width : 100,
    sortable : false,
    align: 'left'
    },
    {
    display: 'Email',
    name : 'primary_email_address',
    width : 100,
    sortable : false,
    align: 'left'
    }
    ],
    searchitems : [
    {
    display: 'Full Name',
    name : 'full_name'
    }
    ],
    buttons : [
            {name: '', bclass: 'delete delete_button_on_grid', onpress : delete_from_a_grid},
        ],
    sortname: "id",
    sortorder: "asc",
    usepager: true,
    useRp: true,
    rp: 20,
    showTableToggleBtn: false,
    width: 'auto',
    height: 'auto'
    });

