-# level
%div.container{:id => "container_#{level}"}
  .toggle_div{:toggle_id_name => "content_#{level}", :style => "cursor:pointer;"}
    .options
      = image_tag('Icons/System/collapse.png')
    %h1{:id=>'title_#{level}'} Please Select Client Organiastion Name
  %div{:id => "content_#{level}"}
    %div.left{:style => "width:100%;",:id => "grid_#{level}"}
    -if level == 0
      =render :partial=> '/organisation_relationships/show_zero_organisations'
    -else
      =render :partial=> '/organisation_relationships/show_organisation_branches',:locals=>{:level =>level}
    #add_new_relationship.container
      .options
        = link_to_function image_tag('close_icon.png'), :class => "close_option", :style => "display:none;", :field => "#{level}", :title=>"Close"
      .title
        = link_to_function image_tag('add_icon.png'), :id=>"", :class=>"add_option ajax_call"
        %h1 New Relationship
      #new_relationship



