%script{:type => "text/javascript"}
  :plain

    iphone_checkbox();
-form_for @tax_item, :html => {:class => "ajax_form",:submit_button_id => "new_tax_item_submit"} do |f|
  .form_line
    .field_15
      = f.label :name, "<span class='asterisk'>*</span>Name"
      = f.text_field :name, :class => "compulsory_field"
    .field_10
      = f.label :percentage, "Percentage(%)"
      = f.text_field :percentage,:class=>"number_field"
    .field_35
      = f.label :description, "Description"
      = f.text_field :description

    .field_10
      = f.label :active, "Active"
      = f.check_box :active, :class => "iphone_checkbox",:checked => true
    .field_20
      %label &nbsp
      = submit_tag 'submit', :id => "new_tax_item_submit",:disabled => true



   



