- form_for @receipt_allocation, :html => {:class => "ajax_form", :id => "new_receipt_allocation_form", :submit_button_id => "new_receipt_allocation_submit_button"} do |f|
  .form_line
    .field_20
      = f.label :field_1, "<span class='asterisk'>*</span>Receipt Account"
      = f.collection_select :receipt_account_id, ReceiptAccount.active, :id, :name, {:include_blank => true}, {:class=>"compulsory_field"}
      %input{:name=>"receipt_allocation[entity_receipt_id]",:value=>"#{@entity_receipt.id}",:class =>"hidden"}
    .field_15
      = f.label :field_5, "<span class='asterisk'>*</span>Amount ($)"
      = f.text_field :amount, :class => "compulsory_field number_field", :value => number_to_currency(@receipt_allocation.amount.to_f, :unit => "", :delimiter => "")

    .field_20
      = f.label :field_2, "Campaign"
      = f.collection_select :campaign_id, Campaign.active_campaign, :id, :name, {:include_blank => true}, {:class => "select_ajax_call", :update_field => "source_id", :method => "GET", :url => "/receipting_admin/show_sources"}

    .field_20
      = f.label :field_3, "Source"
      %select#source_id
        %option

    .field_15
      = f.label :field_4, "Letter"
      %select

    
 
  = submit_tag '   Add   ', :id =>"new_receipt_allocation_submit_button", :disabled => true
  