%ul
  %li
    %a{:href=>"#SystemData", :title=> 'System Data'}
      = "System Data"
  %li
    %a{:href=>"#DocsType", :title=> 'Docs Type'}
      = "Docs Type"
  %li
    %a{:href=>"#DocsMetaType", :title=> 'Docs Meta Type'}
      = "Docs Meta Type"
  %li
    %a{:href=>"#DocsMetaMetaType",:title=> 'Docs Meta Meta Type'}
      = "Docs Meta Meta Type"
  %li
    %a{:href=>"#RolesManagement", :title=> 'Roles Management'}
      = "Roles Management"
