%div#edit_system_data_entry
  .tab_corner
    .container_corner.profile_tab_left_corner.left
    .container_edit
      .options_left{:style => "margin-right:10px;"}
        = image_tag('edit_icon.png', :class => "edit_icon_right")
      %h3 Edit
    .container_corner.profile_tab_right_corner.left
  .container
    - form_for @amazon_setting, :url => {:controller => "amazon_settings", :action => "update_setting", :id => @amazon_setting.id, :type => @amazon_setting.class.name}, :html => {:class => "ajax_form"} do |p|
      .form_line
        = link_to_function image_tag('close_icon.png'), :field => "system_data", :id => "close_edit_system_data_entry", :style => "float:right;", :title=>"Close",:error_message_field=> "System Data"
        .field_30
          = p.label :name, "<span class='asterisk'>*</span>Name"
          = p.text_field :name,:class=>'mandantory_field',:id=>"system_data_edit_name",:mandantory_field1=>"system_data_edit_name",:submit_button_id=>"system_data_edit_submit", :disabled => ("disabled" if !@amazon_setting.status)
        .field_35
          = p.label :description, 'Description'
          = p.text_field :description, {:disabled => ("disabled" if !@amazon_setting.status)}
        .field_7
          = p.label :active
          %label
          = p.check_box :status, {:style => "width:auto;"}
        .field_20
          %label &nbsp
          = submit_tag 'Submit', :style => 'display:inline;float:right;', :name => 'edit',:id=>"system_data_edit_submit"
