%div#edit_system_data_entry
  %br.clear

  .container
    - form_for @amazon_setting, :url => {:controller => "amazon_settings", :action => "update_setting", :id => @amazon_setting.id, :type => @amazon_setting.class.name}, :html => {:class => "ajax_form"} do |p|
      .form_line
        = image_tag('close_icon.png', :field => "system_data", :class => "close_option", :id => "close_edit_system_data_entry", :style => "float:right;")
        .field_30
          = p.label :name, 'Name'
          = p.text_field :name, {:disabled => ("disabled" if !@amazon_setting.status)}
        .field_35
          = p.label :description, 'Description'
          = p.text_field :description, {:disabled => ("disabled" if !@amazon_setting.status)}
        .field_5
          = p.label :active, 'Active', {:style => "margin-left:2px;"}
          %label
          = p.check_box :status
        .field_20{:style => "margin-top: 8px;"}
          = submit_tag 'Submit', :style => 'display:inline;float:right;', :name => 'edit'
