.container_edit.container
  .options_left{:style => "margin-right:10px;"}
    = image_tag('edit_icon.png', :class => "edit_icon_right")
  %h3 Edit
  %br

.container
  .options
    = link_to_function image_tag('close_icon.png'), :class => "close_option close_logo", :field => "user_group_group"
  %br
  .container.add_container
    %div#add_user_to_group
      .options
        = link_to_function image_tag('close_icon.png'),:style => "display:none;", :class => "close_logo close_option add_form_close", :field => "user_group", :change_color => false
      .title
        = link_to_function image_tag('add_icon.png'), :class => "new_option new_logo", :field => "user_group"
        &nbsp
      %h2 Assign User
    %input{:id => "user_group_mode", :mode => "show", :style => "display:none"}

    %div#new_user_group_form{:style => "display:none;"}
      -form_for @user_group, :url => {:controller => "user_groups", :action=> "create"}, :html => {:class => 'ajax_form'} do |user_group|
        .form_line{:style => "float:none"}
          .field_10
            = user_group.label :user_id, 'User Name'
            %input{:name => "user_group[user_id]", :style => "display:none", :id => "user_name_id"}
            %input{:name => "user_name", :class => "user_name_to_person", :login_account_id => 0}
          .field_40
            %label &nbsp
            %span{:id => "login_name_container_0"}
          .field_20
            %label &nbsp
            %input{:name => "user_group[group_id]", :value => "#{@group.id}", :class => "hidden"}
            
          .field_20{:style => "float:right"}
            %label &nbsp
            = link_to_function 'clear', :class => "alt_option"
            = submit_tag 'Submit'

  %div#user_group_user
    - for i in @user_groups
      - status = i.login_account.login_status ? "container_active" : "container_inactive"
      -div_for(i, :class => "#{status} half_container toggle_options" , :id => "existing_user_in_group", :login_account_id => i.login_account.id, :field => "user_group") do
        .options{:style => "display:none"}
          = link_to image_tag('delete_icon.png'), user_group_path(i), :class => 'delete',:id => 'delete_user_group' , :field => "User Group",:error_message_field => "User Group"
        .title
          = i.login_account.person_id
          \-
          = i.login_account.user_name



  %div#user_group_wrong_login_id{:style => "display:none;"}
    %span system do not have this login_account

  %div#user_group_person_check{:style => "display:none;"}
    %span This LoginAccount's person information has been delete
 
      













