.tab_corner
  .container_corner.profile_tab_left_corner.left
  .container_edit
    .options_left{:style => "margin-right:10px;"}
      = image_tag('edit_icon.png', :class => "edit_icon_right")
    %h3 Edit
  .container_corner.profile_tab_right_corner.left
.full_container
  .options
    = link_to_function image_tag('close_icon.png'), :class => " close_logo", :field => "user_group_group"
  .full_container{:style => "margin-top:10px;"}
    %div#add_user_to_group
      .options
        = link_to_function image_tag('close_icon.png'),:style => "display:none;", :class => "close_logo  add_form_close", :field => "user_group", :change_color => false, :title=>"Close"
      .title
        = link_to_function image_tag('add_icon.png'), :class => "new_option new_logo", :field => "user_group"
        &nbsp
      %h2 Assign User
    %input{:id => "user_group_mode", :mode => "show", :style => "display:none"}

    %div#new_user_group_form{:style => "display:none;"}
      -form_for @user_group, :url => {:controller => "user_groups", :action=> "create"}, :html => {:class => 'ajax_form'} do |user_group|
        .form_line{:style => "float:none"}
          .field_20
            = user_group.label :user_id, "<span class='asterisk'>*</span>User Name"
            %input{:name => "user_group[user_id]", :style => "display:none", :id => "user_name_id"}
            %input{:name => "user_name",:id=>"user_group_name_id", :class => "user_name_to_person mandantory_field",:mandantory_field1=>"user_group_name_id",:submit_button_id=>"user_group_new_submit", :login_account_id => 0}
          .field_30
            %label &nbsp
            %span{:id => "login_name_container_0"}
          .field_20
            %label &nbsp
            %input{:name => "user_group[group_id]", :value => "#{@group.id}", :class => "hidden"}
          .field_20{:style => "float:right;"}
            %label &nbsp
            = link_to_function 'clear', :class => "clear_form alt_option"
            = submit_tag 'Submit',:id=>"user_group_new_submit",:disabled=>true
          
    
  %div#user_group_user
    %h1{:style => "margin-top: 20px;"} Assigned Group Users
    - for i in @user_groups
      - status = i.login_account.login_status ? "container_active" : "container_inactive"
      -div_for(i, :class => "#{status}  toggle_options" , :id => "existing_user_in_group", :login_account_id => i.login_account.id, :field => "user_group", :style=> "width:47%;") do
        .options{:style => "display:none"}
          = link_to image_tag('delete_icon.png'), user_group_path(i), :class => 'delete',:id => 'delete_user_group' , :field => "User Group",:error_message_field => "User Group"
        .title
          %h3 #{ i.login_account.user_name}

  %div#user_group_wrong_login_id{:style => "display:none;"}
    %span system do not have this login_account

  %div#user_group_person_check{:style => "display:none;"}
    %span This LoginAccount's person information has been delete
 
      













