.container
  %h1 List Compiler

  #list_compiler_form
    #list_left{:style => "width:32%;margin-right:2%;float:left;"}
      .container
        .form_line
          %label Lists
          %input{:style => "display:none", :id => "login_account_id", :value => session[:user]}
          %select#compiler_options{:multiple => true,:size => "20"}
            - @list_headers.each do |i|
              %option{:value => "#{i.id}", :id => "list_header_#{i.id}"} #{i.name}
          %br.clear

      .container
        #extra_form
          %h1 Extra Attributes
          .form_line
            %input{:type => "checkbox", :style => "width:50%;display:inline;", :id =>"allow_duplication", :value => "true"}
            %label{:style => "width:50%;display:inline;"} Allow Duplication
            %br.clear
          .form_line
            %input{:type => "radio", :name => "top", :style => "width:30%;display:inline;", :value => "number", :id => "top_number", :checked => true}
            %label{:style => "width:30%;display:inline;"} Top&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            %input{:style => "width:30%;display:inline;", :id => "top_number_value", :class => "integer_field"}
            %br.clear
          .form_line
            %input{:type => "radio", :name => "top", :style => "width:30%;display:inline;", :value => "percent", :id => "top_percent"}
            %label{:style => "width:30%;display:inline;"} Percent
            %input{:style => "width:30%;display:inline;", :disabled => true, :id => "top_percent_value", :class => "integer_field"}
            %br.clear


    #list_middle{:style => "width:20%;margin-right:2%;float:left;margin-top:150px;"}
      #merge_operation
        .form_line{:style => "margin-bottom:30px;"}
          %label{:style => "display:inline;width:50%"} add to include list
          =link_to_function image_tag('go.png'), :id => "add_to_include"
          %br.clear
        .form_line
          %label{:style => "display:inline;width:50%"} add to exclude list
          =link_to_function image_tag('go.png'), :id => "add_to_exclude"
          %br.clear


    #list_right{:style => "width:44%;float:left;margin-top:20px;"}
      .container
        %h1 Include Lists
        #include_lists
      .container
        %h1 Exclude Lists
        #exclude_lists
    %br.clear
    = link_to_function "Clear", :class => "alt_option", :style => "float:right", :id => "clear_compile_list"
    = button_to_function "Compile", :style => "float:right", :id => "compile_button"
    %br.clear

#compile_result_div{:style => "display:none;"}
  %h1 Compile Results
  #compile_result