-form_for([@person,relationship], :html => {:style => "display:none", :class => 'ajax_form add_relationship'}) do |relationship|
  .form_line{:style => "float:none;"}
    .field_20
      = relationship.label :relationship_type_id, "Type<span class='asterisk'>*</span>"
      = relationship.collection_select :relationship_type_id, RelationshipType.active_relationship_type - @person.personal_relationship_type, :id, :name
    .field_20{:style => "margin-right: 2px;"}
      = relationship.label :related_person_id, "System ID<span class='asterisk'>*</span>"
      = relationship.text_field :related_person_id
    .field_5
      %label &nbsp;
      = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => "relationship_related_person_id", :title=>"Search"
    .field_30
      %label#related_person_name_container{:style => "font-size:17px;display:inline;"}
      %br
    .field_20

    %input{:name => "relationship[source_person_id]", :value => "#{@person.id}", :class => "hidden"}
    = submit_tag 'Submit'
  %br{:style=>"clear:both;"}