#edit_organisation_content_container
  #header
    #page_title
      %h1 Edit Organisation
    #lol
      = render :partial => "/organisations/lists_menu"
      %br.clear

  #left_content
    - form_for @organisation, :url => {:controller => "organisations", :action => "update"} , :html=>{:class => @organisation.class.to_s == "ClientOrganisation" ? "disabled_form" : "", :multipart => true, :id=>"organisation_names_form"} do |p|
      .container
        %h1 Name Details
        = render :partial => 'organisation_name_details_fields', :locals => {:p => p}
        %input.hidden{:id => :organisation_id, :value => @organisation.id}
      .container
        %h1 Legal Details
        = render :partial => 'organisation_legal_details_fields', :locals => {:p => p}
      .container
        %h1 Business Details
        = render :partial => 'organisation_business_details_fields', :locals => {:p => p}
      .container
        %h1{:style=>"float:left"} Picture
        = render :partial => '/images/show_photo', :locals => {:entity => @organisation}
      = submit_tag 'Submit and Close', :style => 'float:right;'
      = submit_tag 'Submit', :style => 'float:right;', :name => 'edit'


  #right_content
    #tabs
      = render :partial => 'organisation_menu'
      #Address
        = render :partial => "/addresses/organisation_addresses_tab",:locals =>{:organisation => @organisation}
      #Contact
        = render :partial => "/contacts/organisation_contacts_tab", :locals => {:organisation => @organisation}
      #Keyword
        = render :partial => "/keywords/organisation_keywords_tab",:locals =>{:organisation => @organisation}
      #MasterDocs
        = render :partial => "/master_docs/organisation_masterdocs_tab", :locals =>{:organisation => @organisation}
      #Note
        = render :partial => "/notes/organisation_notes_tab",:locals =>{:organisation => @organisation}

      #Employee
        = render :partial => '/organisations/organisation_employee'

      #Group
        = render :partial => "/organisation_groups/group_tab", :locals => {:organisation => @organisation}

  #duplication_box
  #show_organisation_list_grid
  #organisation_lookup_dialog
  #delete_warning_message
    = image_tag('Icons/System/warning.png',:style => "display:none;",:id =>"delete_warning_message_image")
    %label{:style => "display:inline;", :id => "delete_message_text"}g

 