- form_tag(@current_controller == "organisations" && @current_action == "show" ? '/organisations/show' : '/organisations/edit', :id => "organisation_list") do
  %div#loleft
    .lolfont_left{:style => "margin-left: 65px;"}
      = label_tag 'organisation_id', 'System ID', :style => 'clear:both'
    %div
      -unless @organisation.new_record?
        .arrow_block
          -#= link_to((image_tag 'Icons/Core/Lol/go-first.png'), @current_controller == "organisations" && @current_action == "show" ? organisation_path(@o.at(0)) : edit_organisation_path(@o.at(0)), :title=>"First")
          -#= link_to((image_tag 'Icons/Core/Lol/go-previous.png'), @current_controller == "organisations" && @current_action == "show" ? organisation_path(@o.at((@o.index(@organisation))-1)) : edit_organisation_path(@o.at((@o.index(@organisation))-1)), :title=>"Previous")
          = link_to_function((image_tag 'Icons/Core/Lol/go-first.png'), :url => @current_controller == "organisations" && @current_action == "show" ? organisation_path(@o.at(0)) : edit_organisation_path(@o.at(0)), :title=>"First")
          = link_to_function((image_tag 'Icons/Core/Lol/go-previous.png'), :url => @current_controller == "organisations" && @current_action == "show" ? organisation_path(@o.at((@o.index(@organisation))-1)) : edit_organisation_path(@o.at((@o.index(@organisation))-1)), :title=>"Previous")
        = text_field_tag 'organisation_id', @organisation.id, {:onblur => 'system_id_check_input_change_or_not();',:id => 'system_id_tag', :class=> 'arrow_block',:style =>"width: 100px",:form_name => "organisation_list"}
        .arrow_block
          -if @o.index(@organisation) != @o.index(@o.last)
            -#= link_to((image_tag 'Icons/Core/Lol/go-next.png'), @current_controller == "organisations" && @current_action == "show" ? organisation_path(@o[@o.index(@organisation)+1]) : edit_organisation_path(@o[@o.index(@organisation)+1]), :title=>"Next")
            = link_to_function((image_tag 'Icons/Core/Lol/go-next.png'), :url =>@current_controller == "organisations" && @current_action == "show" ? organisation_path(@o[@o.index(@organisation)+1]) : edit_organisation_path(@o[@o.index(@organisation)+1]), :title=>"Next")
          -else
            -#= link_to((image_tag 'Icons/Core/Lol/go-next.png'), @current_controller == "organisations" && @current_action == "show" ? organisation_path(@o.first) : edit_organisation_path(@o.first), :title=>"Next")
            = link_to_function((image_tag 'Icons/Core/Lol/go-next.png'), :url =>@current_controller == "organisations" && @current_action == "show" ? organisation_path(@o.first) : edit_organisation_path(@o.first), :title=>"Next")
          -#= link_to((image_tag 'Icons/Core/Lol/go-last.png'), @current_controller == "organisations" && @current_action == "show" ? organisation_path(@o.fetch(-1)) : edit_organisation_path(@o.fetch(-1)), :title=>"Last")
          = link_to_function((image_tag 'Icons/Core/Lol/go-last.png'), :url=>@current_controller == "organisations" && @current_action == "show" ? organisation_path(@o.fetch(-1)) : edit_organisation_path(@o.fetch(-1)), :title=>"Last")
  .right
    %div#loleft
      .lolfont_left
      
      #lol_select{:style => "margin-top: 12px;"}
        - if (!(@organisation.nil? || @organisation.new_record?) && @current_action == "show" && @current_controller == "organisations")
          =image_tag('application_view_detail.png', :id => "show_all_organisations", :organisation_id => @organisation.id, :current_operation => "show_organisation_list", :title => "Show Organisation List",:size => "25x25")
        - else
          =image_tag('application_view_detail.png', :id => "show_all_organisations", :organisation_id => @organisation.id, :current_operation => "edit_organisation_list", :title => "Show Organisation List",:size => "25x25")
    %br.clear
