.container

  -if organisation.image.nil?
    = image_tag 'Icons/System/image-missing.png', {:class => "thumb"}
  -else
    = image_tag thumb_image_path(organisation.image.id), {:class => "thumb"}

  %table#name_card
    %tbody
      %tr
        %td.w2
        %td.w32
          = "#{organisation.id} - #{organisation.trading_as}"
        %td.w32
          = "Registration Date : #{organisation.registered_date.to_s}"
        %td.w20
          = h "<Other1>"
        %td.w25
      %tr
        %td
        %td
          = "Customer ID : #{organisation.custom_id}"
        %td
          Business Category :
          = "#{organisation.business_category.name}" unless organisation.business_category.nil?
        %td
          = h "<Other2>"
        %td
      %tr
        %td
        %td
          = "On Record Since : #{organisation.onrecord_since.to_s}"
        %td
          Business Type :
          = "#{organisation.business_type.name}" unless organisation.business_type.nil?
        %td
        