#notes_list
  - if !@organisation.sorted_notes.blank?
    .title
      %h1 Note Details
    %br.clear

    - @organisation.sorted_notes.each do |organisation_note|
      -div_for(organisation_note, :class => 'info_container') do
        .header_container
          .title
            = h organisation_note.created_at.to_s(:long)
          %br.clear

          .attr_name
            = h organisation_note.short_description
            = "(#{organisation_note.note_type.name})"
          .attr_name
            = truncate(organisation_note.body_text, 100, "...")

  - else
    .no_record
      %h1 No Record