
#tabs2
  = render :partial => 'organisation_menu'
  #Address
    .container
      .header_container
        .title
          %h1 Address Details
        %br{ :style=>"clear: both;"}
      #addresses
      =# Render the organisation's addresses
      = render :partial => '/organisations/organisation_address', :collection => @organisation.addresses
  #Contact
    .container
      .header_container
        .title
          %h1 Contact Details

        %br{ :style=>"clear: both;"}
      #contacts
      =# Render the person's contacts
      -if !@organisation.phones.blank?
        .container
          %h2 Phone
          #contact_phone
            = render :partial => '/organisations/organisation_contact', :collection => @organisation.phones
      -if !@organisation.emails.blank?
        .container
          %h2 Email
          #contact_email
            = render :partial => '/organisations/organisation_contact', :collection => @organisation.emails
      -if !@organisation.websites.blank?
        .container
          %h2 Website
          #contact_website
            = render :partial => '/organisations/organisation_contact', :collection => @organisation.websites
  #Keyword
    .container
      .header_container
        .title
          %h1 KeyWords Details

        %br{ :style=>"clear: both;"}
      #keywords
      =# Render the organisation's keywords
      = render :partial => '/organisations/organisation_keyword', :collection => @organisation.keywords
  #MasterDocs
    .container
      .header_container
        .title
          %h1 MasterDocs Details

        %br{ :style=>"clear: both;"}
      #masterdocs
      =# Render the organisation's masterdocs
      = render :partial => '/organisations/organisation_master_doc', :collection => @organisation.master_docs

  #Note
    .container
      .header_container
        .title
          %h1 Notes

        %br{ :style=>"clear: both;"}
      #notes_list
      =# Render the organisation's notes
      = render :partial => '/organisations/organisation_note', :collection => @organisation.sorted_notes

  #Employee
    #employee_list
    =# Render the organisation's employee
    = render :partial => '/organisations/organisation_employee'


  #Group
    .container
      .header_container
        .title
          %h1 Group

      %br{ :style=>"clear: both;"}
      #group_list
      =# Render the organisation's group
      = render :partial => '/organisations/organisation_group', :collection => @organisation.organisation_groups

