.form_line
  .field_40
    = p.label :typpe, 'Type'
    = p.text_field :type, :value => @organisation.class.to_s.underscore.camelize.titleize, :disabled => true
  .field_20
    = p.label :id, 'System ID'
    = p.text_field :id, :disabled => true
  .field_34
    = p.label :onrecord_since, 'On Record Since'
    = p.text_field :onrecord_since, :disabled => true, :value => @organisation.onrecord_since.to_s
  %br.clear
.form_line
  .field_100
    = p.label :full_name, "Full Name"
    = p.text_field :full_name, :class => @check_field.include?("full_name") ? "organisational_check_field" : ""
  %br.clear
.form_line
  .field_100
    = p.label :short_name, "Short Name"
    = p.text_field :short_name, :class => @check_field.include?("short_name") ? "organisational_check_field" : ""
  %br.clear
.form_line
  .field_100
    = p.label :trading_as, "Trading as"
    = p.text_field :trading_as, :class => (@check_field.include?("trading_as")) ? "organisational_check_field" : ""
  %br.clear