%div.container
  %div.toggle_div{:toggle_id_name => "transaction_details", :style => "cursor: pointer;"}
    .options
      = image_tag('Icons/System/collapse.png')
    .right{:style => "margin:3px 3px 0 0;"}
      = link_to "Transaction", {:controller => "receipting", :action => "organisational_deposit"}, :class => "alt_link"
    %h1 Transaction

  %div#transaction_details.left{:style => "width:100%;"}
    .container
      %h2 Last Transaction
      .form_line
        .field_31
          %label Date
          .display_field_bg
            #{Date.today.to_s}

        .field_31
          %label Amount
          .display_field_bg
            #{number_to_currency(8000)}

        .field_31
          %label Status
          .display_field_bg


    .container
      %h2 YTD Total
      .form_line
        .field_31
          %label NO.Transactions
          .display_field_bg
            = 100

        .field_31
          %label Amount
          .display_field_bg
            #{number_to_currency(80000)}

        .field_31
          %label Average Transaction
          .display_field_bg
            #{number_to_currency(8000)}

%div.container
  %div.toggle_div{:toggle_id_name => "module_x_details", :style => "cursor: pointer;"}
    .options
      = image_tag('Icons/System/expand.png')
    %h1 System Module X

  %div#module_x_details.left{:style => "width:100%;display:none;"}
    %br
    %br

%div.container
  %div.toggle_div{:toggle_id_name => "membership_details", :style => "cursor: pointer;"}
    .options
      = image_tag('Icons/System/expand.png')
    %h1 Membership

  %div#membership_details.left{:style => "width:100%;display:none;"}
    %br
    %br

%div.container
  %div.toggle_div{:toggle_id_name => "events_details", :style => "cursor: pointer;"}
    .options
      = image_tag('Icons/System/expand.png')
    %h1 Events

  %div#events_details.left{:style => "width:100%;display:none;"}
    %br
    %br