-# Displays A Contact
-div_for(organisation_contact, :class => 'header_container toggle_options' , :field => "contact") do
  %div
    .title
      %h2= "#{organisation_contact.contact_meta_type.name} " 
    %div{:style => "float:right;"}
      = "#{organisation_contact.pre_value} #{organisation_contact.value} #{organisation_contact.post_value}".squeeze(" ").strip
    %br
      = organisation_contact.remarks