%ul
  %li
    %a{:href=>"#Contact", :title=> 'Contact', :class => "organisation_edit_tab active", :field => "contact"}
      = image_tag('Icons/Core/Org/tabs/contact_title.png')
  %li
    %a{:href=>"#Address", :title=> 'Address', :class => "organisation_edit_tab", :field => "address"}
      = image_tag('Icons/Core/Org/tabs/address_BW.png')
  %li
    %a{:href=>"#Keyword", :title=> 'Keywords', :class => "organisation_edit_tab", :field => "keywords"}
      =image_tag('Icons/Core/Org/tabs/keywords_BW.png')
  %li
    %a{:href=>"#MasterDocs",:title=> 'Master Docs', :class => "organisation_edit_tab", :field => "masterdocs"}
      = image_tag('Icons/Core/Org/tabs/masterdocs_BW.png')
  %li
    %a{:href=>"#Note", :title=> 'Note', :class => "organisation_edit_tab", :field => "notes"}
      = image_tag('Icons/Core/Org/tabs/notes_BW.png')

  %li
    %a{:href=>"#Employee", :title=> 'Employee', :id =>"show_organisation_employees", :class => "organisation_edit_tab", :field => "employee"}
      = image_tag('Icons/Core/Org/tabs/employee_BW.png')

  %li
    %a{:href=>"#Group", :title=> "Group", :class => "organisation_edit_tab", :field => "groups"}
      = image_tag('Icons/Core/Org/tabs/groups_BW.png')
  %li
    %a{:href=>"#Account", :title => 'Account', :class => "organisation_edit_tab", :field => "banking"}
      = image_tag('Icons/Core/Org/tabs/banking_BW.png')

