#edit_organisation_content_container
  #header
    #page_title
      %h1 Edit Organisation
    #lol
      = render :partial => "/organisations/lists_menu"
      %br.clear

  #left_content
    - form_for @organisation, :url => {:controller => "organisations", :action => "update", :id => @organisation.id} , :html=>{:class => (@super_admin || @organisation.class.to_s != "ClientOrganisation") ? "" : "disabled_form", :multipart => true, :id=>"organisation_names_form"} do |p|
      .container{:class => @organisation.class.to_s == "ClientOrganisation" ? "disabled_form" :""}
        %h1 Identity
        .form_line
          .field_35
            = p.label :type, "Type"
            %select{:name => "type", :disabled => true}
              -if @organisation.class.to_s == "ClientOrganisation"
                %option{:value => "ClientOrganisation", :selected => (@organisation.class.to_s == "ClientOrganisation")} ClientOrganisation
              -else
                %option{:value => "OtherOrganisation", :selected => (@organisation.class.to_s == "OtherOrganisation")} OtherOrganisation
                %option{:value => "AgentOrganisation", :selected =>  (@organisation.class.to_s == "AgentOrganisation")} AgentOrganisation
                %option{:value => "SubOrganisation", :selected =>  (@organisation.class.to_s == "SubOrganisation")} SubOrganisation
          .field_34
            = p.label :level, "<span class='asterisk'>*</span>Level"
            %select{:name => "organisation[level]",:id=>"organisation_edit_level"}
              - (0..9).each do |i|
                - unless @client_setup.send("level_#{i}_label").blank?
                  %option{:value => i, :selected => (@organisation.level == i)} #{i} - #{@client_setup.send("level_#{i}_label")}

          .field_25
            = p.label :custom_id, "Custom ID"
            = p.text_field :custom_id
      .container{:class => @organisation.class.to_s == "ClientOrganisation" ? "disabled_form" :""}
        %h1 Name Details
        = render :partial => 'organisation_name_details_fields', :locals => {:p => p}
        %input.hidden{:id => :organisation_id, :value => @organisation.id}
      .container{:class => @organisation.class.to_s == "ClientOrganisation" ? "disabled_form" :""}
        %h1 Legal Details
        = render :partial => 'organisation_legal_details_fields', :locals => {:p => p}
      .container
        %h1 Business Details
        = render :partial => 'organisation_business_details_fields', :locals => {:p => p}
      .container
        %h1{:style=>"float:left"} Picture
        = render :partial => '/images/show_photo', :locals => {:entity => @organisation}
      = submit_tag 'Submit', :style => 'float:right;' ,:id=>"organisation_edit_submit"





  #right_content
    - if @super_admin || @organisation.class.to_s != "ClientOrganisation"
      .tab_ui
        #Contact{:style => "float:left;margin-left:10px;", :title=> 'Contact', :class => "organisation_edit_tab active", :field => "contact"}
          = link_to_function image_tag('/images/Icons/Core/Org/tabs/contact_title.png'), :class=>"tab_switch_button page_initial hidden", :url => "/contacts/page_initial",:method => "GET", :render_page => "/contacts/organisation_contacts_tab", :field => "contacts_page",:params1 => @organisation.id, :type => "Organisation"
          = link_to_function image_tag('/images/Icons/Core/Org/tabs/contact_title.png'), :class=>"tab_switch_with_page_initial", :field => "contacts_page"

        #Address{:style => "float:left;margin-left:10px;", :title=> 'Address', :class => "organisation_edit_tab", :field => "address"}
          = link_to_function image_tag('/images/Icons/Core/Org/tabs/address_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/addresses/page_initial", :method => "GET", :render_page => "/addresses/organisation_addresses_tab", :field => "addresses_page",:params1 => @organisation.id, :type => "Organisation"
          = link_to_function image_tag('/images/Icons/Core/Org/tabs/address_BW.png'), :class=>"tab_switch_with_page_initial", :field => "addresses_page"

        #Keyword{:style => "float:left;margin-left:10px;", :title=> 'Keyword', :class => "organisation_edit_tab", :field => "keywords"}
          = link_to_function image_tag('Icons/Core/Org/tabs/keywords_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/keywords/page_initial", :method => "GET", :render_page => "keywords/organisation_keywords_tab", :field => "keywords_page",:params1 => @organisation.id, :type => "Organisation"
          = link_to_function image_tag('Icons/Core/Org/tabs/keywords_BW.png'), :class=>"tab_switch_with_page_initial", :field => "keywords_page"

        #MasterDoc{:style => "float:left;margin-left:10px;", :title=> 'MasterDoc', :class => "organisation_edit_tab", :field => "masterdocs"}
          = link_to_function image_tag('Icons/Core/Org/tabs/masterdocs_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/master_docs/page_initial", :method => "GET", :render_page => "/master_docs/organisation_masterdocs_tab", :field => "master_docs_page",:params1 => @organisation.id, :type => "Organisation"
          = link_to_function image_tag('Icons/Core/Org/tabs/masterdocs_BW.png'), :class=>"tab_switch_with_page_initial", :field => "master_docs_page"

        #Note{:style => "float:left;margin-left:10px;", :title=> 'Note', :class => "organisation_edit_tab", :field => "notes"}
          = link_to_function image_tag('Icons/Core/Org/tabs/notes_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/notes/page_initial", :method => "GET", :render_page => "/notes/organisation_notes_tab", :field => "notes_page",:params1 => @organisation.id, :type => "Organisation"
          = link_to_function image_tag('Icons/Core/Org/tabs/notes_BW.png'), :class=>"tab_switch_with_page_initial", :field => "notes_page"

        #Employee{:style => "float:left;margin-left:10px;", :title=> 'Employee', :class => "organisation_edit_tab", :field => "employee"}
          = link_to_function image_tag('Icons/Core/Org/tabs/employee_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/employments/page_initial", :method => "GET", :render_page => "/organisations/organisation_employee", :field => "employees_page", :params1 => @organisation.id, :type => "Organisation"
          = link_to_function image_tag('Icons/Core/Org/tabs/employee_BW.png'), :class=>"tab_switch_with_page_initial", :field => "employees_page"

        #Account{:style => "float:left;margin-left:10px;", :title=> 'Account', :class => "organisation_edit_tab", :field => "banking"}
          = link_to_function image_tag('Icons/Core/Org/tabs/banking_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/organisation_bank_accounts/page_initial", :method => "GET", :render_page => "/organisation_bank_accounts/organisation_account_tab", :field => "accounts_page", :params1 => @organisation.id, :type => "Organisation"
          = link_to_function image_tag('Icons/Core/Org/tabs/banking_BW.png'), :class=>"tab_switch_with_page_initial", :field => "accounts_page"

        #Relation{:style => "float:left;margin-left:10px;", :title=> 'Relationship', :class => "organisation_edit_tab", :field => "o2o"}
          = link_to_function image_tag('Icons/Core/Org/tabs/o2o_BW.png'), :class=>"tab_switch_button page_initial hidden", :url => "/organisation_relationships/page_initial", :method => "GET", :render_page => "/relationships/organisation_relationships_tab", :field => "relations_page", :params1 => @organisation.id, :type => "Organisation"
          = link_to_function image_tag('Icons/Core/Org/tabs/o2o_BW.png'), :class=>"tab_switch_with_page_initial", :field => "relations_page"

      #contacts_page.tab_switch_container.active
        = render :partial => "/contacts/organisation_contacts_tab", :locals => {:organisation => @organisation}
      #addresses_page.tab_switch_container

      #keywords_page.tab_switch_container

      #master_docs_page.tab_switch_container

      #notes_page.tab_switch_container

      #employees_page.tab_switch_container

      #accounts_page.tab_switch_container

      #relations_page.tab_switch_container

    -else
      = render :partial => 'organisation_info'

  #duplication_box
 

 