#left
  .header
    .title
      = render :partial => "menu", :locals => { :organisation => @organisation }
    %br.clear

  %div{:id => "accordion01"}

    %h3
      %a{:href => "#"} Find By Name Details
    %div
      - form_for @organisation, :url => {:action => 'search'}, :html => {:method => :post} do |p|
        %fieldset

          .form_line
            .field_20
              = p.label :id, 'System ID'
              = p.text_field :id
            .field_20
              = p.label :custom_id, 'Custom ID'
              = p.text_field :custom_id
            .field_40
              = p.label :onrecord_since, 'On Record Since'
              = p.text_field :onrecord_since, :class=>"datepick"
            %br.clear
          .form_line
            .field_100
              = p.label :full_name, "Full Name"
              = p.text_field :full_name
            %br.clear
          .form_line
            .field_100
              = p.label :short_name, "Short Name"
              = p.text_field :short_name
            %br.clear
          .form_line
            .field_100
              = p.label :trading_as, "Trading as"
              = p.text_field :trading_as
            %br.clear
          .form_line
            .field_63
              = p.label :registered_name,"Registered Name"
              = p.text_field :registered_name
            .field_33
              = p.label :registered_number, "Registered Number"
              = p.text_field :registered_number
            %br.clear
          .form_line
            .field_33
              = p.label :registered_date, 'registered_date'
              = p.text_field :registered_date, :class=>"datepick"
            .field_33
              = p.label :registered_country_id, 'Country of Incorporation'
              = p.collection_select :registered_country_id, Country.all, :id, :short_name, {:include_blank => true}
            .field_33
              = p.label :organisation_type_id, 'Organisation Type'
              = p.collection_select :organisation_type_id, OrganisationType.active_organisation_type, :id, :name, {:include_blank => true}
            %br.clear
          .form_line
            .field_33
              = p.label :tax_file_no,'Tax File Number'
              = p.text_field :tax_file_no
            .field_33
              = p.label :legal_no_1, 'Legal Number 1'
              = p.text_field :legal_no_1
            .field_33
              = p.label :legal_no_2, 'Legal Number 2'
              = p.text_field :legal_no_2
            %br.clear
          .form_line
            .field_33
              = p.label :business_type_id, 'Type of Business'
              = p.collection_select :business_type_id, BusinessType.active_business_type, :id, :name, {:include_blank => true}
            .field_33
              = p.label :business_category_id, 'Business Category'
              = p.collection_select :business_category_id, BusinessCategory.active_business_category, :id, :name, {:include_blank => true}
            %br.clear
          .form_line
            .field_33
              = p.label :industry_sector_id, 'Industrial Sector'
              = p.collection_select :industry_sector_id, IndustrySector.active_industry_sector, :id, :name, {:include_blank => true}
            .field_33
              = p.label :industrial_code, 'Industrial Code'
              = p.text_field :industrial_code, :value=>@organisation.industrial_code
            %br.clear
          .form_line
            .field_33
              = p.label :number_of_full_time_employees,'Number of Full Time Employees'
              = p.text_field :number_of_full_time_employees, :value=>@organisation.number_of_full_time_employees
            .field_33
              = p.label :number_of_part_time_employees, 'Number of Part Time Employees'
              = p.text_field :number_of_part_time_employees, :value=>@organisation.number_of_part_time_employees
            %br.clear
          .form_line
            .field_33
              = p.label :number_of_contractors,'Number of Contractors'
              = p.text_field :number_of_contractors, :value=>@organisation.number_of_contractors
            .field_33
              = p.label :number_of_volunteers, 'Number of Volunteers'
              = p.text_field :number_of_volunteers, :value=>@organisation.number_of_volunteers
            %br.clear
          .form_line
            .field_100
              = p.label :remarks, 'Remarks'
              = p.text_field :remarks, :value=>@organisation.remarks
            %br.clear
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find', {:id => "find_button" }

    %h3
      %a{:href => "#"} Find by Contact
    %div
      
      -form_for Email.new, :url => {:action => 'search'}, :html => {:method => :post} do |email|
        %fieldset
          Email
          .form_line
            .field_20
              = email.label :contact_type_id, 'Type'
              = email.collection_select :contact_type_id, ContactType.find_all_by_contact_meta_type_id(ContactMetaType.find_by_name("Email").id), :id, :name, {:include_blank => true }
            .field_80
              = email.label :value, "Value"
              = email.text_field :value
            %br.clear         
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find'

      -form_for Phone.new, :url => {:action => 'search'}, :html => {:method => :post} do |phone|
        %fieldset
          Phone
          .form_line
            .field_20
              = phone.label :contact_type_id, 'Type'
              = phone.collection_select :contact_type_id, ContactType.find_all_by_contact_meta_type_id(ContactMetaType.find_by_name("Phone").id), :id, :name, {:include_blank => true }
            .field_20
              = phone.label :pre_value, "Pre Value"
              = phone.text_field :pre_value
            .field_40
              = phone.label :value, "value"
              = phone.text_field :value
            .field_20
              = phone.label :post_value, "Pos value"
              = phone.text_field :post_value
          %br.clear
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find'

    %h3
      %a{:href => "#"} Find by Address
    %div
      -form_for Address.new, :url => {:action => 'search'}, :html => {:method => :post} do |address|
        %fieldset
          .form_line
            .field_20
              = address.label :address_type_id, 'Type'
              = address.collection_select :address_type_id, AddressType.active_address_type, :id, :name, {:include_blank => true}
            .field_40
              = address.label :building_name, 'Building Name'
              = address.text_field :building_name
            
            %br{:style=>"clear: both;"}
            -#%br.clear
          .form_line
            .field_20
              = address.label :suite_unit, 'Unit Number'
              = address.text_field :suite_unit
            .field_25
              = address.label :street_number, 'Street Number'
              = address.text_field :street_number
            .field_50
              = address.label :street_name, 'Street Name'
              = address.text_field :street_name
            %br{ :style=>"clear: both;"}
          .form_line
            .field_33
              = address.label :town, 'Suburb/Town'
              = address.text_field :town
            .field_33
              = address.label :district, 'District'
              = address.text_field :district
            .field_33
              = address.label :region, 'Region'
              = address.text_field :region
            %br{ :style=>"clear: both;"}
          .form_line
            .field_33
              = address.label :state, 'State/Province'
              = address.text_field :state
            .field_33
              = address.label :postal_code, 'Postal Code'
              = address.text_field :postal_code
            .field_33
              = address.label :country, 'Country'
              = address.collection_select :country_id, Country.all, :id, :short_name, {:include_blank => true}
            %br.clear
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find'

        
    %h3
      %a{:href => "#"} Find by Keywords
    %div
      -form_for Keyword.new, :url => {:action => 'search'}, :html => {:method => :post} do |keyword|
        %fieldset
          %h3 Find By Keyword
          .form_line
            .field_40
              = keyword.label :name, 'Keyword'
              = keyword.collection_select :id, Keyword.all, :id, :name, {:include_blank => true}
            %br.clear
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find'

    %h3
      %a{:href => "#"} Find by Notes
    %div
      -form_for Note.new, :url => {:action => 'search'}, :html => {:method => :post} do |note|
        %fieldset
          .form_line
            .field_40
              = note.label :note_type_id, 'Type'
              = note.collection_select :note_type_id, NoteType.active_note_type, :id, :name, {:include_blank => true}
            %br.clear
            .field_40
              = note.label :label, 'Label'
              = note.text_field :label
            %br.clear
            .field_60
              = note.label :short_description, 'Description'
              = note.text_field :short_description
            %br.clear
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find'

#right
  .header
    = image_tag 'help_icon.png', :class => 'help_icon'
  %div{:id => "accordion02"}

    %h3
      %a{:href => "#"} Find by Case
    %div
      -form_for Note.new, :url => {:action => 'search'}, :html => {:method => :post} do |p|
        %fieldset
          .form_line
            .field_40
            %br.clear
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find'

    %h3
      %a{:href => "#"} Find by Membership
    %div
      -form_for Note.new, :url => {:action => 'search'}, :html => {:method => :post} do |p|
        %fieldset
          .form_line
            .field_40
            %br.clear
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find'

    %h3
      %a{:href => "#"} Find by Module X
    %div
      -form_for Note.new, :url => {:action => 'search'}, :html => {:method => :post} do |p|
        %fieldset
          .form_line
            .field_40
            %br.clear
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find'