#header
  #page_title
    %h1 Find Organisation
  #lol
#left_content
  %div.container
    %h1 Find by Organisation
    - form_for @organisation, :url => {:action => 'search'}, :html => {:method => :post} do |p|
      .container
        %h2 Identity
        .form_line
          .field_33
            = p.label :type, 'Type'
            %select{:name => "organisation[type]"}
              %option{:value => "ClientOrganisation"} Client Organisation
              %option{:value => "OtherOrganisation"} Other Organisation
              %option{:value => "AgentOrganisation"} Agent Organisation
              %option{:value => "SubOrganisation"} Sub Organisation
          .field_15
            = p.label :id, 'System ID'
            = p.text_field :id
          .field_15
            = p.label :custom_id, 'Custom ID'
            = p.text_field :custom_id
          .field_30
            = p.label :onrecord_since, 'On Record Since'
            = p.text_field :onrecord_since, :class=>"datepick"

      .container
        %h2 Name Details
        .form_line
          .field_100
            = p.label :full_name, "Full Name"
            = p.text_field :full_name
        .form_line
          .field_100
            = p.label :short_name, "Short Name"
            = p.text_field :short_name
        .form_line
          .field_100
            = p.label :trading_as, "Trading as"
            = p.text_field :trading_as

      .container
        %h2 Legal Details
        .form_line
          .field_60
            = p.label :registered_name, "Registered Name"
            = p.text_field :registered_name
          .field_37
            = p.label :registered_number, "Registered Number"
            = p.text_field :registered_number
        .form_line
          .field_34
            = p.label :registered_date, 'Registered Date'
            = p.text_field :registered_date, :class=>"datepick", :style => "width:82% !important"
          .field_30
            = p.label :registered_country_id, 'Country of Incorporation'
            = p.collection_select :registered_country_id, @countries, :id, :short_name, {:include_blank => true}
          .field_30
            = p.label :organisation_type_id, 'Organisation Type'
            = p.collection_select :organisation_type_id, OrganisationType.active_organisation_type, :id, :name, {:include_blank => true}
        .form_line
          .field_34
            = p.label :tax_file_no,'Tax File Number'
            = p.text_field :tax_file_no
          .field_30
            = p.label :legal_no_1, 'Legal Number 1'
            = p.text_field :legal_no_1
          .field_30
            = p.label :legal_no_2, 'Legal Number 2'
            = p.text_field :legal_no_2

      .container
        %h2 Business Details
        .form_line
          .field_34
            = p.label :business_type_id, 'Type of Business'
            = p.collection_select :business_type_id, BusinessType.active_business_type, :id, :name, {:include_blank => true}
          .field_34
            = p.label :business_category_id, 'Business Category'
            = p.collection_select :business_category_id, BusinessCategory.active_business_category, :id, :name, {:include_blank => true}
        .form_line
          .field_34
            = p.label :industry_sector_id, 'Industrial Sector'
            = p.collection_select :industry_sector_id, IndustrySector.active_industry_sector, :id, :name, {:include_blank => true}
          .field_34
            = p.label :industrial_code, 'Industrial Code'
            = p.text_field :industrial_code, :value=>@organisation.industrial_code
        .form_line
          .field_34
            = p.label :number_of_full_time_employees,'Full Time Employees'
            = p.text_field :number_of_full_time_employees, :value=>@organisation.number_of_full_time_employees
          .field_34
            = p.label :number_of_part_time_employees, 'Part Time Employees'
            = p.text_field :number_of_part_time_employees, :value=>@organisation.number_of_part_time_employees
        .form_line
          .field_34
            = p.label :number_of_contractors,'Number of Contractors'
            = p.text_field :number_of_contractors, :value=>@organisation.number_of_contractors
          .field_34
            = p.label :number_of_volunteers, 'Number of Volunteers'
            = p.text_field :number_of_volunteers, :value=>@organisation.number_of_volunteers
        .form_line
          .field_100
            = p.label :remarks, 'Remarks'
            = p.text_field :remarks, :value=>@organisation.remarks
      = link_to_function 'Clear', :class => "clear_find_form alt_option", :style=>"float:right",:field => "left_find_by_person"
      = submit_tag 'Find', {:id => "find_button"}
      %br.clear

#right_content{:style => "margin-top:0px;"}
  %div{:id => "accordion02"}
    %h3
      %a{:href => "#"} Find by Email
    
    %div.container      
      -form_for Email.new, :url => {:action => 'search'}, :html => {:method => :post} do |email|
        .container
          %h2 Email
          .form_line
            .field_20
              = email.label :contact_meta_type_id, 'Type'
              = email.collection_select :contact_meta_type_id, Contact.email_types, :id, :name, {:include_blank => true }
              %input{:id => "find_email_input_change_or_not", :style => "display:none", :value => "false",:class => "find_input_change_class"}
            .field_60
              = email.label :value, "Value"
              = email.text_field :value
          %p.submit
            = link_to_function 'Clear', :class => "clear_find_form alt_option", :style=>"float:right", :field => "right_find_by_email"
            = submit_tag 'Find'
          %br.clear

    %h3
      %a{:href => "#"} Find by Phone
    %div.container
      -form_for Phone.new, :url => {:action => 'search'}, :html => {:method => :post} do |phone|
        .container
          %h2 Phone
          .form_line
            .field_15
              = phone.label :contact_meta_type_id, 'Type'
              = phone.collection_select :contact_meta_type_id, Contact.phone_types, :id, :name, {:include_blank => true }
              %input{:id => "find_phone_input_change_or_not", :style => "display:none", :value => "false",:class => "find_input_change_class"}
            .field_15
              = phone.label :pre_value, "Pre Value"
              = phone.text_field :pre_value
            .field_30
              = phone.label :value, "value"
              = phone.text_field :value
            .field_15
              = phone.label :post_value, "Pos Value"
              = phone.text_field :post_value
          %p.submit
            = link_to_function 'Clear', :class => "clear_find_form alt_option", :style=>"float:right", :field => "right_find_by_phone"
            = submit_tag 'Find'
          %br.clear
    %h3
      %a{:href => "#"} Find by Address
    %div.container
      -form_for Address.new, :url => {:action => 'search'}, :html => {:method => :post} do |address|
        .container
          .form_line
            .field_20
              = address.label :address_type_id, 'Type'
              = address.collection_select :address_type_id, AddressType.active_address_type, :id, :name, {:include_blank => true}
              %input{:id => "find_address_input_change_or_not", :style => "display:none", :value => "false",:class => "find_input_change_class"}
            .field_40
              = address.label :building_name, 'Building Name'
              = address.text_field :building_name
          .form_line
            .field_20
              = address.label :suite_unit, 'Unit Number'
              = address.text_field :suite_unit
            .field_25
              = address.label :street_number, 'Street Number'
              = address.text_field :street_number
            .field_50
              = address.label :street_name, 'Street Name'
              = address.text_field :street_name
          .form_line
            .field_30
              = address.label :town, 'Suburb/Town'
              = address.text_field :town, :class => "suburb_value"
            .field_33
              = address.label :district, 'District'
              = address.text_field :district
            .field_30
              = address.label :region, 'Region'
              = address.text_field :region
          .form_line
            .field_30
              = address.label :state, 'State/Province'
              = address.text_field :state,  :class => "state_value"
            .field_33
              = address.label :postal_code, 'Postal Code'
              = address.text_field :postal_code, :class => "postcode_auto"
            .field_30
              = address.label :country, 'Country'
              = address.collection_select :country_id, @countries, :id, :short_name, {:include_blank => true}, :class => "uppercase country_value"
          %p.submit
            = link_to_function 'Clear', :class => "clear_find_form alt_option", :style=>"float:right",:field => "right_find_by_address"
            = submit_tag 'Find'
          %br.clear
        
    %h3
      %a{:href => "#"} Find by Keywords
    %div.container
      -form_for Keyword.new, :url => {:action => 'search'}, :html => {:method => :post} do |keyword|
        .container
          .form_line
            .field_40
              = keyword.label :name, 'Keyword'
              = keyword.collection_select :id, Keyword.all, :id, :name, {:include_blank => true}
          %p.submit
            = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
            = submit_tag 'Find'
          %br.clear
%br.clear