- form_for @organisation, :html => {:multipart => true, :id => "add_organisation"} do |p|
  #header
    #page_title
      %h1 Add Organisation
    #lol

  #left_content
    .container
      = p.text_field :custom_id
      %h1 Custom ID
    .container.add_name
      %h1 Name Details
      = render :partial => 'organisation_name_details_fields', :locals => {:p => p}

    .container
      %h1 Legal Details
      = render :partial => 'organisation_legal_details_fields', :locals => {:p => p}

    .container
      %h1 Business Details
      = render :partial => 'organisation_business_details_fields', :locals => {:p => p}

    .container
      %h1 Organisation Logo
      .form_line
        = label :image, :id, "Logo"
        = file_field :image, :image_file, {:size => "30"}

  #right_content
    .container.address_form
      %h1 Registered Address
      - p.fields_for :addresses do |address|
        = render :partial => '/addresses/simple_address_form', :locals => { :address => address}
    .container.add_contacts
      %h1 Primary Contact
      .container
        - p.fields_for :phones do |phone|
          = render :partial => 'phones/simple_phone_form', :locals => {:phone => phone}          
      .container
        - p.fields_for :emails do |email|
          = render :partial => 'emails/simple_email_form', :locals => {:email=> email}
      .container
        - p.fields_for :websites do |website|
          = render :partial => 'websites/simple_website_form', :locals => {:website=> website}
    
    %p.submit
      = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
      = submit_tag "Submit and Edit", :name => 'edit'
      = submit_tag "Submit"   
      