- form_for @organisation, :html => {:multipart => true, :id => "add_organisation"} do |p|
  #header
    #page_title
      %h1 New Organisation
      %input.hidden{:id => :organisation_id, :value => @organisation.id}
    #lol

  #left_content
    .container
      %h1 Identity
      .form_line
        .field_50
          = p.label :type, "Type"
          %select{:name => "type"}
            %option{:value => "OtherOrganisation"} OtherOrganisation
            %option{:value => "AgentOrganisation"} AgentOrganisation
            %option{:value => "SubOrganisation"} SubOrganisation
        .field_40
          = p.label :custom_id, "Custom ID"
          = p.text_field :custom_id, :class => @check_field.include?("custom_id") ? "organisational_check_field" : ""
      
    .container.add_name
      %h1 Name Details
      .form_line
        .field_100
          = p.label :full_name, "Full Name"
          = p.text_field :full_name, :class => @check_field.include?("full_name") ? "organisational_check_field" : ""
        %br.clear
      .form_line
        .field_100
          = p.label :short_name, "Short Name"
          = p.text_field :short_name, :class => @check_field.include?("short_name") ? "organisational_check_field" : ""
        %br.clear
      .form_line
        .field_100
          = p.label :trading_as, "Trading as"
          = p.text_field :trading_as, :class => (@check_field.include?("trading_as")) ? "organisational_check_field" : ""
        %br.clear

    .container
      %h1 Legal Details
      = render :partial => 'organisation_legal_details_fields', :locals => {:p => p}

    .container
      %h1 Business Details
      = render :partial => 'organisation_business_details_fields', :locals => {:p => p}

    .container
      .left
        %h1 Organisation Logo
      .right
        .form_line
        
          = file_field :image, :image_file, {:size => "30"}

  #right_content
    .container.address_form
      %h1 Registered Address
      - p.fields_for :addresses do |address|
        = render :partial => '/addresses/simple_address_form', :locals => { :address => address}
    .container.add_contacts
      %h1 Primary Contact
      .container
        - p.fields_for :phones do |phone|
          = render :partial => 'phones/simple_phone_form', :locals => {:phone => phone}          
      .container
        - p.fields_for :emails do |email|
          = render :partial => 'emails/simple_email_form', :locals => {:email=> email}
      .container
        - p.fields_for :websites do |website|
          = render :partial => 'websites/simple_website_form', :locals => {:website=> website}
    
    %p.submit
      = link_to_function 'Clear', :class => "clear_form alt_option", :style=>"float:right"
      //= submit_tag "Submit and Edit", :name => 'edit'
      = submit_tag "Submit"

#duplication_box
      