#left
  .header
    .title
      = render :partial => "menu", :locals => { :organisation => @organisation }
    %br.clear
  %div.info_container
    .form_line
      .field_20{:style => 'float:left;'}
        = label_tag 'organisation_id', 'System ID', :style => 'clear:both'
        - form_tag(:controller => "organisations", :action => "show", :id => "") do
          = text_field_tag 'organisation_id', @organisation.id, {:readonly=> false, :onblur => 'this.form.submit()',:id => 'system_id_tag'}

      = render :partial => "lists_menu", :locals => {:organisation => @organisation, :p => @p }
    %br.clear
      
  %div.info_container
    %div#imageshow{:style => "float:left;"}
      -if @organisation.image.nil?
        = image_tag 'no_photo.jpeg', :class => "small"
      -else
        = image_tag(image_path(@organisation.image.id), :class => "small")
    
     
    %div#idline
      - if @organisation.id.nil?
        %h3{:style=>'visibility:hidden'} Hidden
        
      -else
      
        %h3= h "#{@organisation.full_name}"
        
      .form_line
        .field_33 
          = label_tag 'custom_id', 'Custom ID'
          = text_field_tag 'custom_id', @organisation.custom_id, {:readonly => true}
        .field_33
          = label_tag 'onrecord_since', 'On Record Since'
          = text_field_tag 'onrecord_since', @organisation.onrecord_since, {:readonly => true}
        %br.clear



  %div.info_container
    %h3 Contacts
    %div.info_container
      Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = @primary_phone.nil? ? "None assigned": @primary_phone.number
    %div.info_container
      Fax &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = @primary_fax.nil? ? "None assigned": @primary_fax.number
    %div.info_container
      Website &nbsp;&nbsp;&nbsp;&nbsp;
      = @primary_website.nil? ? "None assigned": @primary_website.value
    %div.info_container
      Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = @primary_email.nil? ? "None assigned": @primary_email.value
   


  %div.info_container
    %h3
      = @primary_address.nil? ? "Address" : "#{@primary_address.address_type_name} Address"
    .primary_address_and_employment
      = format_address(@primary_address) unless @primary_address.nil?


  %div.info_container
    %h3 Key Personnel
    %div.info_container
      %h3 Office Bearer

    %div.info_container
      %h3 Contact Persons
  

#right
  
  .header
    = image_tag 'help_icon.png', :class => "help_icon"
    %br.clear
  .info_container{:align => 'center'}
    .organisation_profile_options
      = link_to_function "#{image_tag('business.png')} Business",:style=>"font-size:17px;", :id=>"business", :class=>"toggle_button1", :toggle_id_name1 => "business_info",:toggle_id_name2 => "organisation_info"
      &nbsp;|
      = link_to_function "#{image_tag('person_details.png')} organisational", :style=>"font-size:17px;", :id=>"organisational", :class=>"toggle_button1", :toggle_id_name1 => "organisation_info",:toggle_id_name2 => "business_info"
     

 
  %div.info_container#organisation_info{:style=>"display:none"}
     
    = render :partial => 'organisation_info'
    
   
        
   
  %div.page#business_info
    %div.info_container
      %h3 System Module X
      %br
      %br
      %br
      %p
    %div.info_container
      %h3 Membership
      %br
      %br
      %br
      %br
    %div.info_container
      %h3 Events
      %br
      %br
      %br
      %br
    %div.info_container
      %h3 System Module Y
      %br
      %br
      %br
      %br
    %div.info_container
      %h3 System Module Z
      %br
      %br
      %br
      %br