#organisation_content_container
  #header
    #page_title
      %h1 Organisation Profile
    #lol
      = render :partial => "/organisations/lists_menu"
      %br.clear

  #left_content
    %div#photo_info
      %div#imageshow{:style => "float:left;"}
        -if @organisation.image.nil?
          = image_tag 'Icons/System/image-missing.png', :class => "medium"
        -else
          = image_tag(image_path(@organisation.image.id), :class => "small")
      %div#organisation_name{:style=>"width:500px;margin-left:130px;height:140px;"}
        - if @organisation.id.nil?
          %h1{:style=>'visibility:hidden'} Hidden
        -else
          %h1= h "#{@organisation.full_name}"

        .form_line{:style=>"width: 350px; margin-top: 10px;"}
          = label_tag 'custom_id', 'Custom ID'
          %div.display_field_bg{:style=>"margin-left: 4px;"}
            =@organisation.custom_id
        .form_line{:style=>"width: 350px; margin-top: 2px;"}
          = label_tag 'onrecord_since', 'On Record Since'
          %div.display_field_bg{:style=>"margin-left: 4px;"}
            =@organisation.onrecord_since.to_s
        %br

    .container
      %h1 Contacts
      -unless @primary_phone.nil?
        .container
          .left
            Phone
          .right
            = @primary_phone.number

      -unless @primary_website.nil?
        .container
          .left
            Website &nbsp;&nbsp;&nbsp;&nbsp;
          .right
            = @primary_website.value

      -unless @primary_email.nil?
        .container
          .left
            Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          .right
            = @primary_email.value
   


    .container
      %h1
        = @primary_address.nil? ? "Address" : "#{@primary_address.address_type_name} Address"
      -unless @primary_address.nil?
        .container.primary_address_and_employment
          = format_address(@primary_address)

    .container
      %h1= "Legal Details"
      .right
        = format_legal_details(@organisation)

    .container
      %h1= "Business Details"
      .right
        = format_business_details(@organisation)
      

    .container
      %h1 Key Personnel
      .container
        %h2 Office Bearer

      .container
        %h2 Contact Persons

  

  #right_content
    #photo_info{:style => "margin-bottom:35px;"}
    .profile_tab_right{:field =>"organization_info"}
    .container_icon{:align => 'center'}
      = link_to_function "<h1>Organisational</h1>",  :id=>"organisational", :class=>"show_hide_button", :show_id_name => "organisation_info",:hide_id_name => "business_info"
    .profile_tab_left{:field =>"organization_info"}
    .profile_tab_right{:field =>"business_info", :style => "background-image:url(/images/round_right.png);"}
    .container_icon{:align => 'center', :class => "container_icon_color"}
      = link_to_function "<h1>System</h1>", :id=>"business", :class=>"show_hide_button", :show_id_name => "business_info",:hide_id_name => "organisation_info"
    .profile_tab_left{:field =>"business_info", :style => "background-image:url(/images/round_left.png);"}


    -#.container_icon{:align => 'center'}
      = link_to_function "#{image_tag('person_details.png')} Organisational", :style=>"font-size:17px;", :id=>"organisational", :class=>"active_organisation_info_tab", :hidden_id_name => "business_info"
    -#.container_icon{:align => 'center', :class => "container_icon_color"}
      = link_to_function "#{image_tag('business.png')} System",:style=>"font-size:17px;", :id=>"business", :class=>"active_organisation_info_tab", :hidden_id_name => "organisation_info"

 
    .container#organisation_info{:style=>"display:none"}
      = render :partial => 'organisation_info'
    
    .container#business_info
      %div.container
        %div.toggle_div{:toggle_id_name => "transaction_details", :style => "cursor: pointer;"}
          .options
            = image_tag('Icons/System/collapse.png')
          %h1 Transaction

        %div#transaction_details.left{:style => "width:100%;"}
          -#.container
          -#.right
            = link_to "Transaction", :controller => "transactions", :action => "organisational_transaction"
          %br
          %br

      %div.container
        %div.toggle_div{:toggle_id_name => "module_x_details", :style => "cursor: pointer;"}
          .options
            = image_tag('Icons/System/expand.png')
          %h1 System Module X

        %div#module_x_details.left{:style => "width:100%;display:none;"}
          %br
          %br

      %div.container
        %div.toggle_div{:toggle_id_name => "membership_details", :style => "cursor: pointer;"}
          .options
            = image_tag('Icons/System/expand.png')
          %h1 Membership

        %div#membership_details.left{:style => "width:100%;display:none;"}
          %br
          %br

      %div.container
        %div.toggle_div{:toggle_id_name => "events_details", :style => "cursor: pointer;"}
          .options
            = image_tag('Icons/System/expand.png')
          %h1 Events

        %div#events_details.left{:style => "width:100%;display:none;"}
          %br
          %br