- form_for @postal_area, :url => {:controller => "post_areas", :action => @postal_area.new_record? ? 'create' : 'update', :id => @postal_area.id},  :html => {:class => "ajax_form"} do |f|
  .form_line{:style => "float:none;"}
    .field_30
      = f.label :country_id, "Country Id"
      = f.text_field :country_id, :disabled => true, :value => session[:geo_country_id]
      = f.text_field :country_id, :class => "hidden", :value => session[:geo_country_id]
    .field_30.hidden
      = f.label :country_name, "Country Name"
      = f.text_field :country_name, :class => "hidden", :value => @country_name
    .field_30
      = f.label :division_name, "Division Name"
      = f.text_field :division_name
    .field_30
      = f.label :remarks, "Remarks"
      = f.text_field :remarks
      %input{:class => "hidden", :name => "type", :value => @postal_area.class.to_s}
  .form_line
    .field_10{:style => "float:right;"}
      = submit_tag "Submit"
