.info_container#add_query
  = image_tag('add_icon.png', :style => "float:left;margin-right:10px;")
  %h3 Add New Query
  #left
    -form_for ([@query_header, @query_criteria]) do |f|
      .form_line
        .field_50
          = f.label :table_name, 'Select Table'
          = f.collection_select :table_name, TableMetaMetaType.find(:all, :order => "name"), :id, :name, {:include_blank => true}, {:id => "show_fields"}
        %br.clear

      .form_line
        .field_50
          = f.label :field_name, 'Select Field'
          %select#fields{:name => "query_criteria[field_name]", :size => "16"}
            -@tag_types.each do |i|
              %option{:value => i.name} #{i.name}
        %br.clear

      .form_line
        .field_50
          %label Operator
          %select{:id => "query_criteria[operator]", :name => "query_criteria[operator]"}
            %option
            -TableMetaMetaType::OPERATORS.keys.sort.each do |key|
              %option{:value => key} #{key}
        %br.clear

      .form_line
        .field_50
          %label Value
          = f.text_field :value
        %br.clear


      = submit_tag "Apply"

  %br.clear
    
    

.info_container#show_queries

.info_container#edit_query