%div
  #header
    #page_title
      %h1 Existing Queries
    #lol
    %br.clear
.tab_switch.alert_with_link_container{:style => "margin-left:15px;"}
  .tab_switch_left.active.left{:field =>"review_page"}
  .container_icon.active.left{:align => 'center'}
    = link_to "<h1>Person</h1>", index_query_headers_path()
  .tab_switch_right.active.left{:field =>"review_page"}

  .tab_switch_left.left{:field =>"review_page"}
  .container_icon.left{:align => 'center'}
    = link_to "<h1>Organisation</h1>", org_index_query_headers_path()
  .tab_switch_right.left{:field =>"review_page"}
.full_container
  %input{:style => "display:none", :id => "query_detail_mode", :mode => "show"}
  %input{:style => "display:none", :id => "query_mode", :mode => "show"}
  #show_queries
    = render :partial => "queries/saved_query", :locals=>{:query_type=>"PersonQueryHeader"}
    
  #edit_query{:style => "display:none"}
    %br.clear
    .tab_looking_left
    .tab_looking_icon
      = image_tag('edit_icon.png')
      Edit
    .tab_looking_right

    %div.tab_close
      .tab_looking_left
      .tab_looking_icon
        = link_to_function image_tag('/images/Icons/System/close.png', :style => "float:right;"), :id => "close_edit_query", :style => "display:none;", :class => "close_option close_edit", :field => "query", :title=>"Close"
      .tab_looking_right
        .options
    #edit_form
      .full_container
        #edit_header
        #left
          .container
            #criteria_form{:class => "toggle_button2", :toggle_id_name => "edit_criteria", :toggle_id_name1 => "edit_selection", :toggle_id_name2 => "edit_sorter", :style => "cursor:pointer;cursor:hand"}
              .right
                = image_tag('Icons/System/collapse.png')
              %h3 Criteria Attributes
            #edit_criteria
              #edit_query_form
              %br.clear

          .container
            #display_form{:class => "toggle_button2", :toggle_id_name => "edit_selection", :toggle_id_name1 => "edit_criteria", :toggle_id_name2 => "edit_sorter", :style => "cursor:pointer;cursor:hand"}
              .right
                = image_tag('Icons/System/expand.png')
              %h3 Display Attributes
            #edit_selection{:style => "display:none"}
              #edit_selection_form
              %br.clear

          .container
            #sort_form{:class => "toggle_button2", :toggle_id_name => "edit_sorter", :toggle_id_name1 => "edit_selection", :toggle_id_name2 => "edit_criteria", :style => "cursor:pointer;cursor:hand"}
              .right
                = image_tag('Icons/System/expand.png')
              %h3 Sorting Attributes
            #edit_sorter{:style => "display:none"}
              #edit_sorter_form
              %br.clear

          .container
            #extra_form
              %h3 Extra Attributes
              .form_line
                .field_2
                  %input{:type => "checkbox", :style => "width:auto;float:left;"}
                .field_70
                  %label{:style => "width:auto;float:left;margin-top:5px;"} Allow Duplication

              .form_line
                .field_2
                  %input{:type => "radio", :name => "query_top", :value => "number", :id => "query_top_number", :checked => true}
                .field_5
                  %label{:style => "width:auto;float:left;margin-top:5px;"} Top
                .field_2
                  %input{:type => "radio", :name => "query_top", :value => "precent", :id => "query_top_percent"}
                .field_10
                  %label{:style => "width:auto;float:left;margin-top:5px;"} Precent
                .field_30
                  %input{:id => "query_top_value", :class => "integer_field"}


        #right
          #edit_query_list
          #edit_selection_list
          #edit_sorter_list

        %br.clear

        = button_to_function 'Update', :id => "save_button", :action => "edit", :style => "float:right;margin-right:10px;"
        = button_to_function 'Run Query', :id => "run_button_edit", :action => "edit", :disabled => "disabled", :style => "float:right;margin-right:10px;"
        %input#query_header_id{:style => "display:none;"}
        %input#current_action_global{:style => "display:none;"}
        = link_to_function 'view SQL statements', :class => "alt_option float_none", :id => "show_sql_statements", :action => "edit"

    #sql_div{:style => "display:none;"}
      #sql_statement

    #result_div{:style => "display:none;"}
      #sql_result

    #save_form{:style => "display:none;"}

    #runtime_form{:style => "display:none;"}