<p><%=@organisations.full_name%></p>
<p><%=@organisations.business_type%></p>
<p><%=@organisations.addresses.first.try(:address_type).try(:name)%></p>
<p><%=@organisations.addresses.first.try(:country).try(:short_name)%></p>
<p><%=@organisations.addresses.first.try(:postal_code)%></p>
<p><%=@organisations.addresses.first.try(:street_name)%></p>
