<p><%=@people.first_name%></p>
<p><%=@people.language.try(:name)%></p>
<p>&nbsp;</p>
<p><%=@people.addresses.first.try(:address_type).try(:name)%></p>
<p><%=@people.addresses.first.try(:street_name)%></p>
<p><%=@people.addresses.first.try(:country).try(:short_name)%></p>
