.full_container
  - if @mail_documents.empty?
    Mail Document folder is empty, please create mail
  - else
    %h1 Available Organisation Mail Reports
    %input.hidden{:id => "mail_document_mode", :mode => "show"}

    - for mail_document in @mail_documents do
      .container.toggle_options{:style => "width:26%;margin:1%;", :field => "mail_document"}
        .title{:style => "width:70%;padding-bottom:2px;padding-top:2px;"}
          = link_to "#{mail_document}", "/temp/"+@current_user.user_name+"/merge_docs/#{mail_document}"
        .options{:style => "display:none;"}
          = link_to_function image_tag("/images/delete_icon.png?1264549396"), :class => 'ajax_call', :param1 => "#{mail_document}",:param2 => "organisation",:light_box=> "true", :method => "delete", :url => "/message_templates/destroy", :message => "delete this pdf?"