.container
  = link_to_function image_tag("/images/close_icon.png") , :class => "close_option toggle_button", :id=> "edit_bank_entry_close_form", :style => "float:right;", :field => "bank", :toggle_id_name => "edit_bank_entry_form"
  %h3 Edit Bank
  - form_for :bank_update, @bank_to_update, :url => { :action => "update" }, :html => {:class => 'ajax_form', :id => "edit_bank_entry_form"}  do |f|
    %input{:id => "id", :name => "id", :style => "display:none;", :value => @bank_to_update.id}
    .container
      %h2 Branch Details
      .form_line
        .field_20
          = f.label :full_name, 'Full Name'
          = f.text_field :full_name
        .field_20
          = f.label :short_name, 'Short Name'
          = f.text_field :short_name
        .field_20
          = f.label :branch_name, 'Branch Name'
          = f.text_field :branch_name
        .field_20
          = f.label :short_name, 'Branch Number'
          = f.text_field :branch_number
      .form_line
        .field_40
          = f.label :address_line_1, 'Address Line 1'
          = f.text_field :address_line_1
        .field_40
          = f.label :website, 'Website'
          = f.text_field :website
      .form_line
        .field_40
          = f.label :address_line_2, 'Address Line 2'
          = f.text_field :address_line_2
        .field_40
          = f.label :general_email, 'General Email'
          = f.text_field :general_email
      .form_line
        .field_40
          = f.label :address_line_3, 'Address Line 3'
          = f.text_field :address_line_3
      .form_line
        .field_15
          = f.label :state, 'State'
          = f.text_field :state
        .field_15
          = f.label :postcode, 'Postcode'
          = f.text_field :postcode
        .field_5
          = link_to_function image_tag 'Icons/System/postcode_check.png', :style => 'display:inline;float:left;padding-top:13px;', :class => "launch_address_assistant" ,:update_field1 =>"bank_update_address_line_3", :update_field2 =>"bank_update_state", :update_field3 => "bank_update_postcode", :update_field4 => "bank_update_country_id", :title=>"Postcode"
        .field_15
          = f.label :country, 'Country'
          = collection_select :bank_update, :country_id, Country.all, :id, :short_name,  {:include_blank => true}
    .container
      %h2 Contact Person
      .form_line
        .field_20
          = f.label :contact_person, 'Name'
          = f.text_field :contact_person
        .field_20
          = f.label :contact_person_job_title, 'Job Title'
          = f.text_field :contact_person_job_title
        .field_50
          = f.label :contact_person_email, 'Email Address'
          = f.text_field :contact_person_email
      .form_line
        .field_20
          = f.label :contact_phone, 'Phone Number'
          = f.text_field :contact_person
        .field_20
          = f.label :contact_fax, 'Fax Number'
          = f.text_field :contact_fax
        .field_20
          = f.label :contact_person_email, 'Mobile Phone'
          = f.text_field :contact_mobile
    .container
      %h2 Branch Status
      .form_line
        .field_20
          = f.label :status, 'Active'
          = f.check_box :status
        .field_20
          = f.label :status_reason, 'Status Reason'
          = f.text_field :status_reason
        .field_50
          = f.label :remarks, 'Remarks'
          = f.text_field :remarks
    = submit_tag "Update"