%script{:type => "text/javascript"}
  :plain
    $(function() {
      $('.new_bank_required_field').keyup(function() {
          if($('#new_bank_full_name').val() == '' || $('#new_bank_short_name').val() == '' || $('#new_bank_branch_name').val() == '' || $('#new_bank_branch_number').val() == '') {
              $('#new_bank_submit').attr('disabled', true);
          } else {
              $('#new_bank_submit').removeAttr('disabled');
          }
      });
    });

- form_for :bank, @bank, :url => { :action => "create" }, :html => {:class => 'ajax_form', :id => "add_bank_form"}  do |f|
  .full_container
    %h2 Branch Details
    .form_line{:style => "float:none;"}
      .field_36
        = f.label :full_name, "<span class='asterisk'>*</span>Full Name"
        = f.text_field :full_name, :class => "new_bank_required_field", :id => "new_bank_full_name"
      .field_20
        = f.label :short_name, "<span class='asterisk'>*</span>Short Name"
        = f.text_field :short_name, :class => "new_bank_required_field", :id => "new_bank_short_name"
      .field_20
        = f.label :branch_name, "<span class='asterisk'>*</span>Branch Name"
        = f.text_field :branch_name, :class => "new_bank_required_field", :id => "new_bank_branch_name"
      .field_20
        = f.label :branch_number, "<span class='asterisk'>*</span>Branch Number"
        = f.text_field :branch_number, :class => "new_bank_required_field", :id => "new_bank_branch_number"
    .form_line
      .field_36
        = f.label :website, 'Website'
        = f.text_field :website
      .field_42
        = f.label :general_email, 'General Email'
        = f.text_field :general_email
    .form_line
      .field_36
        = f.label :address_line_1, 'Address Line 1'
        = f.text_field :address_line_1
      .field_20
        = f.label :address_line_3, 'Suburb/Town'
        = f.text_field :address_line_3
      .field_2
        = link_to_function image_tag 'Icons/System/postcode_check.png', :style => 'display:inline;float:left;padding-top:13px;', :class => "launch_address_assistant" ,:update_field1 =>"bank_address_line_3", :update_field2 =>"bank_state", :update_field3 => "bank_postcode", :update_field4 => "bank_country_id", :title=>"Postcode"
      .field_17
        = f.label :state, 'State'
        = f.text_field :state
    .form_line
      .field_36
        = f.label :address_line_2, 'Address Line 2'
        = f.text_field :address_line_2
      .field_23
        = f.label :postcode, 'Postcode'
        = f.text_field :postcode
      .field_17
        = f.label :country, 'Country'
        = collection_select :bank, :country_id, Country.all, :id, :short_name,  {:include_blank => true}     
  .full_container
    %h2 Contact Person
    .form_line{:style => "float:none;"}
      .field_20
        = f.label :contact_person, 'Name'
        = f.text_field :contact_person
      .field_20
        = f.label :contact_person_job_title, 'Job Title'
        = f.text_field :contact_person_job_title
      .field_50
        = f.label :contact_person_email, 'Email Address'
        = f.text_field :contact_person_email
    .form_line
      .field_20
        = f.label :contact_phone, 'Phone Number'
        = f.text_field :contact_person
      .field_20
        = f.label :contact_fax, 'Fax Number'
        = f.text_field :contact_fax
      .field_20
        = f.label :contact_person_email, 'Mobile Phone'
        = f.text_field :contact_mobile
  .full_container
    %h2 Branch Status
    .form_line{:style => "float:none;"}
      .field_20
        = f.label :status, 'Active'
        = f.check_box :status, :checked => true
      .field_20
        = f.label :status_reason, 'Status Reason'
        = f.text_field :status_reason
      .field_50
        = f.label :remarks, 'Remarks'
        = f.text_field :remarks
  = submit_tag "Submit", :id => "new_bank_submit", :disabled => true