.info_container
  %h3 Organisation Duplication Formula


  #formular_form{:style => "margin-left:1%;"}
    .info_container{:style => "width:97%;"}
      -form_for @organisational_duplication_formula, :html => {:class => 'ajax_form'} do |f|
        .form_line
          .field_30
            = f.label :duplication_space, "Duplication Space"
            = f.radio_button :duplication_space, true, :style =>"display:inline;width:25%;"
            = f.label :duplication_space, "Primary List", :style =>"display:inline;width:25%;"
            = f.radio_button :duplication_space, false, :style =>"display:inline;width:25%;"
            = f.label :duplication_space, "Customize List", :style =>"display:inline;width:25%;"
          .field_60
            = f.label :description, "Description"
            = f.text_field :description
          %br.clear

      #components{:style => "width:50%;margin:40px auto;"}
        %h3 Components
        #organisational_formula_list
          = render :partial => "/duplication_formula_details/duplication_formula_detail", :collection => @organisational_duplication_formula.duplication_formula_details
        #organisational_formula_form
          -form_for DuplicationFormulaDetail.new, :html => {:class => 'ajax_form'} do |f|
            .form_line
              .field_50
                = f.label :field_name, "Field"
                = f.collection_select :field_name, TableMetaType.organisational_duplication_source, :name, :name, {:include_blank => true}, {:class => "clear_select"}
              .field_20
                = f.label :field_name, "Length"
                = f.text_field :number_of_charecter
              .field_20{:style => "float:right;"}
                = f.label :field_name, "&nbsp;"
                = submit_tag "Add"
                %input{:style => "display:none;", :name => "duplication_formula_detail[table_name]", :value => "organisations"}
                %input{:style => "display:none;", :name => "duplication_formula_detail[duplication_formula_id]", :value => @organisational_duplication_formula.id}
              %br.clear

      %div
        = button_to_function "Apply", :id => "apply_organisation_duplication", :style => "float:right;"
        = button_to_function "Back to Default", :id => "set_organisation_default", :style => "float:right;"
        %br.clear