- organisational_options = String.new
- organisational_options = "<option></option>"
- organisational_descriptions = String.new
- organisational_descriptions += "<label class='descriptions_organisational_duplication'>&nbsp;</label>"
- TableMetaType.organisational_duplication_source.each do |i|
  - organisational_options += "<option value = #{i.name}> #{i.name} </option>"
  - if i.category.nil?
    - organisational_descriptions += "<label class='descriptions_organisational_duplication' id='description_organisational_duplication_#{i.name}' style='display:none;'>#{i.description}</label>"
  - else
    - organisational_descriptions += "<label class='descriptions_organisational_duplication' id='description_organisational_duplication_#{i.name}' style='display:none;'>#{i.description}(#{i.category})</label>"

.full_container.duplication_check{:style => "width:98%;padding:1%;"}
  -#= button_to_function "Re-generate Duplication Value", :id => "generate_organisational_duplication", :style => "float:right;"
  -#= button_to_function "Load Default Setting", :id => "load_organisational_duplication", :style => "float:right;"
  %h1 Organisational Duplication Formula


  #formular_form.full_container
    -form_for @organisational_duplication_formula, :html => {:class => 'ajax_form', :id => "organisational_duplication_form", :style => "margin-bottom:40px;"} do |f|
      #left{:style => "width:30%;margin: 0pt 5px 5px 19px;"}
        .form_line
          .field_50
            = f.label :duplication_space, "Duplication Space"
            = f.radio_button :duplication_space, true, :style =>"display:inline;width:25%;height:auto;"
            = f.label :duplication_space, "Entire System", :style =>"display:inline;width:75%;"
            %br
            = f.radio_button :duplication_space, false, :style =>"display:inline;width:25%;"
            = f.label :duplication_space, "User Lists", :style =>"display:inline;width:75%;"
          -#.field_10
            = f.label :duplication_active, "Active"
            %input{:type => "checkbox",  :checked => @organisational_duplication_formula.status ? true : false}
  
      #right{:style => "width:65%;"}
        .form_line
          = f.label :description, "Default Formula"
          .display_field_bg
            = @organisational_duplication_formula.description
          = f.text_field :description, :class => "hidden"
          = submit_tag "test", :style => "display:none;"
    = button_to_function "Load Default Setting", :id => "load_organisational_duplication", :style => "float:right;"
  #create_org_formular_form.full_container
    #left{:style => "width:38%;"}
      .full_container
        -form_for DuplicationFormulaDetail.new, :html => {:class => 'ajax_form'} do |f|
          .form_line.field_select_line
            = f.label :field_name, 'Select Field'
            %select.field_select#fields_organisational_duplication{:class => "clear_select", :name => "duplication_formula_detail[field_name]", :size => "18"}
              = "#{organisational_options}"
      

          .form_line#attribute_description_organisational_duplication{:style => "margin:0px 0 10px 0;height:40px;"}
            = "#{organisational_descriptions}"
          
          .form_line
            .field_50
              = f.label :number_of_charecter, "Number of Charecter"
              = f.text_field :number_of_charecter, :class => "integer_field", :id => "organisational_length"
              %input{:style => "display:none", :name => "duplication_formula_detail[table_name]", :value => "organisations"}
              %input{:style => "display:none", :name => "duplication_formula_detail[duplication_formula_id]", :value => @organisational_duplication_formula.id}
              %input{:style => "display:none", :id => "is_foreign_key_organisational", :name => "duplication_formula_detail[is_foreign_key]"}
            .field_40{:style => "float:right"}
              %label &nbsp;
              = submit_tag "Apply"

            %br.clear

    #right{:style => "width:60%;"}
      #organisational_formula_list
        = render :partial => "/duplication_formula_details/duplication_formula_detail", :collection => @organisational_duplication_formula.duplication_formula_details

    %br.clear
    %div
      = button_to_function "Re-generate Duplication Value", :id => "generate_organisational_duplication", :style => "float:right;"
      = button_to_function "Submit", :id => "apply_organisational_duplication",  :style => "float:right;margin-right:15px;"
      %br.clear

#load_organisational_default{:style => "display:none;"}
  .full_container
    = "#{OrganisationalDuplicationFormula.default_setting.formatted_info}"
    %br
  .full_container
    %label{:style => "display:inline;", :id => "load_organisational_message_text"}



