.info_container
  %h3 Personal Duplication Formula


  #formular_form{:style => "margin-left:1%;"}
    .info_container{:style => "width:97%;"}
      -form_for @personal_duplication_formula, :html => {:class => 'ajax_form'} do |f|
        .form_line
          .field_30
            = f.label :duplication_space, "Duplication Space"
            = f.radio_button :duplication_space, true, :style =>"display:inline;width:25%;"
            = f.label :duplication_space, "Primary List", :style =>"display:inline;width:75%;"
            = f.radio_button :duplication_space, false, :style =>"display:inline;width:25%;"
            = f.label :duplication_space, "Customize List", :style =>"display:inline;width:75%;"
          .field_60
            = f.label :description, "Description"
            = f.text_field :description
          %br.clear

    #left
      .info_container

    #right
      #personal_formula_list
