- fee_items = (MembershipFeeItem.active + SubscriptionFeeItem.active)
- form_for @membership_fee, :html => {:class => "ajax_form", :submit_button_id => "new_membership_fee"} do |f|
  .form_line
    .field_20
      %label Fee Type
      %select{:class => "clear_select general_drop_down_level", :drop_down_field => "fee_item_list" , :method => "GET", :url => "/membership_fees/fee_drop_down_list_l1"}
        %option{:value => "membership_fee_item"} Membership Fee Item
        %option{:value => "subscription_fee_item"} Subscription Fee Item

    .field_20
      = f.label :id, "<span class='asterisk'>*</span>Fee"
      %select{:class => "compulsory_field general_drop_down_level_2_3",:drop_down_field => "fee_item_list", :id => "fee_item_list", :method => "GET", :url => "/membership_fees/fee_drop_down_list_l2", :name => "membership_fee[fee_item_id]"}
      %input{:name=>"membership_fee[membership_id]", :value=>@membership.id, :class=>"hidden"}
    .field_20
      = f.label :id,  "Amount"
      .display_field_bg.general_drop_down_level_3{:drop_down_field => "fee_item_list"}
       
    .field_20
      = f.label :id, "<span class='asterisk'>*</span>Receipt Account"
      = f.collection_select :receipt_account_id, ReceiptAccount.active, :id, :name, {}, {:class => "compulsory_field"}

  .form_line
    .field_20
      = f.label :id,  "Payment Method Type"
      = f.collection_select :id, PaymentMethodMetaType.direct_debit, :id, :name, {}, {:class => "select_ajax_call", :update_field => "payment_method_type_id", :url => "/tag_types/show_dd_payment_method"}
    .field_20
      = f.label :id, "<span class='asterisk'>*</span>Payment Method"
      - if @membership_fee.new_record?
        = f.collection_select :payment_method_type_id, PaymentMethodType.find(:all, :conditions => ["tag_type_id = ?", PaymentMethodMetaType.direct_debit.first.id]), :id, :name, {}, {:id => "payment_method_type_id", :class => "compulsory_field"}
      - else
        = f.collection_select :payment_method_type_id, PaymentMethodType.find(:all, :conditions => ["tag_type_id = ?", @membership_fee.payment_method_type.payment_method_meta_type.id]), :id, :name, {}, {:id => "payment_method_type_id", :class => "compulsory_field"}

  .form_line
    .field_30
      = f.label :id, 'Active'
      = f.check_box :active, {:checked => @membership_fee.new_record? ? true : @membership_fee.active}
    .field_30{:style => "float:right;"}
      %label &nbsp;
      = submit_tag "Submit",:id => "new_membership_fee", :style => "float:right;"
    %br.clear