- form_for :campaign, @campaign, :url => { :action => "create_campaign" }, :html => {:class => 'ajax_form'}  do |f|
  .form_line
    .field_15
      = f.label :long_name, "Name", :class => "required_field"
      = f.text_field :name
  .form_line
    .field_30
      = f.label :description, "Description"
      = f.text_field :description
  .form_line
    .field_15
      = f.label :target_amount, "Target Amount"
      = f.text_field :target_amount
  .form_line
    .field_15
      = f.label :start_date, "Start Date"
      %input{:name => "start_date", :style => "width:150px;", :id => "campaign_start_date", :class => "startdatepick", :end_date => "campaign_end_date"}
    .field_15
      = f.label :iso_code, "End Date", :class => "required_field"
      %input{:name => "end_date", :style => "width:150px;", :id => "campaign_end_date", :class => "enddatepick", :start_date => "campaign_start_date"}
  .form_line
    .field_30
      = f.label :remarks, "Remarks"
      = f.text_field :remarks
    .field_10
      = f.label :status, "Active"
      = f.check_box :status, :checked => true, :class => "checkbox_style"
  .form_line
    .field_10{:style => "float:right;"}
      = submit_tag "Submit"
