.container{:style => "background-image:none;"}
  -form_for :campaign, Campaign.new, :url => {:action => "create_copy_of_campaign"}, :html => {:class => 'ajax_form'} do |f|
    .form_line
      = f.label :name, 'Name'
      = f.text_field :name, :value => ""
    .form_line
      = f.label :description, 'Description'
      = f.text_field :description
      %input{:style => "display:none", :name =>"new"}
      %input{:style => "display:none", :name => "source_id", :value => "#{@campaign.id}"}
    
    = submit_tag "Save"