%script{:type => "text/javascript"}
  :plain
    $(function() {
      $('.edit_campaign_required_field').keyup(function() {
          if($('#edit_campaign_name').val() == '' || $('#edit_campaign_start_date').val() == '') {
              $('#edit_campaign_submit').attr('disabled', true);
          } else {
              $('#edit_campaign_submit').removeAttr('disabled');
          }
      });
    });
- form_for :campaign, @campaign, :url => { :action => "update_campaign" }, :html => {:class => 'ajax_form'}  do |f|
  %input{:name => "id", :style => "width:0px;height:0px;display:none;", :value => @campaign.id}
  .form_line
    .field_15
      = f.label :long_name, "* Name", :class => "required_field"
      = f.text_field :name, :class => "edit_campaign_required_field", :id => "edit_campaign_name", :disabled => true
    .field_30
      = f.label :description, "Description"
      = f.text_field :description
  .form_line
    .field_15
      = f.label :target_amount, "Target Amount"
      = f.text_field :target_amount
    .field_30
      = f.label :remarks, "Remarks"
      = f.text_field :remarks
  .form_line
    .field_15
      = f.label :start_date, "* Start Date"
      %input{:name => "start_date", :style => "width:150px;", :id => "edit_campaign_start_date", :class => "startdatepick edit_campaign_required_field", :end_date => "edit_campaign_end_date", :value => @campaign.start_date}
    .field_15
      = f.label :iso_code, "End Date", :class => "required_field"
      %input{:name => "end_date", :style => "width:150px;", :id => "edit_campaign_end_date", :class => "enddatepick", :start_date => "edit_campaign_start_date", :value => @campaign.end_date}
  .form_line
    .field_10
      = f.label :status, "Active"
      = f.check_box :status, :checked => true, :class => "checkbox_style"
  .form_line
    .field_100{:style => "float:right;"}
      %div{:style => "display:inline;float:right;height:100%;"}
        = link_to "Remove", {:controller => "receipting", :action => "destroy_campaign", :id => @campaign.id}, {:class => 'delete', :error_message_field => "campaign", :style => "float:right;text-size:12px;padding-top:4px;padding-left:7px;"}
      %div{:style => "display:inline;float:right;height:100%;"}
        = submit_tag "Submit", :disabled => false, :id => "edit_campaign_submit"
        %button{:type => "button", :style => "", :id => "copy_campaign", :campaign => "#{@campaign.id}"}
          Save As

#campaign_save_form{:style => "display:none;"}