- routing = Hash.new{|h,k| h[k]=Hash.new(&h.default_proc) }
- routing[:administrations][:system_data]               = {:controller => "configuration", :action => "system_data" }
- routing[:administrations][:keyword_dict]              = {:controller => "configuration", :action => "keyword_dict" }
- routing[:administrations][:custom_groups]             = {:controller => "configuration", :action => "custom_groups" }
- routing[:administrations][:master_docs]               = {:controller => "configuration", :action => "master_docs" }
- routing[:administrations][:role_conditions]           = {:controller => "configuration", :action => "role_conditions"}
- routing[:administrations][:roles_management]          = {:controller => "configuration", :action => "roles_management" }
- routing[:administrations][:contact_types]             = {:controller => "configuration", :action => "contact_types" }
- routing[:administrations][:payment_methods]           = {:controller => "configuration", :action => "payment_methods" }
- routing[:administrations][:tax_items]                 = {:controller => "configuration", :action => "tax_items" }
- routing[:administrations][:duplication_check]         = {:controller => "configuration", :action => "duplication_check" }
- routing[:administrations][:group_permissions]         = {:controller => "security", :action => "group_permissions" }
- routing[:administrations][:group_lists]               = {:controller => "security", :action => "group_lists" }
- routing[:administrations][:security_groups]           = {:controller => "security", :action => "security_groups" }
- routing[:administrations][:user_accounts]             = {:controller => "users", :action => "user_accounts" }
- routing[:administrations][:user_groups]               = {:controller => "users", :action => "user_groups" }
- routing[:administrations][:user_lists]                = {:controller => "users", :action => "user_lists" }
-
- controller = routing[@current_controller.to_sym][@current_action.to_sym][:controller]
- action = routing[@current_controller.to_sym][@current_action.to_sym][:action]

%ul#menu{:style => "min-height:500px;"}

  - # System Setup Menu
  %li{:id => @current_controller == "client_setups" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "client_setups"
        = link_to "#{image_tag('Icons/Admin/System Setup/System_setup.png')} System Setup", :controller => "client_setups", :action => "parameters"
      - else
        <p>System Setup</p>
        %ul
          %li{:id => @current_action == "parameters" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/System Setup/system_parameters.png')} Parameters",{:controller => "client_setups", :action => "parameters"}, :controller => "client_setups", :action => "parameters",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/System Setup/system_parameters.png", :title => "Parameters"
          %li{:id => @current_action == "client_bank_accounts" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Bank Accounts",{:controller => "client_setups", :action => "client_bank_accounts"}, :controller => "client_setups", :action => "client_bank_accounts",:class => "draggable",:icon_module=>"administration",:image_url => "icon_holder.png", :title => "Banks Accounts"
          %li{:id => @current_action == "license_info" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/System Setup/license_info.png')} License Info",{:controller => "client_setups", :action => "license_info"}, :controller => "client_setups", :action => "license_info",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/System Setup/license_info.png", :title => "License Info"
          %li{:id => @current_action == "system_log_management" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/System Setup/system_log.png')} Audit Trail",{:controller => "client_setups", :action => "system_log_management"}, :controller => "client_setups", :action => "system_log_management",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/System Setup/system_log.png", :title => "Audit Trail"
    .bottom

  - # Configuration Menu
  %li{:id => controller == "configuration" ? "menu_active" : ""}
    .top
    .item
      - if controller != "configuration"
        = link_to "#{image_tag('Icons/Admin/Configuration/configuration.png')} Configuration", :controller => "administrations", :action => "system_data"
      -else
        <p>Configuration</p>
        %ul
          %li{:id => action == "system_data" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Configuration/system-data.png')} System Data",{:controller => "administrations", :action => "system_data"}, :controller => "administrations", :action => "system_data",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Configuration/system-data.png", :title => "System Data"
          %li{:id => action == "keyword_dict" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Configuration/keywords.png')} Keywords",{:controller => "administrations", :action => "keyword_dict"}, :controller => "administrations", :action => "keyword_dict",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Configuration/keywords.png", :title => "Keywords"
          %li{:id => action == "custom_groups" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Configuration/custom_group.png')} Custom Groups",{:controller => "administrations", :action => "custom_groups"}, :controller => "administrations", :action => "custom_groups",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Configuration/custom_group.png", :title => "Custom Groups"
          %li{:id => action == "master_docs" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Configuration/MasterDocs.png')} Master Docs",{:controller => "administrations", :action => "master_docs"}, :controller => "administrations", :action => "master_docs",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Configuration/MasterDocs.png", :title => "Master Docs"
          %li{:id => action == "roles_management" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Configuration/roles.png')} Role Manager",{:controller => "administrations", :action => "roles_management"}, :controller => "administrations", :action => "roles_management",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Configuration/roles.png", :title => "Role Manager"
          -#%li{:id => action == "role_conditions" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Configuration/roles_conditions.png')} Role Conditions", :controller => "administrations", :action => "role_conditions"
          %li{:id => action == "contact_types" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Configuration/contact_types.png')} Contact Types",{:controller => "administrations", :action => "contact_types"}, :controller => "administrations", :action => "contact_types",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Configuration/contact_types.png", :title => "Contact Types"
          %li{:id => action == "duplication_check" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Configuration/duplications.png')} Dups Check",{:controller => "administrations", :action => "duplication_check"}, :controller => "administrations", :action => "duplication_check",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Configuration/duplications.png", :title => "Dups Check"
          %li{:id => action == "payment_methods" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Payment Methods", {:controller => "administrations", :action => "payment_methods"}, :controller => "administrations", :action => "payment_methods",:class => "draggable",:icon_module=>"administration",:image_url => "icon_holder.png", :title => "Payment Methods"
          %li{:id => action == "tax_items" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Tax Items", {:controller => "administrations", :action => "tax_items"}, :controller => "administrations", :action => "tax_items",:class => "draggable",:icon_module=>"administration",:image_url => "icon_holder.png", :title => "Tax Items"
    .bottom

  - # Security Menu
  %li{:id => controller == "security" ? "menu_active" : ""}
    .top
    .item
      - if controller != "security"
        = link_to "#{image_tag('Icons/Admin/Security/security.png')} Security Group", :controller => "administrations", :action => "security_groups"
      - else
        <p>Security Groups</p>
        %ul
          %li{:id => action == "security_groups" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Security/group_manager.png')} Manager",{:controller => "administrations", :action => "security_groups"}, :controller => "administrations", :action => "security_groups",:class => "draggable",:icon_module=>"administration",:image_url => "'Icons/Admin/Security/group_manager.png", :title => "Manager"
          %li{:id => action == "group_lists" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Security/group_list.png')} Lists",{:controller => "administrations", :action => "group_lists"}, :controller => "administrations", :action => "group_lists",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Security/group_list.png", :title => "Lists"
          %li{:id => action == "group_permissions" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Security/group_permissions.png')} Access",{:controller => "administrations", :action => "group_permissions"}, :controller => "administrations", :action => "group_permissions",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Security/group_permissions.png", :title => "Dups Check"
    .bottom

  - # Users Menu
  %li{:id => controller == "users" ? "menu_active" : ""}
    .top
    .item
      - if controller != "users"
        = link_to "#{image_tag('Icons/Admin/Users/users.png')} Users", :controller => "administrations", :action => "user_accounts"
      - else
        <p>Users</p>
        %ul
          %li{:id => action == "user_accounts" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Users/user_accounts.png')} Account",{:controller => "administrations", :action => "user_accounts"}, :controller => "administrations", :action => "user_accounts",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Users/user_accounts.png", :title => "Account"
          %li{:id => action == "user_groups" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Users/user_groups.png')} Group",{:controller => "administrations", :action => "user_groups"}, :controller => "administrations", :action => "user_groups",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Users/user_groups.png", :title => "Group"
          %li{:id => action == "user_lists" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Users/users_lists.png')} List",{:controller => "administrations", :action => "user_lists"}, :controller => "administrations", :action => "user_lists",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Users/users_lists.png", :title => "List"

    .bottom

  - # System Maintenance Menu
  %li{:id => ( @current_controller == "maintenance" || @current_controller == "banks") ? "menu_active" : ""}
    .top
    .item
      - if !(@current_controller == "maintenance" || @current_controller == "banks" )
        = link_to "#{image_tag('Icons/Admin/Maintenance/maintenance.png')} Maintenance", :controller => "maintenance", :action => "system_backup"
      - else
        <p>Maintenance</p>
        %ul
          %li{:id => @current_action == "system_backup" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Maintenance/database_backup.png')} Data Backup",{ :controller => "maintenance", :action => "system_backup"}, :controller => "maintenance", :action => "system_backup",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Maintenance/database_backup.png", :title => "Data Backup"
          %li{:id => @current_action == "system_restore" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Maintenance/database_restore.png')} Data Restore",{:controller => "maintenance", :action => "system_restore"}, :controller => "maintenance", :action => "system_restore",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Maintenance/database_restore.png", :title => "Data Restore"
          %li{:id => @current_action == "import_postcodes" ? "selected" : ""}
            = link_to "#{image_tag('/images/Icons/Core/Import_export/export.png')} Import Postcodes",{:controller => "maintenance", :action => "import_postcodes"}, :controller => "maintenance", :action => "import_postcodes",:class => "draggable",:icon_module=>"administration",:image_url => "/images/Icons/Core/Import_export/export.png", :title => "Import Postcodes"
          %li{:id => @current_action == "country_data" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Maintenance/country_data.png')} Country Data",{:controller => "maintenance", :action => "country_data"}, :controller => "maintenance", :action => "country_data",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Maintenance/country_data.png", :title => "Country Data"
          %li{:id => @current_action == "list" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Maintenance/bankdata.png')} Bank Data",{:controller => "banks", :action => "list"}, :controller => "banks", :action => "list",:class => "draggable",:icon_module=>"administration",:image_url => "icon_holder.png", :title => "Bank Data"
    .bottom

  - # Testing Nightly Process
  %li{:id => ( @current_controller == "nightly_processes") ? "menu_active" : ""}
    .top
    .item
      - if !(@current_controller == "nightly_processes")
        = link_to "#{image_tag('Icons/Admin/Nightlyprocess.png')} NightlyProcess", {:controller => "nightly_processes", :action => "index"}, :controller => "nightly_processes", :action => "index",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Nightlyprocess.png", :title => "nightly_processes"
      - else
        <p>Nightly Process</p>
        %ul
          %li{:id => @current_action == "index" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Admin/Nightlyprocess.png')} Test", {:controller => "nightly_processes", :action => "index"}, :controller => "nightly_processes", :action => "index",:class => "draggable",:icon_module=>"administration",:image_url => "Icons/Admin/Nightlyprocess.png", :title => "nightly_processes"
    .bottom

  -# Global Change
  %li{:id => (@current_controller == "global_changes") ? "menu_active" : ""}
    .top
    .item
      -if !(@current_controller == "global_changes")
        = link_to "#{image_tag('Icons/Admin/Global Changes/global_changes.png')} Global Change",{:controller => "global_changes", :action => "index"},:controller => "global_changes",:action => "index", :class => "draggable", :icon_module => "administration", :image_url => "Icons/Admin/Global Changes/global_changes.png", :title => "global_changes"
      -else
        <p>Global Change</p>
        %ul
          %li{:id=>@current_action == "index" ? "selected" : ""}
            =link_to "#{image_tag('Icons/Admin/Global Changes/global_changes.png')} Global Change",{:controller => "global_changes",:action => "index"},:controller => "global_changes",:action => "index",:class => "draggable",:icon_module => "administration",:image_url => "Icons/Admin/Global Changes/global_changes.png", :title => "global_changes"
         