- routing = Hash.new{|h,k| h[k]=Hash.new(&h.default_proc) }
- routing[:administrations][:query_tables]              = {:controller => "configuration", :action => "query_tables" }
- routing[:administrations][:access_permissions]        = {:controller => "configuration", :action => "access_permissions" }
-
- controller = routing[@current_controller.to_sym][@current_action.to_sym][:controller]
- action = routing[@current_controller.to_sym][@current_action.to_sym][:action]

%ul#menu{:style => "min-height:500px;"}

  - # Client Setup Menu
  %li{:id => @current_controller == "client_setups" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "client_setups"
        = link_to "#{image_tag('Icons/Powernet_module/client_setup.png')} Client Setup", :controller => "client_setups", :action => "client_organisation"
      - else
        <p>Client Setup</p>
        %ul
          %li{:id => @current_action == "client_organisation" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Core/Org/org.png')} Organisation", {:controller => "client_setups", :action => "client_organisation"},:class => "draggable",:icon_module=>"client_setup",:image_url => "Icons/Core/Org/org.png", :title => "Organisation"
          %li{:id => @current_action == "installation" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Powernet_module/Installation.png')} Installation",{:controller => "client_setups", :action => "installation"}, :controller => "client_setups", :action => "installation",:class => "draggable",:icon_module=>"client_setup",:image_url => "Icons/Powernet_module/Installation.png", :title => "Installation"
          %li{:id => @current_action == "super_admin" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Super Admin",{:controller => "client_setups", :action => "super_admin"}, :controller => "client_setups", :action => "super_admin",:class => "draggable",:icon_module=>"client_setup",:image_url => "image_tag('icon_holder.png')", :title => "Super Admin"
          %li{:id => @current_action == "member_zone" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Member Zone",{:controller => "client_setups", :action => "member_zone"},  :controller => "client_setups", :action => "member_zone", :class => "draggable",:icon_module=>"client_setup",:image_url => "image_tag('icon_holder.png')", :title => "Member Zone"
          %li{:id => @current_action == "available_modules" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Powernet_module/modules.png')} Modules", {:controller => "client_setups", :action => "available_modules"},:controller => "client_setups", :action => "available_modules",:class => "draggable",:icon_module=>"client_setup",:image_url => "Icons/Powernet_module/modules.png", :title => "Modules"
          %li{:id => @current_action == "feedback_list" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Powernet_module/user_feedback.png')} Feedback List",{:controller => "client_setups", :action => "feedback_list"}, :controller => "client_setups", :action => "feedback_list",:class => "draggable",:icon_module=>"client_setup",:image_url => "Icons/Powernet_module/user_feedback.png", :title => "Feedback List"
    .bottom

  - # Configuration Menu
  %li{:id => controller == "configuration" ? "menu_active" : ""}
    .top
    .item
      - if controller != "configuration"
        = link_to "#{image_tag('Icons/Admin/Configuration/configuration.png')} Configuration", :controller => "administrations", :action => "query_tables"
      -else
        <p>Configuration</p>
        %ul
          %li{:id => action == "query_tables" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Powernet_module/query_table.png')} Query Tables",{:controller => "administrations", :action => "query_tables"}, :controller => "administrations", :action => "query_tables",:class => "draggable",:icon_module=>"client_setup",:image_url => "Icons/Powernet_module/query_table.png", :title => "Query Tables"
          %li{:id => action == "access_permissions" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Powernet_module/permissions.png')} Access Permissions",{:controller => "administrations", :action => "access_permissions"}, :controller => "administrations", :action => "access_permissions",:class => "draggable",:icon_module=>"client_setup",:image_url => "Icons/Powernet_module/permissions.png", :title => "Access Permissions"

    .bottom
