%ul#menu

  - # New Menu
  %li{:id => @current_controller == "membership" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "membership"
        = link_to "#{image_tag('icon_holder.png')} Management", :controller => "membership", :action => "new", :id => (@membership.nil?) ? "" : @membership.id
      - else
        <p>Management</p>
        %ul       
          %li{:id => @current_action == "new" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Management", {:controller => "membership", :action => "new"} , :class => "draggable", :controller => "membership", :action => "new",:icon_module=>"membership",:image_url => "icon_holder.png", :title => "Membership Management"
          %li{:id => (@current_action == "step_2" || @current_action == "step_3") ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Manage", {:controller => "membership", :action => "step_2"}, :class => "draggable", :controller => "membership_administrations", :action => "step_2", :icon_module=>"membership",:image_url => "icon_holder.png", :title => "MEM STEP 2"
          %li{:id => @current_action == "step_one" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Step One", {:controller => "membership", :action => "step_one"} , :class => "draggable", :controller => "membership", :action => "step_one",:icon_module=>"membership",:image_url => "icon_holder.png", :title => "Step One"
         
          %br.clear
    .bottom

  -# configration for membership
  %li{:id => @current_controller == "membership_administrations" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "membership_administrations"
        = link_to "#{image_tag('Icons/Receipting/campaigns.png')} Admin", :controller => "membership_administrations", :action => "fee_items"
      -else
        <p>Admin</p>
        %ul
          %li{:id => @current_action == "fee_items" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Receipting/campaigns.png')} Fee Items", {:controller => "membership_administrations", :action => "fee_items"}, :class => "draggable", :controller => "membership_administrations", :action => "fee_items", :icon_module=>"membership",:image_url => "Icons/Receipting/campaigns.png", :title => "fee_items"
