%ul#menu
  - # Transaction Menu
  %li{:id => @current_controller == "transactions" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "transactions"
        = link_to "#{image_tag('Icons/Receipting/transactions.png')} Transactions", :controller => "transactions", :action => "personal_transaction"
      - else
        <p>Transactions</p>
        %ul
          %li{:id => @current_action == "personal_transaction" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Receipting/money_person.png')} Person", {:controller => "transactions", :action => "personal_transaction"}, :class => "draggable", :controller => "transactions", :action => "personal_transaction", :icon_module=>"receipting",:image_url => "Icons/Receipting/money_person.png", :title => "Personal Transaction"
          %li{:id => @current_action == "organisational_transaction" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Receipting/money_org.png')} Organisation", {:controller => "transactions", :action => "organisational_transaction"},:class => "draggable", :controller => "transactions", :action => "organisational_transaction", :icon_module=>"receipting",:image_url => "Icons/Receipting/money_org.png", :title => "Organisational Transaction"
          %li{:id => @current_action == "enquiry" ? "selected" : ""}
            = link_to "#{image_tag('/images/Icons/Receipting/transactions.png')} Enquiry", {:controller => "transactions", :action => "enquiry"},:class => "draggable", :controller => "transactions", :action => "enquiry", :icon_module=>"receipting",:image_url => "/images/Icons/Receipting/transactions.png", :title => "Transaction Enquiry"
          %li{:id => @current_action == "bank_run" ? "selected" : ""}
            = link_to "#{image_tag('/images/Icons/Receipting/bankrun.png')} Bank Run", {:controller => "transactions", :action => "bank_run"},:class => "draggable", :controller => "transactions", :action => "bank_run", :icon_module=>"receipting",:image_url => "/images/Icons/Receipting/bankrun.png", :title => "Bank Run"
          %br.clear
    .bottom

  - # Receipting Menu
  %li{:id => @current_controller == "receipting" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "receipting"
        = link_to "#{image_tag('Icons/System/admin.png')} Administration", :controller => "receipting", :action => "campaign_data"
      - else
        <p>Administration</p>
        %ul
          %li{:id => @current_action == "campaign_data" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Receipting/campaigns.png')} Campaigns", {:controller => "receipting", :action => "campaign_data"}, :class => "draggable", :controller => "receipting", :action => "campaign_data", :icon_module=>"receipting",:image_url => "Icons/Receipting/campaigns.png", :title => "campaign_data"
          %li{:id => @current_action == "receipt_accounts" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Receipting/receipt_accounts.png')} Receipt Accounts", {:controller => "receipting", :action => "receipt_accounts"}, :class => "draggable", :controller => "receipting", :action => "receipt_accounts", :icon_module=>"receipting",:image_url => "Icons/Receipting/receipt_accounts.png", :title => "receipt_accounts"
          %li{:id => @current_action == "receipt_types" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Receipting/receipt_types.png')} Receipt Types", {:controller => "receipting", :action => "receipt_types"}, :class => "draggable", :controller => "receipting", :action => "receipt_types", :icon_module=>"receipting",:image_url => "Icons/Receipting/receipt_types.png", :title => "receipt_types"
          %br.clear
    .bottom

