%ul#menu
  - # Receipting Menu
  %li{:id => @current_controller == "receipting" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "receipting"
        = link_to "#{image_tag('/images/icon_holder.png')} Administration", :controller => "receipting", :action => "campaign_data"
      - else
        <p>Administration</p>
        %ul
          %li{:id => @current_action == "campaign_data" ? "selected" : ""}
            = link_to "#{image_tag('/images/icon_holder.png')} Campaigns", :controller => "receipting", :action => "campaign_data"
          %li{:id => @current_action == "receipt_accounts" ? "selected" : ""}
            = link_to "#{image_tag('/images/icon_holder.png')} Receipt Accounts", :controller => "receipting", :action => "receipt_accounts"
          -#%li{:id => @current_action == "receipt_methods" ? "selected" : ""}
            = link_to "#{image_tag('/images/icon_holder.png')} Receipt Methods", :controller => "receipting", :action => "receipt_methods"
          -#%li{:id => @current_action == "allocation_types" ? "selected" : ""}
            = link_to "#{image_tag('/images/icon_holder.png')} Allocation Types", :controller => "receipting", :action => "allocation_types"
          %li{:id => @current_action == "receipt_types" ? "selected" : ""}
            = link_to "#{image_tag('/images/icon_holder.png')} Receipt Types", :controller => "receipting", :action => "receipt_types"
          %br.clear
    .bottom

