%ul#menu

  - # Person Menu
  %li{:id => @current_controller == "people" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "people"
        = link_to "#{image_tag('Icons/Core/Person/person.png')} Person", :controller => "people", :action => "show", :id => (@person.nil?) ? "" : @person.id
      - else
        <p>Person</p>
        %ul
          %li{:id => @current_action == "show" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Core/Person/profile.png')} Profile", :controller => "people", :action => "show", :id => @person.id
          %li{:id => @current_action == "new" ? "selected" : ""}
            = link_to "#{image_tag('Icons/System/add.png')} New", :controller => "people", :action => "new"
          %li{:id => @current_action == "edit" ? "selected" : ""}
            - if !(@person.nil? || @person.new_record?)
              = link_to "#{image_tag('Icons/System/edit_button.graphic.png')} Edit", :controller => "people", :action => "edit", :id => @person.id
            - else
              = link_to "#{image_tag('Icons/System/edit_button.graphic.png')} Edit", :controller => "people", :action => "edit"
          %li{:id => (@current_action == "find" || @current_action == "search") ? "selected" : ""}
            = link_to "#{image_tag('Icons/Core/Person/find.png')} Find", :controller => "people", :action => "find"
          %br.clear
    .bottom

  - # Organisation Menu
  %li{:id => @current_controller == "organisations" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "organisations"
        = link_to "#{image_tag('Icons/Core/Org/org.png')} Organisation", :controller => "organisations", :action => "show", :id => (@organisation.nil?) ? "" : @organisation.id
      - else
        <p>Organisation</p>
        %ul
          %li{:id => "selected"}
            = link_to "#{image_tag('Icons/Core/Org/profile.png')} Profile", :controller => "organisations", :action => "show", :id => @organisation.id
          %li{:id => @current_action == "new" ? "selected" : ""}
            = link_to "#{image_tag('Icons/System/add.png')} New", :controller => "organisations", :action => "new"
          %li{:id => @current_action == "edit" ? "selected" : ""}
            - if !(@organisation.nil? || @organisation.new_record?)
              = link_to "#{image_tag('Icons/System/edit_button.graphic.png')} Edit", :controller => "organisations", :action => "edit", :id => @organisation.id
            - else
              = link_to "#{image_tag('Icons/System/edit_button.graphic.png')} Edit", :controller => "organisations", :action => "edit"
          %li{:id => (@current_action == "find" || @current_action == "search") ? "selected" : ""}
            = link_to "#{image_tag('Icons/Core/Org/find.png')} Find", :controller => "organisations", :action => "find"
    .bottom

  - # Query Menu
  %li{:id => @current_controller == "query_headers" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "query_headers"
        = link_to "#{image_tag('Icons/Core/query/query_icon.png')} Query", :controller => "query_headers", :action => "new"
      - else
        <p>Query</p>
        %ul
          %li{:id => @current_action == "new" ? "selected" : ""}
            = link_to "#{image_tag('Icons/System/add.png')} New", :controller => "query_headers", :action => "new"
          %li{:id => @current_action == "index" ? "selected" : ""}
            = link_to "#{image_tag('Icons/System/edit_button.graphic.png')} Edit", :controller => "query_headers", :action => "index"
          %li{:id => @current_action == "org_new" ? "selected" : ""}
            = link_to "#{image_tag('Icons/System/add.png')} Org New", :controller => "query_headers", :action => "org_new"
          %li{:id => @current_action == "org_index" ? "selected" : ""}
            = link_to "#{image_tag('Icons/System/edit_button.graphic.png')} Org Edit", :controller => "query_headers", :action => "org_index"
    .bottom

  - # List of Lists Menu
  %li{:id => @current_controller == "list_headers" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "list_headers"
        = link_to "#{image_tag('Icons/Core/Lol/lol.png')} List of list", :controller => "list_headers", :action => "new"
      - else
        <p>List of list</p>
        %ul
          %li{:id => @current_action == "manage_list" ? "selected" : ""}
            = link_to "#{image_tag('Icons/System/edit_button.graphic.png')} Edit", :controller => "list_headers", :action => "manage_list"
          %li{:id => @current_action == "compile_list" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Core/Lol/list_compiler.png')} Compile", :controller => "list_headers", :action => "compile_list"
          %li{:id => @current_action == "org_manage_list" ? "selected" : ""}
            = link_to "#{image_tag('Icons/System/edit_button.graphic.png')} Org Manager", :controller => "list_headers", :action => "org_manage_list"
          %li{:id => @current_action == "org_compile_list" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Core/Lol/list_compiler.png')} Org Compile", :controller => "list_headers", :action => "org_compile_list"
    .bottom

  - # Report Menu
  %li{:id => @current_controller == "reports" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "reports"
        = link_to "#{image_tag('Icons/Core/reporting/report.png')} Reporting", :controller => "reports", :action => "index"
      - else
        <p>Reporting</p>
        %ul
          %li{:id => @current_action == "index" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Core/reporting/report_default.png')} Default Report", :controller => "reports", :action => "index"
    .bottom

  - # Import and Export Menu
  %li{:id => @current_controller == "data_managers" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "data_managers"
        = link_to "#{image_tag('Icons/Core/Import_export/importexporticon.png')} Import/Export", :controller => "data_managers", :action => "import_index"
      - else
        <p>Import/Export</p>
        %ul
          %li{:id => @current_action == "import_index" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Core/Import_export/import.png')} Import", :controller => "data_managers", :action => "import_index"
          %li{:id => @current_action == "export_index" ? "selected" : ""}
            = link_to "#{image_tag('Icons/Core/Import_export/export.png')} Export", :controller => "data_managers", :action => "export_index"
    .bottom

  - # Communication menu
  %li{:id => @current_controller == "communication" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "communication"
        = link_to "#{image_tag('icon_holder.png')} Contact", :controller => "communication", :action => "email"
      - else
        <p>Contact</p>
        %ul
          %li{:id => @current_action == "email" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Email", :controller => "communication", :action => "email"
    .bottom