%ul#menu

  - # Person Menu
  %li{:id => @current_controller == "people" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "people"
        = link_to "Person", :controller => "people", :action => "show", :id => (@person.nil?) ? "" : @person.id
      - else
        Person
        %ul
          %li{:id => @current_action == "show" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Profile", :controller => "people", :action => "show", :id => @person.id
          %li{:id => @current_action == "new" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} New", :controller => "people", :action => "new"
          %li{:id => @current_action == "edit" ? "selected" : ""}
            - if !(@person.nil? || @person.new_record?)
              = link_to "#{image_tag('icon_holder.png')} Edit", :controller => "people", :action => "edit", :id => @person.id
            - else
              = link_to "#{image_tag('icon_holder.png')} Edit", :controller => "people", :action => "edit"
          %li{:id => (@current_action == "find" || @current_action == "search") ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Find", :controller => "people", :action => "find"
          %br.clear
    .bottom

  - # Organisation Menu
  %li{:id => @current_controller == "organisations" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "organisations"
        = link_to "Organisation", :controller => "organisations", :action => "show", :id => (@organisation.nil?) ? "" : @organisation.id
      - else
        Organisation
        %ul
          %li{:id => "selected"}
            = link_to "#{image_tag('icon_holder.png')} Profile", :controller => "organisations", :action => "show", :id => @organisation.id
          %li{:id => ""}
            = link_to "#{image_tag('icon_holder.png')} New", :controller => "organisations", :action => "new"
          %li{:id => ""}
            - if !(@organisation.nil? || @organisation.new_record?)
              = link_to "#{image_tag('icon_holder.png')} Edit", :controller => "organisations", :action => "edit", :id => @organisation.id
            - else
              = link_to "#{image_tag('icon_holder.png')} Edit", :controller => "organisations", :action => "edit"
          %li{:id => ""}
            = link_to "#{image_tag('icon_holder.png')} Find", :controller => "organisations", :action => "find"
    .bottom

  - # Query Menu
  %li{:id => @current_controller == "query_headers" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "query_headers"
        = link_to "Query Manager", :controller => "query_headers", :action => "new"
      - else
        Query Manager
        %ul
          %li{:id => @current_action == "new" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} New", :controller => "query_headers", :action => "new"
          %li{:id => @current_action == "index" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Edit", :controller => "query_headers", :action => "index"
    .bottom

  - # List of Lists Menu
  %li{:id => @current_controller == "list_headers" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "list_headers"
        = link_to "List of list", :controller => "list_headers", :action => "new"
      - else
        List of list
        %ul
          %li{:id => @current_action == "new" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} New", :controller => "list_headers", :action => "new"
          %li{:id => @current_action == "manage_list" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Edit", :controller => "list_headers", :action => "manage_list"
          %li{:id => @current_action == "compile_list" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Compile", :controller => "list_headers", :action => "compile_list"
    .bottom

  - # Report Menu
  %li{:id => @current_controller == "reports" ? "menu_active" : ""}
    .top
    .item
      - if @current_controller != "reports"
        = link_to "Report", :controller => "reports", :action => "index"
      - else
        Report
        %ul
          %li{:id => @current_action == "index" ? "selected" : ""}
            = link_to "#{image_tag('icon_holder.png')} Reporting", :controller => "reports", :action => "index"
    .bottom

  - # Import and Export Menu
  %li{:id => @current_controller == "importer" ? "menu_active" : ""}
    .top
    .item
      Import/Export
    .bottom