#header
  #page_title
    %h1 Import Postcodes
  #lol
    %br.clear
#content_full_page
  .container
    - form_tag("/maintenance/import_postcode_file", :multipart => true) do

      %div#postcode_import_settings
        %h2
          Select Data File and Country

        %br.clear
        Country
        %br.clear
        = collection_select :import_postcode, :country_id, Country.all, :id, :short_name,  {:include_blank => false}, {:style => "width:15%;"}

        %p

        %br.clear
        Postcode data file
        %br.clear
        = file_field :postcode_file, nil, {:style => "height:25px;"}

        %p

        %br.clear

        %h2
          Enter column numbers
        %br.clear
        %p
          For the following fields, please enter the number of the column it corresponds to in the data file. If there is no match please leave the value blank.
        %br.clear
        %table
          %tr
            %td{:style => "padding:1em;"}
              Suburb:
            %td{:style => "padding:1em;"}
              = text_field_tag :suburb, nil, :size => "2", :class => "check_postcode_columns integer_field"
          %tr
            %td{:style => "padding:1em;"}
              State:
            %td{:style => "padding:1em;"}
              = text_field_tag :state, nil, :size => "2", :class => "check_postcode_columns integer_field"
          %tr
            %td{:style => "padding:1em;"}
              Postcode:
            %td{:style => "padding:1em;"}
              = text_field_tag :postcode, nil, :size => "2", :class => "check_postcode_columns integer_field"
        %br.clear

        %h2 Configure data import options
        %br.clear
        %p
          Number of lines to skip at the start of the file (blank defaults to zero):
          = text_field_tag :header_lines, nil, :size => "2", :class => "check_postcode_columns integer_field", :style => "display:inline;width:20px;"
         
        %p
        %br.clear
        %p

          For imported data:
        %br.clear
        %p
          = radio_button("update_option", nil, "append", :checked => "checked")
          Append Records
          = radio_button("update_option", nil, "overwrite")
          Overwrite Records (deletes all previous records)
        %br.clear
        %p

        = submit_tag("Submit")

