#header
  #page_title
    %h1 Import Postcodes
  #lol
    %br.clear
#content_full_page
  .full_container
    - form_tag("/maintenance/import_postcode_file", :multipart => true) do

      %div#postcode_import_settings
        .full_container
          %div
          .title
            %h1
              Select Data File and Country
            %br
            %span{:style =>"font-size:13px;"}
              All fields must be filled.
            %br

          .form_line
            .field_25
              = label :country_id, 'Country'
              = collection_select :import_postcode, :country_id, Country.all, :id, :short_name,  {:include_blank => false}, {:style => "width:90%;"}
            .field_40
              = label :postcode_file, 'Postcode Data File'
              = file_field :postcode_file, nil, {:style => "height:25px;"}

        .full_container
          %div
          .title
            %h1
              Enter column numbers
            %br
            %span{:style =>"font-size:13px;"}
              All field must be filled.
              %br
              For each field please enter the number of the column it corresponds to in the data file:
            %br
          .form_line
            .field_30
              = label :suburb, 'Suburb'
              = text_field_tag :suburb, nil, :class => "check_postcode_columns integer_field", :style => "width:30%;"
            .field_30
              = label :state, 'State'
              = text_field_tag :state, nil, :class => "check_postcode_columns integer_field", :style => "width:30%;"
            .field_30
              = label :state, 'Postcode'
              = text_field_tag :postcode, nil, :class => "check_postcode_columns integer_field", :style => "width:30%;"

        .full_container
          %div
          .title
            %h1
              Configure data import options
            %br

          .form_line
            .field_100
              Number of lines to skip at the start of the file:
              = text_field_tag :header_lines, nil, :class => "check_postcode_columns integer_field", :style => "display:inline;width:30px;"
          .form_line
            .field_100
              For imported data:

          %br.clear

          = radio_button("update_option", nil, "append", :checked => "checked", :style => "margin-left:1.5em;margin-bottom:1.5em;")
          Append Records
          %br
          = radio_button("update_option", nil, "overwrite", :style => "margin-left:1.5em;margin-bottom:1.5em;")
          Overwrite Records (deletes all previous records)
        %br
   

      = submit_tag("Submit", :disabled => true, :id => "import_postcode_submit")

