.form_
  .field_20
    %h3{:style=>'margin-top:10px;'} Fax
  .field_17
    = fax.label :contact_type_id, 'Type'
    = fax.collection_select :contact_type_id, ContactMetaType.find_all_by_name("Fax"), :id, :name
  .field_12
    = fax.label :pre_value, "Prefix"
    = fax.text_field :pre_value
  .field_33
    = fax.label :value, "Number"
    = fax.text_field :value
  .field_12
    = fax.label :post_value, "Suffix"
    = fax.text_field :post_value
%br{ :style=>"clear: both;"}