-#Contacts Tab

.container
  .header_container
    .options
      = link_to_function image_tag('add_icon.png'), :id=>"add_contact", :class=>"toggle_button new_option", :field => "contact", :toggle_id_name => "new_contact"  if (!organisation.nil? && !organisation.new_record?)
      = image_tag('help_icon.png')
    .title
      %h1 Contact Details
      %input{:id => "contact_mode" :mode => "show", :style => "display:none"}
    %br{ :style=>"clear: both;"}

  =# Initially hidden new address form
  .container#new_contact{:style=>"display:none"}
    .options{:style => "float:right"}
      = link_to_function image_tag('close_icon.png'), :class => "clear_form toggle_button close_option", :field => "contact", :toggle_id_name => "new_contact"
    %h1 New Contact
     
    %p
      .form_line
        .field_20
          %select#select_contact_type
            = for cmt in ContactMetaMetaType.all
              %option{:value => "add_#{cmt.name.downcase}"}
                = cmt.name
      %br{ :style=>"clear: both;"}
                
        
    -form_for([@organisation,@phone], :html => {:class => 'active contact_form ajax_form add_phone'}) do |phone|
      = render :partial => '/phones/phone_form', :locals => { :phone => phone }
      = submit_tag 'Submit'
      %br{ :style=>"clear: both;"}
        
    -form_for([@organisation,@email], :html => {:class => 'contact_form ajax_form add_email'}) do |email|
      = render :partial => '/emails/email_form', :locals => { :email => email }
      = submit_tag 'Submit'
      %br{:style=>"clear:both;"}

    -form_for([@organisation,@website], :html => {:class => 'contact_form ajax_form add_website'}) do |website|
      = render :partial => '/websites/website_form', :locals => { :website => website }
      = submit_tag 'Submit'
      %br{:style=>"clear:both;"}

    
  #contacts
    =# Render the organisation's contacts
    = render :partial => '/contacts/contact', :collection => @organisation.contacts
      