- group = @group unless @group.nil?
%div{:id => "sub_groups_in_group_#{group.id}"}
  -for sub_group in group.tags do
    .container{:class => "toggle_multilevel_options", :level => "2", :id => "sub_group_#{sub_group.id}"}
      %div.options{:style => "display:none;"}
        = image_tag("edit_icon.png", :class => "multilevel_edit_option edit_custom_group", :level => "2", :sub_group_id => sub_group.id)
        = image_tag("delete_icon.png" , :class => "multilevel_delete_option", :level => "2", :id => "delete_custom_group", :custom_group_type_id => group.id, :custom_group_id => sub_group.id)
      = sub_group.name
    %div{:id => "edit_sub_group_#{sub_group.id}", :style => "display:none;"}
      %br.clear
      .container
        = link_to_function image_tag("close_icon.png", :size => "19x18"), :style => "float:right;", :sub_group_id => sub_group.id, :class => "close_edit_custom_group"
        Edit
        %br.clear
        - form_for GroupType.new, :url => {:controller => "tags", :action => "edit_custom_sub_group", :id => sub_group.id, :group_id => group.id}, :html => {:class => "ajax_form"} do |p|
          .form_line
            .field_30
              = p.label :name, 'Name'
              = p.text_field :name, {:class => "group_type_name", :value => sub_group.name}
            .field_35
              = p.label :description, 'Description'
              = p.text_field :description, {:class => "group_type_description", :value => sub_group.description}
            .field_30
              = p.label :active
              %label
                = p.check_box :status, {:class => "group_type_active", :value => (sub_group.status? ? "status" : "") }
              = submit_tag 'Submit', :style => 'display:inline;float:right;', :name => 'edit'
      %br.clear