%div#reset_password_container
  .header
    #page_title{:style => "margin-top:20px;"}
      %h1 Change of Password Required
    #lol
      %br.clear
  .container
    -form_for @login_account, :url=> {:controller => 'login_accounts',:action => 'update_password', :id => @login_account.id}, :html => {:class => 'admin_password_reset'} do |login|
      #page_title
        %h1 Please reset your password (all fields are required)
      #lol
        %br.clear
      .container{:id => "password_form"}
        %br
        %br
        .form_line
          .field_35
            = login.label :password, 'Old Password'
            %input{:id => "old_password", :name =>"old_password", :class => "validate[required,length[6,30]]", :type => "password"}
        %br
        %br
        %br

        .form_line
          .field_35
            = login.label :password, 'Password'
            = login.password_field :password, :class => "password jpassword-righttop validate[required,length[6,30]]"
        %br
        %br
        %br
        .form_line
          .field_35
            = login.label :password_confirmation, 'Repeat Password'
            = login.password_field :password_confirmation, :class => "validate[required,length[6,30],confirm[login_account_password]]"
        .form_line{:style => "height:30px;"}
          %br

      #page_title
        %h1 Please answer your security questions (all fields are required)
      #lol
        %br.clear
      .container

        .form_line
          .field_35
            = login.label :question1_answer, "#{@login_account.security_question_1.name}"
            = login.text_field :question1_answer, :class => "validate[required]", :value => ""
        %br
        %br
        %br
        .form_line
          .field_35
            = login.label :question1_answer, "#{@login_account.security_question_1.name}"
            = login.text_field :question2_answer, :class => "validate[required]", :value => ""

        %br
        %br
        %br
        .form_line
          .field_35
            = login.label :question3_answer, "#{@login_account.security_question_1.name}"
            = login.text_field :question3_answer, :class => "validate[required]", :value => ""
      %br.clear
      = submit_tag 'Submit'
  %br.clear

