<div id="header"><h1>Bank Deposit Sheet</h1></div>
<div id="content_holder">
  <div id="top">
    <div>
      <div class="top_item">Credit: <%= @client.full_name %></div>
      <div class="top_item">&nbsp;</div>
      <div class="top_item">Date: <%= @date %></div>
    </div>

    <div>
      <div class="top_item">Bank Run ID: <%= @run_id %></div>
      <div class="top_item">Bank Account: <%= account.account_number %></div>
      <div class="top_item">Time: <%= @time %></div>
    </div>
      <br class="clear"/>
  </div>

  <div id="title">
      <div class="title_item">Drawers Name</div>
      <div class="title_item">Cheque No.</div>
      <div class="title_item">Bank</div>
      <div class="title_item">Branch</div>
      <div class="title_item">Amount</div>
      <br class="clear"/>
  </div>