<div id="header"><h1>Bank Deposit Sheet</h1></div>
<div id="content_holder">
  <div id="top">
    <div>
      <div class="top_item">Credit: <%= @client.full_name %></div>
      <div class="top_item">&nbsp;</div>
      <div class="top_item">Date: <%= @date %></div>
    </div>

    <div>
      <div class="top_item">Bank Run ID: <%= @run_id %></div>
      <div class="top_item">Bank Account: <%= account.account_number %></div>
      <div class="top_item">Time: <%= @time %></div>
    </div>
      <br class="clear"/>
  </div>

  <div id="title">
      <div class="title_item">Drawers Name</div>
      <div class="title_item">Cheque No.</div>
      <div class="title_item">Bank</div>
      <div class="title_item">Branch</div>
      <div class="title_item">Amount</div>
      <br class="clear"/>
  </div>

  <div id="content">
    <%- cheque_total = 0.00%>
    <%- @cheque_deposits[account.id].try(:each) do |cheque_transaction|%>
      <div class="title_item"><%= cheque_transaction.deposit_detail.try(:name_on_cheque) %></div>
      <div class="title_item"><%= cheque_transaction.deposit_detail.try(:cheque_number) %></div>
      <div class="title_item"><%= cheque_transaction.deposit_detail.try(:bank).try(:full_name) %></div>
      <div class="title_item"><%= cheque_transaction.deposit_detail.try(:bank).try(:branch_number) %></div>
      <%- total = cheque_transaction.total_amount%>
      <%- cheque_total += total%>
      <div class="title_item"><%= number_to_currency(total)%></div>
    <%- end %>
    <br class="clear"/>
</div>

<div id="summary">
    <div id="summary_detail">
        <h2>Bank Deposit Total</h2>
        <div class="summary_item">Cheques: </div>
        <div class="summary_item"><%= number_to_currency(cheque_total)%></div>
        <div class="summary_item">Cash: </div>
        <%- cash_total = 0 %>
        <%- @cash_deposits[account.id].try(:each) do |cash_transaction| %>
        <%- cash_total += cash_transaction.total_amount%>
        <%- end %>
        <div class="summary_item"><%= number_to_currency(cash_total)%></div>
        <br class="clear"/>
        <hr/>
        <div class="summary_item">Total Deposit: </div>
        <div class="summary_item"><%= number_to_currency(cheque_total+cash_total)%></div>
    </div>
    <br class="clear"/>
</div>
</div>
