
<div class="div_line">
  <div class="title_bold">Bank Run Campaign Summary</div>
</div>
<div class="div_line">
  <div class="div_cell">The Client Organisation</div>
  <div class="div_cell right">Date: <%= @date %></div>
</div>
<div class="div_line">
  <div class="div_cell cell_375">Bank Run ID: <%= @run_id %></div>
  <div class="div_cell cell_475">Bank Account: <%= account.id %>-<%= account.account_number %></div>
  <div class="div_cell right">Time: <%= @time %></div>
</div>
<div class="div_line table_title">
  <div class="div_cell cell_40">Campaign</div>
  <div class="div_cell cell_15">Cash</div>
  <div class="div_cell cell_15">Cheque</div>
  <div class="div_cell cell_15">Cards</div>
  <div class="div_cell cell_15">Total Amount</div>
</div>

<%- total_cash = 0.00%>
<%- total_cheque = 0.00%>
<%- total_card = 0.00%>
<%- cash = 0.00%>
<%- cheque = 0.00%>
<%- cards = 0.00%>

<%- Campaign.active_campaign.try(:each) do |campaign|%>

<%- cash = (@campaign_cash[account.id].nil?||@campaign_cash[account.id][campaign.id].nil?) ?  0 : @campaign_cash[account.id][campaign.id]%>
<%- cheque = (@campaign_cheque[account.id].nil?||@campaign_cheque[account.id][campaign.id].nil?) ? 0 : @campaign_cheque[account.id][campaign.id]%>
<%- cards = (@campaign_cards[account.id].nil?||@campaign_cards[account.id][campaign.id].nil?) ?  0 : @campaign_cards[account.id][campaign.id]%>

  <div class="div_line">
    <div class="div_cell cell_40"><%=campaign.name%></div>
    <div class="div_cell cell_15"><%= number_to_currency(cash) %></div>
    <div class="div_cell cell_15"><%= number_to_currency(cheque)  %></div>
    <div class="div_cell cell_15"><%= number_to_currency(cards) %></div>

    <div class="div_cell cell_15"><%=number_to_currency(cash+cheque+cards)%></div>
  </div>
  <%- total_cash += cash%>
  <%- total_cheque += cheque %>
  <%- total_card += cards%>

<%-end%>


<br clear="both"/>
<div class="line_seperator"></div>
<div class="div_line div_total">
  <div class="div_cell cell_40 pure_bold">Totals</div>
  <div class="div_cell cell_15"><%=number_to_currency(total_cash)%></div>
  <div class="div_cell cell_15"><%=number_to_currency(total_cheque)%></div>
  <div class="div_cell cell_15"><%=number_to_currency(total_card)%></div>
  <div class="div_cell cell_15"><%=number_to_currency(total_cash+total_cheque+total_card)%></div>
</div>

