<html>
  <head>
    <script>
      function subst() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
    <style type="text/css">
      .page_break {page-break-after: always;}
      #bank_run_audit_sheet #header {margin:5px auto;width:100%;text-align:center;}
      #bank_run_audit_sheet #title {border-top: 3px double black;border-bottom: 3px double black;}
      #bank_run_audit_sheet #content {border-bottom: 3px double black;}
      #bank_run_audit_sheet .top_item {float:left;width:33%;}
      #bank_run_audit_sheet .title_item {float:left;width:20%;}
      #bank_run_audit_sheet .clear {clear:both;}
      #bank_run_audit_sheet #summary {width:100%;}
      #bank_run_audit_sheet #summary_detail_left {width:60%;float:left;}
      #bank_run_audit_sheet #summary_detail_right {width:40%;float:left;}
    </style>
  </head>
  <body style="border:0; margin: 0;" onload="subst()">
    <table style="border-bottom: 1px solid black; width: 100%">
      <tr>
        <td  style="text-align:right">EmZee Report</td>
        <td style="text-align:right">
          Page <span class="page"></span> of <span class="topage"></span>
        </td>
      </tr>
    </table>
    <div id="bank_run_audit_sheet">
      <div id="header"><h1>Bank Run Audit Sheet</h1></div>
      <div id="content_holder">
        <div id="top">
          <div>
            <div class="top_item">Credit: <%= @client.full_name %></div>
            <div class="top_item">&nbsp;</div>
            <div class="top_item">Date: <%= @date %></div>
          </div>

          <div>
            <div class="top_item">Bank Run ID: <%= @run_id %></div>
            <div class="top_item">Bank Account: <%= account.account_number %></div>
            <div class="top_item">Time: <%= @time %></div>
          </div>
          <br class="clear"/>
        </div>


        <div id="title">
          <div class="title_item">System ID</div>
          <div class="title_item">Drawers Name</div>
          <div class="title_item">Type</div>
          <div class="title_item">Amount</div>

          <br class="clear"/>
        </div>
      </div>

    </div>
  </body>
</html>






