<style type="text/css">
  .page_break {page-break-after: always;}
  #logo {float:left;}
  #header {text-align: center;}
  #left_title {width:50%;text-align: left;float: left;font-weight: bold;}
  #right_title {width:50%;text-align: right;float: left;font-weight: bold;}
  #receipt_enquiry_result {width: 100%;border: 1px solid black;border-collapse: collapse;}
  #receipt_enquiry_result th {border: 1px solid black;padding: 4px;}
  #receipt_enquiry_result td {border-width: 0px 1px;border-style: solid;border-color: black;padding: 4px;}
  .clear{clear: both;}
</style>
<div id="content_holder">
  <div id="logo">
    <img src="<%=RAILS_ROOT%>/public/images/memberzone_logo_small.png" alt="logo"/>
  </div>
  <div id="header">
    <h3><%= @entity.class.base_class%> Receipt Enquiry Result</h3>
  </div>
  <div id="left_title">
    <p>Name: (<%= @entity.id %>) <%= @entity.full_name %>
      <br/>
      Period From <%= @start_date %> to <%= @end_date %>
    </p>
  </div>
  <div id="right_title">
    <p>Print Date <%= Date.today.to_s%></p>
  </div>
  <br class="clear"/>
  <table id="receipt_enquiry_result">
    <tr>
      <th>Deposit Date</th>
      <th>Bank Account</th>
      <th>Payment Method Meta Type</th>
      <th>Payment Method Type</th>
      <th>Notes</th>
      <th>Total Amount</th>
    </tr>
    <%- @deposits.each do |deposit|%>
      <tr>
        <td><%=deposit.deposit_date.try(:to_s)%></td>
        <td><%=deposit.bank_account.try(:account_number)%></td>
        <td><%=deposit.payment_method_meta_type.try(:name)%></td>
        <td><%=deposit.payment_method_type.try(:name)%></td>
        <td><%=deposit.notes%></td>
        <td><%=number_to_currency(deposit.total_amount)%></td>
      </tr>
    <%- end %>
  </table>
</div>