- form_tag('/transaction_headers/filter',:class => "ajax_form", :id => "transaction_filter_form", :submit_button_id => "filter_submit_button") do
  %input{:style => "display:none", :name => "enquiry"}
  .full_container
    %div
      .form_line
        .field_20
          %h2 Select Filter
        .field_50
          %select{:id => "select_filter",:style => "width:200px", :disabled => true}
            %option
            %option{:value=>"ID Range"} ID Range
            %option{:value=>"Receipt Range"} Receipt Range
            %option{:value=>"System Date"} System Date
            %option{:value=>"Transaction Date"} Transaction Date
            %option{:value=>"Bank Account Number"} Bank Account Number
            %option{:value=>"Banking Status"} Banking Status
            %option{:value=>"Receipt Type"} Receipt Method
            %option{:value=>"Receipt Account"} Receipt Account
            %option{:value=>"Letter"} Letter
    %label &nbsp
    %div#visible_select_fileter
    = button_to_function "Filter", :class => "fake_submit_button", :disabled => true, :form_id => "transaction_filter_form", :id => "filter_submit_button", :style => "float:right;"


  .full_container#hidden_select_filter{:style=>"display:none;"}
    #id_range_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 Filter By ID Range
          .field_20
            %label Start ID
            %input{:id => "filter_start_id", :value => "1", :name => "start_id",:class=>"integer_field",:disabled=>true}
          .field_20
            %label End ID
            %input{:id => "filter_end_id", :value => "10000", :name => "end_id",:class=>"integer_field",:disabled=>true}
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'enquiry_filter_close', :field => "ID Range", :title=>"Close",:style=>"float:right"


    #receipt_range_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 Filter By Receipt Range
          .field_20
            %label Start Receipt ID
            %input{:id => "filter_start_receipt_id", :value => "1", :name => "start_receipt_id",:class=>"integer_field",:disabled=>true}
          .field_20
            %label End Receipt ID
            %input{:id => "filter_end_receipt_id", :value => "10000", :name => "end_receipt_id",:class=>"integer_field",:disabled=>true}
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'enquiry_filter_close', :field => "Receipt Range", :title=>"Close",:style=>"float:right"

    #system_date_range_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 Filter By System Date
          .field_20
            %label Start Date
            %input{:id => "filter_start_system_date", :class => "startdatepick", :end_date => "filter_end_system_date", :value => "#{Date.today().strftime("%d")}-#{Date.today().strftime("%m")}-#{Date.today().year()-1}", :name => "start_system_date",:disabled=>true}
          .field_20
            %label End Date
            %input{:id => "filter_end_system_date", :class => "enddatepick", :start_date => "filter_start_system_date", :value => "#{Date.today().strftime("%d")}-#{Date.today().strftime("%m")}-#{Date.today().year()}", :name => "end_system_date",:disabled=>true}
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'enquiry_filter_close', :field => "System Date", :title=>"Close",:style=>"float:right"


    #transaction_date_range_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 Filter By Transaction Date
          .field_20
            %label Start Date
            %input{:id => "filter_start_transaction_date", :class => "startdatepick", :end_date => "filter_end_transaction_date", :value => "#{Date.today().strftime("%d")}-#{Date.today().strftime("%m")}-#{Date.today().year()-1}", :name => "start_transaction_date",:disabled=>true}
          .field_20
            %label End Date
            %input{:id => "filter_end_transaction_date", :class => "enddatepick", :start_date => "filter_start_transaction_date", :value => "#{Date.today().strftime("%d")}-#{Date.today().strftime("%m")}-#{Date.today().year()}", :name => "end_transaction_date",:disabled=>true}
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'enquiry_filter_close', :field => "Transaction Date", :title=>"Close",:style=>"float:right"

    #bank_account_number_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 Filter By Bank Account Number
          .field_20
            %label Bank Account Number
            %select{:name => "bank_account_number",:id=>"bank_account_number"}
              %option{:value => "0"}All
              -@bank_accounts.each do |bank_account|
                %option{:value => "#{bank_account.id}"}#{bank_account.account_number}
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'enquiry_filter_close', :field => "Bank Account Number", :title=>"Close",:style=>"float:right"
    #banking_status_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 Filter By Banking Status
          .field_20
            %label Banking Status
            %select{:name => "already_banked",:id=>"banked"}
              %option{:value => "0"} All
              %option{:value => "true"}true
              %option{:value => "false"}false
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'enquiry_filter_close', :field => "Banking Status", :title=>"Close",:style=>"float:right"


    #receipt_type_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 Filter By Receipt Method Type
          .field_20
            %label Receipt Method Type
            %select{:name => "payment_method_meta_type_id", :id=>"payment_method_meta_type_id", :class => "select_ajax_call", :method => "GET", :url => "/transaction_headers/enquiry_show_receipt_type", :update_field => "payment_method_type_id"}
              %option{:value => "0"}All
              -for i in @payment_method_meta_types
                %option{:value => "#{i.id}"} #{i.name}

          .field_20
            %label Receipt Method
            - if @payment_method_meta_types.first.nil?
              %select{:disabled => true}
            -else
              %select{:name => "payment_method_type_id", :id => "payment_method_type_id"}
                %option{:value => "0"}All
                -for i in @payment_method_types
                  %option{:value => "#{i.id}"} #{i.name}

          .field_20
            %label Receipt Via
            %select{:name => "received_via_id",:id => "received_via_id"}
              %option{:value => "0"}All
              -for i in @receipt_via
                %option{:value => "#{i.id}"} #{i.name}
          .field_5{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'enquiry_filter_close', :field => "Receipt Type", :title=>"Close",:style=>"float:right"

    #receipt_account_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 Filter By Receipt Account
          .field_20
            %label Receipt Account
            %select{:name => "receipt_account_id",:id => "receipt_account_id"}
              %option{:value => "0"}All
              -for i in @receipt_accounts
                %option{:value => "#{i.id}"} #{i.name}
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'enquiry_filter_close', :field => "Receipt Account", :title=>"Close",:style=>"float:right"

    #leter_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 Filter By Letter
          .field_20
            %label Letter sent
            %select{:name => "letter_id",:id => "letter_id"}
              %option{:value => "0"}All
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'enquiry_filter_close', :field => "Letter", :title=>"Close",:style=>"float:right"


    