<div id="receipt_type_summary">
  <div class="div_line">
    <div class="title_bold">Receipt Type Summary</div>
  </div>
  <div class="div_line">
    <div class="div_cell">The Client Organisation</div>
    <div class="div_cell right">Date: <%=@date%></div>
  </div>
  <div class="div_line">
    <div class="div_cell cell_375">Bank Run ID: <%= @run.id %></div>
    <div class="div_cell cell_475">Bank Account: <%= account.id %>-<%= account.account_number %></div>
    <div class="div_cell right">Time: <%=@time%></div>
  </div>
  <div class="div_line table_title">
    <div class="div_cell cell_50">Type of Receipt</div>
    <div class="div_cell cell_50">Amount</div>
  </div>
  <%-if @receipt_type_cash[account.id].nil? %>
    <%- @receipt_type_cash[account.id]=[0]%>
  <%-end%>
  <%-if @receipt_type_cheque[account.id].nil? %>
    <%- @receipt_type_cheque[account.id]=[0]%>
  <%-end%>
  <%-if @receipt_type_master_cards[account.id].nil? %>
    <%- @receipt_type_master_cards[account.id]=[0]%>
  <%-end%>
  <%-if @receipt_type_visa_cards[account.id].nil? %>
    <%- @receipt_type_visa_cards[account.id]=[0]%>
  <%-end%>
  <div class="div_line">
    <div class="div_cell cell_50">Cash</div>
    <div class="div_cell cell_50"><%= number_to_currency(@receipt_type_cash[account.id].first.to_f)%></div>
  </div>
  <div class="div_line">
    <div class="div_cell cell_50">Cheque</div>
    <div class="div_cell cell_50"><%= number_to_currency(@receipt_type_cheque[account.id].first.to_f)%></div>
  </div>
  <div class="div_line">
    <div class="div_cell cell_50">Master Card</div>
    <div class="div_cell cell_50"><%= number_to_currency(@receipt_type_master_cards[account.id].first.to_f)%></div>
  </div>
  <div class="div_line">
    <div class="div_cell cell_50">Visa Card</div>
    <div class="div_cell cell_50"><%= number_to_currency(@receipt_type_visa_cards[account.id].first.to_f)%></div>
  </div>
  <br clear="both"/>
  <div class="line_seperator"></div>
  <div class="div_line">
    <div class="div_cell cell_50 pure_bold">Total</div>
    <div class="div_cell cell_50"><%= number_to_currency(@receipt_type_cash[account.id].first.to_f+@receipt_type_cheque[account.id].first.to_f+@receipt_type_master_cards[account.id].first.to_f+@receipt_type_visa_cards[account.id].first.to_f)%></div>
  </div>
</div>
