<div class="div_line">
    <div class="title_bold">Receipt Account Summary</div>
</div>
<div class="div_line">
    <div class="div_cell">The Client Organisation</div>
    <div class="div_cell right">Date:<%= @date %></div>
</div>
<div class="div_line">
    <div class="div_cell cell_375">Bank Run ID: <%= @run_id %></div>
    <div class="div_cell cell_475">Bank Account: <%= account.id %>-<%= account.account_number %></div>
    <div class="div_cell right">Time: <%= @time %></div>
</div>
<div class="div_line table_title">
    <div class="div_cell cell_40">Account Code</div>
    <div class="div_cell cell_15">Cash</div>
    <div class="div_cell cell_15">Cheque</div>
    <div class="div_cell cell_15">Cards</div>
    <div class="div_cell cell_15">Amount</div>
</div>
<%- total_cash = 0.00%>
<%- total_cheque = 0.00%>
<%- total_card = 0.00%>
<%- cash = 0.00%>
<%- cheque = 0.00%>
<%- cards = 0.00%>
<%- ReceiptAccount.active.try(:each) do |receipt_account|%>
<%- cash = (@receipt_account_cash[account.id].nil?||@receipt_account_cash[account.id][receipt_account.id].nil?) ?  0 : @receipt_account_cash[account.id][receipt_account.id]%>
<%- cheque = (@receipt_account_cheque[account.id].nil?||@receipt_account_cheque[account.id][receipt_account.id].nil?) ?  0 : @receipt_account_cheque[account.id][receipt_account.id]%>
<%- cards = (@receipt_account_cards[account.id].nil?||@receipt_account_cards[account.id][receipt_account.id].nil?) ?  0 : @receipt_account_cards[account.id][receipt_account.id]%>
<div class="div_line">
    <div class="div_cell cell_40"><%=receipt_account.name%></div>
    <div class="div_cell cell_15"><%=number_to_currency(cash)%></div>
    <div class="div_cell cell_15"><%=number_to_currency(cheque)%></div>
    <div class="div_cell cell_15"><%=number_to_currency(cards)%></div>
       <div class="div_cell cell_15"><%=number_to_currency(cash+cheque+cards)%></div>
</div>
 <%- total_cash += cash%>
 <%- total_cheque += cheque %>
 <%- total_card += cards%>

<%-end%>
<br clear="both"/>
<div class="line_seperator"></div>
<div class="div_line div_total">
    <div class="div_cell cell_40 pure_bold">Totals</div>
    <div class="div_cell cell_15"><%=number_to_currency(total_cash)%></div>
    <div class="div_cell cell_15"><%=number_to_currency(total_cheque)%></div>
    <div class="div_cell cell_15"><%=number_to_currency(total_card)%></div>
    <div class="div_cell cell_15"><%=number_to_currency(total_cash+total_cheque+total_card)%></div>
</div>