-# The main Keyword tab
.info_container
  .header_container
    .title
      %h3 Groups
    .options
      = link_to_function image_tag('add_icon.png'), :id=>"add_group", :class=>"toggle_button", :toggle_id_name => "new_group"  if (!person.nil? && !person.new_record?)
      = image_tag('help_icon.png')
    %br{ :style=>"clear: both;"}
    .info_container{:style=>"display:none", :id => "new_group"}
      .options
        = link_to_function image_tag('close_icon.png'), :class => "clear_contact_form toggle_button", :toggle_id_name => "new_group"

      %h3 New Group
      = render :partial => '/group/group_form'
      = submit_tag 'Submit'

      -#  #keyword_types.left
      -#    = label_tag :group_meta_type_id, "Group Meta Type"
      -#    = collection_select :keyword,:group_meta_type_id, TagMetaType.active_group_meta_type, :id, :name, {:prompt => " "}


      -#  #keyword_types.left
      -#    = label_tag :group_meta_type_id, "Group Type"
      -#    = collection_select :keyword,:group_meta_type_id, TagMetaType.active_group_meta_type, :id, :name, {:prompt => " "}


      -#  #keyword_types.left
      -#    = label_tag :group_meta_type_id, "Group"
      -#    = collection_select :keyword,:group_meta_type_id, TagMetaType.active_group_meta_type, :id, :name, {:prompt => " "}
      -#    %br{ :style=>"clear: both;"}

      -#  #keyword_types.left
      -#    = submit_tag 'Submit'
      
      
