-# The options to edit or add an address
.form_line{:style => "float:none;"}
  .field_25
    = address.label :address_type_id, "<span class='asterisk'>*</span>Type"
    -if @organisation.nil?
      -if edit == "edit"
        = address.collection_select :address_type_id, AddressType.active_address_type - @person.personal_address_types + @address.check_address_type, :id, :name
      -else
        = address.collection_select :address_type_id, AddressType.active_address_type - @person.personal_address_types, :id, :name
    -else
      -if edit == "edit"
        = address.collection_select :address_type_id, AddressType.active_address_type - @organisation.personal_address_types + @address.check_address_type, :id, :name
      -else
        = address.collection_select :address_type_id, AddressType.active_address_type - @organisation.personal_address_types, :id, :name
  .field_40
    = address.label :building_name, 'Building Name'
    = address.text_field :building_name   
.form_line
  .field_20
    = address.label :suite_unit, 'Unit Number'
    = address.text_field :suite_unit
  .field_22
    = address.label :street_number, 'Street Number'
    = address.text_field :street_number
  .field_45
    = address.label :street_name, "<span class='asterisk'>*</span>Street Name"
    = address.text_field :street_name, :id => @address.new_record? ? "address_street_name" : "address_street_name_edit" ,:style => "width:99%;"
.form_line
  .field_40{:style => "margin-right: 5px;"}
    = address.label :town, 'Suburb'
    = address.text_field :town ,:id => @address.new_record? ? "address_town" : "address_#{@address.id}_town" ,:style => "width:99%;"
   

  .field_5
    = address.label :postal_code, '&nbsp'
    = link_to_function image_tag 'Icons/System/postcode_check.png', :style => 'display:inline', :class => "launch_address_assistant" ,:update_field1 =>@address.new_record? ? "address_town" : "address_#{@address.id}_town",:update_field2 =>@address.new_record? ? "address_state" : "address_#{@address.id}_state" ,:update_field3 => @address.new_record? ? "address_postal_code" : "address_#{@address.id}_postal_code",:update_field4 => @address.new_record? ? "address_country_id" : "address_#{@address.id}_country_id", :title=>"Postcode"
  .field_40
    = address.label :state, 'State/Province'
    = address.text_field :state , :id => @address.new_record? ? "address_state" : "address_#{@address.id}_state"
.form_line
  .field_45
    = address.label :postal_code, 'Postal Code'
    = address.text_field :postal_code, :id => @address.new_record? ? "address_postal_code" : "address_#{@address.id}_postal_code"
  .field_45
    = address.label :country, 'Country'
    = address.collection_select :country_id, Country.all,:id, :short_name , {:include_blank => true}, {:id => @address.new_record? ? "address_country_id" : "address_#{@address.id}_country_id"}



