-form_for([@organisation,address], :url => "/organisations/#{@organisation.id}/addresses", :html => {:style => "display:none", :class => 'ajax_form'}) do |a|
  -# The options to edit or add an address
  .form_line{:style => "float:none;"}
    .field_25
      = a.label :address_type_id, "<span class='asterisk'>*</span>Type"
      = a.collection_select :address_type_id, AddressType.active_address_type - @organisation.personal_address_types, :id, :name
    .field_40
      = a.label :building_name, 'Building Name'
      = a.text_field :building_name
  .form_line
    .field_20
      = a.label :suite_unit, 'Unit Number'
      = a.text_field :suite_unit
    .field_22
      = a.label :street_number, 'Street Number'
      = a.text_field :street_number
    .field_45
      = a.label :street_name, "<span class='asterisk'>*</span>Street Name"
      = a.text_field :street_name,:class=>"mandantory_field",:mandantory_field1=>"address_street_name",:submit_button_id=>"address_submit_button"
  .form_line
    .field_40{:style => "margin-right: 5px;"}
      = a.label :town, 'Suburb'
      = a.text_field :town ,:id => "address_town" ,:style => "width:99%;", :class => "suburb_value"

    .field_5
      = a.label :postal_code, '&nbsp'
      = link_to_function image_tag 'Icons/System/postcode_check.png', :style => 'display:inline', :class => "launch_address_assistant" ,:update_field1 => "address_town",:update_field2 => "address_state",:update_field3 => "address_postal_code",:update_field4 => "address_country_id", :title=>"Postcode"
    .field_40
      = a.label :state, 'State/Province'
      = a.text_field :state , :id => "address_state", :class => "state_value"
  .form_line
    .field_45
      = a.label :postal_code, 'Postal Code'
      = a.text_field :postal_code, :id => "address_postal_code", :class => "postcode_auto"
    .field_45
      = a.label :country, 'Country'
      = a.collection_select :country_id, Country.all,:id, :short_name , {:include_blank => true}, {:id => "address_country_id", :class => "uppercase country_value"}
  = submit_tag 'Submit', :id => "address_submit_button" , :check_field => "address_street_name",:disabled => true