-# The options to edit or add an address
-default_address_type = @current_user.default_value.try(:default_address_type_id)
.form_line
  .field_22
    = address.label :address_type_id, "Type"
    = address.collection_select :address_type_id, @active_address_types, :id, :name, {:selected => default_address_type}
  .field_40
    = address.label :building_name, 'Building Name'
    = address.text_field :building_name

.form_line
  .field_22
    = address.label :suite_unit, 'Unit Number'
    = address.text_field :suite_unit
  .field_23
    = address.label :street_number, 'Street Number'
    = address.text_field :street_number
  .field_50
    = address.label :street_name, "Street Name"
    = address.text_field :street_name

.form_line
  .field_40
    = address.label :town, 'Suburb/Town'
    = address.text_field :town, :class => "suburb_value"
  .field_5
    %label &nbsp;
    -if !@person.nil?
      = link_to_function image_tag ('Icons/System/postcode_check.png'), :style => 'display:inline', :class => "launch_address_assistant" ,:update_field1 =>"person_addresses_attributes_0_town", :update_field2 =>"person_addresses_attributes_0_state",:update_field3 => "person_addresses_attributes_0_postal_code", :update_field4 => "person_addresses_attributes_0_country_id", :title=>"Postcode"
    -else
      = link_to_function image_tag ('Icons/System/postcode_check.png'), :style => 'display:inline', :class => "launch_address_assistant" ,:update_field1 =>"organisation_addresses_attributes_0_town", :update_field2 =>"organisation_addresses_attributes_0_state",:update_field3 => "organisation_addresses_attributes_0_postal_code", :update_field4 => "organisation_addresses_attributes_0_country_id", :title=>"Postcode"
  .field_50
    = address.label :state, 'State/Province'
    = address.text_field :state,  :class => "state_value"

.form_line
  .field_47
    = address.label :postal_code, 'Postal Code'
    = address.text_field :postal_code ,:class => "postcode_auto"
  .field_49
    = address.label :country, 'Country'
    = address.collection_select :country_id, @countries, :id, :short_name, {:include_blank => true,:selected=>ClientSetup.try(:first).try(:home_country_id)}, :class => "uppercase country_value"
