.container_edit.container
  .options
    -#= link_to_function (image_tag('close_icon.png', :style => "float:right;margin-right:10px;"), :id =>"close_user_group_form", :class =>  "close_option", :field => "user_group")
  .options_left{:style => "margin-right:10px;"}
    = image_tag('edit_icon.png', :style => "float:left;margin-right:10px;")
  %h3 Edit
  %br
.container#edit_role
  %div
    .options
      = link_to_function image_tag('close_icon.png'), :class => "edit_close_flag close_option", :id => "edit_role_form",  :field => "role", :flag_name => "role"
   
    -form_for @role, :url => {:controller => "roles", :action=> "update"}, :html => {:class => 'ajax_form'} do |role|
      .form_line{:style => "float:none;"}
        .field_20
          = role.label :name, 'Role Name'
          = role.text_field :name, :disabled=>@role.role_status == false
        .field_25
          = role.label :remarks, 'Remark'
          = role.text_field :remarks, :disabled=>@role.role_status == false
        -#.field_10
          = role.label :role_status, 'Status'
          = role.radio_button :role_status, true, :checked => true, :style => "width:10%;"
          %label.inline Active
        .field_10
          = role.label :role_status, 'Active'
          = role.check_box :role_status, :class => "checkbox_style"
          = role.text_field :role_type_id, :id => "role_type_id_field", :class => "hidden"
    
      = submit_tag 'Submit'

        