-form_for @role, :html => {:class => 'ajax_form'} do |role|
  .field_33
    = role.label :role_id, "Role"
    %select.choose_role{:id => "role_id"}
      %option{:value => "0", :selected => @role.new_record?}<< Add New >>
      - @roles.each do |r|
        %option{:value => "#{r.id}", :selected => (@roles.id == r.id) } #{r.name}
  .field_60{:style => "float:right"}
    = role.label :role_status, 'Status'
    = role.radio_button :role_status, true, :style => "width:10%",:checked => true
    %label{:style => "display:inline"} Active
    &nbsp;&nbsp
    = role.radio_button :role_status, false, :style => "width:10%"
    %label{:style => "display:inline"} Inactive
  %br{ :style=>"clear: both;"}

  .form_line
    .field_33
      = role.label :name, "Role Name"
      = role.text_field :name, :name => "role[name]"
  .form_line    
    .field_80
      = role.label :description, "Descriptions"
      = role.text_field :description, :name => "role[description]"
  .form_line
    .field_33{:style => "display:none"}
      = role.text_field :role_type_id, :id => "role_type_id_field"
  %br{ :style=>"clear: both;"}
    = submit_tag 'Submit'

  %br{ :style=>"clear: both;"}