%div
  .form_line
    .field_33
      = label @role, :name, "Role Name"
      = text_field @role, :name, :name => "role[name]"
  .form_line
    .field_33{:style => "display:none"}
      = text_field @role, :role_id, :name => "role[id]", :id => "role_id_field"
    .field_80
      = label @role, :description, "Descriptions"
      = text_field @role, :description, :name => "role[description]"
  %br{ :style=>"clear: both;"}
    = submit_tag 'Submit'

  %br{ :style=>"clear: both;"}

