-form_for @role, :html => {:class => 'ajax_form role_main_form'} do |role|
  .form_line{:style => "float:none;"}
    .field_20
      = role.label :role_type_id, "<span class='asterisk'>*</span>Role Type"
      = collection_select :role,:role_type_id, RoleType.active_role_type, :id, :name, {}, {:class => "mandantory_dropdown_list",:mandantory_field1=>"role_name",:mandantory_field2=>"role_role_type_id",:submit_button_id=>"role_new_submit"}
    .field_20
      = role.label :name, "<span class='asterisk'>*</span>Role Name"
      = role.text_field :name,:class=>'mandantory_field',:mandantory_field1=>"role_name",:mandantory_field2=>"role_role_type_id",:submit_button_id=>"role_new_submit"
    .field_20
      = role.label :remarks, 'Remark'
      = role.text_field :remarks
    .field_5
      = role.label :role_status, 'Active'
      = role.check_box :role_status, :checked => true, :class => "checkbox_style"

    .field_15
      %label &nbsp
      = submit_tag 'Submit', :style => 'display:inline;float:right;',:id=>"role_new_submit",:disabled=>true