<% unless @role.nil? %>
  <% role = String.new %>
  <% for r in @role %>
    <% role += "<option value='#{r.id}'>#{r.name}</option>" %>
  <%end%>

  <% if @person_role.new_record? %>
    $("#person_role_role_id").html('<%=escape_javascript("#{role}")%>')
    $("#person_role_role_id").change();
    $("#person_role_type_description").html('<%=escape_javascript("#{@role_type.description}")%>')
  <%else%>
    $("#person_role_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_role_id").html('<%=escape_javascript("#{role}")%>')
    $("#person_role_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_role_id").change();
    $("#person_role_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_type_description").html('<%=escape_javascript("#{@role_type.description}")%>')
  <%end%>

<% else %>

  <% if @person_role.new_record? %>
    $("#person_role_role_id").html('<option></option>')
    $("#person_role_role_id").change();
    $("#person_role_type_description").html('')
    $("#person_role_description").html('')
  <%else%>
    $("#person_role_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_role_id").html('<option></option>')
    $("#person_role_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_role_id").change();
    $("#person_role_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_type_description").html('')
  <%end%>


<% end -%>