<% unless @role.nil? %>
  <% role = String.new %>
  <% for r in @role.role_conditions %>
    <% role += "<option value='#{r.doctype_id}'>#{r.name}</option>" %>
  <%end%>


  <% masterdoc = String.new %>
  <% for m in @person.master_docs %>
    <% masterdoc += "<option value='#{m.master_doc_type.id}'>#{m.master_doc_type.name}</option>" %>
  <%end%>


  <% if @person_role.new_record? %>
    $("#role_condition_display").html('<%=  escape_javascript("#{role}")%>');
    $("#person_role_description").html('<%=escape_javascript("#{@role.description}")%>')
    $("#role_masterdoc_display").html('<%=  escape_javascript("#{masterdoc}")%>');
    <% unless flash[:message].nil? %>
      $("#warning").html("<div class='message'>" + "<%= escape_javascript(flash[:message]) %>" +  "</div>");
      $('#warning').addClass("info_warning");
    <%else%>
      $("#warning").html("<div class='warning'>" + "<%= escape_javascript(flash[:warning]) %>" +  "</div>");
      $('#warning').addClass("info_warning");
    <%end%>

    <% unless @array_diff.nil? %>
      <% for dif in @array_diff %>

      $("#role_condition_display option[value="+ "<%=escape_javascript("#{dif}")%>" + "]").addClass('highlight');
      <%end%>
    <%end%>


  <%else%>
    $("#role_condition_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_display").html('<%=  escape_javascript("#{role}")%>');
    $("#role_masterdoc_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_display").html('<%=  escape_javascript("#{masterdoc}")%>');
    $("#person_role_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_description").html('<%=escape_javascript("#{@role.description}")%>')
    <% unless flash[:message].nil? %>
      $("#warning_1").html("<div class='message'>" + "<%= escape_javascript(flash[:message]) %>" +  "</div>");
      $('#warning_1').addClass("info_warning");
    <%else%>
      $("#warning_1").html("<div class='warning'>" + "<%= escape_javascript(flash[:warning]) %>" +  "</div>");
      $('#warning_1').addClass("info_warning");
    <%end%>

  <%end%>



<%else%>





  <% if @person_role.new_record? %>
    $("#person_role_description").html('')
    $("#role_condition_display").html('');
    $("#role_masterdoc_display").html('');

    <% unless flash[:message].nil? %>
      $(".info_warning").removeClass("info_warning");
      $("#warning").html('');
    <%else%>
      $("#warning").html('');
      $(".info_warning").removeClass("info_warning");
    <%end%>

  <%else%>
    $("#person_role_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_description").html('')
    $("#role_condition_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_display").html('');
    $("#role_masterdoc_"+"<%=escape_javascript("#{@person_role.id}")%>"+"_display").html('');
    $("#warning").html('');
    $(".info_warning").removeClass("info_warning");
    <% unless flash[:message].nil? %>
      $("#warning_1").html('');
      $(".info_warning").removeClass("info_warning");
    <%else%>
      $("#warning_1").html('');
      $(".info_warning").removeClass("info_warning");
    <%end%>

  <%end%>
<%end%>

