%div
  .form_line
    .field_35
      = login.label :password, 'Old Password'
      %input{:id => "old_password", :name =>"old_password"}
  .form_line
    .field_35
      = login.label :password, 'Password'
      = login.password_field :password, :class => "password jpassword-lefttop"
  .form_line
    .field_35
      = login.label :password_confirmation, 'Repeat Password'
      = login.password_field :password_confirmation
