%div#reset_password_container
  .header
    #page_title{:style => "margin:20px 0 0 20px;height:auto;"}
      %h1="Welcome #{@login_account.user_name}, please change your details"
      
    #lol
      %br.clear
  
  -form_for @login_account, :url=> {:controller => 'dashboards',:action => 'update_password', :id => @login_account.id}, :html => {:class => 'admin_password_reset'} do |login|
    .container
      #page_title
        %h3 Password
      %div{:id => "password_form"}
        .form_line
          .field_35
            = login.label :password, "<span class='asterisk'>*</span>Old Password"
            %input{:id => "old_password", :name =>"old_password", :class => "", :type => "password"}
        .form_line{:style => "height:auto;min-height:20px;"}
          %span{:style => "font-size:14px;"} Password requirement:6 to 30 characters, no spaces
        .form_line
          .field_35
            = login.label :password, "<span class='asterisk'>*</span>Password"
            = login.password_field :password, :class => "validate[required] password", :name => "login_account[password]", :id => "login_account_password"
      
          .field_35
            = login.label :password_confirmation, "<span class='asterisk'>*</span>Repeat Password"
            = login.password_field :password_confirmation, :class => "validate[confirm[login_account_password]]", :name => "login_account[password_confirmation]", :id => "login_account_password_confirmation"
          .field_20
            %label &nbsp
            .password_check
    .container
      #page_title{:sytle => "height:50px;"}
        %h1 Security Questions
      %span Please create your security question and answers
      .form_line{:style=>"margin-top:10px;"}
        .field_50
          = login.label :security_question1, "<span class='asterisk'>*</span>Question1"
          -#= collection_select :login_account, :security_question1_id, SecurityQuestion.active_security_question, :id, :name
          = login.text_field :security_question1,:name => "login_account[security_question1]"

        .field_45
          = login.label :question1_answer, "<span class='asterisk'>*</span>Answer1"
          = login.text_field :question1_answer, :class => "validate[required]", :id => "login_account_question1_answer", :name => "login_account[question1_answer]"

      .form_line
        .field_50
          = login.label :security_question2, "<span class='asterisk'>*</span>Question2"
          -#= collection_select :login_account, :security_question2_id, SecurityQuestion.active_security_question, :id, :name
          = login.text_field :security_question2,:name => "login_account[security_question2]"
        .field_45
          = login.label :question1_answer, "<span class='asterisk'>*</span>Answer2"
          = login.text_field :question2_answer, :class => "validate[required]", :id => "login_account_question2_answer", :name => "login_account[question2_answer]"
        .field_23.hidden
          = login.label :password_by_admin
          = login.check_box :password_by_admin, :checked => false, :class => "checkbox_style", :id => "login_account_password_by_admin", :name => "login_account[password_by_admin]"
        .field_23.hidden
          = login.label :online_status
          = login.check_box :online_status, :checked => false, :class => "checkbox_style", :id => "login_account_online_status", :name => "login_account[online_status]"
      %br.clear
      = submit_tag 'Submit'
  %br.clear
    
