%div#reset_password_container
  .header
    #page_title{:style => "margin-top:20px;"}
      %h1 Welcome to MemberZone System, Enjoy it
    #lol
      %br.clear
  .container
    -form_for @login_account, :url=> {:controller => 'dashboards',:action => 'update_password', :id => @login_account.id}, :html => {:class => 'admin_password_reset'} do |login|
      #page_title
        %h1 Please reset your password (All fields required)
      #lol
        %br.clear
      .container{:id => "password_form"}
        %br
        %br
        .form_line
          .field_35
            = login.label :password, 'Old Password'
            %input{:id => "old_password", :name =>"old_password", :class => "validate[required,length[6,30]]", :type => "password"}
        %br
        %br
        %br

        .form_line
          .field_35
            = login.label :password, 'Password'
            = login.password_field :password, :class => "password jpassword-righttop validate[required,length[6,30]]"
        %br
        %br
        %br
        .form_line
          .field_35
            = login.label :password_confirmation, 'Repeat Password'
            = login.password_field :password_confirmation, :class => "validate[required,length[6,30],confirm[login_account_password]]"
        .form_line{:style => "height:30px;"}
          %br
      
      #page_title
        %h1 Please set your security questions (All fields required)
      #lol
        %br.clear
      .container
        .form_line
          .field_35
            = login.label :security_question1_id, 'Question1'
            = collection_select :login_account, :security_question1_id, SecurityQuestion.active_security_question, :id, :name
        %br
        %br
        %br
        .form_line
          .field_35
            = login.label :question1_answer, 'Answer1'
            = login.text_field :question1_answer, :class => "validate[required]"
        %br
        %br
        %br
        .form_line
          .field_35
            = login.label :security_question2_id, 'Question2'
            = collection_select :login_account, :security_question2_id, SecurityQuestion.active_security_question, :id, :name
        %br
        %br
        %br
        .form_line
          .field_35
            = login.label :question1_answer, 'Answer2'
            = login.text_field :question2_answer, :class => "validate[required]"

        %br
        %br
        %br
        .form_line
          .field_35
            = login.label :security_question3, 'Question3'
            = collection_select :login_account, :security_question3_id, SecurityQuestion.active_security_question, :id, :name
        %br
        %br
        %br
        .form_line
          .field_35
            = login.label :question3_answer, 'Answer3'
            = login.text_field :question3_answer, :class => "validate[required]"
          .field_23.hidden
            = login.label :password_by_admin
            = login.check_box :password_by_admin, :checked => false, :class => "checkbox_style"
      %br.clear
      = submit_tag 'Submit'
  %br.clear
    
