#header
  #page_title
    %h1 Dashboard
#dashboard
  - unless @superadmin_message == ""
    .full_container#superadmin_message{:style => "background-color:#B2E3C5;font:bold 18px/20px arial,sans-serif;"}
      - if @superadmin_message.length > 100        
        #message_less_container
          %p
            #{@superadmin_message[0,70]} ...
            = link_to_function "more", :id => "message_more"
      #message_more_container{:style => (@superadmin_message.length > 100) ? "display:none" : ""}
        = link_to_function image_tag("close_icon.png"), :style => "float:right;", :id => "message_less" if @superadmin_message.length > 100
        %p #{@superadmin_message}

  .full_container
    - if @super_admin
      .options{:style => "float:right;"}
        = link_to_function image_tag("add_icon.png"), :id => "new_news", :title=>"New System News"
        = link_to_function image_tag("folder.png"), :title=>"Manage System News", :id => "manage_system_news"
    %h1 System News
    %input#news_offset_number{:style => "display:none;", :value => 0}
    #system_news_container
      = render :partial => "system_news/system_news_part", :locals => {:current_news => @current_news}
  %br.clear
  
%br.clear

%table#columns
  %tr
    %td
      %div.portlet
        %div.portlet_topper
          %h1 Sample Graph
        %div.portlet_content
          %div#graph
    %td
      %div.portlet
        %div.portlet_topper
          %h1 Calendar
        %div.portlet_content
          %div#datepicker
    %td
      = render :partial => "to_do_lists/to_do_lists_part"

%div#footer

#new_to_do_dialog{:style => "display:none;"}
  = render :partial => "to_do_lists/to_do_list_form"
#manage_to_do_dialog{:style => "display:none;"}

#new_system_news_dialog{:style => "display:none;"}
  = render :partial => "system_news/system_news_form"
#manage_system_news_dialog{:style => "display:none;"}
