#header
  #page_title
    %h1 Dashboard
#dashboard
  .container    
    .options{:style => "float:right;"}
      = link_to_function image_tag("add_icon.png"), :id => "new_system_news"
      = link_to_function image_tag("edit_icon.png")
    %h1 System News
    = render :partial => "system_news/system_news_part"
  %br.clear
  
%br.clear

%table#columns
  %tr
    %td
      %div.portlet
        %div.portlet_topper
          %h1 Sample Graph
        %div.portlet_content
          %div#graph
    %td
      %div.portlet
        %div.portlet_topper
          %h1 Calendar
        %div.portlet_content
          %div#datepicker
    %td
      = render :partial => "to_do_lists/to_do_lists_part"

%div#footer

#new_to_do_dialog{:style => "display:none"}
  = render :partial => "to_do_lists/new_to_do_list"
#new_system_news_dialog{:style => "display:none"}
  = render :partial => "system_news/new_system_news"
