.container_edit.container
  .options_left{:style => "margin-right:10px;"}
    = image_tag('edit_icon.png', :class => "edit_icon_right")
  %h3 Edit
  %br

.container
  .options
    = link_to_function image_tag('close_icon.png'), :class => "close_option close_logo", :field => "group_list_group"
  %br
  .container.add_container
    %div#group_list_add_bar
      .options
        = link_to_function image_tag('close_icon.png'),:style => "display:none;", :class => "close_option close_logo add_form_close", :field => "group_list"
      .title
        = link_to_function image_tag('add_icon.png'),:class => "new_option new_logo", :field => "group_list"
        &nbsp
      %h2 Assign List
    %input{:id => "group_list_mode", :mode => "show", :style => "display:none;"}

    %div#new_group_list_form{:style => "display:none;"}
      = render :partial => "/group_lists/new_group_list_form"

  %div#existing_group_list_list
      


