- for i in @group_types
  - status = i.status ? "container_active" : "container_inactive"
  - status_flag = i.status ? "" : "hidden"
  .group_list_each_group{:class => "#{status} toggle_options", :id => "group_list_group_#{i.id}", :field => "group_list_group",:style => "width:47%;"}
    .options{:style => "display:none;"}
      = link_to_function image_tag('edit_icon.png'), :class => '#{status_flag} edit_option edit_logo', :id => 'group_list_group_edit_button', :controller => "group_lists", :data_id => i.id, :field => "group_list_group", :title=>"Edit"
    .title
      -list_flag = i.list_headers.size.to_i > 1 ? "lists" : "list"
      %h2= "#{i.name}"" \- ""#{i.list_headers.size}"" \- " "#{list_flag}"
