%div#edit_keyword_entry
  .tab_corner
    .container_corner.profile_tab_left_corner.left
    .container_edit
      .options_left{:style => "margin-right:10px;"}
        = image_tag('edit_icon.png', :class => "edit_icon_right")
      %h3 Edit
    .container_corner.profile_tab_right_corner.left
  .container
    - form_for @keyword, :url => {:controller => "keywords", :action => "update", :id => @keyword.id, :type => KeywordType.find(@keyword.keyword_type_id).id},:html => {:class => "ajax_form"} do |p|
      .form_line
        = link_to_function image_tag('close_icon.png'), :field => "system_data", :id => "close_edit_keyword_entry", :style => "float:right;", :title=>"Close"
        .field_30
          = p.label :name, 'Name'
          = p.text_field :name, {:disabled => ("disabled" if !@keyword.status)}
        .field_35
          = p.label :description, 'Description'
          = p.text_field :description, {:disabled => ("disabled" if !@keyword.status)}
        .field_5
          = p.label :active
          %label
          = p.check_box :status, {:style => "width:auto;"}
        .field_20{:style => "margin-top: 8px;"}
          = submit_tag 'Submit', :style => 'display:inline;float:right;', :name => 'edit'
