%div#keyword_entries
  - for setting in @type
    - setting_status = setting.status ? "container_active" : "container_inactive"
    - setting_status =  "container_remove" if setting.to_be_removed == true
    %div{:class => "#{setting_status} toggle_options", :keyword_id => setting.id, :id => "keyword_#{setting.id}", :style => "width:30%;", :field => "keyword" }
      .options{:style => "display:none;"}
        - if setting.to_be_removed == false
          = link_to image_tag('edit_icon.png'), edit_keyword_path(setting), :class => 'get edit_keyword edit_option', :field => "keyword", :id => 'edit_current_keyword_entry', :keyword_id => setting.id, :title=>"Edit"
          -#= link_to_function (image_tag('delete_icon.png'), :class => 'check_delete ', :field => "keyword", :id => 'keyword_check_delete_button', :keyword_id => setting.id, :title=>"Remove")
          = link_to image_tag('delete_icon.png'), keyword_path(setting), :class => 'delete delete_keyword delete_option',:error_message_field => "Keyword", :field => "keyword", :id => 'keyword_delete_button', :keyword_id => setting.id, :title=>"Remove"
        - else
          = link_to image_tag('icon_holder.png'), retrieve_keyword_path(setting), :class => 'get',:error_message_field => "Keyword", :field => "keyword", :id => 'keyword_retrieve_button', :keyword_id => setting.id, :title=>"Retrieve"
      .title                                     
        %h3= h "#{setting.name}"
#keyword_already_assigned{:style=> "display:none;"}
  =label_tag :keyword_already_assigned_warning_message, "keyword can not be deleted. It has been assigned."
