-# The main Keyword tab
#keywords_tab.container
  .header_container
    .options
      = image_tag('help_icon.png')
    .title
      %h1 Keyword
    

  - if (!organisation.nil? && !organisation.new_record?)
    #keyword_organisation_types.keywordleft
      .form_line
        = label_tag :keyword_type_id, "Keyword Type<span class='asterisk'>*</span>"
        = collection_select :keyword,:organisation_keyword_type_id, KeywordType.active_keyword_type, :id, :name, {:prompt => "Select All"}
    %br.clear
    %form#keywords
      %input{:style => "display:none",:id => "organisation_id", :name => "organisation_id", :value => organisation.id}
      #keywords_left.keywordleft
        .form_line.field_select_line
          = label_tag :add_keywords,"Keywords"
          = select_tag :add_organisation_keywords,unselected_keyword_options(organisation),{:multiple => true,:size => 20}
      #keywords_middle.middle
        = link_to image_tag('go.png'),add_key_keyword_links_path, :id=>"add_keywords_link",:class => "post",:data_id => "keywords", :title=>"Add Keyword"
        %br
        %br
        %br
        = link_to image_tag('back.png'),remove_key_keyword_links_path,:id=>"remove_keywords_link",:class => "post",:data_id => "keywords", :title=>"Remove Keyword"
      #keywords_right.right
        .form_line.field_select_line
          = label_tag :remove_keywords,"Selected Keywords"
          = select_tag :remove_organisation_keywords,selected_keyword_options(organisation),{:multiple => true,:size => 20}
      %br{ :style=>"clear: both;"}