- fields_for :deposit_detail, @credit_card_detail do |t|
  .form_line
    .field_25
      = t.label :name_on_card, "<span class='asterisk'>*</span>Name on Card"
      = t.text_field :name_on_card, :class => 'compulsory_field'
    .field_25
      = t.label :card_number, "<span class='asterisk'>*</span>Card Number"
      = t.text_field :card_number, :class => 'compulsory_field'
    .field_15
      = t.label :expire_month, "<span class='asterisk'>*</span>Expire Date"
      = t.text_field :expire_month, :style => "display:inline;width:20px;", :maxlength => "2", :class => 'compulsory_field integer_field'
      = ' / '
      = t.text_field :expire_year, :style => "display:inline;width:20px;", :maxlength => "2", :class => 'compulsory_field integer_field'
      = ' (mm/yy)'
    .field_15
      = t.label :cvv_number, "<span class='asterisk'>*</span>CVV Number"
      = t.text_field :cvv_number, :class => 'compulsory_field'
    .field_15
      = t.label :card_authority_number, "Card Authority Number"
      = t.text_field :card_authority_number
