- form_for :client_bank_account, @ClientBankAccount, :url => {:controller => "client_setups", :action => "create_client_bank_account" }, :html => {:class => 'ajax_form', :id => "new_bank_account",:submit_button_id =>"new_client_bank_account_submit"}  do |f|
  .form_line
    .field_15
      = f.label :account_number, "<span class='asterisk'>*</span> Account Number"
      = f.text_field :account_number, :class => "compulsory_field", :id => "new_client_bank_account_number", :disabled => false
  .form_line
    .field_30
      = f.label :bank, "<span class='asterisk'>*</span>Bank"
      = collection_select(:client_bank_account, :bank_id, Bank.active_record, :id, :display_name, {}, {:class => "compulsory_field"})
    .field_30
      = f.label :account_purpose_id, "Purpose"
      = collection_select(:client_bank_account, :account_purpose_id, AccountPurpose.active_account_purpose_type, :id, :name)
  .form_line
    .field_30
      = f.label :remarks, "Remarks"
      = f.text_field :remarks
    .field_10
      = f.label :status, "Active"
      = f.check_box :status, :checked => true, :class => "checkbox_style"

  %p.submit
    = submit_tag "Submit", :disabled => true, :id => "new_client_bank_account_submit", :style => "float:right;"
