%script{:type => "text/javascript"}
  :plain
    $(function() {
      $('.new_client_bank_account_required_field').keyup(function() {
          if($('#new_client_bank_account_number').val() == '') {
              $('#new_client_bank_account_submit').attr('disabled', true);
          } else {
              $('#new_client_bank_account_submit').removeAttr('disabled');
          }
      });
    });

- form_for :client_bank_account, @ClientBankAccount, :url => {:controller => "client_setups", :action => "create_client_bank_account" }, :html => {:class => 'ajax_form'}  do |f|
  .form_line
    .field_15
      = f.label :account_number, "* Account Number", :class => "required_field"
      = f.text_field :account_number, :class => "new_client_bank_account_required_field", :id => "new_client_bank_account_number", :disabled => false
  .form_line
    .field_30
      = f.label :bank, "Bank"
      = collection_select(:client_bank_account, :bank_id, Bank.find(:all), :id, :display_name, {})
    .field_30
      = f.label :account_purpose_id, "Purpose"
      = collection_select(:client_bank_account, :account_purpose_id, AccountPurpose.find(:all), :id, :name)
  .form_line
    .field_30
      = f.label :remarks, "Remarks"
      = f.text_field :remarks
    .field_10
      = f.label :status, "Active"
      = f.check_box :status, :checked => false, :class => "checkbox_style"

  .form_line
    .field_10{:style => "float:right;"}
      = submit_tag "Submit", :disabled => true, :id => "new_client_bank_account_submit"
