%script{:type => "text/javascript"}
  :plain
    $(function() {
      $('.edit_client_bank_account_required_field').keyup(function() {
          if($('#edit_client_bank_account_number').val() == '') {
              $('#edit_client_bank_account_submit').attr('disabled', true);
          } else {
              $('#edit_client_bank_account_submit').removeAttr('disabled');
          }
      });
    });
- form_for :client_bank_account, @client_bank_account, :url => {:controller => "client_setups", :action => "update_client_bank_account" }, :html => {:class => 'ajax_form'}  do |f|
  %input{:name => "id", :style => "width:0px;height:0px;display:none;", :value => @client_bank_account.id}
  .form_line
    .field_15
      = f.label :account_number, "* Account Number", :class => "required_field"
      = f.text_field :account_number, :class => "edit_client_bank_account_required_field", :id => "edit_client_bank_account_number", :disabled => true
  .form_line
    .field_30
      = f.label :bank, "Bank"
      = collection_select(:client_bank_account, :bank_id, Bank.find(:all), :id, :display_name, {}, {:disabled => client_bank_account.status == false})
    .field_30
      = f.label :account_purpose_id, "Purpose"
      = collection_select(:client_bank_account, :account_purpose_id, AccountPurpose.find(:all), :id, :name, {}, {:disabled => client_bank_account.status == false})
  .form_line
    .field_30
      = f.label :remarks, "Remarks"
      = f.text_field :remarks, :disabled => client_bank_account.status == false
    .field_10
      = f.label :status, "Active"
      = f.check_box :status, :class => "checkbox_style"
  .form_line
    .field_100{:style => "float:right;"}
      %div{:style => "display:inline;float:right;height:100%;"}
        = link_to "Remove", {:controller => "client_setups", :action => "destroy_client_bank_account", :id => @client_bank_account.id}, {:class => 'delete', :error_message_field => "client bank account", :style => "float:right;text-size:12px;padding-top:4px;padding-left:7px;text-decoration:underline;color:#154073;"} if client_bank_account.status == true
      %div{:style => "display:inline;float:right;height:100%;"}
        = submit_tag "Update", :disabled => false, :id => "edit_client_bank_account_submit"

#client_bank_account_save_form{:style => "display:none;"}