#header
  #page_title
    %h1 Client Organisaiton Structure
  #lol
  %br.clear

- form_for @client_setup, :html => {:id => "client_setup_form"} do |f|
  .full_container
    .toggle_div{:toggle_id_name => "client_organisation_level_details", :style => "cursor:pointer;"}
      .options
        = image_tag('Icons/System/collapse.png')
      %h1 Client Organisation Hierarchy Details
    #client_organisation_level_details.left{:style => "width:100%;display:none;"}
      .form_line{:style => "height:auto;"}
        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            Level
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            Label
          .field_25{:style => "height:auto;text-align:center;font-weight:bold;"}
            Default Label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            Remarks
          %input.hidden{:name=>"client_organisation_structure",:value=>'1'}
        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              0&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_0_client_label
          .field_25{:style => "height:auto;text-align:left;font-weight:bold;"}
            .display_field_bg
              = @client_setup.level_0_client_default_label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_0_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              1&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_1_client_label
          .field_25{:style => "height:auto;text-align:left;font-weight:bold;"}
            .display_field_bg
              = @client_setup.level_1_client_default_label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_1_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              2&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_2_client_label
          .field_25{:style => "height:auto;text-align:left;font-weight:bold;"}
            .display_field_bg
              = @client_setup.level_2_client_default_label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_2_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              3&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_3_client_label
          .field_25{:style => "height:auto;text-align:left;font-weight:bold;"}
            .display_field_bg
              = @client_setup.level_3_client_default_label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_3_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              4&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_4_client_label
          .field_25{:style => "height:auto;text-align:left;font-weight:bold;"}
            .display_field_bg
              = @client_setup.level_4_client_default_label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_4_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              5&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_5_client_label
          .field_25{:style => "height:auto;text-align:left;font-weight:bold;"}
            .display_field_bg
              = @client_setup.level_5_client_default_label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_5_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              6&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_6_client_label
          .field_25{:style => "height:auto;text-align:left;font-weight:bold;"}
            .display_field_bg
              = @client_setup.level_6_client_default_label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_6_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              7&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_7_client_label
          .field_25{:style => "height:auto;text-align:left;font-weight:bold;"}
            .display_field_bg
              = @client_setup.level_7_client_default_label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_7_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              8&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_8_client_label
          .field_25{:style => "height:auto;text-align:left;font-weight:bold;"}
            .display_field_bg
              = @client_setup.level_8_client_default_label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_8_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              9&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_9_client_label
          .field_25{:style => "height:auto;text-align:left;font-weight:bold;"}
            .display_field_bg
              = @client_setup.level_9_client_default_label
          .field_35{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_9_remarks


          %br.clear
      .right{:style => "width:25%;"}
        = submit_tag "Submit", :name => "organisation_structure", :style => "float:right;"
        = link_to "Reset", reset_client_default_label_client_setups_path, :class => "get alt_option"
