#header
  #page_title
    %h1 License Info
  #lol
  %br.clear

.full_container
  %h1 Client Info
  .form_line
    %p #{@client_organisation.id} - #{@client_organisation.full_name}
  .disabled_form
    .form_line
      .field_15
        %label Client ID
        .display_field_bg
          = @client_setup.client_id
          -#%input{:value => @client_setup.client_id}
      .field_20
        %label Client Registration
        .display_field_bg
          = @client_setup.client_rego
      .field_20
        %label Installation Date
        .display_field_bg
          = @client_setup.installation_date
      .field_20
        %label Halt Date
        .display_field_bg
          = @client_setup.halt_date
      .field_20
        %label Home Country
        .display_field_bg
          = @client_setup.home_country_id.blank? ? "" : Country.find(@client_setup.home_country_id).short_name

    %br.clear
    %p &nbsp;

.full_container
  %h1 System Info
  .form_line
    .field_15
      %label Type
      .display_field_bg
        = @client_setup.system_type
    .field_15
      %label Hosting
      .display_field_bg
        = @client_setup.hosting_status
    .field_15
      %label Status
      .display_field_bg
        = @client_setup.system_status ? "Active" : "Inactive"
    .field_15
      %label System Purchase
      .display_field_bg
        = @client_setup.system_purchase
    .field_15
      %label Maximum Core Records
      .display_field_bg
        = @client_setup.maximum_core_records
    .field_15
      %label Number of System Users
      .display_field_bg
        = @client_setup.number_of_users
  .full_container
    %h2  Installed Modules
    .container_half
      .left
        Module Name
      .right
        Install Time
    .container_half
      .left
        Module Name
      .right
        Install Time
    .container_half
      .left
        Module Name
      .right
        Install Time
    .container_half
      .left
        Module Name
      .right
        Install Time

