#header
  #page_title
    %h1 Organisaiton Structure
  #lol
  %br.clear

- form_for @client_setup do |f|
  .full_container
    .toggle_div{:toggle_id_name => "organisation_level_details", :style => "cursor:pointer;"}
      .options
        = image_tag('Icons/System/collapse.png')
      %h1 Organisation Hierarchy Details
    #organisation_level_details.left{:style => "width:100%;display:none;"}
      .form_line{:style => "height:auto;"}
        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            Level
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            Label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            Default Label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            Remarks
        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              0&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_0_label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_0_default_label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_0_remarks
        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              1&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_1_label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_1_default_label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_1_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              2&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_2_label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_2_default_label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_2_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              3&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_3_label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_3_default_label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_3_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              4&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_4_label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_4_default_label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_4_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              5&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_5_label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_5_default_label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_5_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              6&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_6_label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_6_default_label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_6_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              7&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_7_label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_7_default_label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_7_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              8&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_8_label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_8_default_label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_8_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              9&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_9_label
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_9_default_label
          .field_40{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_9_remarks


          %br.clear
      .right
        = submit_tag "Submit", :name => "organisation_structure", :style => "float:right;"
        -#= button_to "reset", reset_default_label_client_setups_path

  .full_container
    .toggle_div{:toggle_id_name => "organisation_structure_details", :style => "cursor:pointer;"}
      .options
        = image_tag('Icons/System/collapse.png')
      %h1 Relationship Manager
    #organisation_structure_details.left{:style => "width:100%;display:none;"}
      =render :partial=> '/organisation_relationships/show_organisation_structure',:locals=>{:level=>0}