#header
  #page_title
    %h1 System Parameters
  #lol
  %br.clear

- form_for @client_setup do |f|
  .full_container
    %h1 Security Parameters
    .form_line
      .field_24
        = f.label :number_of_login_attempts, "Number of Login Attempts"
        %select{:name => "client_setup[number_of_login_attempts]"}
          %option{:value => "0", :selected => @client_setup.number_of_login_attempts == 0} Unlimited
          %option{:value => "3", :selected => @client_setup.number_of_login_attempts == 3} 3
          %option{:value => "4", :selected => @client_setup.number_of_login_attempts == 4} 4
          %option{:value => "5", :selected => @client_setup.number_of_login_attempts == 5} 5
          %option{:value => "6", :selected => @client_setup.number_of_login_attempts == 6} 6
      .field_24
        = f.label :new_account_graceperiod, "New Account Grace Period (Days)"
        %select{:name => "client_setup[new_account_graceperiod]"}
          %option{:value => "0", :selected => @client_setup.new_account_graceperiod == 0} Unlimited
          %option{:value => "7", :selected => @client_setup.new_account_graceperiod == 7} 7
          %option{:value => "14", :selected => @client_setup.new_account_graceperiod == 14} 14
          %option{:value => "21", :selected => @client_setup.new_account_graceperiod == 21} 21
          %option{:value => "28", :selected => @client_setup.new_account_graceperiod == 28} 28
      .field_24
        = f.label :session_timeout, "Session Timeout (Mins)"
        %select{:name => "client_setup[session_timeout]"}
          %option{:value => "0", :selected => @client_setup.session_timeout == 0} Unlimited
          %option{:value => "5", :selected => @client_setup.session_timeout == 5} 5
          %option{:value => "10", :selected => @client_setup.session_timeout == 10} 10
          %option{:value => "20", :selected => @client_setup.session_timeout == 20} 20
          %option{:value => "30", :selected => @client_setup.session_timeout == 30} 30
      .field_24
        = f.label :password_lifetime, "User Password Lifetime (Days)"
        %select{:name => "client_setup[password_lifetime]"}
          %option{:value => "0", :selected => @client_setup.password_lifetime == 0} Unlimited
          %option{:value => "15", :selected => @client_setup.password_lifetime == 15} 15
          %option{:value => "30", :selected => @client_setup.password_lifetime == 30} 30
          %option{:value => "60", :selected => @client_setup.password_lifetime == 60} 60
          %option{:value => "90", :selected => @client_setup.password_lifetime == 90} 90
  .full_container
    %h1 SuperAdmin Message
    .form_line{:style => "height:auto;"}
      .field_100{:style => "height:auto;"}
        = f.label :superadmin_message, "SuperAdmin Message"
        = f.text_area :superadmin_message, :cols => 126, :rows =>3
      %br.clear
  .full_container
    %h1 Organisational Hierarchy
    %br.clear
    .form_line{:style => "height:auto;"}
      .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
        Level
      .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
        Label
      .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
        Remarks
      .full_container

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              0&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_0_label
          .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_0_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              1&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_1_label
          .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_1_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              2&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_2_label
          .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_2_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              3&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_3_label
          .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_3_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              4&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_4_label
          .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_4_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              5&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_5_label
          .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_5_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              6&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_6_label
          .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_6_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              7&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_7_label
          .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_7_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              8&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_8_label
          .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_8_remarks

        .form_line{:style => "height:auto;"}
          .field_15{:style => "height:auto;text-align:center;font-weight:bold;"}
            %span{:style => "font-weight:bold;"}
              9&nbsp;&nbsp;&nbsp;
          .field_20{:style => "height:auto;text-align:center;font-weight:bold;"}
            = f.text_field :level_9_label
          .field_60{:style => "height:auto;text-align:center;font-weight:bold"}
            = f.text_field :level_9_remarks


      %br.clear
  .right
    = submit_tag "Submit"
