#header
  #page_title
    %h1 Super Admin Setup
  #lol
  %br.clear

- form_for @client_setup do |f|
  %input{:name => "super_admin", :style => "display:none;"}
  .full_container
    %h1 Admin Profile
    .form_line
      .field_20
        = f.label :first_name, "First Name"
        = f.text_field :first_name
      .field_20
        = f.label :last_name, "Last Name"
        = f.text_field :last_name
      .field_20
        = f.label :date_of_birth, "Date of Birth"
        = f.text_field :date_of_birth, :class => "birthdatepick", :value => @client_setup.date_of_birth.to_s
    .form_line
      .field_20
        = f.label :primary_phone_number, "Primary Phone Number"
        = f.text_field :primary_phone_number
      .field_20
        = f.label :secondary_phone_number, "Secondary Phone Number"
        = f.text_field :secondary_phone_number
      .field_20
        = f.label :primary_email_address, "Primary Email Address"
        = f.text_field :primary_email_address
      .field_20
        = f.label :secondary_email_address, "Secondary Email Address"
        = f.text_field :secondary_email_address
  .full_container
    %h1 Login Details
    .form_line
      .field_20
        = f.label :login_name, "Login Name"
        = f.text_field :login_name
      .field_20
        = f.label :account_id, "Account ID"
        = f.text_field :account_id
      .field_20
        = f.label :pin, "PIN"
        = f.text_field :pin
    .form_line
      .field_20
        %label Super Password
        %input{:type => "password", :id => "password", :name => "password", :class => "password jpassword-lefttop"}
      .field_20
        %label Super Password Confirmation
        %input{:type => "password", :id => "repeat_password", :name => "repeat_password"}
    .form_line
      = submit_tag "Submit", :disabled => true, :id => "password_submit"

#password_error{:style => "display:none;"}
  .container
    %p Two password are not matched