#header
  #page_title
    %h1 Audit Trail Entries
  #lol


%br.clear

#search_page.tab_switch_container.active
  #system_log_search
    .full_container
      %h2 Filter
      - form_tag("/client_setups/search_system_log", :class => "ajax_form") do
        .form_line
          .field_22
            %label Username
            = text_field_tag :user_name, nil
          .field_22
            %label Start Date
            %input{:name => "start_date", :style => "width:82% !important;",:id => "system_log_start_date", :value => "#{Date.today().strftime("%d")}-#{Date.today().strftime("%m")}-#{Date.today().year()-1}", :class => "startdatepick", :end_date => "system_log_end_date"}
          .field_22
            %label End Date
            %input{:name => "end_date", :style => "width:82% !important;", :id => "system_log_end_date", :value => "#{Date.today().strftime("%d")}-#{Date.today().strftime("%m")}-#{Date.today().year()}", :class => "enddatepick", :start_date => "system_log_start_date"}
          .field_10
            %label Entry Type
            %select{:name => "status", :id => "system_log_status"}
              %option{:value => ""} Any
              %option{:value => "Live",:selected=>true} Live
              %option{:value => "Archived"} Archived
          .field_15
            %label &nbsp;
            = submit_tag("Search", :id => "system_log_search_submit")

    .full_container#system_log_search_results{:style => "display:none;"}
      

    .full_container#system_log_export_options{:style => "display:none;"}
      %h2 Data Export
      %input{:name => "user_name", :style => "display:none;", :id => "system_log_export_user_name"}
      %input{:name => "start_date", :style => "display:none;", :id => "system_log_export_start_date"}
      %input{:name => "end_date", :style => "display:none;", :id => "system_log_export_end_date"}
      %input{:name => "status", :style => "display:none;", :id => "system_log_export_status"}
      = button_to_function 'Export PDF', :style => "float:right;", :id => "report_system_log_submit_button"
    .full_container#system_log_archive_options{:style => "display:none;"}
      %h2 Archive
      - form_tag("/client_setups/archive_system_log_entries") do
        %input{:name => "user_name", :style => "display:none;", :id => "system_log_archive_user_name"}
        %input{:name => "start_date", :style => "display:none;", :id => "system_log_archive_start_date"}
        %input{:name => "end_date", :style => "display:none;", :id => "system_log_archive_end_date"}
        = submit_tag("Archive")
    .full_container#system_log_archive_delete{:style => "display:none;"}
      %h2 Delete Archive
      - form_tag("/client_setups/delete_archive_system_log_entries") do
        %input{:name => "user_name", :style => "display:none;", :id => "system_log_delete_archive_user_name"}
        %input{:name => "start_date", :style => "display:none;", :id => "system_log_delete_archive_start_date"}
        %input{:name => "end_date", :style => "display:none;", :id => "system_log_delete_archive_end_date"}
        = submit_tag("Delete")


