%div#modify_my_account_form
  %div.container
    %div.toggle_div{:toggle_id_name => "change_email", :style => "cursor: pointer;"}
      .options{:style=>"float:right"}
        = image_tag('Icons/System/collapse.png')
      %h1 Change My Email

    %div#change_email.left{:style => "width:100%;"}
    -form_for @my_account,:url=>"/user_preferences/change_email",:method=>"put", :html => {:class => 'ajax_form'} do |my_account|
      .container
        .form_line
          .field_31
            %label Old Email
            %input{:id=>"old_email",:name=>"old_email"}
        .form_line
          .field_31
            %label New Email
            %input{:id=>"new_email",:name=>"new_email"}
        .form_line
          .field_31
            %label Retype New Email
            %input{:id=>"retype_new_email",:name=>"retype_new_email"}
        .form_line
          .field_31
            = submit_tag "Submit"


  %div.container
    %div.toggle_div{:toggle_id_name => "change_password", :style => "cursor: pointer;"}
      .options{:style=>"float:right"}
        = image_tag('Icons/System/expand.png')
      %h1 Change My Password

    %div#change_password.left{:style => "width:100%;display:none;"}
      .container
        -form_for @my_account, :url=>"/user_preferences/change_password",:method=>"put", :html => {:class => 'admin_password_reset'} do |login|
        #page_title
          %h1 Please reset your password (All fields required)
        #lol
          %br.clear
        .container{:id => "password_form"}
          %br
          %br
          .form_line
            .field_35
              = login.label :password, 'Old Password'
              %input{:id => "old_password", :name =>"old_password", :class => "validate[required,length[6,30]]", :type => "password"}
          %br
          %br
          %br

          .form_line
            .field_35
              = login.label :password, 'Password'
              = login.password_field :password, :class => "password jpassword-righttop validate[required,length[6,30]]", :name => "login_account[password]", :id => "login_account_password"
          %br
          %br
          %br
          .form_line
            .field_35
              = login.label :password_confirmation, 'Repeat Password'
              -#= login.password_field :password_confirmation, :class => "validate[required,length[6,30],confirm[login_account_password]]", :name => "login_account[password_confirmation]", :id => "login_account_password_confirmation"
          .form_line{:style => "height:30px;"}
            .field_35
              = submit_tag 'Submit'
            %br

  %div.container
    %div.toggle_div{:toggle_id_name => "change_security_question", :style => "cursor: pointer;"}
      .options{:style=>"float:right"}
        = image_tag('Icons/System/expand.png')
      %h1 Change My Security Question

    %div#change_security_question.left{:style => "width:100%;display:none;"}
