#default_setting_form
  .container
    .form_line
      .field_40
        %label Username
        .display_field_bg
          = @current_user.user_name


  %div.container
    %div.toggle_div{:toggle_id_name => "default_setting_group_1", :style => "cursor: pointer;"}
      .options{:style=>"float:right"}
        = image_tag('Icons/System/expand.png')
      %h1 Default setting


    #default_setting_group_1.left{:style => "width:100%;display:none;"}
      -form_for @default_value, :html => {:class => "ajax_form"} do |f|
        .container
          .form_line
            .field_23
              %label Default Start_date
              = f.text_field :default_start_date, :class => "startdatepick", :id => "default_start_date", :end_date => "default_end_date", :value => "01-01-1900", :name => "default_value[default_start_date]"
            .field_23
              %label Default End_date
              = f.text_field :default_end_date, :class => "enddatepick", :id => "default_end_date", :start_date => "default_start_date", :value => "31-12-3000", :name => "default_value[default_end_date]"
            .field_23
              %label Default Address Type
              = f.collection_select :default_address_type_id, AddressType.all, :id, :name, {:selected => 25}
            .field_23
              %label Default First Title
              = f.collection_select :default_first_title_id, Title.all, :id, :name
          .form_line
            .field_23
              %label Default Nationality
              = f.collection_select :default_nationality_id, Country.all, :id, :short_name
            .field_23
              %label Default Language
              = f.collection_select :default_language_id, Language.all, :id, :name
            .field_23
              %label Default Language
              = f.collection_select :default_language_id, Language.all, :id, :name