.container.single_container
  -form_for @query_header, :html => {:class => 'ajax_form', :id => "edit_query_header"} do |f|
    .form_line
      .field_25
        = f.label :name, 'Name'
        = f.text_field :name, :disabled => true
      .field_30
        = f.label :description, 'Description'
        = f.text_field :description, :disabled => @query_header.status == false
      .field_2
        = f.label :status, '&nbsp'
        = f.check_box :status
      .field_10
        = f.label :status, '&nbsp'
        = f.label :status, 'Active', :style =>"margin-top:7px;"
      %br.clear