-form_for @query_criteria, :html => {:class => 'ajax_form'} do |f|
  #left
    .form_line
      = f.label :table_name, 'Select Table'
      = f.collection_select :table_name, TableMetaMetaType.find(:all, :order => "name"), :name, :name, {:include_blank => true}, {:class => "show_fields clear_select", :update_field => "criteria", :update_value => @query_criteria.field_name}
      %br.clear
    .form_line.field_select_line
      = f.label :field_name, 'Select Field'
      %select#fields_criteria.field_select{:name => "query_criteria[field_name]", :size => "12"}
      %br.clear

  #right
    #attribute_description_criteria.description_label
      %label &nbsp;

    .form_line
      %label Select Operator
      %select{:id => "query_criteria[operator]", :name => "query_criteria[operator]", :class => "clear_select"}
        %option
        -QueryCriteria::OPERATORS.keys.sort.each do |key|
          %option{:value => key, :selected => @query_criteria.operator == key} #{key}
      %br.clear
    .form_line
      .field_70
        %label Input Value
        = f.text_field :value
      .field_20
        %label &nbsp;
        %input{:type => "checkbox", :style => "width:auto;float:left;", :name => "runtime" :id => "new_runtime"}
        %label{:style => "width:auto;float:left;margin-top:5px;"} R/T

    .form_line
      .field_20
        %input{:type => "radio", :style => "width:auto;float:left;", :name => "query_criteria[option]", :value => "And", :checked => true}
        %label{:style => "width:auto;float:left;margin-top:5px;"} And
      .field_20
        %input{:type => "radio", :style => "width:auto;float:left;", :name => "query_criteria[option]", :value => "Or"}
        %label{:style => "width:auto;float:left;margin-top:5px;"} Or
        %input#current_action{:style => "display:none;", :name => "current_action"}


    = submit_tag "Apply Criterion"

%br.clear