.info_container#new_query
  = link_to_function (image_tag('add_icon.png', :style => "float:left;margin-right:10px;"), :id => "show_new_query")
  = link_to_function (image_tag('close_icon.png', :style => "float:right;margin-right:10px;"), :id => "close_new_query", :style => "display:none;")
  %h3 Add New Query
  

  #new_form{:style => "display:none"}
    #left
      .info_container
        #criteria_form{:class => "toggle_button2", :toggle_id_name => "new_criteria", :toggle_id_name1 => "new_selection", :toggle_id_name2 => "new_sorter", :style => "cursor:pointer;cursor:hand"}
          %h3 Criteria Attributes
        #new_criteria
          #new_query_form          
          %br.clear

      .info_container
        #display_form{:class => "toggle_button2", :toggle_id_name => "new_selection", :toggle_id_name1 => "new_criteria", :toggle_id_name2 => "new_sorter", :style => "cursor:pointer;cursor:hand"}
          %h3 Display Attributes
        #new_selection{:style => "display:none"}
          #new_selection_form          
          %br.clear

      .info_container
        #sort_form{:class => "toggle_button2", :toggle_id_name => "new_sorter", :toggle_id_name1 => "new_criteria", :toggle_id_name2 => "new_selection", :style => "cursor:pointer;cursor:hand"}
          %h3 Sorting Attributes
        #new_sorter{:style => "display:none"}
          #new_sorter_form          
          %br.clear

      .info_container
        #extra_form
          %h3 Extra Attributes
          .form_line
            %input{:type => "checkbox", :style => "width:50%;display:inline;"}
            %label{:style => "width:50%;display:inline;"} Allow Duplication
            %br.clear
          .form_line
            %input{:type => "radio", :name => "top", :style => "width:30%;display:inline;"}
            %label{:style => "width:30%;display:inline;"} Top
            %input{:style => "width:30%;display:inline;"}
            %br.clear
          .form_line
            %input{:type => "radio", :name => "top", :style => "width:30%;display:inline;"}
            %label{:style => "width:30%;display:inline;"} Precentage
            %input{:style => "width:30%;display:inline;"}
            %br.clear

    #right
      #new_query_list
      #new_selection_list
      #new_sorter_list
    %br.clear
    
    = link_to_function 'clear', :style => "float:right;", :id => "clear_button", :action => "new"
    = button_to_function 'Save', :id => "save_button", :action => "new"
    = button_to_function 'Run Query', :id => "run_button", :action => "new"
    %input#query_header_id{:style => "display:none;"}
    %input#current_action_global{:style => "display:none;"}
    = link_to_function 'view SQL statements', :id => "show_sql_statements", :action => "new"
    

.info_container#existing_query
  %h3 Existing Queries
  #show_queries
    = render :partial => "queries/saved_query", :collection => QueryHeader.saved_queries
  %br.clear
.info_container#edit_query{:style => "display:none"}
  = image_tag('edit_icon.png', :style => "float:left;margin-right:10px;")
  = link_to_function (image_tag('close_icon.png', :style => "float:right;margin-right:10px;"), :id => "close_edit_query", :style => "display:none;")
  %h3 Edit Query

  #edit_form
    #edit_header
    #left
      .info_container
        #criteria_form{:class => "toggle_button2", :toggle_id_name => "edit_criteria", :toggle_id_name1 => "edit_selection", :toggle_id_name2 => "edit_sorter", :style => "cursor:pointer;cursor:hand"}
          %h3 Criteria Attributes        
        #edit_criteria
          #edit_query_form
          %br.clear

      .info_container
        #display_form{:class => "toggle_button2", :toggle_id_name => "edit_selection", :toggle_id_name1 => "edit_criteria", :toggle_id_name2 => "edit_sorter", :style => "cursor:pointer;cursor:hand"}
          %h3 Display Attributes
        #edit_selection{:style => "display:none"}
          #edit_selection_form
          %br.clear

      .info_container
        #sort_form{:class => "toggle_button2", :toggle_id_name => "edit_sorter", :toggle_id_name1 => "edit_selection", :toggle_id_name2 => "edit_criteria", :style => "cursor:pointer;cursor:hand"}
          %h3 Sorting Attributes
        #edit_sorter{:style => "display:none"}
          #edit_sorter_form
          %br.clear

      .info_container
        #extra_form
          %h3 Extra Attributes
          .form_line
            %input{:type => "checkbox", :style => "width:50%;display:inline;"}
            %label{:style => "width:50%;display:inline;"} Allow Duplication
            %br.clear
          .form_line
            %input{:type => "radio", :name => "top", :style => "width:30%;display:inline;"}
            %label{:style => "width:30%;display:inline;"} Top
            %input{:style => "width:30%;display:inline;"}
            %br.clear
          .form_line
            %input{:type => "radio", :name => "top", :style => "width:30%;display:inline;"}
            %label{:style => "width:30%;display:inline;"} Precentage
            %input{:style => "width:30%;display:inline;"}
            %br.clear

    #right
      #edit_query_list
      #edit_selection_list
      #edit_sorter_list

    %br.clear

    = button_to_function 'Save', :id => "save_button", :action => "edit"
    = button_to_function 'Run Query', :id => "run_button_edit", :action => "edit", :disabled => "disabled"
    %input#query_header_id{:style => "display:none;"}
    %input#current_action_global{:style => "display:none;"}
    = link_to_function 'view SQL statements', :id => "show_sql_statements", :action => "edit"


#save_form{:style => "display:none;"}

#sql_div{:style => "display:none;"}
  %h3 SQL Statement
  #sql_statement

#result_div{:style => "display:none;"}
  %h3 Query Results
  #sql_result