-form_for @list_header, :html => {:class => "ajax_form"} do |f|

  %table#search_results.display
    %thead
      %tr
        %th
          %input{:type => "checkbox", :id => "select_all", :style => "float:left;"}
          select all
        %th System ID
        -if @query_header.query_selections.empty?
          %th Name
        -else
          -@query_header.query_selections.each do |i|
            %th= i.field_name
    %tbody
      - people.each do |person|
        %tr{:person_id => person.id}
          %td
            %input{:type => "checkbox", :name => "person_id[]", :value => person.id, :class => "checkboxes"}
          %td= person.id
          -if @query_header.query_selections.empty?
            %td= person.name
          -else
            -@query_header.query_selections.each do |i|
              -if i.table_name == "people"
                %td= person.__send__(i.field_name.to_sym)
              -else
                %td= person.__send__(i.table_name.underscore.to_sym).first.__send__(i.field_name.to_sym) unless person.__send__(i.table_name.underscore.to_sym).empty?

  .info_container
    %h3 Create List
    .form_line
      .field_20
        =f.label :id, "List Type"
        %select{:name => "type"}
          %option{:value => "StaticList"} Static List
          %option{:value => "DynamicList"} Dynamic List
      .field_25
        =f.label :name, "List Name"
        =f.text_field :name
      .field_25
        =f.label :description, "List Description"
        =f.text_field :name
      .field_25{:style => "float:right"}
        =f.label :description, "&nbsp;"
        =submit_tag "Create List", :style => "width:100px;float:right"
      %br.clear