-form_for ([@query_header, @query_sorter]), :html => {:class => 'ajax_form'} do |f|
  #left
    .form_line
      = f.label :table_name, 'Select Table'
      = f.collection_select :table_name, TableMetaMetaType.find(:all, :conditions => ["category != ?", exclude_category], :order => "name"), :name, :name, {:include_blank => true}, {:update_field => "sorter", :class => "clear_select show_fields", :disabled => @query_header.status == false}
    .form_line.field_select_line
      = f.label :field_name, 'Select Field'
      %select#fields_sorter.field_select{:name => "query_sorter[field_name]", :size => "12", :disabled => @query_header.status == false}

  #right
    #attribute_description_sorter.description_label
      %label &nbsp;
    .form_line
      = f.radio_button :ascending, true, :checked => true, :style => "width:10%;display:inline;", :disabled => @query_header.status == false
      = f.label :ascending, "Ascending", :style => "width:10%;display:inline;"
      = f.radio_button :ascending, false, :style => "width:10%;display:inline;", :disabled => @query_header.status == false
      = f.label :ascending, "Descending", :style => "width:10%;display:inline;"
    = submit_tag "Add Attribute", :disabled => @query_header.status == false

  %br.clear