- status = saved_query.status ? "container" : "container_inactive"
%div{:class => "#{status} toggle_options get_query", :field => "query", :query_id => saved_query.id}
  %div
    .title{:style => "width:80%;"}
      %h2 #{saved_query.formatted_info}
    .options{:style => "display:none;"}
      = link_to image_tag('edit_icon.png', :alt => 'Edit'), edit_query_header_path(saved_query), :class => 'get_query edit_option', :field => "query", :title=>"Edit"
      = link_to image_tag('Icons/System/clone.png', :alt => 'SaveAs'), copy_query_header_path(saved_query), :class => 'get_query', :title=>"Save As"
      = link_to image_tag('delete_icon.png', :alt => 'Delete'), query_header_path(saved_query), :class => 'delete',:field => "Query",:error_message_field =>"Query", :title=>"Remove"
    %br.clear