%ul
  %li
    %a{:href=>"#SystemData", :title=> 'System Data'}
      = "System Data"
  %li
    %a{:href=>"#TagSetting", :title=> 'Docs Type'}
      = "System Tags"
  %li
    %a{:href=>"#TagSetting2", :title=> 'Docs Type'}
      = "System Tags2"
  %li
    %a{:href=>"#RolesManagement", :title=> 'Roles Management',:id=> 'rm'}
      = "Roles Management"
  %li
    %a{:href=>"#SystemUsers", :title=> 'System Users'}
      = "Manage System Users"

  %li
    %a{:href=>"#TagSetting3", :title=> 'Docs Type'}
      = "System Tags3"