#header
  #page_title
    %h1 Custom Groups
  #lol
    %br.clear
#content_full_page
  .container#custom_group_add_data
    %div#custom_group_add_entry
      = image_tag("add_icon.png" , :size => "19x18")
      Add Group
    %div#custom_group_entry_form{:style => "display:none;"}
      %br.clear
      - form_for GroupMetaType.new, :url => {:controller => "tag_types", :action => "create_group_meta_type"}, :html => {:class => "ajax_form"} do |p|
        .form_line
          .field_30
            = p.label :name, 'Name'
            = p.text_field :name
          .field_35
            = p.label :description, 'Description'
            = p.text_field :description
          .field_30
            = p.label :active
            %label
              = p.check_box :status
            = submit_tag 'Submit', :style => 'display:inline;float:right;', :name => 'edit'
  %div#custom_groups
    -for group in @custom_groups.tag_types do
      .container{:id => "group_#{group.id}"}
        = group.name
        = image_tag("/images/closed_accordion.png", :size => "18x14", :style => "float:right;", :class => "open_sub_group", :id => group.id)
        = image_tag("/images/open_accordion.png", :size => "14x18", :style => "float:right;display:none;", :class => "close_sub_group", :id => group.id)
        %br.clear
        %div.sub_groups{:style => "display:none;", :id => "sub_group_#{group.id}"}
          .container
            %div#custom_sub_group_add_entry
              = image_tag("add_icon.png" , :size => "19x18")
              Add Subgroup
            %div#custom_sub_group_form{:style => "display:none;"}
              %br.clear
              - form_for GroupType.new, :url => {:controller => "tags", :action => "create_group"}, :html => {:class => "ajax_form"} do |p|
                .form_line
                  .field_30
                    = p.label :name, 'Name'
                    = p.text_field :name
                  .field_35
                    = p.label :description, 'Description'
                    = p.text_field :description
                  .field_30
                    = p.label :active
                    %label
                      = p.check_box :status
                    = submit_tag 'Submit', :style => 'display:inline;float:right;', :name => 'edit'
          -for sub_group in group.tags do
            .container
              = sub_group.name
