#header
  #page_title
    %h1 Group Lists
  #lol
    %br.clear
%input{:id => "group_list_group_mode", :mode => "show", :style => "display:none"}
%br
#content_full_page
  %div#group_list_show_group
    %ul
      - @group_types.each do |i|
        %li
          - status = i.status ? "container_active" : "container_inactive"
          .group_list_each_group{:class => "#{status} toggle_options", :id => "group_list_group_#{i.id}", :field => "group_list_group"}
            .options{:style => "display:none;"}
              = image_tag('edit_icon.png', :class => 'edit_option edit_logo', :id => 'group_list_group_edit_button', :controller => "group_lists", :data_id => i.id, :field => "group_list_group")
            .title
              = i.name
              \--
              = i.list_headers.size
              &nbsp
              lists
  %br.clear
  %div#group_list_group_edit_container
    
