=image_tag('help_icon.png', :class => 'help_icon', :style => "padding:0.2em")
#tabs{:style => "width:96%;"}
  = render :partial => 'admin_menu'
  #SystemData
    = render :partial => '/amazon_settings/system_data', :locals => {:amazonsetting => @amazonsetting}
  #RolesManagement
    = render :partial => '/roles_management/roles_management_tab', :locals => {:role => @role}
  #SystemUsers
    = render :partial => '/user_management/user_tab'
  #TagSetting3
    = render :partial => '/tag_settings/tag_tab', :locals => {:tag_meta_type => @tag_meta_type}


