#header
  #page_title
    %h1 Query Tables
  #lol
    %br.clear
#content_full_page
  .container#query_table_add_data
    %div#query_table_add_entry
      = image_tag("add_icon.png" , :size => "19x18")
      Add Group
    %div#query_table_entry_form{:style => "display:none;"}
      %br.clear
      - form_for TableMetaMetaType.new, :url => {:controller => "tag_types", :action => "create_query_table_meta_meta_type"}, :html => {:class => "ajax_form"} do |p|
        .form_line
          .field_30
            = p.label :name, 'Name'
            = p.text_field :name
          .field_35
            = p.label :description, 'Description'
            = p.text_field :description
          .field_30
            = p.label :active
            %label
              = p.check_box :status
            = submit_tag 'Submit', :style => 'display:inline;float:right;', :name => 'edit'
  %div#query_tables
    -for query_table in @query_tables do
      .container{:id => "query_table_#{query_table.id}"}
        = query_table.name
        = image_tag("/images/closed_accordion.png", :size => "18x14", :style => "float:right;", :class => "open_query_table_sub_group", :id => query_table.id)
        = image_tag("/images/open_accordion.png", :size => "14x18", :style => "float:right;display:none;", :class => "close_query_table_sub_group", :id => query_table.id)
        %br.clear
        %div.query_table_sub_groups{:style => "display:none;", :id => "query_table_sub_group_#{query_table.id}"}
          .container
            %div{:class => "query_table_sub_group_add_entry", :id => query_table.id}
              = image_tag("add_icon.png" , :size => "19x18")
              Add Subgroup
            %div{:style => "display:none;", :id => "query_table_sub_group_form_#{query_table.id}", :group_id => query_table.id}
              %br.clear
              - form_for TableMetaType.new, :url => {:controller => "tags", :action => "create_query_table_atttribute", :id => query_table.id}, :html => {:class => "ajax_form"} do |p|
                .form_line
                  .field_30
                    = p.label :name, 'Name'
                    = p.text_field :name, {:class => "query_table_type_name"}
                  .field_35
                    = p.label :description, 'Description'
                    = p.text_field :description, {:class => "query_table_type_description"}
                  .field_30
                    = p.label :active
                    %label
                      = p.check_box :status, {:class => "query_table_type_status"}
                    = submit_tag 'Submit', :style => 'display:inline;float:right;', :name => 'edit'
          %div{:id => "table_attributes_in_query_table_#{query_table.id}"}
            -for table_attribute in query_table.tag_types do
              .container
                = table_attribute.name
