#header
  #page_title
    %h1 System Data
  #lol
    %br.clear
#content
  .container
    Select System Data Type:
    %select#system_data_type.clear_select{:style => "display:inline;width:20%;"}
      %option
        = AmazonSetting.distinct_setting_type

    %br.clear
    %input{:id => "system_data_mode", :style => "display:none;", :mode => "show"}
    %div#system_data_main_contents{:style => "display:none;"}
      .container#system_data_add_data
        %div
          = link_to_function image_tag("close_icon.png" , :class => "close_option", :id=> "system_data_close_entry",:style => "display:none;float:right;", :field => "system_data"), :title=>"Close"
          = link_to_function image_tag("add_icon.png" , :size => "19x18", :id => "system_data_add_entry", :class => "new_option", :field => "system_data")
          New Data
        %div#system_data_add_entry_form{:style => "display:none;"}
          %br.clear
          - form_for AmazonSetting.new, :url => {:controller => "amazon_settings", :action => "new_setting"}, :html => {:class => "ajax_form"} do |p|
            = p.text_field :type, {:style => "display:none"}
            .form_line
              .field_30
                = p.label :name, 'Name'
                = p.text_field :name
              .field_35
                = p.label :description, 'Description'
                = p.text_field :description
              .field_10
                = p.label :active, 'Active'
                %label
                = p.check_box :status, {:style => "width:auto;",:checked=> "checked"}
              .field_20{:style => "margin-top: 8px;"}
                = submit_tag 'Submit', :style => 'display:inline;float:right;', :name => 'edit'
          

      %div#system_data_entries

      %br.clear

      %div#edit_system_data_entry
        