=image_tag('help_icon.png', :class => 'help_icon', :style => "padding:0.2em")

=link_to('System Setting', :controller => "administrations", :action => "system_setting")
%h3{:style => "display:inline;"} System Management
=link_to('Query/List', :controller => "administrations", :action => "list_management")
#tabs{:style => "width:96%;"}
  = render :partial => 'system_management_menu'
  #RolesManagement
    = render :partial => '/roles_management/roles_management_tab', :locals => {:role => @role}
  #SystemUsers
    = render :partial => '/user_management/user_tab'
  #AssignGroups
    = render :partial => '/group_lists/group_list_tab'
  #GroupPermission
    = render :partial => '/group_permissions/group_permission_tab'



