#header
  #page_title
    %h1 User Groups
  #lol
    %br.clear
%input{:id => "group_type_mode", :mode => "show", :style => "display:none"}
%br
#content_full_page
  %ul{:style => "list-style-type:none;padding-left:0px;"}
    - @group_types.each do |i|
      %li{:style => "width:50%;float:left;"}
        .group_type_tab.toggle_options{:class => "container_active", :id => "group_type_#{i.id}", :field => "group_type"}
          .options{:style=> "display:inline;float:right;display:none;"}
            = image_tag('edit_icon.png', :class => 'edit_option', :id => 'user_group_edit_button', :group_type_id => i.id)
          .title
            = i.name
            \-
            = i.login_accounts.size
            &nbsp
            users
            = i.id

  %div#user_group_form