#header
  #page_title
    %h1 User Lists
  #lol
    %br.clear
%input{:id => "user_list_user_mode", :mode => "show", :style => "display:none"}
%br
#content_full_page
  %div#user_list_show_group
    %ul
      - @login_accounts.each do |i|
        %li
          - status = i.login_status ? "container_active" : "container_inactive"
          - status_flag = i.login_status ? "" : "hidden"
          .user_list_each_user{:class => "#{status} toggle_options", :id => "user_list_user_#{i.id}", :field => "user_list_user"}
            .options{:style => "display:none;"}
              = image_tag('edit_icon.png', :class => "#{status_flag} edit_option edit_logo", :id => 'user_list_user_edit_button', :controller => "user_lists", :data_id => i.id, :field => "user_list_user")
            .title
              = i.id
              \--
              = i.user_name
              (
              = i.person.name
              )
              \--
              = i.user_list_headers.size
              &nbsp
              lists

  %br.clear
  %div#user_list_user_edit_container
