.container_edit.container
  .options
    -#= link_to_function (image_tag('close_icon.png', :style => "float:right;margin-right:10px;"), :id =>"close_user_group_form", :class =>  "close_option", :field => "user_group")
  .options_left{:style => "margin-right:10px;"}
    = image_tag('edit_icon.png', :style => "float:left;margin-right:10px;")
  %h3 Edit
  %br
.container#role_condition_edit_role
  %div
    .options
      = link_to_function image_tag('close_icon.png'), :class => "close_option", :id => "edit_role_condition_form",  :field => "condition_role", :flag_name => "role_condition", :title=>"Close"
    -form_for @role, :url => {:controller => "roles", :action=> "update"}, :html => {:class => 'ajax_form'} do |role|
      .form_line
        .field_20
          = role.label :name, 'Role Name'
          = role.text_field :name, :disabled => true
        .field_25
          = role.label :remarks, 'Remark'
          = role.text_field :remarks, :disabled => true
        .field_10
          = role.label :role_status, 'Status'
          = role.radio_button :role_status, true, :checked => true, :style => "width:10%;"
          %label.inline Active
        .field_10
          = role.label :role_status, '&nbsp'
          = role.radio_button :role_status, false, :style => "width:10%"
          %label.inline Inactive
          = role.text_field :role_type_id, :id => "role_type_id_field", :class => "hidden"
    %div#assgin_role_condition.container
      .options
        = link_to_function image_tag('close_icon.png'), :class => "close_flag close_option", :flag_name => "role_condition_assign", :id => "close_role_condition_assign", :style => "display:none;", :field => "role_condition", :title=>"Close"
      .title
        = link_to_function image_tag('add_icon.png'), :class => "toggle_button new_option add_flag", :toggle_id_name => "new_role_condition_assign", :flag_name => "role_condition_assign", :field => "role_condition", :id => "add_role_condition_assign"
        &nbsp
      %h2 Assign New Condition


      %div#new_role_condition_assign{:style => "display:none;"}
        = render :partial => 'role_conditions/assign_role_condition_form'
    %br
    Existing Conditions
    %input{:id => "role_condition_mode", :mode => "show", :style => "display:none"}
    %br
    %div#role_condition_assigned
      = render :partial => 'role_conditions/existing_conditions'

      

      