.tab_corner
  .container_corner.profile_tab_left_corner.left
  .container_edit
    .options_left{:style => "margin-right:10px;"}
      = image_tag('edit_icon.png', :class => "edit_icon_right")
    %h3 Edit
  .container_corner.profile_tab_right_corner.left
.full_container#role_condition_edit_role
  %div
    .options
      = link_to_function image_tag('close_icon.png'), :class => "close_option", :id => "edit_role_condition_form",  :field => "condition_role", :flag_name => "role_condition", :title=>"Close"
    -form_for @role, :url => {:controller => "roles", :action=> "update"}, :html => {:class => 'ajax_form'} do |role|
      .form_line
        .field_30
          = role.label :name, 'Role Name'
          .display_field_bg
            = @role.name
        .field_35
          = role.label :remarks, 'Remark'
          .display_field_bg
            = @role.remarks
        .field_5
          = role.label :role_status, 'Active'
          = role.check_box :role_status ,  :disabled => true, :style => "width:50%;"
          = role.text_field :role_type_id, :id => "role_type_id_field", :class => "hidden"
    %br.clear
    %br.clear

    %div#assgin_role_condition.full_container
      .options
        = link_to_function image_tag('close_icon.png'), :class => "close_flag close_option", :flag_name => "role_condition_assign", :id => "close_role_condition_assign", :style => "display:none;", :field => "role_condition", :title=>"Close"
      .title
        = link_to_function image_tag('add_icon.png', :size => "22x22"), :class => "toggle_button new_option add_flag", :toggle_id_name => "new_role_condition_assign", :flag_name => "role_condition_assign", :field => "role_condition", :id => "add_role_condition_assign"
        &nbsp
      %h2 Assign  Condition


      %div#new_role_condition_assign{:style => "display:none;"}
        = render :partial => 'role_conditions/assign_role_condition_form'
    %br
    %h1 Assigned Conditions
    %input{:id => "role_condition_mode", :mode => "show", :style => "display:none"}
    %div#role_condition_assigned
      = render :partial => 'role_conditions/existing_conditions'

      

      