.form_line
  .field_20
    = instant_messaging.label :contact_meta_type_id, "<span class='asterisk'>*</span>Type"
    -if @organisation.nil?
      = instant_messaging.collection_select :contact_meta_type_id, Contact.instant_messaging_types - @person.personal_instant_messaging_types+@instant_messaging.instant_messaging_type, :id, :name
    -else
      = instant_messaging.collection_select :contact_meta_type_id, Contact.instant_messaging_types - @organisation.personal_instant_messaging_types + @instant_messaging.instant_messaging_type, :id, :name
  .field_75
    = instant_messaging.label :value, "<span class='asterisk'>*</span>Value"
    = instant_messaging.text_field :value, :id => @instant_messaging.new_record? ? "instant_messaging_value" : "instant_messaging_value_edit",:class=>'mandantory_field', :mandantory_field1=>@instant_messaging.new_record? ? "instant_messaging_value" : "instant_messaging_value_edit",:submit_button_id=>"submit_instant_messaging_field"
.form_line
  .field_100
    = instant_messaging.label :remarks, "Remarks"
    = instant_messaging.text_field :remarks

