.form_line
  .field_20
    = email.label :contact_meta_type_id, 'Type'
    -if edit == "edit"
      = email.collection_select :contact_meta_type_id, Contact.email_types - @person.personal_email_types + @email.email_type, :id, :name
    -else
      = email.collection_select :contact_meta_type_id, Contact.email_types - @person.personal_email_types, :id, :name
  .field_75
    = email.label :value, "Value"
    = email.text_field :value ,:id => @email.new_record? ? "email_value" : "email_value_edit"
.form_line
  .field_100
    = email.label :remarks, "Remarks"
    = email.text_field :remarks
