.form_line
  .field_20
    = email.label :contact_meta_type_id, "<span class='asterisk'>*</span>Type"
    -if @organisation.nil?
      -if edit == "edit"
        = email.collection_select :contact_meta_type_id, Contact.email_types - @person.personal_email_types + @email.email_type, :id, :name
      -else
        = email.collection_select :contact_meta_type_id, Contact.email_types - @person.personal_email_types, :id, :name
    -else
      -if edit == "edit"
        = email.collection_select :contact_meta_type_id, Contact.email_types - @organisation.personal_email_types + @email.email_type, :id, :name
      -else
        = email.collection_select :contact_meta_type_id, Contact.email_types - @organisation.personal_email_types, :id, :name
  .field_75
    = email.label :value, "<span class='asterisk'>*</span>Value"
    = email.text_field :value ,:id => @email.new_record? ? "email_value" : "email_value_edit",:class=>'mandantory_field', :mandantory_field1=>@email.new_record? ? "email_value" : "email_value_edit",:submit_button_id=>"submit_email_field_edit"
.form_line
  .field_100
    = email.label :remarks, "Remarks"
    = email.text_field :remarks
