%input{:style => "display:none", :name => "bank_run"}
%input{:style => "display:none", :name => "banked", :value => "false"}
%div
  .tab_corner{:style=>"margin-top:10px;"}
    .tab_looking_left
    .tab_looking_icon
      = image_tag('edit_icon.png')
      More Options
    .tab_looking_right

  %div.tab_close
    .tab_looking_left
    .tab_looking_icon
      = link_to_function image_tag('/images/Icons/System/close.png'), :id=>"bank_run_filter_close", :style => "float:right;", :title=>"Close"
    .tab_looking_right
.full_container
  %div
    .form_line
      .field_20
        %h2 Select Filter
      .field_50
        %select{:id => "bank_run_select_filter",:style => "width:200px"}
          %option
          %option{:value=>"Account Number"} Account Number
          %option{:value=>"User ID"} User ID
          %option{:value=>"Transaction ID"} Transaction ID
          %option{:value=>"Transaction Date"} Transaction Date
      -#.field_10{:style=>"float:right"}
        = link_to_function image_tag('close_icon.png'), :id=>"bank_run_filter_close", :field => "Account Number", :title=>"Close",:style=>"float:right"

    %label &nbsp
    %div#visible_select_fileter


.full_container{:style=>"display:none"}
  %div#hidden_select_fileter
    #bank_id_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 By Account Number
          .field_20
            %label Bank Account Number
            %select{:name => "bank_account_number"}
              %option{:value => "0"}All
              -@bank_accounts.each do |bank_account|
                %option{:value => "#{bank_account.id}"}#{bank_account.account_number}
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'bank_run_close', :field => "Account Number", :title=>"Close",:style=>"float:right"

    #user_id_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 By User ID
          .field_20
            %label User ID
            %select{:id=>"filter_user_id",:name=>"user_id"}
              %option{:value=>"All"} All
              - LoginAccount.all.each do |i|
                %option{:value=>i.id} #{i.id}
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'bank_run_close', :field => "User ID", :title=>"Close",:style=>"float:right"



    #transaction_id_range_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 By Transaction ID
          .field_20
            %label Start ID
            %input{:id => "filter_start_id", :name => "start_id",:value=>"1",:class => "integer_field",:disabled=>true}
          .field_20
            %label End ID
            %input{:id => "filter_end_id", :name => "end_id",:value=>"10000",:class => "integer_field",:disabled=>true}
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'bank_run_close', :field => "Transaction ID", :title=>"Close",:style=>"float:right"


    #transaction_date_range_filter
      .full_container
        .form_line
          .field_30
            %label &nbsp;
            %h2 By Transaction Date
          .field_20
            %label Start Date
            %input{:id => "filter_start_transaction_date", :class => "startdatepick", :end_date => "filter_end_transaction_date", :value => "#{Date.today().strftime("%d")}-#{Date.today().strftime("%m")}-#{Date.today().year()-1}", :name => "start_transaction_date"}
          .field_20
            %label End Date
            %input{:id => "filter_end_transaction_date", :class => "enddatepick", :start_date => "filter_start_transaction_date", :value => "#{Date.today().strftime("%d")}-#{Date.today().strftime("%m")}-#{Date.today().year()}", :name => "end_transaction_date"}
          .field_10{:style=>"float:right"}
            = link_to_function image_tag('close_icon.png'), :class => 'bank_run_close', :field => "Transaction Date", :title=>"Close",:style=>"float:right"
