<div id="header"><h1>Credit Card Receipt</h1></div>
<div id="content_holder">
  <div id="summary_of_card">

    <div class="div_line">
      <div class="div_cell">SUMMARY OF <%=type%></div>
      <div class="div_cell">MAIL/PHONE ORDER TRANSACTIONS DATE:</div>
      <div class="div_cell" style="">7/01/2010</div>
    </div>

    <div class="div_line table_style_1">
      <div class="div_cell cell" >MERCHANT NUMBER</div>
      <div class="div_cell cell">No. OF ITEMS</div>
      <div class="div_cell cell">TOTAL AMOUNT</div>
    </div>
    <div class="div_line table_style_1">
      <div class="div_cell cell">123456789</div>
      <div class="div_cell cell">4</div>
      <div class="div_cell cell">$105.00</div>
    </div>
    <div class="div_line table_style_1">
      <div class="div_cell cell">MERCHANT TRADING NAME</div>
      <div class="div_cell cell">LOCATION</div>
    </div>
    <div class="div_line table_style_1">
      <div class="div_cell cell">Westpac</div>
      <div class="div_cell cell">City</div>
    </div>
    <div class="div_line table_style_2">
      <div class="div_cell">LISTED HEREUNDER ARE THE FOLLOWING:</div>
    </div>
    <div class="div_line table_style_1">
      <div class="div_cell big_number">(I)</div>
      <div class="div_cell big_number_content">TRANSACTIONS FOR WHICH INDIVIDUALLY SIGNED MAIL ORDER  <br/> INSTRUCTIONS ARE HELD, WHICH INSTRUCIONS WILL BE FURNISHED ON REQUEST, AND / OR</div>
    </div>
    <div class="div_line table_style_1">
      <div class="div_cell big_number">(II)</div>
      <div class="div_cell big_number_content">TRANSACTIONS FOR WHICH TELEPHONE ORDER INSTRUCTIONS HAVE BEEN RECEIVED</div>
      <div class="div_cell signature" style="margin-top: 40px;">MERCHANT SIGNATURE</div>
    </div>
    <br class="clear"/>
  </div>



  <div id="details_of_card">
    <div class="div_line">
      <div class="div_cell th20">Authority No.</div>
      <div class="div_cell th15">Cardholder Name</div>
      <div class="div_cell th7">Via</div>
      <div class="div_cell th7">Item</div>
      <div class="div_cell th15">Card Number</div>
      <div class="div_cell th7">CVV</div>
      <div class="div_cell th7">Amount</div>
    </div>
    <br class="clear"/>
    <div class="div_line_separater"></div>
    <br class="clear"/>
    <div class="div_line talbe_line">
      <%- sub_total = 0.00%>
      <%- num_transaction = 0%>

      <%- transaction[account.id].try(:each) do |transaction|%>
        <div class="div_cell th20">XXXXXXXXXX</div>
        <div class="div_cell th15"><%= transaction.transaction_type_detail.try(:name_on_card) %></div>
        <div class="div_cell th7"><%= transaction.received_via.try(:name)%></div>
        <div class="div_cell th7">1</div>
        <div class="div_cell th15"><%=transaction.transaction_type_detail.try(:card_number)%></div>
        <div class="div_cell th7"><%=transaction.transaction_type_detail.try(:cvv_number)%></div>
        <div class="div_cell th7"><%= transaction.total_amount%></div>
        <%- total = transaction.total_amount%>
        <%- sub_total += total%>
        <%- num_transaction=num_transaction+1%>
      <%- end %>
    </div>

    <br class="clear"/>
  </div>

  <div id="summary_sheet">
    <div id="summary_sheet_title" style="margin-left: 300px;">
      <h1>Summary Sheet</h1>
      <div class="div_cell date">Date:<%= @date %></div>
    </div>
    <div class="div_line">
      <div id="client_org_name">
        <span class="bold_title">The Client Organisation Legal Name</span>
        <div class="time">Time: <%= @time %></div>
      </div>
    </div>
    <div id="card_info" style="margin-top:50px;">
      <div class="div_line">
        <span class="bold_title"><%=type%></span>
      </div>
      <div class="div_line ci_line">
        <div class="div_cell th25">Bank Run ID:</div>
        <div class="div_cell th30"><%= @run.id %></div>
      </div>
      <div class="div_line ci_line">
        <div class="div_cell th25">Bank Account:</div>
        <div class="div_cell th30"><%= account.id %>-<%= account.account_number %>-<%= account.bank.try(:full_name) %></div>
      </div>
      <div class="div_line ci_line">
        <div class="div_cell th25">Total Deposit:</div>
        <div class="div_cell th30"><%= number_to_currency(sub_total) %></div>
      </div>
      <div class="div_line ci_line">
        <div class="div_cell th25">Number of Transactions:</div>
        <div class="div_cell th30"><%=num_transaction%></div>
      </div>
    </div>
    <br class="clear"/>
  </div>


  <div id="bottom">
    <div class="div_line">
      <div class="div_cell">*   PLEASE INDICATE WHETHER: <br />&nbsp;&nbsp;&nbsp;M - MAIL ORDER <br />&nbsp;&nbsp;&nbsp;T - TELEPHONE ORDER</div>
      <div class="div_cell" style="width: 400px;">THE ORIGINAL COPY SHOULD BE FOLDED THREE TIMES AS INDICATED BY FOLD MARKS ON SIDES, AND PLACED IN MERCHANT SUMMARY ENVELOPE.</div>
    </div>
    <br class="clear"/>
  </div>
</div>