- form_tag('/transactions/show_personal_transaction', :id => "person_list") do
  %div#loleft
    .lolfont_left{:style => "margin-left: 65px;"}
      = label_tag 'person_id', 'System ID'
    %div
      .arrow_block
        = link_to_function((image_tag 'Icons/Core/Lol/go-first.png'), :url =>"/transactions/show_personal_transaction", :title=>"First",:get_active_id=>"go_first", :class => "transaction_navigator")
        = link_to_function((image_tag 'Icons/Core/Lol/go-previous.png'),:url=> "/transactions/show_personal_transaction", :title=>"Previous", :class => "transaction_navigator")
      = text_field_tag 'person_id', @person.id, {:onblur => 'system_id_check_input_change_or_not_transaction();', :id => 'system_id_tag', :class=> 'arrow_block change_without_check_js',:style =>"width: 100px",:form_name => "person_list"}
      %input{:style => "display:none;", :id => "current_tab_id", :name => "current_tab_id"}
      %input{:style => "display:none;", :id => "target", :name => "target"}
      .arrow_block
        = link_to_function((image_tag 'Icons/Core/Lol/go-next.png'),:url=> "/transactions/show_personal_transaction", :title=>"Next", :class => "transaction_navigator")
        = link_to_function((image_tag 'Icons/Core/Lol/go-last.png'), :url => "/transactions/show_personal_transaction", :title=>"Last", :class => "transaction_navigator")
  .right
    %div#loleft{:style => "margin-left: 10px;"}
      .lolfont_left
        = label_tag 'list_header_id', 'List'
      #lol_select
        -if @list_header.new_record? && @person.new_record?
          %select{:id => "list_header_name", :disabled => (@list_headers.blank?), :name => "list_header_id",:style => "width:150px"}
          - @list_headers.each do |r|
            %option{:value => "#{r.id}", :selected => (@list_header.id == r.id)} #{r.name}
        -else
          %select{:id => "transaction_list_header", :disabled => (@list_headers.blank?), :name => "list_header_id", :style => "width:150px", :old_value => "#{@list_header.id}" }
            - @list_headers.each do |r|
              %option{:value => "#{r.id}", :selected => (@list_header.id == r.id)} #{r.name}

    %div#loleft{:style => "margin-left: 10px;"}
      .lolfont_left
     
      #lol_select{:style => "margin-top: 9px;"}
        -if (!(@person.nil? || @person.new_record?) && @current_action == "show" && @current_controller == "people")
          =image_tag('application_view_detail.png',:size => "25x25", :id => "show_all_list_member", :person_id => @person.id, :current_operation => "show_list", :title => "Show List" ,:alt => "Show list")
        -else
          =image_tag('application_view_detail.png',:size => "25x25", :id => "show_all_list_member", :person_id => @person.id, :current_operation => "edit_list", :title => "Show List", :alt => "Show list")