- if @receipt_meta_meta_type.nil? || @receipt_meta_meta_type.name = "Cheque"
  .form_line
    .field_15
      = f.label :receipt_meta_type_id, "<span class='asterisk'>*</span>Receipt Meta Type"
      = f.collection_select :receipt_meta_type_id, ReceiptMetaMetaType.all, :id, :name, {}, {:class => "select_ajax_call", :method => "GET", :url => "/tag_meta_types/find_receipt_type"}

    .field_15
      = f.label :receipt_type_id, "<span class='asterisk'>*</span>Receipt Type"
      = f.collection_select :receipt_type_id, ReceiptMetaType.find(:all, :conditions => ["tag_meta_type_id = ?", ReceiptMetaMetaType.first.id]), :id, :name

    .field_15
      = f.label :received_via_id, "<span class='asterisk'>*</span>Receipt Type"
      = f.collection_select :received_via_id, ReceivedVia.all, :id, :name


- else
  .form_line
