<style type="text/css">
  .page_break {page-break-after: always;}
</style>
<%= render :partial=> "transactions/bank_deposit_sheet" %>
<div class="page_break">&nbsp;</div>
<%= render :partial=> "transactions/bank_run_audit_sheet" %>
<div class="page_break">&nbsp;</div>
<%-if !@master_transactions.empty?%>
  <%= render :partial=> "transactions/credit_card_receipt",:locals=>{:transaction =>@master_transactions,:type=>"MasterCard" } %>
<div class="page_break">&nbsp;</div>
<%-end%>
<%-if !@visa_transactions.empty?%>
  <%= render :partial=> "transactions/credit_card_receipt",:locals=>{:transaction =>@visa_transactions,:type=>"VisaCard" } %>
<div class="page_break">&nbsp;</div>
<%-end%>
<%= render :partial=> "transactions/receipt_account_summary" %>
