%ul
  -for group_meta_type in @custom_groups.tag_types do
    %li{:level => "1"}
      .container{:id => "group_#{group_meta_type.id}", :class => "toggle_multilevel_options", :level => "1"}
        %div.options
          = link_to image_tag('icon_holder.png'), new_tag_path(), :class => 'get'
          = link_to image_tag('edit_icon.png'), edit_tag_type_path(group_meta_type), :class => 'get'
          = link_to image_tag('delete_icon.png'), tag_type_path(group_meta_type), :class => 'delete'

        = group_meta_type.name
      %br.clear
      = render(:partial => "/tags/custom_sub_groups", :locals => {:group_meta_type => group_meta_type})
