%div#custom_groups
  -for group in @custom_groups.tag_types do
    .container{:id => "group_#{group.id}"}
      = group.name
      = image_tag("/images/closed_accordion.png", :size => "18x14", :style => "float:right;", :class => "open_sub_group", :id => group.id)
      = image_tag("/images/open_accordion.png", :size => "14x18", :style => "float:right;display:none;", :class => "close_sub_group", :id => group.id)
      %br.clear
      %div.sub_groups{:style => "display:none;", :id => "sub_group_#{group.id}"}
        .container
          %div
            = image_tag("add_icon.png" , :size => "19x18", :class => "custom_sub_group_add_entry", :id => group.id)
            Add Subgroup
          %div{:style => "display:none;", :id => "sub_group_form_#{group.id}", :group_id => group.id}
            %br.clear
            - form_for GroupType.new, :url => {:controller => "tags", :action => "create_custom_sub_group", :id => group.id}, :html => {:class => "ajax_form"} do |p|
              .form_line
                .field_30
                  = p.label :name, 'Name'
                  = p.text_field :name, {:class => "group_type_name"}
                .field_35
                  = p.label :description, 'Description'
                  = p.text_field :description, {:class => "group_type_description"}
                .field_30
                  = p.label :active
                  %label
                    = p.check_box :status, {:class => "group_type_active"}
                  = submit_tag 'Submit', :style => 'display:inline;float:right;', :name => 'edit'
        %div{:id => "sub_groups_in_group_#{group.id}"}
          -for sub_group in group.tags do
            .container
              = sub_group.name