%ul
  -for tag_type in tag_meta_type.tag_types do
    %li{:level => "2", :id => "tag_type_#{tag_type.id}"}
      %div{:level => "2", :class => tag_type.status ? "toggle_multilevel_options container_active" : "toggle_multilevel_options container_inactive"}
        .options
          = link_to_function image_tag('Icons/System/add_child.png'), :class => "new_tag", :tag => @category, :tag_type_id => tag_type.id unless (@category == "Table" || @category == "Contact" || tag_type.status == false || tag_type.tag_meta_type.status == false)
          = link_to image_tag('edit_icon.png'), edit_tag_type_path(tag_type), :class => 'get_tag'
          = link_to image_tag('delete_icon.png'), tag_type_path(tag_type), :class => 'delete', :field => "TagTypes",:error_message_field => "TagTypes"
        .title
          %h2 #{tag_type.name}
      %br.clear

      -if tag_type.status
        %div{:id => "tags_#{tag_type.id}"}
          = render(:partial => "/tags/tags", :locals => {:tag_type => tag_type})
