- form_for @receipt, :html => {:class => "ajax_form", :submit_button_id => "edit_edit_allocation_submit_button"} do |f|
  .form_line
    .field_15
      = f.label :receipt_account_id, "<span class='asterisk'>*</span>Receipt Account"
      = f.collection_select :receipt_account_id, ReceiptAccount.all, :id, :name
      %input{:name=>"receipt[deposit_id]",:value=>"#{@deposit_id}",:class =>"hidden"}
      %input.hidden{:name=>"field",:value=>"edit_receipt"}

    .field_15
      = f.label :campaign_id, "Campaign"
      = f.collection_select :campaign_id, Campaign.all, :id, :name, {:include_blank => true}

    .field_20
      = f.label :source_id, "Source"
      = f.collection_select :source_id, Source.all, :id, :name, {:include_blank => true}

    .field_10
      = f.label :letter_id, "Letter"
      %select

    .field_15
      = f.label :amount, "<span class='asterisk'>*</span>Amount"
      = f.text_field :amount, :class => "compulsory_field number_field", :value => number_to_currency(@receipt.amount, :unit => "", :delimiter => "")
  -#.full_container
    .options
      = link_to_function image_tag('/images/Icons/System/expand.png'), :class => "toggle_button close_image", :toggle_id_name => transaction_allocation.new_record? ? "edit_bank_extension_form" : "edit_bank_extension_form_edit"
    .title
      %h3 Bank Extension    
    %div{:style => "float:left;width:100%;",:class => "hidden", :id => transaction_allocation.new_record? ? "edit_bank_extension_form" : "edit_bank_extension_form_edit" }
      .form_line
        .field_15
          = f.label :extention_type, 'Extention Type'
          %select{:name => "transaction_allocation[extention_type]", :class => "entity_type_change", :input_field => transaction_allocation.new_record? ? "extention_id" : "edit_extention_id", :update_field => transaction_allocation.new_record? ? "edit_extention_name" : "edit_extention_name_edit", :lookup_field => transaction_allocation.new_record? ? "extention_lookup" : "edit_extention_lookup"}
            %option{:value => "Person", :selected => (transaction_allocation.extention_type == "Person")} Person
            %option{:value => "Organisation", :selected => (transaction_allocation.extention_type == "Organisation")} Organisation
            
        .field_10
          = f.label :extention_id, 'Extention ID'
          - if (transaction_allocation.extention_type == "Person" || transaction_allocation.new_record?)
            = f.text_field :extention_id, :class => "general_name_show", :id => transaction_allocation.new_record? ? "extention_id" : "edit_extention_id", :update_field => transaction_allocation.new_record? ? "edit_extention_name" : "edit_extention_name_edit", :input_field => transaction_allocation.new_record? ? "extention_id" : "edit_extention_id"
          - else
            = f.text_field :extention_id, :class => "org_general_name_show", :id => transaction_allocation.new_record? ? "extention_id" : "edit_extention_id", :update_field => transaction_allocation.new_record? ? "edit_extention_name" : "edit_extention_name_edit", :input_field => transaction_allocation.new_record? ? "extention_id" : "edit_extention_id"
        .field_5
          %label &nbsp;
          -if (transaction_allocation.extention_type == "Person" || transaction_allocation.extention_type.nil?)
            = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => transaction_allocation.new_record? ? "extention_id" : "edit_extention_id", :title=>"Search", :id => transaction_allocation.new_record? ? "extention_lookup" : "edit_extention_lookup"
          -else
            = link_to_function image_tag("Icons/System/search.png"), :class => "organisation_lookup", :update_field => transaction_allocation.new_record? ? "extention_id" : "edit_extention_id", :title=>"Search", :id => transaction_allocation.new_record? ? "extention_lookup" : "edit_extention_lookup"


        .field_15
          %label Extention Name
          .display_field_bg
            %div{:id => transaction_allocation.new_record? ? "edit_extention_name" : "edit_extention_name_edit"}
              - unless (transaction_allocation.new_record? || transaction_allocation.extention_id.blank?)
                - if (transaction_allocation.extention_type == "Person")
                  #{Person.find(transaction_allocation.extention_id).name}
                - else
                  #{Organisation.find(transaction_allocation.extention_id).full_name}
        .field_15
          = f.label :cluster_type, 'Cluster Type'
          %select{:name => "transaction_allocation[cluster_type]", :class => "entity_type_change", :input_field => transaction_allocation.new_record? ? "cluster_id" : "edit_cluster_id", :update_field => transaction_allocation.new_record? ? "edit_cluster_name" : "edit_cluster_name_edit", :lookup_field => transaction_allocation.new_record? ? "cluster_lookup" : "edit_cluster_lookup"}
            %option{:value => "Person", :selected => (transaction_allocation.cluster_type == "Person")} Person
            %option{:value => "Organisation", :selected => (transaction_allocation.cluster_type == "Organisation")} Organisation
        .field_10
          = f.label :cluster_id, 'Cluster ID'
          - if (transaction_allocation.cluster_type == "Person" || transaction_allocation.new_record?)
            = f.text_field :cluster_id, :class => "general_name_show",:id => transaction_allocation.new_record? ? "cluster_id" : "edit_cluster_id", :update_field => transaction_allocation.new_record? ? "edit_cluster_name" : "edit_cluster_name_edit", :input_field => transaction_allocation.new_record? ? "cluster_id" : "edit_cluster_id"
          - else
            = f.text_field :cluster_id, :class => "org_general_name_show",:id => transaction_allocation.new_record? ? "cluster_id" : "edit_cluster_id", :update_field => transaction_allocation.new_record? ? "edit_cluster_name" : "edit_cluster_name_edit", :input_field => transaction_allocation.new_record? ? "cluster_id" : "edit_cluster_id"
        .field_5
          %label &nbsp;
          -if (transaction_allocation.cluster_type == "Person" || transaction_allocation.cluster_type.nil?)
            = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => transaction_allocation.new_record? ? "cluster_id" : "edit_cluster_id", :title=>"Search", :id => transaction_allocation.new_record? ? "cluster_lookup" : "edit_cluster_lookup"
          -else
            = link_to_function image_tag("Icons/System/search.png"), :class => "organisation_lookup", :update_field => transaction_allocation.new_record? ? "cluster_id" : "edit_cluster_id", :title=>"Search", :id => transaction_allocation.new_record? ? "cluster_lookup" : "edit_cluster_lookup"


        .field_15
          %label Cluster Name
          .display_field_bg
            %div{:id => transaction_allocation.new_record? ? "edit_cluster_name" : "edit_cluster_name_edit"}
              - unless (transaction_allocation.new_record? || transaction_allocation.cluster_id.blank?)
                - if (transaction_allocation.cluster_type == "Person")
                  #{Person.find(transaction_allocation.cluster_id).name}
                - else
                  #{Organisation.find(transaction_allocation.cluster_id).full_name}
  = submit_tag '  Update  ', :id => "edit_edit_allocation_submit_button"