- form_for @receipt, :html => {:class => "ajax_form", :id => "extension_form", :submit_button_id => "new_extension_submit_button"} do |f|
  .form_line
    .field_40
      = f.label :entity_type, "<span class='asterisk'>*</span>Entity Type"
      %select{:id => "extension_entity_type", :name => "receipt[entity_type]", :class => "entity_type_change", :input_field => "new_entity_id", :update_field => "new_entity_name", :loopup_field => "new_entity_lookup"}
        %option{:value => "Person"} Person
        %option{:value => "Organisation"} Organisation
      %input{:name=>"receipt[deposit_id]",:value=>"#{@deposit.id}",:class =>"hidden"}
      %input{:name=>"is_extension", :class =>"hidden"}
    .field_40
      = f.label :entity_id, "<span class='asterisk'>*</span>Entity ID"
      = f.text_field :entity_id, :class => "general_name_show compulsory_field", :id => "new_entity_id", :update_field => "new_entity_name", :input_field => "new_entity_id"
      
    .field_10
      %label &nbsp;
      = link_to_function image_tag("Icons/System/search.png"), :id => "new_entity_lookup", :class => "person_lookup", :update_field => "new_entity_id", :title=>"Search"
    

  .form_line
    .field_80
      %label Entity Name
      .display_field_bg{:id => "new_entity_name"}

  = submit_tag '   Add   ', :id =>"new_extension_submit_button", :disabled => true
  