%script{:type => "text/javascript"}
  :plain
   
    $('.startdatepick').datepicker({
        showOn: 'button',
        buttonImage: '/images/Icons/System/calendar.png',
        buttonImageOnly: true,
        dateFormat: 'dd-mm-yy',
        altFormat: 'mm-dd-yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '-200:+20',
        beforeShow: function(){
            var arr_dateText = $("#"+$(this).attr("end_date")).val().split("-");
            day = arr_dateText[0];
            month = arr_dateText[1];
            year = arr_dateText[2];
            if(year!=undefined){
                $(this).datepicker('option', 'maxDate', new Date(year, month-1, day));
            }
        },
        onSelect: function(){
            $("#"+$(this).attr("end_date")).datepicker('enable');
        },
        onClose: function(){
            $('.startdatepick').change();

        }
    });

    $('.enddatepick').datepicker({
        showOn: 'button',
        buttonImage: '/images/Icons/System/calendar.png',
        buttonImageOnly: true,
        dateFormat: 'dd-mm-yy',
        altFormat: 'mm-dd-yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '-200:+20',
        beforeShow: function(){
            var arr_dateText = $("#"+$(this).attr("start_date")).val().split("-");
            day = arr_dateText[0];
            month = arr_dateText[1];
            year = arr_dateText[2];
            if(year!=undefined){
                $(this).datepicker('option', 'minDate', new Date(year, month-1, day));
            }
        }
    });

- form_for :campaign, @campaign, :url => { :action => "create_campaign" }, :html => {:class => 'ajax_form', :id => "campaign_form", :submit_button_id => "new_campaign_submit"}  do |f|
  .form_line
    .field_25
      = f.label :long_name, "<span class='asterisk'>*</span> Name", :class => "required_field"
      = f.text_field :name, :class => "compulsory_field", :id => "new_campaign_name"
    .field_25
      = f.label :target_amount, "Target Amount"
      = f.text_field :target_amount

    .field_22
      %label <span class='asterisk'>*</span> Start Date
      %input{:name => "start_date", :style => "width:82% !important;", :id => "new_campaign_start_date", :class => "startdatepick compulsory_field",:value => "01-01-#{Date.today().year()}", :end_date => "new_campaign_end_date"}
    .field_22
      %label End Date
      %input{:name => "end_date", :style => "width:82% !important;", :id => "new_campaign_end_date", :class => "enddatepick", :value => "31-12-#{Date.today().year()}",:start_date => "new_campaign_start_date"}
  
  .form_line
    .field_25
      = f.label :remarks, "Remarks"
      = f.text_field :remarks
    .field_50
      = f.label :description, "Description"
      = f.text_field :description
    .field_10
      = f.label :status, "Active"
      = f.check_box :status, :checked => true, :class => "checkbox_style"
  .form_line
    .field_50{:style => "float:right;"}
      = submit_tag "Submit", :disabled => true, :id => "new_campaign_submit", :style => "float:right;"
