.info_container
  = image_tag('edit_icon.png', :style => "float:left;margin-right:10px;")
  %h3 Edit User

  -form_for @login_account, :html => {:class => 'ajax_form'} do |login|
    .form_line
      .field_5
        %span #{@login_account.person_id}
      .field_27
        %span{:id => "login_name_container_#{@login_account.id}"} #{@login_account.person.name}
        
    %br.clear
      .field_22
        = login.label :user_name, 'User Name'
        = login.text_field :user_name, :class => "check_username_unique", :login_account_id => @login_account.id
 
      .field_27
        %label &nbsp
        %span{:id => "user_name_container_#{@login_account.id}"} &nbsp&nbsp #{@login_account.user_name}
    %br.clear
    .form_line
      .field_47
        = login.label :security_email, 'Email'
        = login.text_field :security_email
      .field_27
        %label &nbsp
        = link_to_function 'Generate new password', :style => "font-size:10px", :class => "alt option"
    %br.clear
    .form_line
      .field_22
        = login.label :login_status, 'Status'
        = login.radio_button :login_status, true, :style => "width:10%"
        %label{:style => "display:inline"} Active
        &nbsp;&nbsp;
        = login.radio_button :login_status, false, :style => "width:10%"
        %label{:style => "display:inline"} Inactive
      .field_22
        = login.label :system_user, '&nbsp'
        = login.check_box :system_user
        %label{:style => "display:inline"} System User

    %br.clear
    .form_line
    %br
    .info_container
      %h3 Security Groups
    %p.submit
      = link_to_function 'Clear', :class => "user_clear_edit_form alt_option", :style=>"float:right", :login_account_id => @login_account.id
      = submit_tag 'Submit'
    %br.clear


