-form_for @login_account, :url=> {:controller => 'login_accounts',:action => 'create' , :id => @login_account.id}, :html => {:class => 'ajax_form create_account', :id => "new_login_account"} do |login|
  .form_line
    .field_12
      = login.label :person_id, 'Person ID'
      = login.text_field :person_id,:autocomplete => "off", :class => "check_login_id validate[required] integer_field", :login_account_id => @login_account.new_record? ? 0 : @login_account.id, :id => "login_account_person_id" , :name => "login_account[person_id]"
    .field_25
      %label &nbsp
      -if @login_account.new_record?
        %h3{:id => "login_name_container_0"}
      -else
        %h3{:id => "login_name_container_#{@login_account.id}"} #{@login_account.person.name}
  .form_line
    .field_23{:class => "text_field"}
      = login.label :user_name, 'User Name'
      = login.text_field :user_name, :autocomplete => "off", :class => "check_username_unique validate[required,length[6,30]]", :login_account_id => @login_account.new_record? ? 0 : @login_account.id, :id => "login_account_user_name" , :name => "login_account[user_name]"

    .wrapimage.hidden#yes_username
      = login.label :user_name, '&nbsp'
      = image_tag("yes_icon.png",:title=>"Available")
    .wrapimage.hidden#no_username
      = login.label :user_name, '&nbsp'
      = image_tag("no_icon.png",:title=>"Not Available")
    -#.field_22
      %label &nbsp
      -if @login_account.new_record?
        %span{:id => "user_name_container_0", :class => "viewname"}
      -else
        %span{:id => "user_name_container_#{@login_account.id}"} #{@login_account.user_name}
    .field_35
      = login.label :security_email, 'Email'
      = login.text_field :security_email, :class => "user_email_new", :id => "login_account_security_email" , :name => "login_account[security_email]"
    -#.field_15
      = login.label :login_status, 'Status'
      = login.radio_button :login_status, true, :style => "width:10%", :checked => true, :id => "login_account_login_status" , :name => "login_account[login_status]"
      %label{:style => "display:inline"} Active
      &nbsp;&nbsp;&nbsp;
      = login.radio_button :login_status, false, :style => "width:10%"
      %label{:style => "display:inline"} Inactive
    .field_2
      = login.label :login_status, '&nbsp'
      = login.check_box :login_status, :checked => true, :class => "checkbox_style", :id => "login_account_login_status" , :name => "login_account[login_status]"
    .field_8
      = login.label :login_status, '&nbsp'
      = login.label :login_status, 'Active', :style => "margin-top:6px;"
    .field_2
      = login.label :system_user, '&nbsp'
      = login.check_box :system_user,{:checked => true, :style => "width:10%", :id => "login_account_system_user" , :name => "login_account[system_user]"}
    .field_10
      = login.label :system_user, '&nbsp'
      = login.label :system_user, 'System User', :style => "margin-top:6px;"
  -#.form_line
    .field_23
      = login.label :password, 'Password'
      = login.password_field :password, :class => "password jpassword-lefttop"
    .wrapimage.hidden#yes_password
      = login.label :password, '&nbsp'
      = image_tag("yes_icon.png")
    .wrapimage.hidden#no_password
      = login.label :password, '&nbsp'
      = image_tag("no_icon.png")
    .field_23
      = login.label :password_confirmation, 'Repeat Password'
      = login.password_field :password_confirmation
    .field_23
      = login.label :security_question1_id, 'Question1'
      -if @login_account.new_record?
        = collection_select :login_account, :security_question1_id, SecurityQuestion.active_security_question, :id, :name
      -else
        = collection_select :login_account, :security_question1_id, SecurityQuestion.active_security_question, :id, :name, {:prompt => "#{@login_account.security_question.name}" }
    .field_23
      = login.label :question1_answer, 'Answer1'
      = login.text_field :question1_answer
  -#.form_line
    .field_23
      = login.label :security_question2_id, 'Question2'
      -if @login_account.new_record?
        = collection_select :login_account, :security_question2_id, SecurityQuestion.active_security_question, :id, :name
      -else
        = collection_select :login_account, :security_question2_id, SecurityQuestion.active_security_question, :id, :name, {:prompt => "#{@login_account.security_question.name}" }
    .field_23
      = login.label :question1_answer, 'Answer2'
      = login.text_field :question2_answer
    .field_23
      = login.label :security_question3, 'Question3'
      -if @login_account.new_record?
        = collection_select :login_account, :security_question3_id, SecurityQuestion.active_security_question, :id, :name
      -else
        = collection_select :login_account, :security_question3_id, SecurityQuestion.active_security_question, :id, :name, {:prompt => "#{@login_account.security_question.name}" }
    .field_23
      = login.label :question3_answer, 'Answer3'
      = login.text_field :question3_answer
  .form_line
    .field_23
      = login.label :access_attempts_count, "Access Attempts Count (Num)"
      %select{:name => "login_account[access_attempts_count]"}
        %option{:value => "99999", :selected => @access_attempts_count == 0} Unlimited
        %option{:value => "3", :selected => @access_attempts_count == 3} 3
        %option{:value => "4", :selected => @access_attempts_count == 4} 4
        %option{:value => "5", :selected => @access_attempts_count == 5} 5
        %option{:value => "6", :selected => @access_attempts_count == 6} 6
      -#%input{:id => "login_account_access_attempts_count", :class => "integer_field", :name => "login_account[access_attempts_count]", :value => "#{@access_attempts_count}", :readonly => true}
      -#= login.text_field :access_attempts_count, :class => "integer_field"
    .field_23
      = login.label :authentication_grace_period, "New Account Grace Period (Days)"
      %select{:name => "login_account[authentication_grace_period]"}
        %option{:value => "99999", :selected => @grace_period == 0} Unlimited
        %option{:value => "7", :selected => @grace_period == 7} 7
        %option{:value => "14", :selected => @grace_period == 14} 14
        %option{:value => "21", :selected => @grace_period == 21} 21
        %option{:value => "28", :selected => @grace_period == 28} 28
      -#%input{:id => "login_account_authentication_grace_period", :class => "integer_field", :name => "login_account[authentication_grace_period]", :value => "#{@grace_period}", :readonly => true}
      -#= login.text_field :authentication_grace_period, :class => "integer_field"
    .field_23
      -#%input{:id => "login_account_session_timeout", :class => "integer_field", :name => "login_account[session_timeout]", :value => "#{@session_timeout}", :readonly => true}
      -#= login.text_field :session_timeout, :class => "integer_field"
      = login.label :session_timeout, "Session Timeout (Mins)"
      %select{:name => "login_account[session_timeout]"}
        %option{:value => "99999", :selected => @session_timeout == 0} Unlimited
        %option{:value => "5", :selected => @session_timeout == 5} 5
        %option{:value => "10", :selected => @session_timeout == 10} 10
        %option{:value => "20", :selected => @session_timeout == 20} 20
        %option{:value => "30", :selected => @session_timeout == 30} 30
    .field_23
      = login.label :password_lifetime, "User Password Lifetime (Days)"
      %select{:name => "login_account[password_lifetime]"}
        %option{:value => "99999", :selected => @password_lifetime == 0} Unlimited
        %option{:value => "15", :selected => @password_lifetime == 15} 15
        %option{:value => "30", :selected => @password_lifetime == 30} 30
        %option{:value => "60", :selected => @password_lifetime == 60} 60
        %option{:value => "90", :selected => @password_lifetime == 90} 90
    
    
    .field_23.hidden
      = login.label :password_by_admin
      = login.check_box :password_by_admin, :checked => true, :class => "checkbox_style", :id => "login_account_password_by_admin" , :name => "login_account[password_by_admin]"

  -#= link_to_function 'Clear', :class => "user_clear_form alt_option"
  = submit_tag 'Submit',{:style => "margin-top:10px;"}
  %br.clear

