%script{:type => "text/javascript"}
  :plain

    iphone_checkbox();

-form_for @login_account, :url=> {:controller => 'login_accounts',:action => 'create'}, :html => {:class => 'ajax_form create_account', :id => "new_login_account",:submit_button_id=>"user_account_new_submit"} do |login|
  .form_line
    .field_12
      = login.label :person_id, "<span class='asterisk'>*</span>Person ID"
      = login.text_field :person_id, :class => "check_login integer_field compulsory_field", :login_account_id => 0, :id => "login_account_person_id" , :name => "login_account[person_id]"
    #login_account_spinner{:style=>"height: 24px;float:left;display:none;background-image: url(/images/load.gif); background-repeat: no-repeat; background-position: center center; width: 50px; margin: 13px 0 0 -52px !important;"}
    .field_25
      %label &nbsp
      .display_field_bg{:id => "login_name_container_0"}
   
  .form_line
    .field_23{:class => "text_field"}
      = login.label :user_name, "<span class='asterisk'>*</span>User Name"
      = login.text_field :user_name, :class => "check_username_unique compulsory_field",:login_account_id => 0 , :id => "login_account_user_name" , :name => "login_account[user_name]"
    #user_name_spinner{:style=>"height: 24px;float:left;display:none;background-image: url(/images/load.gif); background-repeat: no-repeat; background-position: center center; width: 50px; margin: 13px 0 0 -68px !important;"}
    .wrapimage.hidden#yes_username
      = login.label :user_name, '&nbsp'
      = image_tag("yes_icon.png",:title=>"Available")
    .wrapimage.hidden#no_username
      = login.label :user_name, '&nbsp'
      = image_tag("no_icon.png",:title=>"Not Available")

    .field_23
      = login.label :security_email, "<span class='asterisk'>*</span>Email"
      = login.text_field :security_email, :class => "user_email_new compulsory_field",:id => "login_account_security_email" , :name => "login_account[security_email]"
    #email_spinner{:style=>"height: 24px;float:left;display:none;background-image: url(/images/load.gif); background-repeat: no-repeat; background-position: center center; width: 50px; margin: 13px 0 0 -68px !important;"}
    .field_5
      = login.label :login_status, '&nbsp'
      = login.check_box :login_status, :checked => true, :class => "checkbox_style", :id => "login_account_login_status" , :name => "login_account[login_status]"
    .field_5
      = login.label :login_status, '&nbsp'
      = login.label :login_status, 'Active', :style => "margin-top:6px;"
    .field_5
      = login.label :system_user, '&nbsp'
      = login.check_box :system_user,{:checked => true, :style => "width:10%", :id => "login_account_system_user" , :name => "login_account[system_user]"}
    .field_8
      = login.label :system_user, '&nbsp'
      = login.label :system_user, 'System User', :style => "margin-top:6px;"

  .form_line
    .field_23
      = login.label :access_attempts_count, "Access Attempts Count (Num)"
      %select{:name => "login_account[access_attempts_count]"}
        %option{:value => "99999", :selected => @access_attempts_count == 99999} Unlimited
        %option{:value => "3", :selected => @access_attempts_count == 3} 3
        %option{:value => "4", :selected => @access_attempts_count == 4} 4
        %option{:value => "5", :selected => @access_attempts_count == 5} 5
        %option{:value => "6", :selected => @access_attempts_count == 6} 6
      -#%input{:id => "login_account_access_attempts_count", :class => "integer_field", :name => "login_account[access_attempts_count]", :value => "#{@access_attempts_count}", :readonly => true}
      -#= login.text_field :access_attempts_count, :class => "integer_field"
    .field_23
      = login.label :authentication_grace_period, "New Account Grace Period (Days)"
      %select{:name => "login_account[authentication_grace_period]"}
        %option{:value => "99999", :selected => @grace_period == 99999} Unlimited
        %option{:value => "7", :selected => @grace_period == 7} 7
        %option{:value => "14", :selected => @grace_period == 14} 14
        %option{:value => "21", :selected => @grace_period == 21} 21
        %option{:value => "28", :selected => @grace_period == 28} 28
      -#%input{:id => "login_account_authentication_grace_period", :class => "integer_field", :name => "login_account[authentication_grace_period]", :value => "#{@grace_period}", :readonly => true}
      -#= login.text_field :authentication_grace_period, :class => "integer_field"
    .field_23
      -#%input{:id => "login_account_session_timeout", :class => "integer_field", :name => "login_account[session_timeout]", :value => "#{@session_timeout}", :readonly => true}
      -#= login.text_field :session_timeout, :class => "integer_field"
      = login.label :session_timeout, "Session Timeout (Mins)"
      %select{:name => "login_account[session_timeout]"}
        %option{:value => "99999", :selected => @session_timeout == 99999} Unlimited
        %option{:value => "5", :selected => @session_timeout == 5} 5
        %option{:value => "10", :selected => @session_timeout == 10} 10
        %option{:value => "20", :selected => @session_timeout == 20} 20
        %option{:value => "30", :selected => @session_timeout == 30} 30
    .field_23
      = login.label :password_lifetime, "User Password Lifetime (Days)"
      %select{:name => "login_account[password_lifetime]"}
        %option{:value => "99999", :selected => @password_lifetime == 99999} Unlimited
        %option{:value => "15", :selected => @password_lifetime == 15} 15
        %option{:value => "30", :selected => @password_lifetime == 30} 30
        %option{:value => "60", :selected => @password_lifetime == 60} 60
        %option{:value => "90", :selected => @password_lifetime == 90} 90
    
    
    .field_23.hidden
      = login.label :password_by_admin
      = login.check_box :password_by_admin, :checked => true, :class => "checkbox_style", :id => "login_account_password_by_admin" , :name => "login_account[password_by_admin]"

  -#= link_to_function 'Clear', :class => "user_clear_form alt_option"
  = submit_tag 'Submit',{:id=>"user_account_new_submit",:disabled=>true}
  %br.clear

