-form_for :report, :url => {:controller => 'reports', :action => "person_contacts_report_grid"}, :html => {:class => "ajax_form"} do |tag_type|
  .form_line
    .field_30
      %div#report_select_list
        =tag_type.label :list, 'Select List'
        %select{:id => "report_list", :disabled => (@list_headers.blank?), :name => "list_header_id", :class => "clear_select"}
          %option{:selected => "selected"}
          - @list_headers.each do |r|
            %option{:value => "list_#{r.id}"} List_#{r.name}
          -#- @query.each do |i|
            -#%option{:value => "query_#{i.id}"} Query_#{i.name}
    .field_30
      %div#report_format{:style => "display:none;"}
        =tag_type.label :format, 'Report Format'
        =tag_type.select(:requested_format, [["",""], ['Contact Report', "Contact Report"]], {:selected => ""}, :class => "clear_select")
    .field_10{:style => "float:right;"}
      %label &nbsp;
      = button_to_function 'Generate', :style => "display:none;height:auto;", :id => "report_submit_button"
  .form_line
    .field_30
      %div#report_details{:style => "display:none;"}
        %h1 Sample Report
        %div#report_sample_image{:align=> "middle"}
  .container#report_grid_form_container{:style => "display:none"}
    #report_grid_form
    


