#photo_details.info_container
  .header_container
    .title
      %h3 Picture

    .center{:style=>'float:left;width:390px'}
      -if person.image.nil?
        = image_tag 'no_photo.jpeg', :id => "photo",:class => "small"
      -else
        = image_tag image_path(person.image.id), :id => "photo", :class => "small"

    .options
      = link_to_function image_tag('edit_icon.png',:value => "Edit Photo"), :id=>"edit_photo_link"
      = link_to image_tag('delete_icon.png'), image_path(person.image.id), :class => "delete", :id => "delete_photo" unless person.image.nil?
    %br{:style=>"clear:both;"}

  #edit_photo{:style=>'display:none'}
    %fieldset
      .form_line
        = label :image, :id, "Picture"
        = file_field :image, :image_file