<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Amazon - The Community Social Solution</title>
    <style type="text/css">
      div.nicEdit-main
      {
        background-color:#FFFFFF;
        width:500px !important;
      }
    </style>


    <%= stylesheet_link_tag  "Styles.css", "flexigrid.css","validationEngine.jquery.css","jquery-ui-1.7.1.custom.css"%>
<%#= jqgrid_stylesheets %>
<%#= jqgrid_javascripts %>


    <%= yield_authenticity_token %>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery","1.3.2");
      google.load("jqueryui","1.7.1");
    </script>

    <%= javascript_include_tag  "flexigrid.js",
      "/javascripts/tiny_mce/tiny_mce.js",
      "jquery-tinymce.js",
      "application.js",
      "jquery.form.js",
      "jquery.validationEngine.js"
  %>


    <%- if session[:module] == "dashboard" %>
      <%= stylesheet_link_tag "portlets" %>
      <%= javascript_include_tag  "config.js","interface.js"%>
    <%- end%>

    <%- if session[:module] == "core" %>
      <%= javascript_include_tag  "jquery.qtip.min.js","systemcore.js", "reports.js"%>
    <%- end%>
    <%- if session[:module] == "administration" %>
      <%= stylesheet_link_tag "jpassword" %>
      <%= javascript_include_tag  "admin.js","jquery.jpassword.js"%>
    <%- end%>
    <%- if session[:module] == "client_setup" %>
      <%= stylesheet_link_tag "jpassword" %>
      <%= javascript_include_tag  "client_setup.js","jquery.jpassword.js"%>
    <%- end%>
    <%- if session[:module] == "receipting" %>
      <%= javascript_include_tag  "receipting.js"%>
    <%- end%>
  </head>

  <body>
    <div id="app"><!--interface wrapper-->

      <%= render(:partial => "/shared/flash_messages") %>
      <div id="lc"><!--left collumn, menu area-->
        <%= render(:partial => "/shared/menu") %>
      </div>

      <div id="main"><!--main area wrapper-->
        <%= render(:partial => "/shared/system_bar") %>
        <div id="content"><!--main content area "where the magic happens"-->
          <%= yield %>
        </div>
        <br style="clear: both;"/>
      </div>
    </div>

    <!-- Feedback form used throughout the system -->
    <%- unless @current_user.nil?%>
      <%= render(:partial => "/feedback/feedback_form") %>
    <%- end%>
    <div id="feedback_confirmation"></div>
    <div id="whoami"><%="Welcome #{@current_user.user_name}"  %><br/> <%= "Sign In Time: #{session[:clocktime]}" %>

    </div>



  </body>
</html>
