<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Amazon - The Community Social Solution</title>

    <%= stylesheet_link_tag  "Styles.css", "flexigrid.css","jpassword", "portlets", "validationEngine.jquery.css"%>
    <%= jqgrid_stylesheets %>
    <%= jqgrid_javascripts %>
    <%= javascript_include_tag  "flexigrid.js",
      "jquery.dataTables.min.js",
      "jquery.qtip.min.js",
      "jquery.form.js",
      "jquery.jpassword.js",
      "application.js",
      "person.js",
      "reports.js",
      "config.js",
      "interface.js",
      "jquery.jclock.js",
      "jquery.validationEngine.js"
  %>
 
    <%= yield_authenticity_token %>
  </head>

  <body>
    <div id="app"><!--interface wrapper-->

<%= render(:partial => "/shared/flash_messages") %>
      <div id="lc"><!--left collumn, menu area-->
        <%= render(:partial => "/shared/menu") %>
      </div>

      <div id="main"><!--main area wrapper-->
        <%= render(:partial => "/shared/system_bar") %>
        <div id="content"><!--main content area "where the magic happens"-->
          <%= yield %>
        </div>
        <br style="clear: both;"/>
      </div>
    </div>

    <!-- Feedback form used throughout the system -->
    <%- unless @current_user.nil?%>
      <%= render(:partial => "/feedback/feedback_form") %>
    <%- end%>
    <div id="feedback_confirmation"></div>
    <div id="whoami"><%="Welcome #{@current_user.user_name}"  %><br/> <%= "Sign In Time: #{session[:clocktime]}" %>
 
    </div>

  </body>
</html>
