<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Amazon - Beyond the Horizon - Now with Metrox!</title>

    <%= stylesheet_link_tag  "Styles.css"%>  
    <%= stylesheet_link_tag  "jquery.wysiwyg"%>
   

    <%= jqgrid_stylesheets %>
    <%= jqgrid_javascripts %>
    <%= javascript_include_tag  "flexigrid.js",
      "jquery.dataTables.min.js",
      "jquery.qtip.min.js",
      "jquery.form.js",
      "jquery.jpassword.js",
      "application.js",
      "person.js",
      "reports.js",
      "jquery.wysiwyg.js",
      :cache => true %>


    
    <%= yield_authenticity_token %>
  </head>

  <body>
    <div id="app"><!--interface wrapper-->

      <%= render(:partial => "/shared/flash_messages") %>
      <div id="lc"><!--left collumn, menu area-->
        <%= render(:partial => "/shared/menu") %>
        <%= render(:partial => "/shared/admin_menu") %>
      </div>

      <div id="main"><!--main area wrapper-->
        <div id="sysbar"><!--System Bar-->
        </div>
        <div id="content"><!--main content area "where the magic happens"-->

          <%= yield %>
        </div>
        <br style="clear: both;"/>
      </div>
    </div>


  </body>
</html>
