<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>EmZee Version 1.1 - The Community Social Solution</title>

    
    <%= yield_authenticity_token %>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery","1.3.2");
      google.load("jqueryui","1.7.1");
    </script>
    <%= stylesheet_link_tag  "Styles.css", "flexigrid.css","jpassword", "portlets", "signin.css", "validationEngine.jquery.css"%>
    <%= javascript_include_tag  "flexigrid.js",
      "jquery.dataTables.min.js",
      "jquery.qtip.min.js",
      "jquery.form.js",
      "jquery.jpassword.js",
      "application.js",
      "person.js",
      "reports.js",
      "jquery.pstrength-min.1.2.js",
      "config.js",
      "interface.js",
      "jquery.jclock.js",
      "jquery.validationEngine.js" %>
  </head>

  <body>
    <div id="app"><!--interface wrapper-->
      <%= render(:partial => "/shared/flash_messages") %>
      <div id="rpassword">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
