-# locals => {:title => "Review, Approve..."}

-form_for 'membership',:url => {:controller =>"membership",:action=>"update"}, :html => {:class => "ajax_form",:id=>"membership",:submit_button_id=>"new_membership_submit"} do |p|
  .full_container
    #edit_membership_form
      = render :partial => "/membership/membership_person_detail"
      = render :partial => "/membership/display_initiator_form"
      = render :partial => "/membership/membership_person_detail"
      = render :partial => "/membership/membership_person_detail"
      = render :partial => "/membership/membership_person_detail"
    = submit_tag "Submit",:id => "new_membership_submit",:disabled=>true, :style => "float:right;"