%h1 Initiator
.form_line
  .field_20
    %label <span class="asterisk">*</span>Initiator ID
    %input{:id => "reviewer_id", :name => "membership_log[performer_id]",:class=>"compulsory_field membership_intiator_lookup",:update_field=>"initiator_name"}
    %input{:name=>"membership_log[action]",:value=>"StartUp",:class=>"hidden"}
    %input{:name=>"membership_log[mail_template_id]",:value=>"#{PersonMailTemplate.initiate_template_id}",:class=>"hidden"}
    %input{:name=>"membership_log[email_template_id]",:value=>"#{PersonEmailTemplate.initiate_template_id}",:class=>"hidden"}
    %input{:name=>"membership[membership_status_id]",:value=>"#{MembershipStatus.find_by_name('Application').id}",:class=>"hidden"}

  .field_5
    %label &nbsp;
    = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => "reviewer_id", :title=>"Search"
  .field_40
    %label Initiator
    .display_field_bg#initiator_name
      =@person.name unless @person.nil?||@update_field.nil?
  .field_30
    %label <span class="asterisk">*</span>Initiator Date
    %input{:id => "reviewer_date", :name => "membership_log[performed_at]", :class => "datepick compulsory_field", :value => Time.now.strftime("%d-%m-%Y")}
.form_line{:style => "height:auto;"}
  .field_100{:style => "height:auto;"}
    %label <span class="asterisk">*</span>Outcomes
    %textarea{:id=>"initiator_outcome",:name=>"membership_log[comment]",:style=>"width:100%;height:150px;",:class=>"compulsory_field"}
-#.form_line
  .field_20
    %label Mail Template Category
    = collection_select :letter_id, :template_id, TemplateCategory.active_template_category, :id, :name, {:include_blank => true}, {:class => "select_ajax_call clear_select", :method => "GET", :url => "/amazon_settings/look_for_template", :update_field => "initiate_letter_id"}
  .field_20
    %label Mail Template
    %select{:id => "initiate_letter_id", :name => "membership[initiate_letter_id]", :class => "mail_template", :check_box_id => "initiate_letter_sent"}
.form_line
  .field_20{:style => "display:none;"}
    %label Send Instant Mail
    %input{:type => "checkbox", :id => "initiate_letter_sent", :name => "membership[initiate_letter_sent]"}
  .field_10
    %label Send Mail
    %input{:type => "checkbox", :id => "initiate_mail_sent", :name => "membership_log[send_mail]",:class=>"enable_submit_checkbox", :field=>"mail"}
  .field_15
    %label &nbsp
    %label Membership Prospective Mail
  .field_10
    %label Send After Submit
    %input{:type => "checkbox", :id => "mail_send_after_submit", :name => "membership_log[mail_sent]",:class=>"submit_checkbox",:disabled=>true,:field=>"mail"}

  .field_10
    %label Send Email
    %input{:type => "checkbox", :id => "initiate_email_sent", :name => "membership_log[send_email]",:class=>"enable_submit_checkbox",:field=>"email"}
  .field_15
    %label &nbsp
    %label Membership Prospective Email
  .field_10
    %label Send After Submit
    %input{:type => "checkbox", :id => "email_send_after_submit", :name => "membership_log[email_sent]",:class=>"submit_checkbox",:disabled=>true,:field=>"email"}
.form_line
  .field_30
    = label_tag :name, '<span class="asterisk">*</span>Membership Type'
    = collection_select :membership, :membership_type_id, MembershipType.active, :id, :name
  .field_30
    = label_tag :type, '<span class="asterisk">*</span>Membership Status'
    = collection_select :membership,:membership_sub_status_id, MembershipSubStatus.initiated, :id, :name, {:disabled=>true}
    %input{:name=>"membership_log[post_status]",:value=>"#{MembershipSubStatus.initiated.first.name}",:class=>"hidden"}

  %br.clear
