.container#membership_person_info
  %h1 Personel Details
  .form_line
    .field_20{:style => "margin-right: 2px;"}
      = label_tag :name, '<span class="asterisk">*</span>Person ID'
      %input{:id=>"membership_person_id",:class=>"membership_person_lookup compulsory_field",:value=>@person.nil? ? "" : @person.id}
    .field_5
      %label &nbsp;
      = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => "membership_person_id", :title=>"Search"
    .field_30
      = label_tag :name, 'Name'
      -unless @person.nil?
        %input{:name=>"membership[person_id]",:value=>"#{@person.id}",:class=>"hidden"}
      -unless @membership.nil?
        %input{:name=>"id",:value=>"#{@membership.id}",:class=>"hidden"}
      %div.display_field_bg
        =@person.nil? ? "" :@person.name.to_s

    %br.clear


  #membership_organisation_info

    .form_line
      .field_30
        = label_tag :name, 'Organisation Name'
        %div.display_field_bg
          = @person.try(:primary_employment).try(:organisation).try(:full_name)
          %input{:name=>"membership[employer_id]",:value=>"#{@person.try(:primary_employment).try(:organisation).try(:id)}",:class=>"hidden"}
      .field_30
        = label_tag :type, "Organisation Type"
        %div.display_field_bg
          = @person.try(:primary_employment).try(:organisation).try(:class).try(:to_s)
      .field_30
        = label_tag :age,"Registered Date"
        %div.display_field_bg
          = @person.try(:primary_employment).try(:organisation).try(:registered_date).try(:to_s)
      %br.clear


  #membership_organisation_info
    %h1 Person Workplace Details
    .form_line
      .field_30
        = label_tag :name, 'Organisation Name'
        %div.display_field_bg
          = @person.try(:primary_employment).try(:workplace).try(:full_name)
          %input{:name=>"membership[workplace_id]",:value=>"#{@person.try(:primary_employment).try(:workplace).try(:id)}",:class=>"hidden"}
      .field_30
        = label_tag :type, "Organisation Type"
        %div.display_field_bg
          = @person.try(:primary_employment).try(:workplace).try(:class).try(:to_s)
      .field_30
        = label_tag :age,"Registered Date"
        %div.display_field_bg
          = @person.try(:primary_employment).try(:workplace).try(:registered_date).try(:to_s)
      %br.clear
-#.container#membership_detail
  =render :partial =>"/membership/membership_detail"


