#header
  #page_title
    %h1 Membership Management
  #lol
    %br.clear
.tab_switch{:style => "margin-left:15px;"}

  .tab_switch_left.active.left{:field =>"initiate_page"}
  .container_icon.active.left{:align => 'center'}
    = link_to_function "<h1>Initiate</h1>",:class=>"tab_switch_button page_initial hidden", :url => "/membership/page_initial",:method => "GET", :render_page => "membership/initiate_page", :field => "initiate_page"
    = link_to_function "<h1>Initiate</h1>", :class=>"tab_switch_with_page_initial", :field => "initiate_page"
  .tab_switch_right.active.left{:field =>"initiate_page"}

  .container_icon.left{:align => 'center'}
    = "--->"

  .tab_switch_left.left{:field =>"review_page"}
  .container_icon.left{:align => 'center'}
    = link_to_function "<h1>Review</h1>", :class=>"tab_switch_button page_initial hidden", :url => "/membership/page_initial", :method => "GET", :render_page => "membership/review_page", :field => "review_page"
    = link_to_function "<h1>Review</h1>", :class=>"tab_switch_with_page_initial", :field => "review_page"
  .tab_switch_right.left{:field =>"review_page"}

  .container_icon.left{:align => 'center'}
    = "--->"

  .tab_switch_left.left{:field =>"approve_page"}
  .container_icon.left{:align => 'center'}
    = link_to_function "<h1>Approve</h1>", :class=>"tab_switch_button page_initial hidden", :url => "/membership/page_initial", :method => "GET", :render_page => "membership/approve_page", :field => "approve_page"
    = link_to_function "<h1>Approve</h1>", :class=>"tab_switch_with_page_initial", :field => "approve_page"
  .tab_switch_right.left{:field =>"approve_page"}

  .container_icon.left{:align => 'center'}
    = "--->"

  .tab_switch_left.left{:field =>"suspend_page"}
  .container_icon.left{:align => 'center'}
    = link_to_function "<h1>Suspend</h1>", :class=>"tab_switch_button page_initial hidden", :url => "/membership/page_initial", :method => "GET", :render_page => "membership/suspend_page", :field => "suspend_page"
    = link_to_function "<h1>Suspend</h1>", :class=>"tab_switch_with_page_initial", :field => "suspend_page"
  .tab_switch_right.left{:field =>"suspend_page"}

  .container_icon.left{:align => 'center'}
    = "--->"

  .tab_switch_left.left{:field =>"terminate_page"}
  .container_icon.left{:align => 'center'}
    = link_to_function "<h1>Terminate</h1>", :class=>"tab_switch_button page_initial hidden", :url => "/membership/page_initial", :method => "GET", :render_page => "membership/terminate_page", :field => "terminate_page"
    = link_to_function "<h1>Terminate</h1>", :class=>"tab_switch_with_page_initial", :field => "terminate_page"
  .tab_switch_right.left{:field =>"terminate_page"}

%br.clear

.full_container
  #initiate_page.tab_switch_container.active
    = render :partial => "membership/initiate_page"

  #review_page.tab_switch_container

  #approve_page.tab_switch_container

  #suspend_page.tab_switch_container

  #terminate_page.tab_switch_container